interactions:
- request:
    body: '{"method":"getHealth","jsonrpc":"2.0","id":0}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.mainnet-beta.solana.com
  response:
    body:
      string: '{"jsonrpc":"2.0","result":"ok","id":0}

        '
    headers:
      allow:
      - OPTIONS, POST, GET
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-conn-limit:
      - '40'
      x-ratelimit-conn-remaining:
      - '39'
      x-ratelimit-connrate-limit:
      - '40'
      x-ratelimit-connrate-remaining:
      - '39'
      x-ratelimit-endpoint-limit:
      - unlimited
      x-ratelimit-endpoint-remaining:
      - '-1116'
      x-ratelimit-method-limit:
      - '40'
      x-ratelimit-method-remaining:
      - '37'
      x-ratelimit-pubsub-limit:
      - '5'
      x-ratelimit-pubsub-remaining:
      - '5'
      x-ratelimit-rps-limit:
      - '100'
      x-ratelimit-rps-remaining:
      - '95'
      x-ratelimit-tier:
      - free
      x-rpc-node:
      - pit37
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"getTransaction","jsonrpc":"2.0","id":0,"params":["2RrXcP3MMgjjt46SJ34wT4pXKhCV94psPJnZgVyVRkPZpk5JSmCMgFyd1rwKuz3LMTAi3hhay11N41YPtodav81z",{"encoding":"json","commitment":"finalized","maxSupportedTransactionVersion":0}]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.mainnet-beta.solana.com
  response:
    body:
      string: '{"jsonrpc":"2.0","result":{"blockTime":1759436023,"meta":{"computeUnitsConsumed":450,"costUnits":1785,"err":null,"fee":5000,"innerInstructions":[],"loadedAddresses":{"readonly":[],"writable":[]},"logMessages":["Program
        ComputeBudget111111111111111111111111111111 invoke [1]","Program ComputeBudget111111111111111111111111111111
        success","Program ComputeBudget111111111111111111111111111111 invoke [1]","Program
        ComputeBudget111111111111111111111111111111 success","Program 11111111111111111111111111111111
        invoke [1]","Program 11111111111111111111111111111111 success"],"postBalances":[0,718759267,1,1],"postTokenBalances":[],"preBalances":[718764267,0,1,1],"preTokenBalances":[],"rewards":[],"status":{"Ok":null}},"slot":370768078,"transaction":{"message":{"accountKeys":["4DrfzUpTdNtfr7D1RBVw2WhPshasifw97mH3aj27Skp9","3AmPaYAe6xWFxci4iCe8m2TkrQFZJPaj5AeBPTDoeFkR","11111111111111111111111111111111","ComputeBudget111111111111111111111111111111"],"header":{"numReadonlySignedAccounts":0,"numReadonlyUnsignedAccounts":2,"numRequiredSignatures":1},"instructions":[{"accounts":[],"data":"2fMR3kvR5dgT","programIdIndex":3,"stackHeight":1},{"accounts":[],"data":"3DTZbgwsozUF","programIdIndex":3,"stackHeight":1},{"accounts":[0,1],"data":"3Bxs4HUwgXpJUmKM","programIdIndex":2,"stackHeight":1}],"recentBlockhash":"C3U5NmwZKH918Ra9dXxF47U1myZhbTRhgyBqu1ddLGoS"},"signatures":["2RrXcP3MMgjjt46SJ34wT4pXKhCV94psPJnZgVyVRkPZpk5JSmCMgFyd1rwKuz3LMTAi3hhay11N41YPtodav81z"]},"version":"legacy"},"id":0}

        '
    headers:
      allow:
      - OPTIONS, POST, GET
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-conn-limit:
      - '40'
      x-ratelimit-conn-remaining:
      - '39'
      x-ratelimit-connrate-limit:
      - '40'
      x-ratelimit-connrate-remaining:
      - '39'
      x-ratelimit-endpoint-limit:
      - unlimited
      x-ratelimit-endpoint-remaining:
      - '-955'
      x-ratelimit-method-limit:
      - '2'
      x-ratelimit-method-remaining:
      - '1'
      x-ratelimit-pubsub-limit:
      - '5'
      x-ratelimit-pubsub-remaining:
      - '5'
      x-ratelimit-rps-limit:
      - '100'
      x-ratelimit-rps-remaining:
      - '99'
      x-ratelimit-tier:
      - free
      x-rpc-node:
      - pit37
    status:
      code: 200
      message: OK
version: 1
