interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.curve.fi/api/getPools/ethereum/main
  response:
    body:
      string: '{"success":true,"data":{"poolData":[{"id":"0","address":"0xbEbc44782C7dB0a1A60Cb6fe97d0b483032FF1C7","coinsAddresses":["0x6B175474E89094C44Da98b954EedeAC495271d0F","0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48","0xdAC17F958D2ee523a2206206994597C13D831ec7","0x0000000000000000000000000000000000000000"],"decimals":["18","6","6","0"],"virtualPrice":"1027272962700293486","amplificationCoefficient":"2000","assetType":"0","totalSupply":"211322625850858273327722649","name":"Curve.fi
        DAI/USDC/USDT","lpTokenAddress":"0x6c3F90f043a72FA612cbac8115EE7e52BDe6E490","symbol":"3Crv","priceOracle":0,"poolUrls":{"swap":["https://curve.fi/#/ethereum/pools/3pool/swap","https://classic.curve.fi/3pool"],"deposit":["https://curve.fi/#/ethereum/pools/3pool/deposit","https://classic.curve.fi/3pool/deposit"],"withdraw":["https://curve.fi/#/ethereum/pools/3pool/withdraw","https://classic.curve.fi/3pool/withdraw"]},"implementation":"","assetTypeName":"usd","coins":[{"address":"0x6B175474E89094C44Da98b954EedeAC495271d0F","usdPrice":0.999517,"decimals":"18","isBasePoolLpToken":false,"symbol":"DAI","poolBalance":"48161969208692940972688173"},{"address":"0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48","usdPrice":0.999308,"decimals":"6","isBasePoolLpToken":false,"symbol":"USDC","poolBalance":"48775476664094"},{"address":"0xdAC17F958D2ee523a2206206994597C13D831ec7","usdPrice":0.999241,"decimals":"6","isBasePoolLpToken":false,"symbol":"USDT","poolBalance":"120160960289254"}],"usdTotal":216950189.13220203,"isMetaPool":false,"usdTotalExcludingBasePool":216950189.13220203,"gaugeAddress":"0xbfcf63294ad7105dea65aa58f8ae5be2d9d0952a","gaugeRewards":[],"gaugeCrvApy":[0.6490938274131253,1.6227345685328132],"usesRateOracle":false,"isBroken":false},{"id":"1","address":"0xDeBF20617708857ebe4F679508E7b7863a8A8EeE","coinsAddresses":["0x028171bCA77440897B824Ca71D1c56caC55b68A3","0xBcca60bB61934080951369a648Fb03DF4F96263C","0x3Ed3B47Dd13EC9a98b44e6204A523E766B225811","0x0000000000000000000000000000000000000000"],"decimals":["18","6","6","0"],"virtualPrice":"1123655157904169097","amplificationCoefficient":"2000","assetType":"0","totalSupply":"19146335014556935559591180","name":"Curve.fi
        aDAI/aUSDC/aUSDT","lpTokenAddress":"0xFd2a8f[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.curve.fi/api/getPools/ethereum/crypto
  response:
    body:
      string: '{"success":true,"data":{"poolData":[{"id":"crypto-0","address":"0xD51a44d3FaE010294C616388b506AcdA1bfAAE46","coinsAddresses":["0xdAC17F958D2ee523a2206206994597C13D831ec7","0x2260FAC5E5542a773Aa44fBCfeDf7C193bc2C599","0xC02aaA39b223FE8D0A0e5C4F27eAD9083C756Cc2","0x0000000000000000000000000000000000000000","0x0000000000000000000000000000000000000000[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.curve.fi/api/getPools/ethereum/factory
  response:
    body:
      string: "{\"success\":true,\"data\":{\"poolData\":[{\"id\":\"factory-v2-0\",\"address\":\"0x1F71f05CF491595652378Fe94B7820344A551B8E\",\"coinsAddresses\":[\"0x96E61422b6A9bA0e068B6c5ADd4fFaBC6a4aae27\",\"0x57Ab1ec28D129707052df4dF418D58a2D46d5f51\",\"0x0000000000000000000000000000000000000000\",\"0x0000000000000000000000000000000000000000\"],\"decimals\":[\"18\",\"18\",\"0\",\"0\"],\"virtualPrice\":0,\"amplificationCoefficient\":\"100\",\"assetType\":\"99\",\"totalSupply\":\"20000000000000000\",\"name\":\"Curve.fi
        Factory Plain Pool: ibEUR/sEUR\",\"implementationAddress\":\"0x6523Ac15EC152Cb70a334230F6c5d62C5Bd963f1\",\"symbol\":\"ibEUR+sEUR-f\",\"poolUrls\":{\"swap\":[\"https://curve.fi/#/ethereum/pools/factory-v2-0/swap\",\"https://classic.curve.fi/factory/0\"],\"deposit\":[\"https://curve.fi/#/ethereum/pools/factory-v2-0/deposit\",\"https://classic.curve.fi/factory/0/deposit\"],\"withdraw\":[\"https://curve.fi/#/ethereum/pools/factory-v2-0/withdraw\",\"https://classic.curve.fi/factory/0/withdraw\"]},\"implementation\":\"plain2basic\",\"lpTokenAddress\":\"0x1F7[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.curve.fi/api/getPools/ethereum/factory-crypto
  response:
    body:
      string: '{"success":true,"data":{"poolData":[{"id":"factory-crypto-0","address":"0x03470B57B05089EE40c651dAC9E0387F1f3cb46f","coinsAddresses":["0x3432B6A60D23Ca0dFCa7761B7ab56459D9C964D0","0xC02aaA39b223FE8D0A0e5C4F27eAD9083C756Cc2"],"decimals":["18","18"],"virtualPrice":0,"amplificationCoefficient":"400000","lpTokenAddress":"0x1AEa495539B514A55388[...]
