interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.blockscout.com/1/api/v2/addresses/0xE12799BC799fc024db69E118fD2A6eA293DBFF7d/withdrawals
  response:
    body:
      string: '{"items":[{"amount":"16043262000000000","block_number":24760549,"index":123609407,"receiver":{"ens_domain_name":null,"hash":"0xE12799BC799fc024db69E118fD2A6eA293DBFF7d","implementations":[],"is_contract":false,"is_scam":false,"is_verified":null,"metadata":{"tags":[{"meta":{},"name":"Beacon
        Depositor","ordinal":0,"slug":"beacon-depositor","tagType":"generic"}]},"name":null,"private_tags":[],"proxy_type":null,"public_tags":[],"reputation":"ok","watchlist_names":[]},"timestamp":"2026-03-29T03:27:11.000000Z","validator_index":763318},{"amount":"16021051000000000","block_number":24760549,"index":123609406,"receiver":{"ens_domain_name":null,"hash":"0xE12799BC799fc024db69E118fD2A6eA293DBFF7d","implementations":[],"is_contract":false,"is_scam":false,"is_verified":null,"metadata":{"tags":[{"meta":{},"name":"Beacon
        Depositor","ordinal":0,"slug":"beacon-depositor","tagType":"generic"}]},"name":null,"private_tags":[],"proxy_type":null,"public_tags":[],"reputation":"ok","watchlist_names":[]},"timestamp":"2026-03-29T03[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.blockscout.com/1/api/v2/addresses/0xE12799BC799fc024db69E118fD2A6eA293DBFF7d/withdrawals?index=119820883&items_count=50
  response:
    body:
      string: '{"items":[{"amount":"16602479000000000","block_number":24523766,"index":119820882,"receiver":{"ens_domain_name":null,"hash":"0xE12799BC799fc024db69E118fD2A6eA293DBFF7d","implementations":[],"is_contract":false,"is_scam":false,"is_verified":null,"metadata":{"tags":[{"[...]
[...]
