interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://eth.blockscout.com/api/v2/addresses/0xE12799BC799fc024db69E118fD2A6eA293DBFF7d/withdrawals
  response:
    body:
      string: '{"items":[{"amount":"16852140000000000","block_number":18501626,"index":23466661,"timestamp":"2023-11-04T22:24:23.000000Z","validator_index":763318},{"amount":"16927928000000000","block_number":18501626,"index":23466660,"timestamp":"2023-11-04T22:24:23.000000Z","validator_index":763317},{"amount":"16877494000000000","block_number":18501626,"index":23466659,"timestamp":"2023-11-04T22:24:23.000000Z","validator_index":763316},{"amount":"16912074000000000","block_number":18501626,"index":23466658,"timestamp":"2023-11-04T22:24:23.000000Z","validator_index":763315},{"amount":"16882075000000000","block_number":18501626,"index":23466657,"tim[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://eth.blockscout.com/api/v2/addresses/0xE12799BC799fc024db69E118fD2A6eA293DBFF7d/withdrawals?index=20108028&items_count=50
  response:
    body:
      string: '{"items":[{"amount":"16425085000000000","block_number":18291712,"index":20108027,"timestamp":"2023-10-06T13:19:11.000000Z","validator_index":747238},{"amount":"16421952000000000","block_number":18291712,"index":20108026,"timestamp":"2023-10-06T13:19:11.000000Z","validat[...]
[...]
