interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://beaconcha.in/api/v1/validator/1118010
  response:
    body:
      string: '{"status":"OK","data":{"activationeligibilityepoch":255395,"activationepoch":255424,"balance":32012466806,"effectivebalance":32000000000,"exitepoch":9223372036854775807,"lastattestationslot":9344320,"name":"","pubkey":"0xb324c5869db5a524f9c3e2f3b82a786e7baa6ea150dc8f5c86a5342e6a7a5b4719ee1749c2f79e9e49d18a00f006118b","slashed":false,"status":"active_online","validatorindex":1118010,"withdrawableepoch":9223372036854775807,"withdrawalcredentials":"0x01000000000000000000000024a81dc9767348800852ef3625376e9238abfa42","total_withdrawals":411024491}}

        '
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Thu, 20 Jun 2024 19:57:32 GMT
      Ratelimit-Limit:
      - '5'
      Ratelimit-Remaining:
      - '4'
      Ratelimit-Reset:
      - '1'
      Ratelimit-Window:
      - second
      X-Ratelimit-Limit-Day:
      - '120000'
      X-Ratelimit-Limit-Hour:
      - '120000'
      X-Ratelimit-Limit-Minute:
      - '120000'
      X-Ratelimit-Limit-Month:
      - '120000'
      X-Ratelimit-Limit-Second:
      - '5'
      X-Ratelimit-Remaining-Day:
      - '119990'
      X-Ratelimit-Remaining-Hour:
      - '119990'
      X-Ratelimit-Remaining-Minute:
      - '119990'
      X-Ratelimit-Remaining-Month:
      - '119990'
      X-Ratelimit-Remaining-Second:
      - '4'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://beaconcha.in/api/v1/validator/stats/1118010
  response:
    body:
      string: '{"status":"OK","data":[{"attester_slashings":0,"day":1296,"day_end":"2024-06-20T12:00:23Z","day_start":"2024-06-19T12:00:23Z","deposits":0,"deposits_amount":0,"end_balance":32010722634,"end_effective_balance":32000000000,"max_balance":0,"max_effective_balance":0,"min_balance":0,"min_effective_balance":0,"missed_attestations":0,"missed_blocks":0,"missed_sync":0,"orphaned_attestations":0,"orphaned_blocks":0,"orphaned_sync":0,"participated_sync":0,"proposed_blocks":0,"proposer_slashings":0,"start_balance":32008621778,"start_effective_balance":32000000000,"validatorindex":1118010,"withdrawals":0,"withdrawals_amount":0},{"attester_slashings":0,"day":1295,"day_end":"2024-06-19T12:00:23Z","day_start":"2024-06-18T12:00:23Z","deposits":0,"deposits_amount":0,"end_balance":32008612360,"end_effective_balance":32000000000,"max_balance":0,"max_effective_balance":0,"min_balance":0,"min_effective_balance":0,"missed_attestations":0,"missed_blocks":0,"missed_sync":0,"orphaned_attestations":0,"orphaned_blocks":0,"orphaned_sync":0,"participated_sync":0,"proposed_blocks":0,"proposer_slashings":0,"start_balance":32006506564,[...]
