interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://beaconcha.in/validator/354933/withdrawals?draw=1&columns%5B0%5D%5Bdata%5D=0&columns%5B0%5D%5Bname%5D=&columns%5B0%5D%5Bsearchable%5D=true&columns%5B0%5D%5Borderable%5D=true&columns%5B0%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B0%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B1%5D%5Bdata%5D=1&columns%5B1%5D%5Bname%5D=&columns%5B1%5D%5Bsearchable%5D=true&columns%5B1%5D%5Borderable%5D=true&columns%5B1%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B1%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B2%5D%5Bdata%5D=2&columns%5B2%5D%5Bname%5D=&columns%5B2%5D%5Bsearchable%5D=true&columns%5B2%5D%5Borderable%5D=true&columns%5B2%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B2%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B3%5D%5Bdata%5D=3&columns%5B3%5D%5Bname%5D=&columns%5B3%5D%5Bsearchable%5D=true&columns%5B3%5D%5Borderable%5D=true&columns%5B3%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B3%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B4%5D%5Bdata%5D=4&columns%5B4%5D%5Bname%5D=&columns%5B4%5D%5Bsearchable%5D=true&columns%5B4%5D%5Borderable%5D=true&columns%5B4%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B4%5D%5Bsearch%5D%5Bregex%5D=false&order%5B0%5D%5Bcolumn%5D=0&order%5B0%5D%5Bdir%5D=desc&start=0&length=10&search%5Bvalue%5D=&search%5Bregex%5D=false&_=1695718031
  response:
    body:
      string: "{\"draw\":1,\"recordsTotal\":32,\"recordsFiltered\":32,\"data\":[[\"\\u003ca
        href=\\\"/epoch/231481\\\"\\u003e231\\u003cspan class=\\\"thousands-separator\\\"\\u003e\\u003c/span\\u003e481\\u003c/a\\u003e\",\"\\u003ca
        href=\\\"/slot/7407404\\\"\\u003e7\\u003cspan class=\\\"thousands-separator\\\"\\u003e\\u003c/span\\u003e407\\u003cspan
        class=\\\"thousands-separator\\\"\\u003e\\u003c/span\\u003e404\\u003c/a\\u003e\",\"\\u003cspan
        class=\\\"timestamp\\\" data-toggle=\\\"tooltip\\\" data-placement=\\\"top\\\"
        data-timestam[...]
[...]
