interactions:
- request:
    body: '{"validator": {"validator_identifiers": [765881]}, "chain": "mainnet"}'
    headers:
      Authorization:
      - Bearer sCfhbcO2V5SGmpaPLkyjSyfsa2MyXNy3ptmRqU0jcHb
      Content-Type:
      - application/json
    method: POST
    uri: https://beaconcha.in/api/v2/ethereum/validators
  response:
    body:
      string: '{"data":[{"validator":{"index":765881,"public_key":"0x8f4bbc39e8319c17050fd94bb609bc21b5f45d2208de5ecf73fc5f38cccfdd434aefb13ed77dea5c1745fa76b627a8af"},"slashed":false,"status":"active_ongoing","online":true,"withdrawal_credentials":{"type":"execution_address","prefix":"0x02","credential":"0x020000000000000000000000a966b01e2136953df4f4914cfa9d37724e99a187","address":"0xa966b01E2136953DF4F4914CfA9D37724E99a187"},"life_cycle_epochs":{"activation_eligibility":206818,"activation":217035,"exit":null,"withdrawable":null},"balances":{"current":"148800381776000000000","effective":"148000000000000000000"},"finality":"not_finalized"}],"paging":{"next_cursor":""},"range":{"slot":{"start":14220800,"end":14220831},"epoch":{"start":444400,"end":444400},"timestamp":{"start":1777473623,"end":1777474006}}}

        '
    headers:
      Content-Type:
      - application/json
      Ratelimit-Bucket:
      - default
      Ratelimit-Limit:
      - '1'
      Ratelimit-Remaining:
      - '0'
      Ratelimit-Reset:
      - '1'
      Ratelimit-Validapikey:
      - 'true'
      Ratelimit-Window:
      - second
      X-Beaconchain-Version:
      - 26.17.2
      X-Ratelimit-Limit-Day:
      - '1000'
      X-Ratelimit-Limit-Hour:
      - '1000'
      X-Ratelimit-Limit-Minute:
      - '1000'
      X-Ratelimit-Limit-Month:
      - '1000'
      X-Ratelimit-Limit-Second:
      - '1'
      X-Ratelimit-Remaining-Day:
      - '684'
      X-Ratelimit-Remaining-Hour:
      - '684'
      X-Ratelimit-Remaining-Minute:
      - '684'
      X-Ratelimit-Remaining-Month:
      - '684'
      X-Ratelimit-Remaining-Second:
      - '0'
    status:
      code: 200
      message: OK
version: 1
