interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://beaconcha.in/api/v1/validator/7288,295601,295603,7287
  response:
    body:
      string: '{"status":"OK","data":[{"activationeligibilityepoch":0,"activationepoch":0,"balance":0,"effectivebalance":0,"exitepoch":193785,"lastattestationslot":6201113,"name":"gabuwhale","pubkey":"0xb7763831fdf87f3ee728e60a579cf2be889f6cc89a4878c8651a2a267377cf7e9406b4bcd8f664b88a3e20c368155bf6","slashed":false,"status":"exited","validatorindex":7287,"withdrawableepoch":194041,"withdrawalcredentials":"0x0100000000000000000000004231b2f83cb7c833db84cec0ceaaa9959f051374","total_withdrawals":36411594425},{"activationeligibilityepoch":0,"activationepoch":0,"balance":0,"effectivebalance":0,"exitepoch":193785,"lastattestationslot":6201106,"name":"gabuwhale","pubkey":"0x92db89739c6a3529facf858223b8872bbcf150c4bf3b30eb21ab8b09d4ea2f4d7b07b949a27d9766c70807d3b18ad934","slashed":false,"status":"exited","validatorindex":7288,"withdrawableepoch":194041,"withdrawalcredentials":"0x0100000000000000000000004231b2f83cb7c833db84cec0ceaaa9959f051374","total_withdrawals":36422259087},{"activationeli[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://beaconcha.in/validator/7287/withdrawals?draw=1&columns%5B0%5D%5Bdata%5D=0&columns%5B0%5D%5Bname%5D=&columns%5B0%5D%5Bsearchable%5D=true&columns%5B0%5D%5Borderable%5D=true&columns%5B0%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B0%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B1%5D%5Bdata%5D=1&columns%5B1%5D%5Bname%5D=&columns%5B1%5D%5Bsearchable%5D=true&columns%5B1%5D%5Borderable%5D=true&columns%5B1%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B1%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B2%5D%5Bdata%5D=2&columns%5B2%5D%5Bname%5D=&columns%5B2%5D%5Bsearchable%5D=true&columns%5B2%5D%5Borderable%5D=true&columns%5B2%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B2%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B3%5D%5Bdata%5D=3&columns%5B3%5D%5Bname%5D=&columns%5B3%5D%5Bsearchable%5D=true&columns%5B3%5D%5Borderable%5D=true&columns%5B3%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B3%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B4%5D%5Bdata%5D=4&columns%5B4%5D%5Bname%5D=&columns%5B4%5D%5Bsearchable%5D=true&columns%5B4%5D%5Borderable%5D=true&columns%5B4%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B4%5D%5Bsearch%5D%5Bregex%5D=false&order%5B0%5D%5Bcolumn%5D=0&order%5B0%5D%5Bdir%5D=desc&start=0&length=10&search%5Bvalue%5D=&search%5Bregex%5D=false&_=1682211175
  response:
    body:
      string: "{\"draw\":1,\"recordsTotal\":1,\"recordsFiltered\":1,\"data\":[[\"\\u003ca
        href=\\\"/epoch/194644\\\"\\u003e194\\u003cspan class=\\\"thousands-separator\\\"\\u003e\\u003c/span\\u003e644\\u003c/a\\u003e\",\"\\u003ca
        href=\\\"/slot/6228639\\\"\\u003e6\\u003cspan class=\\\"thousands-separator\\\"\\u003e\\u003c/span\\u003e228\\u003cspan
        class=\\\"thousands-separator\\\"\\u003e\\u003c/span\\u003e639\\u003c/a\\u003e\",\"7
        days 22 hrs ago\",\"\\u003ca href=\\\"/address/0x4231b2f83cb7c833db84cec0ceaaa9959f051374\\\"
        target=\\\"_parent\\\" data-html=\\\"true\\\" data-toggle=\\\"tooltip\\\"
        data-placement=\\\"bottom\\\" title=\\\"\\\" data-original-title=\\\"0x4231B2f83CB7C833Db84ceC0cEAAa9959f051374\\\"\\u003e\\u003cspan
        class=\\\"text-monospace\\\"\\u003e0x4231B2\u2026051374\\u003c/span\\u003e\\u003c/a\\u003e\",\"\\u003cspan
        data-toggle=\\\"tooltip\\\" data-placement=\\\"top\\\" title=\\\"36.411594425\\\"\\u003e36.411594
        Ether\\u003c/span\\u003e\"]],\"pageLength\":0,\"displayStart\":0,\"pagingToken\":\"\"}\n"
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
