interactions:
- request:
    body: '{"method":"getHealth","jsonrpc":"2.0","id":0}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.mainnet-beta.solana.com
  response:
    body:
      string: '{"jsonrpc":"2.0","result":"ok","id":0}

        '
    headers:
      allow:
      - OPTIONS, POST, GET
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-conn-limit:
      - '40'
      x-ratelimit-conn-remaining:
      - '39'
      x-ratelimit-connrate-limit:
      - '40'
      x-ratelimit-connrate-remaining:
      - '39'
      x-ratelimit-endpoint-limit:
      - unlimited
      x-ratelimit-endpoint-remaining:
      - '-1052'
      x-ratelimit-method-limit:
      - '40'
      x-ratelimit-method-remaining:
      - '39'
      x-ratelimit-pubsub-limit:
      - '5'
      x-ratelimit-pubsub-remaining:
      - '5'
      x-ratelimit-rps-limit:
      - '100'
      x-ratelimit-rps-remaining:
      - '99'
      x-ratelimit-tier:
      - free
      x-rpc-node:
      - pit36
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"getTransaction","jsonrpc":"2.0","id":0,"params":["5vBFfTGrcdkE7ZdsUDSU2kRkhoFp4EgKtLLB6h2m1uQoG5wCddCkFGnNjXaHrV2r1kZ8CpJfh7UcWJ9tFXAyKc8Q",{"encoding":"json","commitment":"finalized","maxSupportedTransactionVersion":0}]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.mainnet-beta.solana.com
  response:
    body:
      string: '{"jsonrpc":"2.0","result":{"blockTime":1758217531,"meta":{"computeUnitsConsumed":39990,"costUnits":43282,"err":null,"fee":10195,"innerInstructions":[{"index":2,"instructions":[{"accounts":[2,5,1],"data":"3peYHhHYfToD","programIdIndex":9,"stackHeight":2},{"accounts":[0,3],"data":"11119os1e9qSs2u7TsThXqkBSRVFxhmYaFKFZ1waB2X7armDmvK3p5GmLdUxYdg3h7QSrL","programIdIndex":6,"stackHeight":2},{"accounts":[3,8],"data":"6TzQdiY1vUxPdN7EL5BHWAHaLdefTocuM8W7bLWVYttDN","programIdIndex":9,"stackHeight":2},{"accounts":[4,3,0],"data":"3TDcKxZ3zT7u","programIdIndex":9,"stackHeight":2},{"accounts":[3,0,0],"data":"A","programIdIndex":9,"stackHeight":2},{"accounts":[0,1],"data":"3Bxs4EchykAmQrVD","programIdIndex":6,"stackHeight":2}]}],"loadedAddresses":{"readonly":[],"writable":[]},"logMessages":["Program
        ComputeBudget111111111111111111111111111111 invoke [1]","Program ComputeBudget111111111111111111111111111111
        success","Program ComputeBudget111111111111111111111111111111 invoke [1]","Program
        ComputeBudget111111111111111111111111111111 success","Program 61DFfeTKM7trxYcPQCM78bJ794ddZprZpAwAnLiwTpYH
        invoke [1]","Program log: Instruction: Fill","Program TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA
        invoke [2]","Program log: Instruction: Transfer","Program TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA
        consumed 4645 of 32128 compute units","Program TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA
        success","Program 11111111111111111111111111111111 invoke [2]","Program 11111111111111111111111111111111
        success","Program TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA invoke [2]","Program
        log: Instruction: InitializeAccount3","Program TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA
        consumed 3158 of 17546 compute units","Program TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA
        success","Program TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA invoke [2]","Program
        log: Instruction: Transfer","Program TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA
        consumed 4736 of 12235 compute units","Program TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA
        success","Program TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA invoke [2]","Program
        log: Instruction: CloseAccount","Program TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA
        consumed 2915 of 5360 compute units","Program TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA
        success","Program 11111111111111111111111111111111 invoke [2]","Program 11111111111111111111111111111111
        success","Program 61DFfeTKM7trxYcPQCM78bJ794ddZprZpAwAnLiwTpYH consumed 39690
        of 39690 compute units","Program 61DFfeTKM7trxYcPQCM78bJ794ddZprZpAwAnLiwTpYH
        success"],"postBalances":[199144440517,1283986509,2039280,0,11719114003847,2039280,1,1,1153373493227,4676183832,1141440,9464096491],"postTokenBalances":[{"accountIndex":2,"mint":"7vfCXTUXx5WJV5JADk17DUJ4ksgau7utNKj4b963voxs","owner":"7T8ckKtdc5DH7ACS5AnCny7rVXYJPEsaAbdBri1FhPxY","programId":"TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA","uiTokenAmount":{"amount":"287442","decimals":8,"uiAmount":0.00287442,"uiAmountString":"0.00287442"}},{"accountIndex":4,"mint":"So11111111111111111111111111111111111111112","owner":"7rhxnLV8C77o6d8oz26AgK8x8m5ePsdeRawjqvojbjnQ","programId":"TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA","uiTokenAmount":{"amount":"11719111964567","decimals":9,"uiAmount":11719.111964567,"uiAmountString":"11719.111964567"}},{"accountIndex":5,"mint":"7vfCXTUXx5WJV5JADk17DUJ4ksgau7utNKj4b963voxs","owner":"7rhxnLV8C77o6d8oz26AgK8x8m5ePsdeRawjqvojbjnQ","programId":"TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA","uiTokenAmount":{"amount":"1518754380","decimals":8,"uiAmount":15.1875438,"uiAmountString":"15.1875438"}}],"preBalances":[199144450712,1231278331,2039280,0,11719166712025,2039280,1,1,1153373493227,4676183832,1141440,9464096491],"preTokenBalances":[{"accountIndex":2,"mint":"7vfCXTUXx5WJV5JADk17DUJ4ksgau7utNKj4b963voxs","owner":"7T8ckKtdc5DH7ACS5AnCny7rVXYJPEsaAbdBri1FhPxY","programId":"TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA","uiTokenAmount":{"amount":"574884","decimals":8,"uiAmount":0.00574884,"uiAmountString":"0.00574884"}},{"accountIndex":4,"mint":"So11111111111111111111111111111111111111112","owner":"7rhxnLV8C77o6d8oz26AgK8x8m5ePsdeRawjqvojbjnQ","programId":"TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA","uiTokenAmount":{"amount":"11719164672745","decimals":9,"uiAmount":11719.164672745,"uiAmountString":"11719.164672745"}},{"accountIndex":5,"mint":"7vfCXTUXx5WJV5JADk17DUJ4ksgau7utNKj4b963voxs","owner":"7rhxnLV8C77o6d8oz26AgK8x8m5ePsdeRawjqvojbjnQ","programId":"TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA","uiTokenAmount":{"amount":"1518466938","decimals":8,"uiAmount":15.18466938,"uiAmountString":"15.18466938"}}],"rewards":[],"status":{"Ok":null}},"slot":367689024,"transaction":{"message":{"accountKeys":["7rhxnLV8C77o6d8oz26AgK8x8m5ePsdeRawjqvojbjnQ","7T8ckKtdc5DH7ACS5AnCny7rVXYJPEsaAbdBri1FhPxY","DEN9VJCeUhyvHR4y5VruahjkqcZHZopyXjdCi9tY8iY","ebh8CfuhRd1VhSNuFqTY3srFkGfBn6giJTgAQN81VUj","BJqrMMVFrMTM9V93w2JN2uv73WX9JxZgEbbFdevWEt6x","HgLC8cAuUgrt9d2MVmGUiUWgwo2bs7wcaTvWSP2znmcQ","11111111111111111111111111111111","ComputeBudget111111111111111111111111111111","So11111111111111111111111111111111111111112","TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA","61DFfeTKM7trxYcPQCM78bJ794ddZprZpAwAnLiwTpYH","7vfCXTUXx5WJV5JADk17DUJ4ksgau7utNKj4b963voxs"],"addressTableLookups":[],"header":{"numReadonlySignedAccounts":0,"numReadonlyUnsignedAccounts":6,"numRequiredSignatures":2},"instructions":[{"accounts":[],"data":"3Ddz2qHp11eo","programIdIndex":7,"stackHeight":1},{"accounts":[],"data":"FV2PdR","programIdIndex":7,"stackHeight":1},{"accounts":[1,0,2,5,10,4,11,9,8,9,6,3],"data":"HoSdaJgwWtUbjM99F3S6JbDjpMBo54SfrpbRD2guKECL96pP","programIdIndex":10,"stackHeight":1}],"recentBlockhash":"2mzNB5gtCTJ7WfSkgLRjUUCjnSYHL2AS88tWJx2BGhBn"},"signatures":["5vBFfTGrcdkE7ZdsUDSU2kRkhoFp4EgKtLLB6h2m1uQoG5wCddCkFGnNjXaHrV2r1kZ8CpJfh7UcWJ9tFXAyKc8Q","2GwA1quZ2w39QygGBc2aTE3BftrFhettHuDYn8pMgHQydsFpAgMYCiRWubbqd7X1if6dxVjkbvv1RfKJpU7SxRVh"]},"version":0},"id":0}

        '
    headers:
      allow:
      - OPTIONS, POST, GET
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-conn-limit:
      - '40'
      x-ratelimit-conn-remaining:
      - '39'
      x-ratelimit-connrate-limit:
      - '40'
      x-ratelimit-connrate-remaining:
      - '39'
      x-ratelimit-endpoint-limit:
      - unlimited
      x-ratelimit-endpoint-remaining:
      - '-1054'
      x-ratelimit-method-limit:
      - '2'
      x-ratelimit-method-remaining:
      - '1'
      x-ratelimit-pubsub-limit:
      - '5'
      x-ratelimit-pubsub-remaining:
      - '5'
      x-ratelimit-rps-limit:
      - '100'
      x-ratelimit-rps-remaining:
      - '98'
      x-ratelimit-tier:
      - free
      x-rpc-node:
      - pit36
    status:
      code: 200
      message: OK
[...]
