interactions:
- request:
    body: '{"jsonrpc": "2.0", "method": "web3_clientVersion", "params": [], "id":
      0}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://scroll.blockpi.network/v1/rpc/public
  response:
    body:
      string: '{"id":0,"jsonrpc":"2.0","result":"Geth/v5.1.10-mainnet-5b7079b3/linux-amd64/go1.21.5"}'
    headers:
      Content-Type:
      - application/json
      X-Gateway-Id:
      - '0x947c1ade40da2899086c7cf9f8064ebddd7d0701'
      X-Node-Id:
      - '0x3491855fe4302c118dccb2ae55fd35409c3f82cf'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.scrollscan.com/api?module=proxy&action=eth_blockNumber&apikey=W7QNAANTDB92HZ8ZSYEH8AU33HDZIE3MD4
  response:
    body:
      string: '{"jsonrpc":"2.0","id":83,"result":"0x41760a"}

        '
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"jsonrpc": "2.0", "method": "eth_getTransactionByHash", "params": ["0x93a725e6281bd39c6d3798bb818f280b65e5b40bc017a16ed3d8ad5a29fa636c"],
      "id": 3}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://scroll.blockpi.network/v1/rpc/public
  response:
    body:
      string: '{"id":3,"jsonrpc":"2.0","result":{"blockHash":"0x451e3570f2909d9d82cbb26a698d665a76243bfe5f394513e9de31d8021a48ce","blockNumber":"0x1e4","from":"0xf9062b8a30e0d7722960e305049fa50b86ba6253","gas":"0x5208","gasPrice":"0xf4240","hash":"0x93a725e6281bd39c6d3798bb818f280b65e5b40bc017a16ed3d8ad5a29fa636c","input":"0x","nonce":"0x55","r":"0x6cd0b0914e4b607130380e93aae9028a9e638c46ed6bf580a16793ca7feea9b1","s":"0x33dfc6a641829e5ee4abd0ea87b40630944463f856dbe42c11ec2988b9a1270","sender":"0x0000000000000000000000000000000000000000","to":"0x0a47cec6657570831ae93db36367656e5597c310","transactionIndex":"0x0","type":"0x0","v":"0x104ec3","value":"0xde0b6b3a7640000"}}'
    headers:
      Content-Type:
      - application/json
      X-Gateway-Id:
      - '0x947c1ade40da2899086c7cf9f8064ebddd7d0701'
      X-Node-Id:
      - '0x3491855fe4302c118dccb2ae55fd35409c3f82cf'
    status:
      code: 200
      message: OK
version: 1
