interactions:
- request:
    body: '{"jsonrpc": "2.0", "method": "web3_clientVersion", "params": [], "id":
      0}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://binance.llamarpc.com/
  response:
    body:
      string: '{"jsonrpc":"2.0","id":0,"result":"rpc-proxy"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"jsonrpc": "2.0", "method": "eth_blockNumber", "params": [], "id": 2}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://binance.llamarpc.com/
  response:
    body:
      string: '{"jsonrpc":"2.0","id":2,"result":"0x2b57280"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
