interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - f6bc0f7f7a5944f9bd63366130edd306
    method: GET
    uri: https://api.opensea.io/api/v2/chain/ethereum/account/0x2B888954421b424C5D3D9Ce9bB67c9bD47537d12/nfts?limit=50&address=0x2B888954421b424C5D3D9Ce9bB67c9bD47537d12
  response:
    body:
      string: '{"nfts": [{"identifier": "4000000011", "collection": "free-alexey-roman-nft-rewards",
        "contract": "0x723932b58a7c6aef036d1fe17654e845d0f0fae5", "token_standard":
        "erc721", "name": "Free Roman", "description": "NFT reward for supporting
        the Free Alexey & Roman fundraiser. Artwork created by @EyreSofia.", "image_url":
        "https://jbm.infura-ipfs.io/ipfs/QmT9hZuHJjGidc8nrdZYskwRbr2hai9rwVodjCuvUNTvKL",
        "metadata_url": "https://ipfs.io/ipfs/QmXvWCBAJsyQ7FJXyuQN2XfhEHhBj7UNkadtcYTTFDSGcw",
        "opensea_url": "https://opensea.io/assets/ethereum/0x723932b58a7c6aef036d1fe17654e845d0f0fae5/4000000011",
        "updated_at": "2024-01-24T11:32:02.015157", "is_disabled": false, "is_nsfw":
        false}, {"identifier": "3000000016", "collection": "free-alexey-roman-nft-rewards",
        "contract": "0x723932b58a7c6aef036d1fe17654e845d0f0fae5", "token_standard":
        "erc721", "name": "Free Alexey", "description": "NFT reward for supporting
        the Free Alexey & Roman fundraiser. Artwork created by @EyreSofia.", "image_url":
        "https://jbm.infura-ipfs.io/ipfs/QmXWAeCpUdLYrzYbpxWq4Ajnhf5trssicHPwGRkPWY5Fx9",
        "metadata_url": "https://ipfs.io/ipfs/QmVceUeK98b6Ns[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - f6bc0f7f7a5944f9bd63366130edd306
    method: GET
    uri: https://api.opensea.io/api/v2/collections/free-alexey-roman-nft-rewards?collection_slug=free-alexey-roman-nft-rewards
  response:
    body:
      string: '{"collection": "free-alexey-roman-nft-rewards", "name": "Free Alexey
        & Roman NFT rewards", "description": "", "image_url": "", "banner_image_url":
        "", "owner": "0x3de9aabaf8299981717c4b0dc0b747ada3ad1878", "safelist_status":
        "not_requested", "category": "", "is_disabled": false, "is_nsfw": false, "trait_offers_enabled":
        false, "collection_offers_enabled": true, "opensea_url": "https://opensea.io/collection/free-alexey-roman-nft-rewards",
        "project_url": "", "wiki_url": "", "discord_url": "", "telegram_url": "",
        "twitter_username": "", "instagram_username": "", "contracts": [{"address":
        "0x723932b58a7c6aef036d1fe17654e845d0f0fae5", "chain": "ethereum"}], "editors":
        ["0x960fd7cd779161cd425bd8d6cd21121c0326a079", "0x3de9aabaf8299981717c4b0dc0b747ada3ad1878"],
        "fees": [{"fee": 2.5, "recipient": "0x0000a26b00c1f0df003000390027140000faa719",
        "required": true}], "total_supply": 289, "created_date": "2024-01-22"}'
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Tue, 30 Jan 2024 16:20:23 GMT
      allow:
      - GET, HEAD, OPTIONS
      x-trace-id:
      - '334086624019975253980779912855744929383'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - f6bc0f7f7a5944f9bd63366130edd306
    method: GET
    uri: https://api.opensea.io/api/v2/collections/free-alexey-roman-nft-rewards/stats?name=free-alexey-roman-nft-rewards
  response:
    body:
      string: '{"total": {"volume": 0.0, "sales": 0, "average_price": 0.0, "num_owners":
        243, "market_cap": 0.0, "floor_price": 0.0, "floor_price_symbol": ""}, "intervals":
        [{"interval": "one_day", "volume": 0.0, "volume_diff": 0.0, "volume_change":
        0.0, "sales": 0, "sales_diff": 0.0, "average_price": 0.0}, {"interval": "seven_day",
        "volume": 0.0, "volume_diff": 0.0, "volume_change": 0.0, "sales": 0, "sales_diff":
        0.0, "average_price": 0.0}, {"interval": "thirty_day", "volume": 0.0, "volume_diff":
        0.0, "volume_change": 0.0, "sales": 0, "sales_diff": 0.0, "average_price":
        0.0}]}'
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Tue, 30 Jan 2024 16:20:23 GMT
      allow:
      - GET, HEAD, OPTIONS
      x-trace-id:
      - '202228878483362393256894373951324316841'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - f6bc0f7f7a5944f9bd63366130edd306
    method: GET
    uri: https://api.opensea.io/api/v2/collections/the-rebels-of-gyaku?collection_slug=the-rebels-of-gyaku
  response:
    body:
      string: '{"collection": "the-rebels-of-gyaku", "name": "The Rebels of Gyaku",
        "description": "Join the Rebel Group of Gyaku at [https://gyaku.space](https://gyaku.space/?source=cd)
        and libera[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - f6bc0f7f7a5944f9bd63366130edd306
    method: GET
    uri: https://api.opensea.io/api/v2/collections/the-rebels-of-gyaku/stats?name=the-rebels-of-gyaku
  response:
    body:
      string: '{"total": {"volume": 0.0, "sales": 0, "average_price": 0.0, "num_owners":
        448, "market_cap": 0.0, "floor_price": 0.0, "floor_price_symbol": ""}, "intervals":
        [{"interval": "one_day", "volume": 0.0, "volume_diff": 0.0, "volume_change":
        0.0, "sales": 0, "sales_diff": 0.0, "average_price": 0.0}, {"interval": "seven_day",
        "volume": 0.0, "volume_diff": 0.0, "volume_change": 0.0, "sales": 0, "sales_diff":
        0.0, "average_price": 0.0}, {"interval": "thirty_day", "volume": 0.0, "volume_diff":
        0.0, "volume_change": 0.0, "sales": 0, "sales_diff": 0.0, "average_price":
        0.0}]}'
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Tue, 30 Jan 2024 16:20:24 GMT
      allow:
      - GET, HEAD, OPTIONS
      x-trace-id:
      - '222660841839190849912022064057876577162'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - f6bc0f7f7a5944f9bd63366130edd306
    method: GET
    uri: https://api.opensea.io/api/v2/collections/ens?collection_slug=ens
  response:
    body:
      string: '{"collection": "ens", "name": "ENS: Ethereum Name Service", "description":
        "Ethereum Name Service (ENS) domains are secure domain names for the decentralized
        world. ENS domains provide a way for users to map human [...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - f6bc0f7f7a5944f9bd63366130edd306
    method: GET
    uri: https://api.opensea.io/api/v2/collections/ens/stats?name=ens
  response:
    body:
      string: '{"total": {"volume": 88248.80687365527, "sales": 341088, "average_price":
        0.2587273866968503, "num_owners": 878957, "market_cap": 400944.92386713595,
        "floor_price": 0.0019, "floor_price_symbol": "ETH"}, "intervals": [{"interval":
        "one_day", "volume": 2.4251799999999997, "volume_diff": -8.799775805549993,
        "volume_change": -0.7839474678039551, "sales": 18, "sales_diff": -0.8348624110221863,
        "average_price": 0.1347322222222222}, {"interval": "seven_day", "volume":
        63.65720788554989, "volume_diff": 281.0, "volume_change": 1.1505654089615958,
        "sales": 504, "sales_diff": 0.0, "average_price": 0.12630398389990058}, {"interval":
        "thirty_day", "volume": 252.50588036054995, "volume_diff": 273.0, "volume_change":
        -0.23395612960774, "sales": 1563, "sales_diff": 0.0, "average_price": 0.16155206676938577}]}'
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Tue, 30 Jan 2024 16:20:25 GMT
      allow:
      - GET, HEAD, OPTIONS
      x-trace-id:
      - '319786658737837621412971115961473898482'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - f6bc0f7f7a5944f9bd63366130edd306
    method: GET
    uri: https://api.opensea.io/api/v2/collections/agora-citizenship-s01?collection_slug=agora-citizenship-s01
  response:
    body:
      string: '{"collection": "agora-citizenship-s01", "name": "Agora Citizenship
        S01", "description": "", "image_url": "", "banner_image_url": "", "owner":
        "0xcd2bce9e177766921bbd022da42f00d74[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - f6bc0f7f7a5944f9bd63366130edd306
    method: GET
    uri: https://api.opensea.io/api/v2/collections/agora-citizenship-s01/stats?name=agora-citizenship-s01
  response:
    body:
      string: '{"total": {"volume": 0.0, "sales": 0, "average_price": 0.0, "num_owners":
        401, "market_cap": 0.0, "floor_price": 0.0, "floor_price_symbol": ""}, "intervals":
        [{"interval": "one_day", "volume": 0.0, "volume_diff": 0.0, "volume_change":
        0.0, "sales": 0, "sales_diff": 0.0, "average_price": 0.0}, {"interval": "seven_day",
        "volume": 0.0, "volume_diff": 0.0, "volume_change": 0.0, "sales": 0, "sales_diff":
        0.0, "average_price": 0.0}, {"interval": "thirty_day", "volume": 0.0, "volume_diff":
        0.0, "volume_change": 0.0, "sales": 0, "sales_diff": 0.0, "average_price":
        0.0}]}'
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Tue, 30 Jan 2024 16:20:25 GMT
      allow:
      - GET, HEAD, OPTIONS
      x-trace-id:
      - '138280758463572439941955252383779199972'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - f6bc0f7f7a5944f9bd63366130edd306
    method: GET
    uri: https://api.opensea.io/api/v2/collections/indexedwarroom?collection_slug=indexedwarroom
  response:
    body:
      string: '{"collection": "indexedwarroom", "name": "Dr. Strangehack or: How I
        Learned to Stop Worrying and Love the Code", "description": "In the days following
        the October 14th, 2021 attack on the DEFI5 and CC10 Balancer pools of the
        Indexed.Finance protocol, an elite team of DeFi veterans assembled to become
        on-chain detectives and expose the fraud of a malicious attacker.  \n\nCoinDesk
        Article:  https://tinyurl.com/indexedhack\n\n10% of all sales will go directly
        to the Indexed DAO treasury for disbursal to users affected by the attack.
        I will be listing mine, and the others that cannot be distributed at 0.1337
        ETH, and sending all proceeds to the users affected by the hack.  I encourage
        the other original owners to do the same, at whatever price they feel appropriate.\n\nIndexed
        has an intelligent, engaged, and resilient user community.  A comm[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - f6bc0f7f7a5944f9bd63366130edd306
    method: GET
    uri: https://api.opensea.io/api/v2/collections/indexedwarroom/stats?name=indexedwarroom
  response:
    body:
      string: '{"total": {"volume": 0.0, "sales": 0, "average_price": 0.0, "num_owners":
        10, "market_cap": 0.0, "floor_price": 0.0, "floor_price_symbol": ""}, "intervals":
        [{"interval": "one_day", "volume": 0.0, "volume_diff": 0.0, "volume_change":
        0.0, "sales": 0, "sales_diff": 0.0, "average_price": 0.0}, {"interval": "seven_day",
        "volume": 0.0, "volume_diff": 0.0, "volume_change": 0.0, "sales": 0, "sales_diff":
        0.0, "average_price": 0.0}, {"interval": "thirty_day", "volume": 0.0, "volume_diff":
        0.0, "volume_change": 0.0, "sales": 0, "sales_diff": 0.0, "average_price":
        0.0}]}'
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Tue, 30 Jan 2024 16:20:26 GMT
      allow:
      - GET, HEAD, OPTIONS
      x-trace-id:
      - '56608866805722829878599068537972993079'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - f6bc0f7f7a5944f9bd63366130edd306
    method: GET
    uri: https://api.opensea.io/api/v2/collections/lobsterdao?collection_slug=lobsterdao
  response:
    body:
      string: '{"collection": "lobsterdao", "name": "lobsterdao", "description": "LobsterDAO
        is an OG collective of DeFi & NFT degens and whales. The community dates back
        to summer 2018, comprising most notable foun[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - f6bc0f7f7a5944f9bd63366130edd306
    method: GET
    uri: https://api.opensea.io/api/v2/collections/lobsterdao/stats?name=lobsterdao
  response:
    body:
      string: '{"total": {"volume": 3329.0419431886626, "sales": 2028, "average_price":
        1.6415394197182753, "num_owners": 1978, "market_cap": 700.8534252, "floor_price":
        0.210999, "floor_price_symbol": "ETH"}, "intervals": [{"interval": "one_day",
        "volume": 0.1927, "volume_diff": 0.1927, "volume_change": 0.0, "sales": 1,
        "sales_diff": 0.0, "average_price": 0.0}, {"interval": "seven_day", "volume":
        0.988231, "volume_diff": -5.0, "volume_change": -0.49162378459352524, "sales":
        5, "sales_diff": 0.0, "average_price": 0.1976462}, {"interval": "thirty_day",
        "volume": 10.624162900000004, "volume_diff": 30.0, "volume_change": 0.770554533043401,
        "sales": 55, "sales_diff": 0.0, "average_price": 0.19316659818181825}]}'
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Tue, 30 Jan 2024 16:20:26 GMT
      allow:
      - GET, HEAD, OPTIONS
      x-trace-id:
      - '8272125544622744510757459732961484907'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - f6bc0f7f7a5944f9bd63366130edd306
    method: GET
    uri: https://api.opensea.io/api/v2/collections/acclimatedmooncats?collection_slug=acclimatedmooncats
  response:
    body:
      string: '{"collection": "acclimatedmooncats", "name": "MoonCats", "description":
        "Launched on August 10th, 2017, the MoonCatRescue Insanely Cute Operation
        was a success! The 25440 MoonCats resc[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - f6bc0f7f7a5944f9bd63366130edd306
    method: GET
    uri: https://api.opensea.io/api/v2/collections/acclimatedmooncats/stats?name=acclimatedmooncats
  response:
    body:
      string: '{"total": {"volume": 21814.594609142034, "sales": 25931, "average_price":
        0.8412554320752008, "num_owners": 5604, "market_cap": 4191.85815138235, "floor_price":
        0.198, "floor_price_symbol": "ETH"}, "intervals": [{"interval": "one_day",
        "volume": 0.8159000000000001, "volume_diff": -2.3109599000000007, "volume_change":
        -0.7390673160552979, "sales": 5, "sales_diff": -0.6875, "average_price": 0.16318000000000002},
        {"interval": "seven_day", "volume": 17.972657899999987, "volume_diff": 12.0,
        "volume_change": 0.11575075658845659, "sales": 85, "sales_diff": 0.0, "average_price":
        0.21144303411764692}, {"interval": "thirty_day", "volume": 95.23789962099912,
        "volume_diff": 9.0, "volume_change": -0.05445905117542726, "sales": 377, "sales_diff":
        0.0, "average_price": 0.25262042339787566}]}'
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Tue, 30 Jan 2024 16:20:27 GMT
      allow:
      - GET, HEAD, OPTIONS
      x-trace-id:
      - '88366953417534078568652647566485556284'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - f6bc0f7f7a5944f9bd63366130edd306
    method: GET
    uri: https://api.opensea.io/api/v2/collections/best-hardware-for-mining-ethers?collection_slug=best-hardware-for-mining-ethers
  response:
    body:
      string: '{"collection": "best-hardware-for-mining-ethers", "name": "Best Hardware
        For Mining Ethers, With Dog For Scale", "description": "Best Hardware For
        Mining Ethers, With Dog For Scale\n\nhttps://ethereum.stackexchange.com/a/2722/1268",
        "image_url": "https://lh3.googleusercontent.com/LoGNJ724uz-i37RmwhaoUNTyuxIn-dOR8a6GF_f1lVKHKWubQmMdrxK7SGlbLBvIgVMNhIreGOGN9kghrIZuJbUvzh06Sk40-xMSGg=s120",
        "banner_image_url": "", "owner": "0x000001f568875f378bf6d170b790967fe429c81a",
        "safelist_status": "not_requested", "category": "", "is_disabled": false,
        "is_nsfw": false, "trait_offers_enabled": false, "collection_offers_enabled":
        true, "opensea_url": "https://opensea.io/collection/best-hardware-for-mining-ethers",
        "project_url": "", "wiki_url": "", "discord_url": "", "telegram_url": "",
        "twitter_username": "", "instagram_username": "", "contracts": [], "editors":
        ["0x000001f568875f378bf6d170b790967fe429c81a"], "fees": [{"fee": 2.5, "recipient":
        "0x0000a26b00c1f0df003000390027140000faa719", "required": true}], "payment_tokens":
        [{"symbol": "ETH", "address": "0x0000000000000000000000000000000000000000",
        "chain": "ethereum", "image": "https://raw.seadn.io/files/ETH.svg", "name":
        "Ether", "decimals": 18, "eth_price": "1.000000000000000", "usd_price": "2332.960000000000036000"},
        {"symbol": "DAI", "address": "0x6b175474e89094c44da98b954eedeac495271d0f",
        "chain": "ethereum", "image": "https://raw.seadn.io/files/DAI.svg", "name":
        "Dai Stablecoin", "decimals": 18, "eth_price": "0.000427220000000", "usd_price":
        "0.996507000000000000"}, {"symbol": "WETH", "address": "0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2",
        "chain": "ethereum", "image": "https://raw.seadn.io/files/WETH.svg", "name":
        "Wrapped Ether", "decimals": 18, "eth_price": "1.000000000000000", "usd_price":
        "2304.989999999999782000"}, {"symbol": "USDC", "address": "0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48",
        "chain": "ethereum", "image": "https://raw.seadn.io/files/USDC.svg", "name":
        "USD Coin", "decimals": 6, "eth_price": "0.000427740000000", "usd_price":
        "0.997729000000000000"}], "total_supply": 3, "created_date": "2021-03-15"}'
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Tue, 30 Jan 2024 16:20:27 GMT
      allow:
      - GET, HEAD, OPTIONS
      x-trace-id:
      - '288158110601658704810019308133448628919'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - f6bc0f7f7a5944f9bd63366130edd306
    method: GET
    uri: https://api.opensea.io/api/v2/collections/best-hardware-for-mining-ethers/stats?name=best-hardware-for-mining-ethers
  response:
    body:
      string: '{"total": {"volume": 0.01, "sales": 1, "average_price": 0.01, "num_owners":
        3, "market_cap": 0.0, "floor_price": 0.0, "floor_price_symbol": ""}, "intervals":
        [{"interval": "one_day", "volume": 0.0, "volume_diff": 0.0, "volume_change":
        0.0, "sales": 0, "sales_diff": 0.0, "average_price": 0.0}, {"interval": "seven_day",
        "volume": 0.0, "volume_diff": 0.0, "volume_change": 0.0, "sales": 0, "sales_diff":
        0.0, "average_price": 0.0}, {"interval": "thirty_day", "volume": 0.0, "volume_diff":
        0.0, "volume_change": 0.0, "sales": 0, "sales_diff": 0.0, "average_price":
        0.0}]}'
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Tue, 30 Jan 2024 16:20:27 GMT
      allow:
      - GET, HEAD, OPTIONS
      x-trace-id:
      - '330508857255342777545162691704430495027'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - f6bc0f7f7a5944f9bd63366130edd306
    method: GET
    uri: https://api.opensea.io/api/v2/collections/bastard-gan-punks-v2?collection_slug=bastard-gan-punks-v2
  response:
    body:
      string: '{"collection": "bastard-gan-punks-v2", "name": "BASTARD GAN PUNKS V2",
        "description": "VERSION 2 OF BASTARD GAN PUNKS ARE COOLER, BETTER AND GOOFIER
        THAN BOTH BOOMER CRYPTOPUNKS & [...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - f6bc0f7f7a5944f9bd63366130edd306
    method: GET
    uri: https://api.opensea.io/api/v2/collections/bastard-gan-punks-v2/stats?name=bastard-gan-punks-v2
  response:
    body:
      string: '{"total": {"volume": 9085.053434840549, "sales": 15920, "average_price":
        0.5706691856055621, "num_owners": 2723, "market_cap": 1016.1506269861818,
        "floor_price": 0.085, "floor_price_symbol": "ETH"}, "intervals": [{"interval":
        "one_day", "volume": 0.424950001, "volume_diff": 0.424950001, "volume_change":
        0.0, "sales": 2, "sales_diff": 0.0, "average_price": 0.2124750005}, {"interval":
        "seven_day", "volume": 1.979046901, "volume_diff": -31.0, "volume_change":
        -0.616489494890459, "sales": 22, "sales_diff": 0.0, "average_price": 0.08995667731818181},
        {"interval": "thirty_day", "volume": 11.476047900999909, "volume_diff": -122.0,
        "volume_change": -0.7060249844946588, "sales": 111, "sales_diff": 0.0, "average_price":
        0.1033878189279271}]}'
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Tue, 30 Jan 2024 16:20:28 GMT
      allow:
      - GET, HEAD, OPTIONS
      x-trace-id:
      - '59784182684693892165674734725513049135'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - f6bc0f7f7a5944f9bd63366130edd306
    method: GET
    uri: https://api.opensea.io/api/v2/collections/kudos?collection_slug=kudos
  response:
    body:
      string: '{"collection": "kudos", "name": "Kudos", "description": "Kudos is a
        way of showing your appreciation for another Gitcoin member. It''s also a
        way to showcase special skills that a member might have, such as Pyt[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - f6bc0f7f7a5944f9bd63366130edd306
    method: GET
    uri: https://api.opensea.io/api/v2/collections/kudos/stats?name=kudos
  response:
    body:
      string: '{"total": {"volume": 5.5627689630859, "sales": 213, "average_price":
        0.02611628621167089, "num_owners": 4618, "market_cap": 0.0, "floor_price":
        0.004, "floor_price_symbol": "ETH"}, "intervals": [{"interval": "one_day",
        "volume": 0.0, "volume_diff": 0.0, "volume_change": 0.0, "sales": 0, "sales_diff":
        0.0, "average_price": 0.0}, {"interval": "seven_day", "volume": 0.0, "volume_diff":
        0.0, "volume_change": 0.0, "sales": 0, "sales_diff": 0.0, "average_price":
        0.0}, {"interval": "thirty_day", "volume": 0.0, "volume_diff": -0.04, "volume_change":
        -1.0, "sales": 0, "sales_diff": 0.0, "average_price": 0.0}]}'
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Tue, 30 Jan 2024 16:20:28 GMT
      allow:
      - GET, HEAD, OPTIONS
      x-trace-id:
      - '314811848575066438881148013389126169065'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - f6bc0f7f7a5944f9bd63366130edd306
    method: GET
    uri: https://api.opensea.io/api/v2/collections/cryptovoxels-names?collection_slug=cryptovoxels-names
  response:
    body:
      string: '{"collection": "cryptovoxels-names", "name": "Cryptovoxels Names",
        "description": "Alert: these are not Cryptovoxels parcels. User names and
        avatars in Cryptovoxels are an ERC721 token[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - f6bc0f7f7a5944f9bd63366130edd306
    method: GET
    uri: https://api.opensea.io/api/v2/collections/cryptovoxels-names/stats?name=cryptovoxels-names
  response:
    body:
      string: '{"total": {"volume": 16.205194579676224, "sales": 195, "average_price":
        0.08310356194705756, "num_owners": 2600, "market_cap": 0.0, "floor_price":
        0.03, "floor_price_symbol": "ETH"}, "intervals": [{"interval": "one_day",
        "volume": 0.0, "volume_diff": 0.0, "volume_change": 0.0, "sales": 0, "sales_diff":
        0.0, "average_price": 0.0}, {"interval": "seven_day", "volume": 0.0, "volume_diff":
        0.0, "volume_change": 0.0, "sales": 0, "sales_diff": 0.0, "average_price":
        0.0}, {"interval": "thirty_day", "volume": 0.0, "volume_diff": -0.01111, "volume_change":
        -1.0, "sales": 0, "sales_diff": 0.0, "average_price": 0.0}]}'
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Tue, 30 Jan 2024 16:20:28 GMT
      allow:
      - GET, HEAD, OPTIONS
      x-trace-id:
      - '137621718540581207631415474678187025972'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - f6bc0f7f7a5944f9bd63366130edd306
    method: GET
    uri: https://api.opensea.io/api/v2/collections/poap-v2?collection_slug=poap-v2
  response:
    body:
      string: '{"collection": "poap-v2", "name": "POAP", "description": "The Proof
        of Attendance Protocol", "image_url": "https://lh3.googleusercontent.com/FwLriCvKAMBBFHMxcjqvxjTlmROcDIabIFKRp87NS3u_QfSLxcNThgAzOJSbphgQqnyZ_v2fNgMZQkdCYHUliJwH-Q=s60",
        "banner_image_url": "", "owner": "0xe583f95bf95d0883f94efe844442c8bfc9dd7a7f",
        "safelist_status": "verified", "category": "art", "is_disabled": false, "is_nsfw":
        false, "trait_offers_enabled": false, "collection_offers_enabled": true, "opensea_url":
        "https://opensea.io/collection/poap-v2", "project_url": "https://www.poap.xyz/",
        "wiki_url": "", "discord_url": "", "telegram_url": "", "twitter_username":
        "", "instagram_username": "", "contracts": [{"address": "0x22c1f6050e56d2876009903609a2cc3fef83b415",
        "chain": "ethereum"}], "editors": ["0xe583f95bf95d0883f94efe844442c8bfc9dd7a7f"],
        "fees": [{"fee": 2.5, "recipient": "0x0000a26b00c1f0df003000390027140000faa719",
        "required": true}], "rarity": {"strategy_id": "openrarity", "strategy_version":
        "0.7.5", "calculated_at": "2024-01-28T15:55:26.500359", "max_rank": 35871,
        "tokens_scored": 35872}, "total_supply": 35646, "created_date": "2019-05-27"}'
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Tue, 30 Jan 2024 16:20:29 GMT
      allow:
      - GET, HEAD, OPTIONS
      x-trace-id:
      - '17919411480141741537421772922716239810'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - f6bc0f7f7a5944f9bd63366130edd306
    method: GET
    uri: https://api.opensea.io/api/v2/collections/poap-v2/stats?name=poap-v2
  response:
    body:
      string: '{"total": {"volume": 803.5117048848882, "sales": 4457, "average_price":
        0.18028084022546292, "num_owners": 22310, "market_cap": 2915.1275036, "floor_price":
        0.003, "floor_price_symbol": "ETH"}, "intervals": [{"interval": "one_day",
        "volume": 0.0135, "volume_diff": -0.979899, "volume_change": -0.9864103198051453,
        "sales": 2, "sales_diff": -0.7142857313156128, "average_price": 0.00675},
        {"interval": "seven_day", "volume": 1.226699, "volume_diff": 7.0, "volume_change":
        1.782892468239564, "sales": 15, "sales_diff": 0.0, "average_price": 0.08177993333333333},
        {"interval": "thirty_day", "volume": 2.1571989999999994, "volume_diff": 20.0,
        "volume_change": 0.9212673672960451, "sales": 35, "sales_diff": 0.0, "average_price":
        0.06163425714285713}]}'
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Tue, 30 Jan 2024 16:20:29 GMT
      allow:
      - GET, HEAD, OPTIONS
      x-trace-id:
      - '199744700465636708576036487883841572003'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - f6bc0f7f7a5944f9bd63366130edd306
    method: GET
    uri: https://api.opensea.io/api/v2/collections/gashawk-nfts?collection_slug=gashawk-nfts
  response:
    body:
      string: '{"collection": "gashawk-nfts", "name": "GasHawk NFTs", "description":
        "GasHawk - save gas fees on Ethereum", "image_url": "https://openseauserdata.com/files/73476b70ed04041d0072328f8ed27741.png",
        [...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - f6bc0f7f7a5944f9bd63366130edd306
    method: GET
    uri: https://api.opensea.io/api/v2/collections/gashawk-nfts/stats?name=gashawk-nfts
  response:
    body:
      string: '{"total": {"volume": 0.0, "sales": 0, "average_price": 0.0, "num_owners":
        132, "market_cap": 0.0, "floor_price": 0.0, "floor_price_symbol": ""}, "intervals":
        [{"interval": "one_day", "volume": 0.0, "volume_diff": 0.0, "volume_change":
        0.0, "sales": 0, "sales_diff": 0.0, "average_price": 0.0}, {"interval": "seven_day",
        "volume": 0.0, "volume_diff": 0.0, "volume_change": 0.0, "sales": 0, "sales_diff":
        0.0, "average_price": 0.0}, {"interval": "thirty_day", "volume": 0.0, "volume_diff":
        0.0, "volume_change": 0.0, "sales": 0, "sales_diff": 0.0, "average_price":
        0.0}]}'
    headers:
      Content-Type:
[...]
