interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.opensea.io/api/v2/chain/ethereum/account/0x2B888954421b424C5D3D9Ce9bB67c9bD47537d12/nfts?address=0x2B888954421b424C5D3D9Ce9bB67c9bD47537d12&limit=50
  response:
    body:
      string: '{"nfts": [{"identifier": "4000000011", "collection": "free-alexey-roman-nft-rewards",
        "contract": "0x723932b58a7c6aef036d1fe17654e845d0f0fae5", "token_standard":
        "erc721", "name": "Free Roman", "description": "NFT reward for supporting
        the Free Alexey & Roman fundraiser. Artwork created by @EyreSofia.", "image_url":
        "https://jbm.infura-ipfs.io/ipfs/QmT9hZuHJjGidc8nrdZYskwRbr2hai9rwVodjCuvUNTvKL",
        "metadata_url": "https://ipfs.io/ipfs/QmXvWCBAJsyQ7FJXyuQN2XfhEHhBj7UNkadtcYTTFDSGcw",
        "opensea_url": "https://opensea.io/assets/ethereum/0x723932b58a7c6aef036d1fe17654e845d0f0fae5/4000000011",
        "updated_at": "2024-01-24T11:32:02.015157", "is_disabled": false, "is_nsfw":
        false}, {"identifier": "3000000016", "collection": "free-alexey-roman-nft-rewards",
        "contract": "0x723932b58a7c6aef036d1fe17654e845d0f0fae5", "token_standard":
        "erc721", "name": "Free Alexey", "description": "NFT reward for supporting
        the Free Alexey & Roman fundraiser. Artwork created by @EyreSofia.", "image_url":
        "https://jbm.infura-ipfs.io/ipfs/QmXWAeCpUdLYrzYbpxWq4Ajnhf5trssicHPwGRkPWY5Fx9",
        "metadata_url": "https://ipfs.io/ipfs/QmVceUeK98b6Ns[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.opensea.io/api/v2/collections/free-alexey-roman-nft-rewards?collection_slug=free-alexey-roman-nft-rewards
  response:
    body:
      string: '{"collection": "free-alexey-roman-nft-rewards", "name": "Free Alexey
        & Roman NFT rewards", "description": "", "image_url": "", "banner_image_url":
        "", "owner": "0x3de9aabaf8299981717c4b0dc0b747ada3ad1878", "safelist_status":
        "not_requested", "category": "", "is_disabled": false, "is_nsfw": false, "trait_offers_enabled":
        false, "collection_offers_enabled": true, "opensea_url": "https://opensea.io/collection/free-alexey-roman-nft-rewards",
        "project_url": "", "wiki_url": "", "discord_url": "", "telegram_url": "",
        "twitter_username": "", "instagram_username": "", "contracts": [{"address":
        "0x723932b58a7c6aef036d1fe17654e845d0f0fae5", "chain": "ethereum"}], "editors":
        ["0x3de9aabaf8299981717c4b0dc0b747ada3ad1878", "0x960fd7cd779161cd425bd8d6cd21121c0326a079"],
        "fees": [{"fee": 2.5, "recipient": "0x0000a26b00c1f0df003000390027140000faa719",
        "required": true}], "total_supply": 329, "created_date": "2024-01-22"}'
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Wed, 14 Feb 2024 21:59:11 GMT
      allow:
      - GET, HEAD, OPTIONS
      x-trace-id:
      - '252058164750609363580356498401073084416'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.opensea.io/api/v2/collections/free-alexey-roman-nft-rewards/stats?name=free-alexey-roman-nft-rewards
  response:
    body:
      string: '{"total": {"volume": 0.0, "sales": 0, "average_price": 0.0, "num_owners":
        277, "market_cap": 0.0, "floor_price": 0.2, "floor_price_symbol": "ETH"},
        "intervals": [{"interval": "one_day", "volume": 0.0, "volume_diff": 0.0, "volume_change":
        0.0, "sales": 0, "sales_diff": 0.0, "average_price": 0.0}, {"interval": "seven_day",
        "volume": 0.0, "volume_diff": 0.0, "volume_change": 0.0, "sales": 0, "sales_diff":
        0.0, "average_price": 0.0}, {"interval": "thirty_day", "volume": 0.0, "volume_diff":
        0.0, "volume_change": 0.0, "sales": 0, "sales_diff": 0.0, "average_price":
        0.0}]}'
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Wed, 14 Feb 2024 21:59:11 GMT
      allow:
      - GET, HEAD, OPTIONS
      x-trace-id:
      - '124574507448461705759887565245342675278'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.opensea.io/api/v2/collections/the-rebels-of-gyaku?collection_slug=the-rebels-of-gyaku
  response:
    body:
      string: '{"collection": "the-rebels-of-gyaku", "name": "The Rebels of Gyaku",
        "description": "Join the Rebel Group of Gyaku at [https://gyaku.space](https://gyaku.space/?source=cd)
        and liberate the City.\n\nIn the year 2055, the [Gyaku City](https:/[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.opensea.io/api/v2/collections/the-rebels-of-gyaku/stats?name=the-rebels-of-gyaku
  response:
    body:
      string: '{"total": {"volume": 0.0, "sales": 0, "average_price": 0.0, "num_owners":
        448, "market_cap": 0.0, "floor_price": 0.0, "floor_price_symbol": ""}, "intervals":
        [{"interval": "one_day", "volume": 0.0, "volume_diff": 0.0, "volume_change":
        0.0, "sales": 0, "sales_diff": 0.0, "average_price": 0.0}, {"interval": "seven_day",
        "volume": 0.0, "volume_diff": 0.0, "volume_change": 0.0, "sales": 0, "sales_diff":
        0.0, "average_price": 0.0}, {"interval": "thirty_day", "volume": 0.0, "volume_diff":
        0.0, "volume_change": 0.0, "sales": 0, "sales_diff": 0.0, "average_price":
        0.0}]}'
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Wed, 14 Feb 2024 21:59:12 GMT
      allow:
      - GET, HEAD, OPTIONS
      x-trace-id:
      - '52328726425680097150908469794154326471'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.opensea.io/api/v2/collections/ens?collection_slug=ens
  response:
    body:
      string: '{"collection": "ens", "name": "ENS: Ethereum Name Service", "description":
        "Ethereum Name Service (ENS) domains are secure domain names for the decentralized
        world. ENS domains provide a way for users to map human readable names to
        blockchain and non-blockchain re[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.opensea.io/api/v2/collections/ens/stats?name=ens
  response:
    body:
      string: '{"total": {"volume": 88241.02285053823, "sales": 341975, "average_price":
        0.2580335487990006, "num_owners": 898490, "market_cap": 1057804.1913910587,
        "floor_price": 0.0022, "floor_price_symbol": "ETH"}, "intervals": [{"interval":
        "one_day", "volume": 21.630724452882998, "volume_diff": 15.0, "volume_change":
        0.07715169027762821, "sales": 46, "sales_diff": 0.4838709677419355, "average_price":
        0.4702331402800652}, {"interval": "seven_day", "volume": 90.146457240574,
        "volume_diff": -280.0, "volume_change": 1.6298379225732196, "sales": 274,
        "sales_diff": 0.0, "average_price": 0.32900166876121895}, {"interval": "thirty_day",
        "volume": 218.60179763785888, "volume_diff": -41.0, "volume_change": -0.3769515712496835,
        "sales": 1632, "sales_diff": 0.0, "average_price": 0.13394717992515862}]}'
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Wed, 14 Feb 2024 21:59:12 GMT
      allow:
      - GET, HEAD, OPTIONS
      x-trace-id:
      - '109144785967499189541216046951235682109'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.opensea.io/api/v2/collections/agora-citizenship-s01?collection_slug=agora-citizenship-s01
  response:
    body:
      string: '{"collection": "agora-citizenship-s01", "name": "Agora Citizenship
        S01", "description": "", "image_url": "", "banner_image_url": "", "owner":
        "0xcd2bce9e177766921bbd022da42f00d746aa9681", "safelist_status": "not_requested",
        "category": "", "is_disabled": false, "is_nsfw": false, "trait_offers_enabled":
        false, "collection_offers_enabled": true, "opensea_url": "https://opensea.io/collection/agora-citizenship-s01",
        "project_url": "", "wiki_url": "", "discord_url": "", "telegram_url": "",
        "twitter_username": "", "instagram_username": "", "contracts": [{"address":
        "0xc0a302e6ad8eccc4d7a6c1514f8671d6b79269c7", "chain": "ethereum"}], "editors":
        ["0xcd2bce9e177766921bbd022da42f00d746aa9681"], "fees": [{"fee": 2.5, "recipient":
        "0x0000a26b00c1f0df003000390027140000faa719", "required": true}], "total_supply":
        401, "created_date": "2021-12-07"}'
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Wed, 14 Feb 2024 21:59:13 GMT
      allow:
      - GET, HEAD, OPTIONS
      x-trace-id:
      - '339910014548795521236020162136994560183'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.opensea.io/api/v2/collections/agora-citizenship-s01/stats?name=agora-citizenship-s01
  response:
    body:
      string: '{"total": {"volume": 0.0, "sales": 0, "average_price": 0.0, "num_owners":
        401, "market_cap": 0.0, "floor_price": 0.0, "floor_price_symbol": ""}, "intervals":
        [{"interval": "one_day", "volume": 0.0, "volume_diff": 0.0, "volume_change":
        0.0, "sales": 0, "sales_diff": 0.0, "average_price": 0.0}, {"interval": "seven_day",
        "volume": 0.0, "volume_diff": 0.0, "volume_change": 0.0, "sales": 0, "sales_diff":
        0.0, "average_price": 0.0}, {"interval": "thirty_day", "volume": 0.0, "volume_diff":
        0.0, "volume_change": 0.0, "sales": 0, "sales_diff": 0.0, "average_price":
        0.0}]}'
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Wed, 14 Feb 2024 21:59:13 GMT
      allow:
      - GET, HEAD, OPTIONS
      x-trace-id:
      - '36407920267090634685735812772760533294'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.opensea.io/api/v2/collections/indexedwarroom?collection_slug=indexedwarroom
  response:
    body:
      string: '{"collection": "indexedwarroom", "name": "Dr. Strangehack or: How I
        Learned to Stop Worrying and Love the Code", "description": "In the days following
        the October 14th, 2021 attack on the DEFI5 and CC10 Balancer pools of the
        Indexed.Finance protocol, an elite team of DeFi veterans assembled to become
        on-chain detectives and expose the fraud of a malicious attacker.  \n\nCoinDesk
        Article:  https://tinyurl.com/indexedhack\n\n10% of all sales will go directly
        to the Indexed DAO treasury for disbursal to users affected by the attack.
        I will be listing mine, and the others that cannot be distributed at 0.1337
        ETH, and sending all proceeds to the users affected by the hack.  I encourage
        the other original owners to do the same, at whatever price they feel appropriate.\n\nIndexed
        has an intelligent, engaged, and resilient user community.  A comm[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.opensea.io/api/v2/collections/indexedwarroom/stats?name=indexedwarroom
  response:
    body:
      string: '{"total": {"volume": 0.0, "sales": 0, "average_price": 0.0, "num_owners":
        10, "market_cap": 0.0, "floor_price": 0.0, "floor_price_symbol": ""}, "intervals":
        [{"interval": "one_day", "volume": 0.0, "volume_diff": 0.0, "volume_change":
        0.0, "sales": 0, "sales_diff": 0.0, "average_price": 0.0}, {"interval": "seven_day",
        "volume": 0.0, "volume_diff": 0.0, "volume_change": 0.0, "sales": 0, "sales_diff":
        0.0, "average_price": 0.0}, {"interval": "thirty_day", "volume": 0.0, "volume_diff":
        0.0, "volume_change": 0.0, "sales": 0, "sales_diff": 0.0, "average_price":
        0.0}]}'
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Wed, 14 Feb 2024 21:59:14 GMT
      allow:
      - GET, HEAD, OPTIONS
      x-trace-id:
      - '162506431706383425951094954242561658588'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.opensea.io/api/v2/collections/lobsterdao?collection_slug=lobsterdao
  response:
    body:
      string: '{"collection": "lobsterdao", "name": "lobsterdao", "description": "LobsterDAO
        is an OG collective of DeFi & NFT degens and whales. The community dates back
        to summer 2018, comprising most notable founders and researchers in the crypto
        scene. We were [...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.opensea.io/api/v2/collections/lobsterdao/stats?name=lobsterdao
  response:
    body:
      string: '{"total": {"volume": 3335.3441051886566, "sales": 2058, "average_price":
        1.6206725486825349, "num_owners": 1997, "market_cap": 916.5486621600002, "floor_price":
        0.389999, "floor_price_symbol": "ETH"}, "intervals": [{"interval": "one_day",
        "volume": 0.5, "volume_diff": 0.188, "volume_change": 0.6025640964508057,
        "sales": 1, "sales_diff": 0.0, "average_price": 0.0}, {"interval": "seven_day",
        "volume": 6.461849000000001, "volume_diff": 21.0, "volume_change": 8.046407671846564,
        "sales": 25, "sales_diff": 0.0, "average_price": 0.25847396000000006}, {"interval":
        "thirty_day", "volume": 10.492777, "volume_diff": -9.0, "volume_change": -0.02917719913362612,
        "sales": 46, "sales_diff": 0.0, "average_price": 0.22810384782608698}]}'
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Wed, 14 Feb 2024 21:59:14 GMT
      allow:
      - GET, HEAD, OPTIONS
      x-trace-id:
      - '134454647459105548135458087622784118300'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.opensea.io/api/v2/collections/acclimatedmooncats?collection_slug=acclimatedmooncats
  response:
    body:
      string: '{"collection": "acclimatedmooncats", "name": "MoonCats", "description":
        "Launched on August 10th, 2017, the MoonCatRescue Insanely Cute Operation
        was a success! The 25440 MoonCats rescued are acclimating to their life as
        [fully on-cha[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.opensea.io/api/v2/collections/acclimatedmooncats/stats?name=acclimatedmooncats
  response:
    body:
      string: '{"total": {"volume": 21851.053659122837, "sales": 26153, "average_price":
        0.8355084945942277, "num_owners": 5593, "market_cap": 4351.408044744637, "floor_price":
        0.1869, "floor_price_symbol": "ETH"}, "intervals": [{"interval": "one_day",
        "volume": 0.9941, "volume_diff": -0.09230000000000005, "volume_change": -0.0849594995379448,
        "sales": 5, "sales_diff": 0.25, "average_price": 0.19882}, {"interval": "seven_day",
        "volume": 25.673965770807992, "volume_diff": 20.0, "volume_change": 0.25685906861733204,
        "sales": 117, "sales_diff": 0.0, "average_price": 0.21943560487870079}, {"interval":
        "thirty_day", "volume": 83.45113737080817, "volume_diff": -23.0, "volume_change":
        -0.23650444757521774, "sales": 387, "sales_diff": 0.0, "average_price": 0.21563601387805728}]}'
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Wed, 14 Feb 2024 21:59:15 GMT
      allow:
      - GET, HEAD, OPTIONS
      x-trace-id:
      - '330888097985507218680684747623399584530'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.opensea.io/api/v2/collections/best-hardware-for-mining-ethers?collection_slug=best-hardware-for-mining-ethers
  response:
    body:
      string: '{"collection": "best-hardware-for-mining-ethers", "name": "Best Hardware
        For Mining Ethers, With Dog For Scale", "description": "Best Hardware For
        Mining Ethers, With Dog For Scale\n\nhttps://ethereum.stackexchange.com/a/2722/1268",
        "image_url": "https://i.seadn.io/gae/LoGNJ724uz-i37RmwhaoUNTyuxIn-dOR8a6GF_f1lVKHKWubQmMdrxK7SGlbLBvIgVMNhIreGOGN9kghrIZuJbUvzh06Sk40-xMSGg?w=500&auto=format",
        "banner_image_url": "", "owner": "0x000001f568875f378bf6d170b790967fe429c81a",
        "safelist_status": "not_requested", "category": "", "is_disabled": false,
        "is_nsfw": false, "trait_offers_enabled": false, "collection_offers_enabled":
        true, "opensea_url": "https://opensea.io/collection/best-hardware-for-mining-ethers",
        "project_url": "", "wiki_url": "", "discord_url": "", "telegram_url": "",
        "twitter_username": "", "instagram_username": "", "contracts": [], "editors":
        ["0x000001f568875f378bf6d170b790967fe429c81a"], "fees": [{"fee": 2.5, "recipient":
        "0x0000a26b00c1f0df003000390027140000faa719", "required": true}], "payment_tokens":
        [{"symbol": "ETH", "address": "0x0000000000000000000000000000000000000000",
        "chain": "ethereum", "image": "https://raw.seadn.io/files/ETH.svg", "name":
        "Ether", "decimals": 18, "eth_price": "1.000000000000000", "usd_price": "2763.190000000000055000"},
        {"symbol": "DAI", "address": "0x6b175474e89094c44da98b954eedeac495271d0f",
        "chain": "ethereum", "image": "https://raw.seadn.io/files/DAI.svg", "name":
        "Dai Stablecoin", "decimals": 18, "eth_price": "0.000361310000000", "usd_price":
        "0.998587000000000000"}, {"symbol": "WETH", "address": "0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2",
        "chain": "ethereum", "image": "https://raw.seadn.io/files/WETH.svg", "name":
        "Wrapped Ether", "decimals": 18, "eth_price": "1.000000000000000", "usd_price":
        "2761.909999999999854000"}, {"symbol": "USDC", "address": "0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48",
        "chain": "ethereum", "image": "https://raw.seadn.io/files/USDC.svg", "name":
        "USD Coin", "decimals": 6, "eth_price": "0.000361830000000", "usd_price":
        "0.999787000000000000"}], "total_supply": 3, "created_date": "2021-03-15"}'
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Wed, 14 Feb 2024 21:59:15 GMT
      allow:
      - GET, HEAD, OPTIONS
      x-trace-id:
      - '11135817334698690036068088305626260649'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.opensea.io/api/v2/collections/best-hardware-for-mining-ethers/stats?name=best-hardware-for-mining-ethers
  response:
    body:
      string: '{"total": {"volume": 0.01, "sales": 1, "average_price": 0.01, "num_owners":
        3, "market_cap": 0.0, "floor_price": 0.0, "floor_price_symbol": ""}, "intervals":
        [{"interval": "one_day", "volume": 0.0, "volume_diff": 0.0, "volume_change":
        0.0, "sales": 0, "sales_diff": 0.0, "average_price": 0.0}, {"interval": "seven_day",
        "volume": 0.0, "volume_diff": 0.0, "volume_change": 0.0, "sales": 0, "sales_diff":
        0.0, "average_price": 0.0}, {"interval": "thirty_day", "volume": 0.0, "volume_diff":
        0.0, "volume_change": 0.0, "sales": 0, "sales_diff": 0.0, "average_price":
        0.0}]}'
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Wed, 14 Feb 2024 21:59:15 GMT
      allow:
      - GET, HEAD, OPTIONS
      x-trace-id:
      - '319385748842818016071450529761059578223'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.opensea.io/api/v2/collections/bastard-gan-punks-v2?collection_slug=bastard-gan-punks-v2
  response:
    body:
      string: '{"collection": "bastard-gan-punks-v2", "name": "BASTARD GAN PUNKS V2",
        "description": "VERSION 2 OF BASTARD GAN PUNKS ARE COOLER, BETTER AND GOOFIER
        THAN BOTH BOOMER CRYPTOPUNKS & VERSION 1 BASTARD GAN PUNKS. THIS TIME, ALL
        CRYPTO[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.opensea.io/api/v2/collections/bastard-gan-punks-v2/stats?name=bastard-gan-punks-v2
  response:
    body:
      string: '{"total": {"volume": 9088.761785189758, "sales": 15962, "average_price":
        0.5693999364233654, "num_owners": 2719, "market_cap": 1818.9580773404539,
        "floor_price": 0.094999, "floor_price_symbol": "ETH"}, "intervals": [{"interval":
        "one_day", "volume": 1.3824849999999, "volume_diff": 1.2507849999999001, "volume_change":
        9.497228622436523, "sales": 9, "sales_diff": 3.5, "average_price": 0.15360944444443334},
        {"interval": "seven_day", "volume": 4.9918290011999, "volume_diff": 20.0,
        "volume_change": 3.9231510392788094, "sales": 31, "sales_diff": 0.0, "average_price":
        0.1610267419741903}, {"interval": "thirty_day", "volume": 13.145171903199907,
        "volume_diff": 32.0, "volume_change": -0.20357323430344904, "sales": 117,
        "sales_diff": 0.0, "average_price": 0.11235189660854622}]}'
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Wed, 14 Feb 2024 21:59:16 GMT
      allow:
      - GET, HEAD, OPTIONS
      x-trace-id:
      - '293040896032997944964323666230691395818'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.opensea.io/api/v2/collections/kudos?collection_slug=kudos
  response:
    body:
      string: '{"collection": "kudos", "name": "Kudos", "description": "Kudos is a
        way of showing your appreciation for another Gitcoin member. It''s also a
        way to showcase special skills that a member might have, such as Pythonista,
        or Design Star.", "image_url": "https://i[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.opensea.io/api/v2/collections/kudos/stats?name=kudos
  response:
    body:
      string: '{"total": {"volume": 5.550493288085907, "sales": 213, "average_price":
        0.02605865393467562, "num_owners": 4618, "market_cap": 0.0, "floor_price":
        0.025, "floor_price_symbol": "ETH"}, "intervals": [{"interval": "one_day",
        "volume": 0.0, "volume_diff": 0.0, "volume_change": 0.0, "sales": 0, "sales_diff":
        0.0, "average_price": 0.0}, {"interval": "seven_day", "volume": 0.0, "volume_diff":
        0.0, "volume_change": 0.0, "sales": 0, "sales_diff": 0.0, "average_price":
        0.0}, {"interval": "thirty_day", "volume": 0.0, "volume_diff": 0.0, "volume_change":
        0.0, "sales": 0, "sales_diff": 0.0, "average_price": 0.0}]}'
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Wed, 14 Feb 2024 21:59:16 GMT
      allow:
      - GET, HEAD, OPTIONS
      x-trace-id:
      - '300759756637253157653865328299580192874'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.opensea.io/api/v2/collections/cryptovoxels-names?collection_slug=cryptovoxels-names
  response:
    body:
      string: '{"collection": "cryptovoxels-names", "name": "Cryptovoxels Names",
        "description": "Alert: these are not Cryptovoxels parcels. User names and
        avatars in Cryptovoxels are an ERC721 token. You can mint yourself any valid
        name just for th[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.opensea.io/api/v2/collections/cryptovoxels-names/stats?name=cryptovoxels-names
  response:
    body:
      string: '{"total": {"volume": 16.205194579676224, "sales": 195, "average_price":
        0.08310356194705756, "num_owners": 2600, "market_cap": 0.0, "floor_price":
        0.03, "floor_price_symbol": "ETH"}, "intervals": [{"interval": "one_day",
        "volume": 0.0, "volume_diff": 0.0, "volume_change": 0.0, "sales": 0, "sales_diff":
        0.0, "average_price": 0.0}, {"interval": "seven_day", "volume": 0.0, "volume_diff":
        0.0, "volume_change": 0.0, "sales": 0, "sales_diff": 0.0, "average_price":
        0.0}, {"interval": "thirty_day", "volume": 0.0, "volume_diff": -0.01111, "volume_change":
        -1.0, "sales": 0, "sales_diff": 0.0, "average_price": 0.0}]}'
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Wed, 14 Feb 2024 21:59:17 GMT
      allow:
      - GET, HEAD, OPTIONS
      x-trace-id:
      - '43308516521985047641107068278346618773'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.opensea.io/api/v2/collections/poap-v2?collection_slug=poap-v2
  response:
    body:
      string: '{"collection": "poap-v2", "name": "POAP", "description": "The Proof
        of Attendance Protocol", "image_url": "https://i.seadn.io/gae/FwLriCvKAMBBFHMxcjqvxjTlmROcDIabIFKRp87NS3u_QfSLxcNThgAzOJSbphgQqnyZ_v2fNgMZQkdCYHUliJwH-Q?w=500&auto=format",
        "banner_image_url": "", "owner": "0xe583f95bf95d0883f94efe844442c8bfc9dd7a7f",
        "safelist_status": "verified", "category": "art", "is_disabled": false, "is_nsfw":
        false, "trait_offers_enabled": false, "collection_offers_enabled": true, "opensea_url":
        "https://opensea.io/collection/poap-v2", "project_url": "https://www.poap.xyz/",
        "wiki_url": "", "discord_url": "", "telegram_url": "", "twitter_username":
        "", "instagram_username": "", "contracts": [{"address": "0x22c1f6050e56d2876009903609a2cc3fef83b415",
        "chain": "ethereum"}], "editors": ["0xe583f95bf95d0883f94efe844442c8bfc9dd7a7f"],
        "fees": [{"fee": 2.5, "recipient": "0x0000a26b00c1f0df003000390027140000faa719",
        "required": true}], "rarity": {"strategy_id": "openrarity", "strategy_version":
        "0.7.5", "calculated_at": "2024-02-01T07:42:18.069527", "max_rank": 35874,
        "tokens_scored": 35875}, "total_supply": 35650, "created_date": "2019-05-27"}'
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Wed, 14 Feb 2024 21:59:17 GMT
      allow:
      - GET, HEAD, OPTIONS
      x-trace-id:
      - '21068778052502729664843594087868597032'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.opensea.io/api/v2/collections/poap-v2/stats?name=poap-v2
  response:
    body:
      string: '{"total": {"volume": 800.966799376888, "sales": 4462, "average_price":
        0.1795084713977786, "num_owners": 22311, "market_cap": 1192.3142500000001,
        "floor_price": 0.002888, "floor_price_symbol": "ETH"}, "intervals": [{"interval":
        "one_day", "volume": 0.0, "volume_diff": 0.0, "volume_change": 0.0, "sales":
        0, "sales_diff": 0.0, "average_price": 0.0}, {"interval": "seven_day", "volume":
        0.06689, "volume_diff": -1.0, "volume_change": -0.6677098857426726, "sales":
        2, "sales_diff": 0.0, "average_price": 0.033445}, {"interval": "thirty_day",
        "volume": 1.9856890000000005, "volume_diff": 11.0, "volume_change": 1.683726179213407,
        "sales": 29, "sales_diff": 0.0, "average_price": 0.06847203448275864}]}'
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Wed, 14 Feb 2024 21:59:17 GMT
      allow:
      - GET, HEAD, OPTIONS
      x-trace-id:
      - '169647558816473620574168913555967731408'
    status:
      code: 200
      message: OK
[...]
