interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.opensea.io/api/v2/chain/ethereum/account/0x2B888954421b424C5D3D9Ce9bB67c9bD47537d12/nfts?address=0x2B888954421b424C5D3D9Ce9bB67c9bD47537d12&limit=50
  response:
    body:
      string: '{"nfts": [{"identifier": "182", "collection": "votingtokenlockupplans",
        "contract": "0x73cd8626b3cd47b009e68380720cfe6679a3ec3d", "token_standard":
        "erc721", "name": "VotingTokenLockupPlans #182", "description": "This NFT
        represents a stream of Ethereum Name Service tokens, Do not trade. Not designed
        for trading on OpenSea or other NFT platforms.", "image_url": "https://d39gwocy6y5teg.cloudfront.net/ethereum/0x73cd8626b3cd47b009e68380720cfe6679a3ec3d/182/texture.png",
        "display_image_url": "https://i.seadn.io/s/raw/files/0312e2c09fdc0558020d749ba120f02d.png?w=500&auto=format",
        "display_animation_url": "https://d39gwocy6y5teg.cloudfront.net/index.html?type=disk&network=ethereum&contractAddress=0x73cd8626b3cd47b009e68380720cfe6679a3ec3d&index=182",
        "metadata_url": "https://dynamic-nft.hedgey.finance/ethereum/0x73cd8626b3cd47b009e68380720cfe6679a3ec3d/182",
        "opensea_url": "https://opensea.io/assets/ethereum/0x73cd8626b3cd47b009e68380720cfe6679a3ec3d/182",
        "updated_at": "2024-09-17T13:34:25.455372", "is_disabled": false, "is_nsfw":
        false}, {"identifier": "16148194957164630797571338210119519571850814648946338799140441239633690692254",
        "collection": "ens", "contract": "0xd4416b13d2b3a9abae7acd5d6c2bbdbe25686401",
        "token_standard": "erc1155", "name": null, "description": null, "image_url":
        null, "display_image_url": "", "display_animation_url": null, "metadata_url":
        null, "opensea_url": "https://opensea.io/assets/ethereum/0xd4416b13d2b3a9abae7acd5d6c2bbdbe25686401/161481949571646307975[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.opensea.io/api/v2/collections/votingtokenlockupplans?collection_slug=votingtokenlockupplans
  response:
    body:
      string: '{"collection": "votingtokenlockupplans", "name": "VotingTokenLockupPlans",
        "description": "", "image_url": "https://i.seadn.io/s/raw/files/f2ce7b6d2dd6a721b1df62fc57a99c44.png?w=500&auto=format",
        "banner_image_url": "", "owner": "0x320bcb681ce7023edfe48ade9cf5bf67a11bcd36",
        "safelist_status": "not_requested", "category": "", "is_disabled": false,
        "is_nsfw": false, "trait_offers_enabled": false, "collection_offers_enabled":
        true, "opensea_url": "https://opensea.io/collection/votingtokenlockupplans",
        "project_url": "", "wiki_url": "", "discord_url": "", "telegram_url": "",
        "twitter_username": "", "instagram_username": "", "contracts": [{"address":
        "0x73cd8626b3cd47b009e68380720cfe6679a3ec3d", "chain": "ethereum"}], "editors":
        ["0x320bcb681ce7023edfe48ade9cf5bf67a11bcd36"], "fees": [{"fee": 0.5, "recipient":
        "0x0000a26b00c1f0df003000390027140000faa719", "required": true}], "total_supply":
        351, "created_date": "2023-08-12"}'
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Tue, 29 Apr 2025 15:48:55 GMT
      allow:
      - GET, HEAD, OPTIONS
      x-trace-id:
      - '124363899797078344350104839476210539969'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.opensea.io/api/v2/collections/votingtokenlockupplans/stats?name=votingtokenlockupplans
  response:
    body:
      string: '{"total": {"volume": 0.0, "sales": 0, "average_price": 0.0, "num_owners":
        252, "market_cap": 0.0, "floor_price": 0.0, "floor_price_symbol": ""}, "intervals":
        [{"interval": "one_day", "volume": 0.0, "volume_diff": 0.0, "volume_change":
        0.0, "sales": 0, "sales_diff": 0.0, "average_price": 0.0}, {"interval": "seven_day",
        "volume": 0.0, "volume_diff": 0.0, "volume_change": 0.0, "sales": 0, "sales_diff":
        0.0, "average_price": 0.0}, {"interval": "thirty_day", "volume": 0.0, "volume_diff":
        0.0, "volume_change": 0.0, "sales": 0, "sales_diff": 0.0, "average_price":
        0.0}]}'
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Tue, 29 Apr 2025 15:48:55 GMT
      allow:
      - GET, HEAD, OPTIONS
      x-trace-id:
      - '41834217919705269251757118135429321780'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.opensea.io/api/v2/collections/ens?collection_slug=ens
  response:
    body:
      string: '{"collection": "ens", "name": "ENS: Ethereum Name Service", "description":
        "Ethereum Name Service (ENS) domains are secure domain names for the decentralized
        world. ENS domains provide a way for users to map human readable names to
        blockchain and non-blockchain re[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.opensea.io/api/v2/collections/ens/stats?name=ens
  response:
    body:
      string: '{"total": {"volume": 99493.50539792833, "sales": 402003, "average_price":
        0.24749443511100247, "num_owners": 1083249, "market_cap": 177359.2354058709,
        "floor_price": 8.9e-05, "floor_price_symbol": "ETH"}, "intervals": [{"interval":
        "one_day", "volume": 1.554541989999995, "volume_diff": -136.0, "volume_change":
        1.038278732234046, "sales": 97, "sales_diff": -0.5836909871244635, "average_price":
        0.016026206082474174}, {"interval": "seven_day", "volume": 41.235629840000044,
        "volume_diff": -137.0, "volume_change": 0.11206478033443724, "sales": 852,
        "sales_diff": 0.0, "average_price": 0.048398626572770005}, {"interval": "thirty_day",
        "volume": 172.29318068449967, "volume_diff": -319.0, "volume_change": 0.45222381871820516,
        "sales": 3704, "sales_diff": 0.0, "average_price": 0.046515437549810926}]}'
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Tue, 29 Apr 2025 15:48:55 GMT
      allow:
      - GET, HEAD, OPTIONS
      x-trace-id:
      - '302311556145838325409436970323675994511'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.opensea.io/api/v2/collections/free-alexey-roman-nft-rewards?collection_slug=free-alexey-roman-nft-rewards
  response:
    body:
      string: '{"collection": "free-alexey-roman-nft-rewards", "name": "Free Alexey
        & Roman NFT rewards", "description": "", "image_url": "https://i.seadn.io/s/raw/files/a993e1cee0b334159a585f1811fdd13d.png?w=500&auto=format",
        "banner_[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.opensea.io/api/v2/collections/free-alexey-roman-nft-rewards/stats?name=free-alexey-roman-nft-rewards
  response:
    body:
      string: '{"total": {"volume": 0.1, "sales": 1, "average_price": 0.1, "num_owners":
        501, "market_cap": 0.0, "floor_price": 0.0, "floor_price_symbol": ""}, "intervals":
        [{"interval": "one_day", "volume": 0.0, "volume_diff": 0.0, "volume_change":
        0.0, "sales": 0, "sales_diff": 0.0, "average_price": 0.0}, {"interval": "seven_day",
        "volume": 0.0, "volume_diff": 0.0, "volume_change": 0.0, "sales": 0, "sales_diff":
        0.0, "average_price": 0.0}, {"interval": "thirty_day", "volume": 0.0, "volume_diff":
        0.0, "volume_change": 0.0, "sales": 0, "sales_diff": 0.0, "average_price":
        0.0}]}'
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Tue, 29 Apr 2025 15:48:56 GMT
      allow:
      - GET, HEAD, OPTIONS
      x-trace-id:
      - '315066602251238149377424671227282667595'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.opensea.io/api/v2/collections/the-rebels-of-gyaku?collection_slug=the-rebels-of-gyaku
  response:
    body:
      string: '{"collection": "the-rebels-of-gyaku", "name": "The Rebels of Gyaku",
        "description": "Join the Rebel Group of Gyaku at [https://gyaku.space](https://gyaku.space/?source=cd)
        and liberate the City.\n\nIn the year 2055, the [Gyaku City](https:/[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.opensea.io/api/v2/collections/the-rebels-of-gyaku/stats?name=the-rebels-of-gyaku
  response:
    body:
      string: '{"total": {"volume": 0.0, "sales": 0, "average_price": 0.0, "num_owners":
        448, "market_cap": 0.0, "floor_price": 0.0, "floor_price_symbol": ""}, "intervals":
        [{"interval": "one_day", "volume": 0.0, "volume_diff": 0.0, "volume_change":
        0.0, "sales": 0, "sales_diff": 0.0, "average_price": 0.0}, {"interval": "seven_day",
        "volume": 0.0, "volume_diff": 0.0, "volume_change": 0.0, "sales": 0, "sales_diff":
        0.0, "average_price": 0.0}, {"interval": "thirty_day", "volume": 0.0, "volume_diff":
        0.0, "volume_change": 0.0, "sales": 0, "sales_diff": 0.0, "average_price":
        0.0}]}'
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Tue, 29 Apr 2025 15:48:56 GMT
      allow:
      - GET, HEAD, OPTIONS
      x-trace-id:
      - '134210661848390143535619908400949783689'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.opensea.io/api/v2/collections/agora-citizenship-s01?collection_slug=agora-citizenship-s01
  response:
    body:
      string: '{"collection": "agora-citizenship-s01", "name": "Agora Citizenship
        S01", "description": "", "image_url": "", "banner_image_url": "", "owner":
        "0xcd2bce9e177766921bbd022da42f00d746aa9681", "safelist_status": "not_requested",
        "category": "", "is_disabled": false, "is_nsfw": false, "trait_offers_enabled":
        false, "collection_offers_enabled": true, "opensea_url": "https://opensea.io/collection/agora-citizenship-s01",
        "project_url": "", "wiki_url": "", "discord_url": "", "telegram_url": "",
        "twitter_username": "", "instagram_username": "", "contracts": [{"address":
        "0xc0a302e6ad8eccc4d7a6c1514f8671d6b79269c7", "chain": "ethereum"}], "editors":
        ["0xcd2bce9e177766921bbd022da42f00d746aa9681"], "fees": [{"fee": 0.5, "recipient":
        "0x0000a26b00c1f0df003000390027140000faa719", "required": true}], "total_supply":
        401, "created_date": "2021-12-07"}'
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Tue, 29 Apr 2025 15:48:57 GMT
      allow:
      - GET, HEAD, OPTIONS
      x-trace-id:
      - '143113535463905902820894424231199812826'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.opensea.io/api/v2/collections/agora-citizenship-s01/stats?name=agora-citizenship-s01
  response:
    body:
      string: '{"total": {"volume": 0.0, "sales": 0, "average_price": 0.0, "num_owners":
        401, "market_cap": 0.0, "floor_price": 0.0, "floor_price_symbol": ""}, "intervals":
        [{"interval": "one_day", "volume": 0.0, "volume_diff": 0.0, "volume_change":
        0.0, "sales": 0, "sales_diff": 0.0, "average_price": 0.0}, {"interval": "seven_day",
        "volume": 0.0, "volume_diff": 0.0, "volume_change": 0.0, "sales": 0, "sales_diff":
        0.0, "average_price": 0.0}, {"interval": "thirty_day", "volume": 0.0, "volume_diff":
        0.0, "volume_change": 0.0, "sales": 0, "sales_diff": 0.0, "average_price":
        0.0}]}'
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Tue, 29 Apr 2025 15:48:57 GMT
      allow:
      - GET, HEAD, OPTIONS
      x-trace-id:
      - '170194065645183105589788942151364609759'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.opensea.io/api/v2/collections/indexedwarroom?collection_slug=indexedwarroom
  response:
    body:
      string: '{"collection": "indexedwarroom", "name": "Dr. Strangehack or: How I
        Learned to Stop Worrying and Love the Code", "description": "In the days following
        the October 14th, 2021 attack on the DEFI5 and CC10 Balancer pools of the
        Indexed.Finance protocol, an elite team of DeFi veterans assembled to become
        on-chain detectives and expose the fraud of a malicious attacker.  \n\nCoinDesk
        Article:  https://tinyurl.com/indexedhack\n\n10% of all sales will go directly
        to the Indexed DAO treasury for disbursal to users affected by the attack.
        I will be listing mine, and the others that cannot be distributed at 0.1337
        ETH, and sending all proceeds to the users affected by the hack.  I encourage
        the other original owners to do the same, at whatever price they feel appropriate.\n\nIndexed
        has an intelligent, engaged, and resilient user community.  A comm[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.opensea.io/api/v2/collections/indexedwarroom/stats?name=indexedwarroom
  response:
    body:
      string: '{"total": {"volume": 0.0, "sales": 0, "average_price": 0.0, "num_owners":
        10, "market_cap": 0.0, "floor_price": 0.0, "floor_price_symbol": ""}, "intervals":
        [{"interval": "one_day", "volume": 0.0, "volume_diff": 0.0, "volume_change":
        0.0, "sales": 0, "sales_diff": 0.0, "average_price": 0.0}, {"interval": "seven_day",
        "volume": 0.0, "volume_diff": 0.0, "volume_change": 0.0, "sales": 0, "sales_diff":
        0.0, "average_price": 0.0}, {"interval": "thirty_day", "volume": 0.0, "volume_diff":
        0.0, "volume_change": 0.0, "sales": 0, "sales_diff": 0.0, "average_price":
        0.0}]}'
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Tue, 29 Apr 2025 15:48:58 GMT
      allow:
      - GET, HEAD, OPTIONS
      x-trace-id:
      - '269580204370778137846448692958911107045'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.opensea.io/api/v2/collections/lobsterdao?collection_slug=lobsterdao
  response:
    body:
      string: '{"collection": "lobsterdao", "name": "lobsterdao", "description": "LobsterDAO
        is an OG collective of DeFi & NFT degens and whales. The community dates back
        to summer 2018, comprising most notable founders and researchers in the crypto
        scene. We were [...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.opensea.io/api/v2/collections/lobsterdao/stats?name=lobsterdao
  response:
    body:
      string: '{"total": {"volume": 3424.377611818663, "sales": 2459, "average_price":
        1.3925895127363412, "num_owners": 2048, "market_cap": 380.977798635, "floor_price":
        0.11876899, "floor_price_symbol": "ETH"}, "intervals": [{"interval": "one_day",
        "volume": 0.0, "volume_diff": 0.0, "volume_change": 0.0, "sales": 0, "sales_diff":
        0.0, "average_price": 0.0}, {"interval": "seven_day", "volume": 0.42975499,
        "volume_diff": 1.0, "volume_change": 0.13393912288617463, "sales": 4, "sales_diff":
        0.0, "average_price": 0.1074387475}, {"interval": "thirty_day", "volume":
        1.9857479900000004, "volume_diff": -18.0, "volume_change": -0.5765603881174539,
        "sales": 17, "sales_diff": 0.0, "average_price": 0.11680870529411767}]}'
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Tue, 29 Apr 2025 15:48:59 GMT
      allow:
      - GET, HEAD, OPTIONS
      x-trace-id:
      - '330232337605939865172142325737754248060'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.opensea.io/api/v2/collections/acclimatedmooncats?collection_slug=acclimatedmooncats
  response:
    body:
      string: '{"collection": "acclimatedmooncats", "name": "MoonCats", "description":
        "Launched on August 10th, 2017, the MoonCatRescue Insanely Cute Operation
        was a success! The 25440 MoonCats rescued are acclimating to their life as
        [fully on-cha[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.opensea.io/api/v2/collections/acclimatedmooncats/stats?name=acclimatedmooncats
  response:
    body:
      string: '{"total": {"volume": 22989.426488204714, "sales": 31552, "average_price":
        0.7286202614162245, "num_owners": 5405, "market_cap": 3877.874036136384, "floor_price":
        0.153499, "floor_price_symbol": "ETH"}, "intervals": [{"interval": "one_day",
        "volume": 1.655, "volume_diff": 0.13591662404100502, "volume_change": 0.08947278559207916,
        "sales": 8, "sales_diff": 0.1428571492433548, "average_price": 0.206875},
        {"interval": "seven_day", "volume": 8.834282375958995, "volume_diff": 2.0,
        "volume_change": -0.4723040607470239, "sales": 47, "sales_diff": 0.0, "average_price":
        0.1879634548076382}, {"interval": "thirty_day", "volume": 54.550053785822435,
        "volume_diff": -122.0, "volume_change": 0.08406075035780367, "sales": 198,
        "sales_diff": 0.0, "average_price": 0.27550532215061835}]}'
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Tue, 29 Apr 2025 15:48:59 GMT
      allow:
      - GET, HEAD, OPTIONS
      x-trace-id:
      - '89250879407725214671698992151427483257'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.opensea.io/api/v2/collections/best-hardware-for-mining-ethers?collection_slug=best-hardware-for-mining-ethers
  response:
    body:
      string: '{"collection": "best-hardware-for-mining-ethers", "name": "Best Hardware
        For Mining Ethers, With Dog For Scale", "description": "Best Hardware For
        Mining Ethers, With Dog For Scale\n\nhttps://ethereum.stackexchange.com/a/2722/1268",
        "image_url": "https://i.seadn.io/gae/LoGNJ724uz-i37RmwhaoUNTyuxIn-dOR8a6GF_f1lVKHKWubQmMdrxK7SGlbLBvIgVMNhIreGOGN9kghrIZuJbUvzh06Sk40-xMSGg?w=500&auto=format",
        "banner_image_url": "", "owner": "0x000001f568875f378bf6d170b790967fe429c81a",
        "safelist_status": "not_requested", "category": "", "is_disabled": false,
        "is_nsfw": false, "trait_offers_enabled": false, "collection_offers_enabled":
        true, "opensea_url": "https://opensea.io/collection/best-hardware-for-mining-ethers",
        "project_url": "", "wiki_url": "", "discord_url": "", "telegram_url": "",
        "twitter_username": "", "instagram_username": "", "contracts": [], "editors":
        ["0x000001f568875f378bf6d170b790967fe429c81a"], "fees": [{"fee": 0.5, "recipient":
        "0x0000a26b00c1f0df003000390027140000faa719", "required": true}], "payment_tokens":
        [{"symbol": "ETH", "address": "0x0000000000000000000000000000000000000000",
        "chain": "ethereum", "image": "https://raw.seadn.io/files/ETH.svg", "name":
        "Ether", "decimals": 18, "eth_price": "1.000000000000000", "usd_price": "1819.339999999999918000"},
        {"symbol": "DAI", "address": "0x6b175474e89094c44da98b954eedeac495271d0f",
        "chain": "ethereum", "image": "https://raw.seadn.io/files/DAI.svg", "name":
        "Dai Stablecoin", "decimals": 18, "eth_price": "0.000549760000000", "usd_price":
        "1.000000000000000000"}, {"symbol": "WETH", "address": "0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2",
        "chain": "ethereum", "image": "https://raw.seadn.io/files/WETH.svg", "name":
        "Wrapped Ether", "decimals": 18, "eth_price": "1.000000000000000", "usd_price":
        "1815.890000000000100000"}, {"symbol": "USDC", "address": "0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48",
        "chain": "ethereum", "image": "https://raw.seadn.io/files/USDC.svg", "name":
        "USD Coin", "decimals": 6, "eth_price": "0.000549640000000", "usd_price":
        "0.999993000000000000"}], "total_supply": 3, "created_date": "2021-03-15"}'
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Tue, 29 Apr 2025 15:48:59 GMT
      allow:
      - GET, HEAD, OPTIONS
      x-trace-id:
      - '160419976357620155555930989716461718260'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.opensea.io/api/v2/collections/best-hardware-for-mining-ethers/stats?name=best-hardware-for-mining-ethers
  response:
    body:
      string: '{"total": {"volume": 0.01, "sales": 1, "average_price": 0.01, "num_owners":
        3, "market_cap": 0.0, "floor_price": 0.0, "floor_price_symbol": ""}, "intervals":
        [{"interval": "one_day", "volume": 0.0, "volume_diff": 0.0, "volume_change":
        0.0, "sales": 0, "sales_diff": 0.0, "average_price": 0.0}, {"interval": "seven_day",
        "volume": 0.0, "volume_diff": 0.0, "volume_change": 0.0, "sales": 0, "sales_diff":
        0.0, "average_price": 0.0}, {"interval": "thirty_day", "volume": 0.0, "volume_diff":
        0.0, "volume_change": 0.0, "sales": 0, "sales_diff": 0.0, "average_price":
        0.0}]}'
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Tue, 29 Apr 2025 15:49:00 GMT
      allow:
      - GET, HEAD, OPTIONS
      x-trace-id:
      - '224771417620614798379093813029163847927'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.opensea.io/api/v2/collections/bastard-gan-punks-v2?collection_slug=bastard-gan-punks-v2
  response:
    body:
      string: '{"collection": "bastard-gan-punks-v2", "name": "BASTARD GAN PUNKS V2",
        "description": "VERSION 2 OF BASTARD GAN PUNKS ARE COOLER, BETTER AND GOOFIER
        THAN BOTH BOOMER CRYPTOPUNKS & VERSION 1 BASTARD GAN PUNKS. THIS TIME, ALL
        CRYPTO[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.opensea.io/api/v2/collections/bastard-gan-punks-v2/stats?name=bastard-gan-punks-v2
  response:
    body:
      string: '{"total": {"volume": 9402.252151230765, "sales": 18212, "average_price":
        0.5162668653212588, "num_owners": 2707, "market_cap": 862.2922628571429, "floor_price":
        0.09049899, "floor_price_symbol": "ETH"}, "intervals": [{"interval": "one_day",
        "volume": 0.0907, "volume_diff": -3.0, "volume_change": -0.7054228821788964,
        "sales": 1, "sales_diff": -0.75, "average_price": 0.0907}, {"interval": "seven_day",
        "volume": 1.068705, "volume_diff": 5.0, "volume_change": 0.10613895449812563,
        "sales": 14, "sales_diff": 0.0, "average_price": 0.07633607142857143}, {"interval":
        "thirty_day", "volume": 7.832881899999999, "volume_diff": -80.0, "volume_change":
        -0.45801792274625264, "sales": 68, "sales_diff": 0.0, "average_price": 0.11518943970588234}]}'
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Tue, 29 Apr 2025 15:49:00 GMT
      allow:
      - GET, HEAD, OPTIONS
      x-trace-id:
      - '37085940473176678629044610374934840719'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.opensea.io/api/v2/collections/kudos?collection_slug=kudos
  response:
    body:
      string: '{"collection": "kudos", "name": "Kudos", "description": "Kudos is a
        way of showing your appreciation for another Gitcoin member. It''s also a
        way to showcase special skills that a member might have, such as Pythonista,
        or Design Star.", "image_url": "https://i[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.opensea.io/api/v2/collections/kudos/stats?name=kudos
  response:
    body:
      string: '{"total": {"volume": 5.556978865085906, "sales": 215, "average_price":
        0.02584641332598096, "num_owners": 4623, "market_cap": 0.0, "floor_price":
        0.05, "floor_price_symbol": "ETH"}, "intervals": [{"interval": "one_day",
        "volume": 0.0, "volume_diff": 0.0, "volume_change": 0.0, "sales": 0, "sales_diff":
        0.0, "average_price": 0.0}, {"interval": "seven_day", "volume": 0.0, "volume_diff":
        0.0, "volume_change": 0.0, "sales": 0, "sales_diff": 0.0, "average_price":
        0.0}, {"interval": "thirty_day", "volume": 0.0, "volume_diff": 0.0, "volume_change":
        0.0, "sales": 0, "sales_diff": 0.0, "average_price": 0.0}]}'
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Tue, 29 Apr 2025 15:49:01 GMT
      allow:
      - GET, HEAD, OPTIONS
      x-trace-id:
      - '88840090114127255192401253226966676217'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.opensea.io/api/v2/collections/cryptovoxels-names?collection_slug=cryptovoxels-names
  response:
    body:
      string: '{"collection": "cryptovoxels-names", "name": "Cryptovoxels Names",
        "description": "Alert: these are not Cryptovoxels parcels. User names and
        avatars in Cryptovoxels are an ERC721 token. You can mint yourself any valid
        name just for th[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.opensea.io/api/v2/collections/cryptovoxels-names/stats?name=cryptovoxels-names
  response:
    body:
      string: '{"total": {"volume": 16.205194579676224, "sales": 195, "average_price":
        0.08310356194705756, "num_owners": 2600, "market_cap": 0.0, "floor_price":
        1e-06, "floor_price_symbol": "ETH"}, "intervals": [{"interval": "one_day",
        "volume": 0.0, "volume_diff": 0.0, "volume_change": 0.0, "sales": 0, "sales_diff":
        0.0, "average_price": 0.0}, {"interval": "seven_day", "volume": 0.0, "volume_diff":
        0.0, "volume_change": 0.0, "sales": 0, "sales_diff": 0.0, "average_price":
        0.0}, {"interval": "thirty_day", "volume": 0.0, "volume_diff": -0.01111, "volume_change":
        -1.0, "sales": 0, "sales_diff": 0.0, "average_price": 0.0}]}'
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Tue, 29 Apr 2025 15:49:01 GMT
      allow:
      - GET, HEAD, OPTIONS
      x-trace-id:
      - '171422660595050409897637486577357735732'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.opensea.io/api/v2/collections/poap-v2?collection_slug=poap-v2
  response:
    body:
      string: '{"collection": "poap-v2", "name": "POAP", "description": "The Proof
        of Attendance Protocol", "image_url": "https://i.seadn.io/gae/FwLriCvKAMBBFHMxcjqvxjTlmROcDIabIFKRp87NS3u_QfSLxcNThgAzOJSbphgQqnyZ_v2fNgMZQkdCYHUliJwH-Q?w=500&auto=format",
        "banner_image_url": "", "owner": "0xe583f95bf95d0883f94efe844442c8bfc9dd7a7f",
        "safelist_status": "verified", "category": "art", "is_disabled": false, "is_nsfw":
        false, "trait_offers_enabled": false, "collection_offers_enabled": true, "opensea_url":
        "https://opensea.io/collection/poap-v2", "project_url": "https://www.poap.xyz/",
        "wiki_url": "", "discord_url": "", "telegram_url": "", "twitter_username":
        "", "instagram_username": "", "contracts": [{"address": "0x22c1f6050e56d2876009903609a2cc3fef83b415",
        "chain": "ethereum"}], "editors": ["0xe583f95bf95d0883f94efe844442c8bfc9dd7a7f"],
        "fees": [{"fee": 0.5, "recipient": "0x0000a26b00c1f0df003000390027140000faa719",
        "required": true}], "rarity": {"strategy_id": "openrarity", "strategy_version":
        "0.7.5", "calculated_at": "2025-04-29T15:10:41.355390", "max_rank": 36823,
        "tokens_scored": 36824}, "total_supply": 36591, "created_date": "2019-05-27"}'
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Tue, 29 Apr 2025 15:49:01 GMT
      allow:
      - GET, HEAD, OPTIONS
      x-trace-id:
      - '138696973690258894199946712884233540193'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.opensea.io/api/v2/collections/poap-v2/stats?name=poap-v2
  response:
    body:
      string: '{"total": {"volume": 852.35469519278, "sales": 4822, "average_price":
        0.17676372774632518, "num_owners": 22668, "market_cap": 4360.427499999999,
        "floor_price": 0.00198999, "floor_price_symbol": "ETH"}, "intervals": [{"interval":
        "one_day", "volume": 0.0, "volume_diff": 0.0, "volume_change": -1.0, "sales":
        0, "sales_diff": 0.0, "average_price": 0.0}, {"interval": "seven_day", "volume":
        0.7149999999999999, "volume_diff": -1.0, "volume_change": -0.7533005964950054,
[...]
