interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - f6bc0f7f7a5944f9bd63366130edd306
    method: GET
    uri: https://api.opensea.io/api/v2/chain/ethereum/account/0x3Ba6eB0e4327B96aDe6D4f3b578724208a590CEF/nfts?limit=50&address=0x3Ba6eB0e4327B96aDe6D4f3b578724208a590CEF
  response:
    body:
      string: '{"nfts": [{"identifier": "1", "collection": "gashawk-nfts", "contract":
        "0xfd9d8036f899ed5a9fd8cac7968e5f24d3db2a64", "token_standard": "erc1155",
        "name": "GasHawk Nest NFT", "description": "This NFT celebrates GasHawk''s
        early achievements and might become useful sometime later", "image_url": "https://ipfs.io/ipfs/bafkreiadpakefxttuc5ry74hoswmlcp7ju5tq25lyghw2epa64u4nag3k4",
        "metadata_url": "https://ipfs.io/ipfs/bafkreia7gburv672hfnidgdp7iauifdjc4h5nhry5wkjw7ei7xgwzliwle",
        "opensea_url": "https://opensea.io/assets/ethereum/0xfd9d8036f899ed5a9fd8cac7968e5f24d3db2a64/1",
        "updated_at": "2023-06-06T15:16:03.529321", "is_disabled": false, "is_nsfw":
        false}, {"identifier": "255", "collection": "cranes-for-special-wallets",
        "contract": "0xc3f5e8a98b3d97f19938e4673fd97c7cfd155577", "token_standard":
        "erc721", "name": "Crane #2021/256", "description": "Cranes are tiny, randomly
        generated, fully on-chain tokens of luck for special wallets. Best to keep
        one around, just in case.", "image_url": "https://openseauserdata.com/files/68dee0fa58b6a7f09d9912c42059a40e.svg",
        "metadata_url": "data:applicatio[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - f6bc0f7f7a5944f9bd63366130edd306
    method: GET
    uri: https://api.opensea.io/api/v2/collections/gashawk-nfts?collection_slug=gashawk-nfts
  response:
    body:
      string: '{"collection": "gashawk-nfts", "name": "GasHawk NFTs", "description":
        "GasHawk - save gas fees on Ethereum", "image_url": "https://openseauserdata.com/files/73476b70ed04041d0072328f8ed27741.png",
        "banner_image_url": "", "owner": "0x44f00c29a0b8514d017ac20fbdb0aa5078b860ce",
        "safelist_status": "not_requested", "category": "", "is_disabled": false,
        "is_nsfw": false, "trait_offers_enabled": false, "collection_offers_enabled":
        true, "opensea_url": "https://opensea.io/collection/gashawk-nfts", "project_url":
        "", "wiki_url": "", "discord_url": "", "telegram_url": "", "twitter_username":
        "", "instagram_username": "", "contracts": [{"address": "0xfd9d8036f899ed5a9fd8cac7968e5f24d3db2a64",
        "chain": "ethereum"}], "editors": ["0x44f00c29a0b8514d017ac20fbdb0aa5078b860ce"],
        "fees": [{"fee": 2.5, "recipient": "0x0000a26b00c1f0df003000390027140000faa719",
        "required": true}], "total_supply": 1, "created_date": "2023-06-06"}'
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Tue, 30 Jan 2024 16:21:13 GMT
      allow:
      - GET, HEAD, OPTIONS
      x-trace-id:
      - '260510875459144264246710106729266652780'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - f6bc0f7f7a5944f9bd63366130edd306
    method: GET
    uri: https://api.opensea.io/api/v2/collections/gashawk-nfts/stats?name=gashawk-nfts
  response:
    body:
      string: '{"total": {"volume": 0.0, "sales": 0, "average_price": 0.0, "num_owners":
        132, "market_cap": 0.0, "floor_price": 0.0, "floor_price_symbol": ""}, "intervals":
        [{"interval": "one_day", "volume": 0.0, "volume_diff": 0.0, "volume_change":
        0.0, "sales": 0, "sales_diff": 0.0, "average_price": 0.0}, {"interval": "seven_day",
        "volume": 0.0, "volume_diff": 0.0, "volume_change": 0.0, "sales": 0, "sales_diff":
        0.0, "average_price": 0.0}, {"interval": "thirty_day", "volume": 0.0, "volume_diff":
        0.0, "volume_change": 0.0, "sales": 0, "sales_diff": 0.0, "average_price":
        0.0}]}'
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Tue, 30 Jan 2024 16:21:14 GMT
      allow:
      - GET, HEAD, OPTIONS
      x-trace-id:
      - '289954612366433271601145028926349381334'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - f6bc0f7f7a5944f9bd63366130edd306
    method: GET
    uri: https://api.opensea.io/api/v2/collections/cranes-for-special-wallets?collection_slug=cranes-for-special-wallets
  response:
    body:
      string: '{"collection": "cranes-for-special-wallets", "name": "Cranes (for special
        wallets)", "description": "2023 Cranes minting now for \u039e0.02 at [cranes.supply](https://cranes.su[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - f6bc0f7f7a5944f9bd63366130edd306
    method: GET
    uri: https://api.opensea.io/api/v2/collections/cranes-for-special-wallets/stats?name=cranes-for-special-wallets
  response:
    body:
      string: '{"total": {"volume": 45.451382546520776, "sales": 527, "average_price":
        0.08624550767840754, "num_owners": 815, "market_cap": 0.0, "floor_price":
        0.07, "floor_price_symbol": "ETH"}, "intervals": [{"interval": "one_day",
        "volume": 0.0, "volume_diff": 0.0, "volume_change": 0.0, "sales": 0, "sales_diff":
        0.0, "average_price": 0.0}, {"interval": "seven_day", "volume": 0.0, "volume_diff":
        0.0, "volume_change": 0.0, "sales": 0, "sales_diff": 0.0, "average_price":
        0.0}, {"interval": "thirty_day", "volume": 0.0026, "volume_diff": 1.0, "volume_change":
        0.0026, "sales": 1, "sales_diff": 0.0, "average_price": 0.0026}]}'
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Tue, 30 Jan 2024 16:21:14 GMT
      allow:
      - GET, HEAD, OPTIONS
      x-trace-id:
      - '193282842849327137639609936250512933787'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - f6bc0f7f7a5944f9bd63366130edd306
    method: GET
    uri: https://api.opensea.io/api/v2/collections/zerion-genesis-collection?collection_slug=zerion-genesis-collection
  response:
    body:
      string: '{"collection": "zerion-genesis-collection", "name": "Zerion Genesis
        Collection", "description": "The Zerion Genesis Collection has been deprecated
        as of May 2023. For a l[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - f6bc0f7f7a5944f9bd63366130edd306
    method: GET
    uri: https://api.opensea.io/api/v2/collections/zerion-genesis-collection/stats?name=zerion-genesis-collection
  response:
    body:
      string: '{"total": {"volume": 483.6424233269714, "sales": 12887, "average_price":
        0.03752948113036172, "num_owners": 51119, "market_cap": 0.1928882115384616,
        "floor_price": 0.015, "floor_price_symbol": "ETH"}, "intervals": [{"interval":
        "one_day", "volume": 0.031, "volume_diff": -0.0177, "volume_change": -0.36344969272613525,
        "sales": 1, "sales_diff": -0.75, "average_price": 0.0}, {"interval": "seven_day",
        "volume": 1.0030187000000004, "volume_diff": 44.0, "volume_change": 7.334250388453583,
        "sales": 52, "sales_diff": 0.0, "average_price": 0.019288821153846163}, {"interval":
        "thirty_day", "volume": 1.3719656999999998, "volume_diff": 48.0, "volume_change":
        3.0796494149481846, "sales": 76, "sales_diff": 0.0, "average_price": 0.018052180263157892}]}'
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Tue, 30 Jan 2024 16:21:15 GMT
      allow:
      - GET, HEAD, OPTIONS
      x-trace-id:
      - '52770145306163983846079877219410907899'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - f6bc0f7f7a5944f9bd63366130edd306
    method: GET
    uri: https://api.opensea.io/api/v2/collections/zapper-fi?collection_slug=zapper-fi
  response:
    body:
      string: '{"collection": "zapper-fi", "name": "Zapper - Season 1 Edition", "description":
        "\u26a1\ufe0f Zapper is Leveling Up \u26a1\ufe0f\r\n\r\nWe''re happy to introduce
        quests, levels and XP to the dashboard. [...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - f6bc0f7f7a5944f9bd63366130edd306
    method: GET
    uri: https://api.opensea.io/api/v2/collections/zapper-fi/stats?name=zapper-fi
  response:
    body:
      string: '{"total": {"volume": 653.7577240261448, "sales": 16072, "average_price":
        0.04067681209719667, "num_owners": 57391, "market_cap": 0.04623674411764703,
        "floor_price": 0.0048, "floor_price_symbol": "ETH"}, "intervals": [{"interval":
        "one_day", "volume": 0.0048, "volume_diff": -0.029996999999999996, "volume_change":
        -0.862057089805603, "sales": 1, "sales_diff": -0.75, "average_price": 0.0},
        {"interval": "seven_day", "volume": 0.4716147899999997, "volume_diff": 42.0,
        "volume_change": 13.692049532710268, "sales": 51, "sales_diff": 0.0, "average_price":
        0.009247348823529405}, {"interval": "thirty_day", "volume": 0.5591147899999996,
        "volume_diff": 45.0, "volume_change": 6.607004256068198, "sales": 65, "sales_diff":
        0.0, "average_price": 0.008601765999999993}]}'
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Tue, 30 Jan 2024 16:21:15 GMT
      allow:
      - GET, HEAD, OPTIONS
      x-trace-id:
      - '118488747308255678621716443577730802852'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - f6bc0f7f7a5944f9bd63366130edd306
    method: GET
    uri: https://api.opensea.io/api/v2/chain/ethereum/account/0xC21A5ee89D306353e065a6dd5779470DE395DBaC/nfts?next=LXBrPTEzMjk0NDgzNDI%3D&limit=50&address=0xC21A5ee89D306353e065a6dd5779470DE395DBaC
  response:
    body:
      string: '{"nfts": [{"identifier": "156730", "collection": "zerion-dna-onepointo",
        "contract": "0x932261f9fc8[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - f6bc0f7f7a5944f9bd63366130edd306
    method: GET
    uri: https://api.opensea.io/api/v2/chain/ethereum/account/0xC21A5ee89D306353e065a6dd5779470DE395DBaC/nfts?next=LXBrPTEyNzIxNzU2NDE%3D&limit=50&address=0xC21A5ee89D306353e065a6dd5779470DE395DBaC
  response:
    body:
      string: '{"nfts": [{"identifier": "452", "collection": "security-by-polygon",
        "contract": "0x775f5dd87cfc3d7[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - f6bc0f7f7a5944f9bd63366130edd306
    method: GET
    uri: https://api.opensea.io/api/v2/chain/ethereum/account/0xC21A5ee89D306353e065a6dd5779470DE395DBaC/nfts?next=LXBrPTExMzgzMzY1NDE%3D&limit=50&address=0xC21A5ee89D306353e065a6dd5779470DE395DBaC
  response:
    body:
      string: '{"nfts": [{"identifier": "154246", "collection": "to-ethereum-with-love",
        "contract": "0x2bd938cf96[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - f6bc0f7f7a5944f9bd63366130edd306
    method: GET
    uri: https://api.opensea.io/api/v2/chain/ethereum/account/0xC21A5ee89D306353e065a6dd5779470DE395DBaC/nfts?next=LXBrPTM1MTQ5NjcyMA%3D%3D&limit=50&address=0xC21A5ee89D306353e065a6dd5779470DE395DBaC
  response:
    body:
      string: '{"nfts": [{"identifier": "23", "collection": "zapper-season-2", "contract":
        "0xf1f3ca6268f330fda0[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - f6bc0f7f7a5944f9bd63366130edd306
    method: GET
    uri: https://api.opensea.io/api/v2/collections/nounish-punks-official?collection_slug=nounish-punks-official
  response:
    body:
      string: '{"collection": "nounish-punks-official", "name": "Nounish Punks", "description":
        "", "image_url": "https://raw.seadn.io/files/842568a4040be16946f42b73b565a477.gif",
        "banner_ima[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - f6bc0f7f7a5944f9bd63366130edd306
    method: GET
    uri: https://api.opensea.io/api/v2/collections/nounish-punks-official/stats?name=nounish-punks-official
  response:
    body:
      string: '{"total": {"volume": 2.6061744999999994, "sales": 229, "average_price":
        0.01138067467248908, "num_owners": 576, "market_cap": 18.583158125000008,
        "floor_price": 0.0134, "floor_price_symbol": "ETH"}, "intervals": [{"interval":
        "one_day", "volume": 0.2862910000000001, "volume_diff": 0.03419099999999997,
        "volume_change": 0.1356247514486313, "sales": 23, "sales_diff": -0.11538461595773697,
        "average_price": 0.012447434782608699}, {"interval": "seven_day", "volume":
        0.7212870000000003, "volume_diff": -4.0, "volume_change": -0.10710534378549352,
        "sales": 72, "sales_diff": 0.0, "average_price": 0.010017875000000004}, {"interval":
        "thirty_day", "volume": 2.6061744999999994, "volume_diff": 229.0, "volume_change":
        2.6061744999999994, "sales": 229, "sales_diff": 0.0, "average_price": 0.01138067467248908}]}'
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Tue, 30 Jan 2024 16:21:21 GMT
      allow:
      - GET, HEAD, OPTIONS
      x-trace-id:
      - '219097759306157591292786690371674430596'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - f6bc0f7f7a5944f9bd63366130edd306
    method: GET
    uri: https://api.opensea.io/api/v2/collections/mint-genesis-nft?collection_slug=mint-genesis-nft
  response:
    body:
      string: '{"collection": "mint-genesis-nft", "name": "Mint Genesis NFT", "description":
        "Mint Genesis NFT is a collection dedicated to early advocates of the Mint
        blockchain, collectively documentin[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - f6bc0f7f7a5944f9bd63366130edd306
    method: GET
    uri: https://api.opensea.io/api/v2/collections/mint-genesis-nft/stats?name=mint-genesis-nft
  response:
    body:
      string: '{"total": {"volume": 154.98802437412073, "sales": 11373, "average_price":
        0.013627716906191922, "num_owners": 31657, "market_cap": 567.7598308627793,
        "floor_price": 0.0105, "floor_price_symbol": "ETH"}, "intervals": [{"interval":
        "one_day", "volume": 5.752288999999998, "volume_diff": 4.028574100013098,
        "volume_change": 2.337146520614624, "sales": 39, "sales_diff": -0.770588219165802,
        "average_price": 0.1474945897435897}, {"interval": "seven_day", "volume":
        19.169496119094827, "volume_diff": -1427.0, "volume_change": -0.3650489835802481,
        "sales": 1264, "sales_diff": 0.0, "average_price": 0.015165740600549704},
        {"interval": "thirty_day", "volume": 154.98802437412073, "volume_diff": 11373.0,
        "volume_change": 154.98802437412073, "sales": 11373, "sales_diff": 0.0, "average_price":
        0.013627716906191922}]}'
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Tue, 30 Jan 2024 16:21:22 GMT
      allow:
      - GET, HEAD, OPTIONS
      x-trace-id:
      - '221524985061063466852375282337453491748'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - f6bc0f7f7a5944f9bd63366130edd306
    method: GET
    uri: https://api.opensea.io/api/v2/collections/masa-soul-name?collection_slug=masa-soul-name
  response:
    body:
      string: '{"collection": "masa-soul-name", "name": "Masa Soul Name", "description":
        "Masa Soul Names are a domain name for your web3 soulbound identity. Your
        Soulbound Identity and Soul Name will serve [...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - f6bc0f7f7a5944f9bd63366130edd306
    method: GET
    uri: https://api.opensea.io/api/v2/collections/masa-soul-name/stats?name=masa-soul-name
  response:
    body:
      string: '{"total": {"volume": 0.9382900000000002, "sales": 51, "average_price":
        0.018397843137254906, "num_owners": 9648, "market_cap": 0.0, "floor_price":
        0.009, "floor_price_symbol": "ETH"}, "intervals": [{"interval": "one_day",
        "volume": 0.0, "volume_diff": 0.0, "volume_change": 0.0, "sales": 0, "sales_diff":
        0.0, "average_price": 0.0}, {"interval": "seven_day", "volume": 0.0, "volume_diff":
        0.0, "volume_change": 0.0, "sales": 0, "sales_diff": 0.0, "average_price":
        0.0}, {"interval": "thirty_day", "volume": 0.08080000000000001, "volume_diff":
        -19.0, "volume_change": -0.8145895959062851, "sales": 4, "sales_diff": 0.0,
        "average_price": 0.020200000000000003}]}'
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Tue, 30 Jan 2024 16:21:23 GMT
      allow:
      - GET, HEAD, OPTIONS
      x-trace-id:
      - '186451051484966943608495412176899015366'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - f6bc0f7f7a5944f9bd63366130edd306
    method: GET
    uri: https://api.opensea.io/api/v2/collections/sofamon-seed?collection_slug=sofamon-seed
  response:
    body:
      string: '{"collection": "sofamon-seed", "name": "Sofamon Seed", "description":
        "Adorable and charming sidekicks on the Sofa.", "image_url": "https://raw.seadn.io/files/f3f43ccb2981b85c89e2f4e078dae9d5.png",
        "banner_image_url": "", "owner": "0x941c824bc80770251ee8529d7b0009943664027d",
        "safelist_status": "not_requested", "category": "pfps", "is_disabled": false,
        "is_nsfw": false, "trait_offers_enabled": false, "collection_offers_enabled":
        true, "opensea_url": "https://opensea.io/collection/sofamon-seed", "project_url":
        "https://sofamon.sofanft.io/", "wiki_url": "", "discord_url": "", "telegram_url":
        "", "twitter_username": "Sofa_NFT", "instagram_username": "", "contracts":
        [{"address": "0xd7b26749ccf89edd87ddd427d69406b66d83d913", "chain": "ethereum"}],
        "editors": ["0x941c824bc80770251ee8529d7b0009943664027d"], "fees": [{"fee":
        2.5, "recipient": "0x0000a26b00c1f0df003000390027140000faa719", "required":
        true}, {"fee": 5.0, "recipient": "0x941c824bc80770251ee8529d7b0009943664027d",
        "required": false}], "rarity": {"strategy_id": "openrarity", "strategy_version":
        "0.7.5", "calculated_at": "2024-01-30T04:49:08.740090", "max_rank": 6000,
        "tokens_scored": 6000}, "total_supply": 6000, "created_date": "2023-12-25"}'
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Tue, 30 Jan 2024 16:21:23 GMT
      allow:
      - GET, HEAD, OPTIONS
      x-trace-id:
      - '227741872042585404863130024178984817639'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - f6bc0f7f7a5944f9bd63366130edd306
    method: GET
    uri: https://api.opensea.io/api/v2/collections/sofamon-seed/stats?name=sofamon-seed
  response:
    body:
      string: '{"total": {"volume": 48.88765334475987, "sales": 1658, "average_price":
        0.029485918784535506, "num_owners": 1231, "market_cap": 116.21598202758602,
        "floor_price": 0.012499, "floor_price_symbol": "ETH"}, "intervals": [{"interval":
        "one_day", "volume": 0.22479999899999994, "volume_diff": 0.10579999899999995,
        "volume_change": 0.8890756368637085, "sales": 17, "sales_diff": 1.8333333730697632,
        "average_price": 0.013223529352941174}, {"interval": "seven_day", "volume":
        2.8085528989999955, "volume_diff": -352.0, "volume_change": -0.8550162332454547,
        "sales": 145, "sales_diff": 0.0, "average_price": 0.019369330337931003}, {"interval":
        "thirty_day", "volume": 48.36756334476056, "volume_diff": 1596.0, "volume_change":
        91.99844900836501, "sales": 1627, "sales_diff": 0.0, "average_price": 0.029728065977111594}]}'
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Tue, 30 Jan 2024 16:21:23 GMT
      allow:
      - GET, HEAD, OPTIONS
      x-trace-id:
      - '256583068335546665863318600543589467487'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - f6bc0f7f7a5944f9bd63366130edd306
    method: GET
    uri: https://api.opensea.io/api/v2/collections/the-ant-republic?collection_slug=the-ant-republic
  response:
    body:
      string: '{"collection": "the-ant-republic", "name": "The Ant Republic", "description":
        "You can only see us from the back because we will always be ahead of the
        game. \n\nThe Ant Republic is a new [...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - f6bc0f7f7a5944f9bd63366130edd306
    method: GET
    uri: https://api.opensea.io/api/v2/collections/the-ant-republic/stats?name=the-ant-republic
  response:
    body:
      string: '{"total": {"volume": 70.2960812638453, "sales": 4095, "average_price":
        0.01716632021095123, "num_owners": 1225, "market_cap": 90.7776086956494, "floor_price":
        0.0179, "floor_price_symbol": "ETH"}, "intervals": [{"interval": "one_day",
        "volume": 0.7768639999999001, "volume_diff": 0.5764639999999002, "volume_change":
        2.8765668869018555, "sales": 36, "sales_diff": 2.2727272510528564, "average_price":
        0.02157955555555278}, {"interval": "seven_day", "volume": 3.340615999999898,
        "volume_diff": -40.0, "volume_change": -0.23557114845242008, "sales": 184,
        "sales_diff": 0.0, "average_price": 0.01815552173912988}, {"interval": "thirty_day",
        "volume": 23.013720795987833, "volume_diff": -1395.0, "volume_change": -0.5132704761719188,
        "sales": 1350, "sales_diff": 0.0, "average_price": 0.017047200589620618}]}'
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Tue, 30 Jan 2024 16:21:24 GMT
      allow:
      - GET, HEAD, OPTIONS
      x-trace-id:
      - '226893673612139714647628946088084277516'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - f6bc0f7f7a5944f9bd63366130edd306
    method: GET
    uri: https://api.opensea.io/api/v2/collections/sofa-vision?collection_slug=sofa-vision
  response:
    body:
      string: '{"collection": "sofa-vision", "name": "Sofa Vision", "description":
        "Reveal here: https://reveal.sofanft.io/\r\nNow you are the real Sofa Maker.",
        "image_url": "https://raw.seadn.io/files/27739eb74a[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - f6bc0f7f7a5944f9bd63366130edd306
    method: GET
    uri: https://api.opensea.io/api/v2/collections/sofa-vision/stats?name=sofa-vision
  response:
    body:
      string: '{"total": {"volume": 690.5362310170883, "sales": 6639, "average_price":
        0.10401208480450193, "num_owners": 1276, "market_cap": 274.61681228951727,
        "floor_price": 0.05249, "floor_price_symbol": "ETH"}, "intervals": [{"interval":
        "one_day", "volume": 1.2352396000000005, "volume_diff": -3.7567384000000006,
        "volume_change": -0.7525550723075867, "sales": 24, "sales_diff": -0.75, "average_price":
        0.05146831666666669}, {"interval": "seven_day", "volume": 14.57102470000006,
        "volume_diff": -4.0, "volume_change": -0.12731537243649488, "sales": 248,
        "sales_diff": 0.0, "average_price": 0.05875413185483895}, {"interval": "thirty_day",
        "volume": 117.03035449190004, "volume_diff": -687.0, "volume_change": -0.3929966985041356,
        "sales": 1460, "sales_diff": 0.0, "average_price": 0.0801577770492466}]}'
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Tue, 30 Jan 2024 16:21:25 GMT
      allow:
      - GET, HEAD, OPTIONS
      x-trace-id:
      - '98613715593780711808965851845777034108'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - f6bc0f7f7a5944f9bd63366130edd306
    method: GET
    uri: https://api.opensea.io/api/v2/collections/sofa-maker?collection_slug=sofa-maker
  response:
    body:
      string: '{"collection": "sofa-maker", "name": "Sofa Maker", "description": "We
        are Sofa Makers.", "image_url": "https://raw.seadn.io/files/27739eb74ab600dcecae22b22115c1bc.gif",
        "banner_image_url": "", "owner"[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - f6bc0f7f7a5944f9bd63366130edd306
    method: GET
    uri: https://api.opensea.io/api/v2/collections/sofa-maker/stats?name=sofa-maker
  response:
    body:
      string: '{"total": {"volume": 2281.9651472595615, "sales": 15526, "average_price":
        0.14697701579669983, "num_owners": 303, "market_cap": 79.83023778947371, "floor_price":
        0.0907, "floor_price_symbol": "ETH"}, "intervals": [{"interval": "one_day",
        "volume": 0.1718, "volume_diff": 0.011800000000000005, "volume_change": 0.07374999672174454,
        "sales": 2, "sales_diff": 0.0, "average_price": 0.0859}, {"interval": "seven_day",
        "volume": 1.7196990000000005, "volume_diff": -21.0, "volume_change": -0.6197102835069555,
        "sales": 19, "sales_diff": 0.0, "average_price": 0.09051047368421056}, {"interval":
        "thirty_day", "volume": 48.84250786207999, "volume_diff": -277.0, "volume_change":
        -0.4536300047912139, "sales": 369, "sales_diff": 0.0, "average_price": 0.13236451995143628}]}'
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Tue, 30 Jan 2024 16:21:25 GMT
      allow:
      - GET, HEAD, OPTIONS
      x-trace-id:
      - '313110577504761325795867185997704088088'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - f6bc0f7f7a5944f9bd63366130edd306
    method: GET
    uri: https://api.opensea.io/api/v2/collections/nounish-punk?collection_slug=nounish-punk
  response:
    body:
      string: '{"collection": "nounish-punk", "name": "Nounish Punk", "description":
        "NOTE: This collection is locked. Please check the new collection: https://opensea.io/collection/nounish-punks-official\n\nExciting
  [...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - f6bc0f7f7a5944f9bd63366130edd306
    method: GET
    uri: https://api.opensea.io/api/v2/collections/nounish-punk/stats?name=nounish-punk
  response:
    body:
      string: '{"total": {"volume": 638.2783731681138, "sales": 10351, "average_price":
        0.06166345021428981, "num_owners": 1425, "market_cap": 0.0, "floor_price":
        9.9e-05, "floor_price_symbol": "ETH"}, "intervals": [{"interval": "one_day",
        "volume": 0.0, "volume_diff": 0.0, "volume_change": 0.0, "sales": 0, "sales_diff":
        0.0, "average_price": 0.0}, {"interval": "seven_day", "volume": 0.0, "volume_diff":
        0.0, "volume_change": 0.0, "sales": 0, "sales_diff": 0.0, "average_price":
        0.0}, {"interval": "thirty_day", "volume": 0.0, "volume_diff": 0.0, "volume_change":
        -1.0, "sales": 0, "sales_diff": 0.0, "average_price": 0.0}]}'
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Tue, 30 Jan 2024 16:21:26 GMT
      allow:
      - GET, HEAD, OPTIONS
      x-trace-id:
      - '299049847575850956091121812281023166393'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - f6bc0f7f7a5944f9bd63366130edd306
    method: GET
    uri: https://api.opensea.io/api/v2/collections/simpspunks?collection_slug=simpspunks
  response:
    body:
      string: '{"collection": "simpspunks", "name": "SimpsPunks", "description": "New
        twitter:\nhttps://twitter.com/SimpsPunk", "image_url": "https://raw.seadn.io/files/3374671a998fd84ee7da08cebc680c4a.gif",
        "banner_image_url": "https://raw.seadn.io/files/b282abdf6c6563d4bfa780e87641648e.jpg",
        "owner": "0x5aac0a0fcaf32e94615ea3473df197d697a77693", "safelist_status":
        "approved", "category": "pfps", "is_disabled": false, "is_nsfw": false, "trait_offers_enabled":
        false, "collection_offers_enabled": true, "opensea_url": "https://opensea.io/collection/simpspunk[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - f6bc0f7f7a5944f9bd63366130edd306
    method: GET
    uri: https://api.opensea.io/api/v2/collections/simpspunks/stats?name=simpspunks
  response:
    body:
      string: '{"total": {"volume": 79.37277983005023, "sales": 5242, "average_price":
        0.015141697792836748, "num_owners": 1067, "market_cap": 2.30152, "floor_price":
        0.00076, "floor_price_symbol": "ETH"}, "intervals": [{"interval": "one_day",
        "volume": 0.0, "volume_diff": 0.0, "volume_change": -1.0, "sales": 0, "sales_diff":
[...]
