interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.etherscan.io/v2/api?action=txlist&chainid=1&address=0x95222290DD7278Aa3Ddd389Cc1E1d165CC4BAfe5&module=account&offset=1&page=1
  response:
    body:
      string: '{"status":"1","message":"OK","result":[{"blockNumber":"15688488","timeStamp":"1665052355","hash":"0xf97d03429d58c1508e68109d0f2a52d6f7ce41bb799a4f21ce941a1575562c1b","nonce":"0","blockHash":"0x36dbb7b20a027be9a42edd3cf8b9142427841cd8155b249c06b2198f5be73ffd","transactionIndex":"249","from":"0x95222290dd7278aa3ddd389cc1e1d165cc4bafe5","to":"0x0b3b161b8abeb6b04cb95c3e6047f80c120a0292","value":"58111783231682072","gas":"30000","gasPrice":"4835293352","isError":"0","txreceipt_status":"1","input":"0x","contractAddress":"","cumulativeGasUsed":"19531392","gasUsed":"21000","confirmations":"3132263","methodId":"0x","functionName":""}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.etherscan.io/v2/api?action=txlistinternal&chainid=1&address=0x3C69Bc9B9681683890ad82953Fe67d13Cd91D5EE&module=account&offset=1&page=1
  response:
    body:
      string: '{"status":"0","message":"No transactions found","result":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.etherscan.io/v2/api?action=tokentx&chainid=1&address=0x3C69Bc9B9681683890ad82953Fe67d13Cd91D5EE&module=account&offset=1&page=1
  response:
    body:
      string: '{"status":"0","message":"No transactions found","result":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.etherscan.io/v2/api?action=balance&chainid=1&address=0x3C69Bc9B9681683890ad82953Fe67d13Cd91D5EE&module=account
  response:
    body:
      string: '{"status":"1","message":"OK","result":"960071318000000000"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.etherscan.io/v2/api?action=tokentx&chainid=1&address=0x014cd0535b2Ea668150a681524392B7633c8681c&module=account&offset=1&page=1
  response:
    body:
      string: '{"status":"1","message":"OK","result":[{"blockNumber":"17777418","timeStamp":"1690376507","hash":"0xfac14479d8732e9084d5cc8083253f57a0b9ce29d08aa2ceea51fe5c9caabfb2","nonce":"2","blockHash":"0x4fd6a1459912cddb366fbc3591ce339b030d7be89b43e676dacb7a44f606923d","from":"0x67288250e971c203a03363a64fa149517aed160c","contractAddress":"0xe5097d9baeafb89f9bcb78c9290d545db5f9e9cb","to":"0x014cd0535b2ea668150a681524392b7633c8681c","value":"1500000000000000000000","tokenName":"Hummingbot
        Governance Token","tokenSymbol":"HBOT","tokenDecimal":"18","transactionIndex":"167","gas":"78588","gasPrice":"41320593630","gasUsed":"52392","cumulativeGasUsed":"16586332","input":"deprecated","confirmations":"1043333"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.etherscan.io/v2/api?action=balance&chainid=1&address=0x6c66149E65c517605e0a2e4F707550ca342f9c1B&module=account
  response:
    body:
      string: '{"status":"1","message":"OK","result":"0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
