interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://data-api.cryptocompare.com/index/cc/v1/historical/days?limit=1&market=cadli&to_ts=1579543935&instrument=BTC-USD
  response:
    body:
      string: '{"Data":[{"UNIT":"DAY","TIMESTAMP":1579478400,"TYPE":"267","MARKET":"cadli","INSTRUMENT":"BTC-USD","OPEN":8729.45710683362,"HIGH":8949.48659541446,"LOW":8534.38838916284,"CLOSE":8827.25596417741,"FIRST_MESSAGE_TIMESTAMP":1579478400,"LAST_MESSAGE_TIMESTAMP":1579564740,"FIRST_MESSAGE_VALUE":8711.65837880698,"HIGH_MESSAGE_VALUE":8949.48659541446,"HIGH_MESSAGE_TIMESTAMP":1579479060,"LOW_MESSAGE_VALUE":8534.38838916284,"LOW_MESSAGE_TIMESTAMP":1579526760,"LAST_MESSAGE_VALUE":8827.25596417741,"TOTAL_INDEX_UPDATES":1440,"VOLUME":485209.737960893,"QUOTE_VOLUME":4260396523.1599,"VOLUME_TOP_TIER":92601.6628306658,"QUOTE_VOLUME_TOP_TIER":809264238.507871,"VOLUME_DIRECT":64891.6509404861,"QUOTE_VOLUME_DIRECT":562354596.427923,"VOLUME_TOP_TIER_DIRECT":23935.5729475491,"QUOTE_VOLUME_TOP_TIER_DIRECT":206730843.903698}],"Err":{}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-CryptoCompare-Cache-Hit:
      - 'false'
      X-CryptoCompare-Server-Id:
      - cc-api-data-01
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.x-rates.com/historical/?from=GBP&amount=1&date=2019-01-20
  response:
    body:
      string: "<!DOCTYPE html>\n<html>\n    <head>\n        <meta http-equiv=\"Content-Type\"
        content=\"text/html; charset=utf-8\"/>\n<meta name=\"format-detection\" content=\"telephone=no\"/>\n<meta
        name=\"description\" content=\"Get historic exchange rates for past British
        Pound foreign expenses. Select your currencies and the date to get histroical
        rate tables.\"/>\n<meta name=\"keywords\" content=\"1 GBP to EUR, historical
        exchange rates, historic rates, x-rates, historic currency table, past exchange
        rates, currency lookup\"/>\n<link rel=\"canonical\" href=\"https://www.x-rates.com/historical/?from=GBP&amount=1&date=2019-01-20\"/>\n\t\t\t<script
        type='text/javascript'>\n\t\t\t\tvar e9AdSlots  = { \n\t\t\t\t  output_lb
        : {site:'ExchangeRates', adSpace:'Homepage', size:'728x90,468x60', noAd: '1'},\noutput_rs
        : {site:'ExchangeRates', adSpace:'Homepage', size:'300x250,300x600,160x600',
        noAd: '1'},\nros_ls : {site:'XEInternal', adSpace:'HRROS', size:'300x250',
        rsize: '238x230', noAd: '1', async: false},\nros_ms : {site:'XEInternal',
        adSpace:'HRROS', size:'468x60', rsize: '300x90', noAd: '1', async: false}\n\t\t\t\t};\t\t\t\n\t\t\t</script>\t\t<link
        rel='stylesheet' href='/themes/x-rates/t_css/output_resp.2e.css' type='text/css'
        /><script src='/themes/x-rates/t_js/output.1e.js' type='text/javascript'></script>
        \           <script>\n                if (!gdprIsCookieTagAllowed(\"tag_GoogleAnalytics\"))
        {\n                            window['ga-disable-UA-851277-2'] = true;\n
        \               }\n\n                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){\n
        \               (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),\n
        \               m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)\n
        \               })(window,document,'script','//www.google-analytics.com/analytics.js','ga');\n
        \               ga('create', 'UA-851277-2', 'auto');\n                ga('require',
        'displayfeatures');\n                ga('send', 'pageview');;\n                \n
        \           </script><script type=\"text/javascript\">\n    var converterToolExcludeArgs
        = {ratestable: ['to'],historicallookup: ['to']};\n</script>        <script
        async src=\"https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2110917264626924&ivt=false\"
        crossorigin=\"anonymous\"></script>\n        <script async src=\"https://securepubads.g.doubleclick.net/tag/js/gpt.js\"></script>\n
        \       <title>GBP Historical Exchange Rates (British Pound) - X-Rates</title>\n
        \       <!--[if IE]><script src=\"http://html5shiv.googlecode.com/svn/trunk/html5.js\"></script><![endif]-->\n
        \   </head>\n\n    <body>\n                <div id=\"skip\"><a href=\"#content\">Skip
        to Main Content</a></div>\n        <header>\n            \t<div class=\"navbar
        clearfix\">\t\n\t<div class=\"navbar-inner\">\t\t                \n\t\t<div
        class=\"wrapper clearfix\">\n\t\t\t<a href='https://www.x-rates.com/' class='brand'><img
        alt='xrates logo' src='/themes/x-rates/images/xrates_sm_tm.png' border='0'/></a>\n\t\t\t<div
        id=\"headerTri\"></div>  \n\t\t\t<!--[if !IE 8]><!-->\n\t\t\t\t<a class=\"navtoggle\"
        id=\"navtoggle\">\n\t\t\t\t\t<div class=\"nav-icon\"></div>\n\t\t\t\t</a>\t\t\t\n\t\t\t
        <!--<![endif]-->\n\t\t\t<nav class=\"nav-collapse\">\n\t\t\t\t<ul class='nav'><li><a
        href='https://www.x-rates.com/' rel='homepage'>Home</a></li>\n<li><a href='https://www.x-rates.com/calculator/'
        onclick=\"submitConverterArgs(this)\" rel='currencycalculator'>Currency Calculator</a></li>\n<li><a
        href='https://www.x-rates.com/graph/' onclick=\"submitConverterArgs(this)\"
        rel='currencygraph'>Graphs</a></li>\n<li><a href='https://www.x-rates.com/table/'
        onclick=\"submitConverterArgs(this)\" rel='ratestable'>Rates Table</a></li>\n<li><a
   [...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://data-api.cryptocompare.com/index/cc/v1/historical/days?limit=1&market=cadli&to_ts=1611166335&instrument=XRP-USD
  response:
    body:
      string: '{"Data":[{"UNIT":"DAY","TIMESTAMP":1611100800,"TYPE":"267","MARKET":"cadli","INSTRUMENT":"XRP-USD","OPEN":0.294477720002141,"HIGH":0.310568217984501,"LOW":0.281950296964153,"CLOSE":0.295715040703119,"FIRST_MESSAGE_TIMESTAMP":1611100800,"LAST_MESSAGE_TIMESTAMP":1611187140,"FIRST_MESSAGE_VALUE":0.295025728669104,"HIGH_MESSAGE_VALUE":0.310568217984501,"HIGH_MESSAGE_TIMESTAMP":1611127140,"LOW_MESSAGE_VALUE":0.281950296964153,"LOW_MESSAGE_TIMESTAMP":1611158760,"LAST_MESSAGE_VALUE":0.295715040703119,"TOTAL_INDEX_UPDATES":1440,"VOLUME":4112593311.51974,"QUOTE_VOLUME":1199638220.50124,"VOLUME_TOP_TIER":1600437824.22988,"QUOTE_VOLUME_TOP_TIER":467058192.412865,"VOLUME_DIRECT":199003774.709965,"QUOTE_VOLUME_DIRECT":57840450.7144919,"VOLUME_TOP_TIER_DIRECT":178224067.250802,"QUOTE_VOLUME_TOP_TIER_DIRECT":51800514.9649279}],"Err":{}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-CryptoCompare-Cache-Hit:
      - 'false'
      X-CryptoCompare-Server-Id:
      - cc-api-data-08
    status:
      code: 200
      message: OK
version: 1
