interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://min-api.cryptocompare.com/data/pricehistorical?fsym=ETH&tsyms=EUR&ts=1691693607
  response:
    body:
      string: '{"ETH":{"EUR":1698.56}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-CryptoCompare-Cache-HIT:
      - 'false'
      X-CryptoCompare-Server-Id:
      - cc-api-min-v2-13
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://min-api.cryptocompare.com/data/pricehistorical?fsym=USDT&tsyms=EUR&ts=1569924575
  response:
    body:
      string: '{"USDT":{"EUR":0.9193}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-CryptoCompare-Cache-HIT:
      - 'false'
      X-CryptoCompare-Server-Id:
      - cc-api-min-v2-21
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://min-api.cryptocompare.com/data/pricehistorical?fsym=DAI&tsyms=EUR&ts=1569924574
  response:
    body:
      string: '{"DAI":{"EUR":0.9206}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-CryptoCompare-Cache-HIT:
      - 'false'
      X-CryptoCompare-Server-Id:
      - cc-api-min-v2-19
    status:
      code: 200
      message: OK
version: 1
