interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://data-api.cryptocompare.com/index/cc/v1/historical/days?instrument=USDT-EUR&limit=1&market=cadli&to_ts=1722153221
  response:
    body:
      string: '{"Data":[{"UNIT":"DAY","TIMESTAMP":1722124800,"TYPE":"986","MARKET":"cadli","INSTRUMENT":"USDT-EUR","OPEN":0.920062483976993,"HIGH":0.921563684532167,"LOW":0.919818478963742,"CLOSE":0.921412764643466,"FIRST_MESSAGE_TIMESTAMP":1722124800,"LAST_MESSAGE_TIMESTAMP":1722211199,"FIRST_MESSAGE_VALUE":0.921548929260935,"HIGH_MESSAGE_VALUE":0.921563684532167,"HIGH_MESSAGE_TIMESTAMP":1722176780,"LOW_MESSAGE_VALUE":0.921304450658412,"LOW_MESSAGE_TIMESTAMP":1722200902,"LAST_MESSAGE_VALUE":0.921412764643466,"TOTAL_INDEX_UPDATES":0,"VOLUME":189939118.606831,"QUOTE_VOLUME":174769836.589261,"VOLUME_TOP_TIER":185240932.517507,"QUOTE_VOLUME_TOP_TIER":170432361.840324,"VOLUME_DIRECT":0,"QUOTE_VOLUME_DIRECT":0,"VOLUME_TOP_TIER_DIRECT":0,"QUOTE_VOLUME_TOP_TIER_DIRECT":0}],"Err":{}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-CryptoCompare-Cache-Hit:
      - 'false'
      X-CryptoCompare-Server-Id:
      - cc-api-data-01
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://data-api.cryptocompare.com/index/cc/v1/historical/days?instrument=ETH-EUR&limit=1&market=cadli&to_ts=1722153221
  response:
    body:
      string: '{"Data":[{"UNIT":"DAY","TIMESTAMP":1722124800,"TYPE":"986","MARKET":"cadli","INSTRUMENT":"ETH-EUR","OPEN":2989.40521671577,"HIGH":3024.48821857894,"LOW":2945.11195556873,"CLOSE":3014.11889310502,"FIRST_MESSAGE_TIMESTAMP":1722124800,"LAST_MESSAGE_TIMESTAMP":1722211199,"FIRST_MESSAGE_VALUE":2994.23444350358,"HIGH_MESSAGE_VALUE":3024.48821857894,"HIGH_MESSAGE_TIMESTAMP":1722191494,"LOW_MESSAGE_VALUE":2949.86979975614,"LOW_MESSAGE_TIMESTAMP":1722143392,"LAST_MESSAGE_VALUE":3014.11889310502,"TOTAL_INDEX_UPDATES":0,"VOLUME":1510396.0878881,"QUOTE_VOLUME":4518020110.17431,"VOLUME_TOP_TIER":879390.206769225,"QUOTE_VOLUME_TOP_TIER":2630288778.79588,"VOLUME_DIRECT":0,"QUOTE_VOLUME_DIRECT":0,"VOLUME_TOP_TIER_DIRECT":0,"QUOTE_VOLUME_TOP_TIER_DIRECT":0}],"Err":{}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-CryptoCompare-Cache-Hit:
      - 'false'
      X-CryptoCompare-Server-Id:
      - cc-api-data-09
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://data-api.cryptocompare.com/index/cc/v1/historical/days?instrument=DAI-EUR&limit=1&market=cadli&to_ts=1569924574
  response:
    body:
      string: '{"Data":[{"UNIT":"DAY","TIMESTAMP":1569888000,"TYPE":"986","MARKET":"cadli","INSTRUMENT":"DAI-EUR","OPEN":0.929539279835874,"HIGH":0.955696989525397,"LOW":0.921347296523439,"CLOSE":0.948283369504795,"FIRST_MESSAGE_TIMESTAMP":1569888000,"LAST_MESSAGE_TIMESTAMP":1569974340,"FIRST_MESSAGE_VALUE":0.925867859982441,"HIGH_MESSAGE_VALUE":0.9525511695303,"HIGH_MESSAGE_TIMESTAMP":1569926760,"LOW_MESSAGE_VALUE":0.921347296523439,"LOW_MESSAGE_TIMESTAMP":1569948360,"LAST_MESSAGE_VALUE":0.948283369504795,"TOTAL_INDEX_UPDATES":0,"VOLUME":190410.530635667,"QUOTE_VOLUME":175931.689062417,"VOLUME_TOP_TIER":29226.8945393,"QUOTE_VOLUME_TOP_TIER":26882.1954521023,"VOLUME_DIRECT":0,"QUOTE_VOLUME_DIRECT":0,"VOLUME_TOP_TIER_DIRECT":0,"QUOTE_VOLUME_TOP_TIER_DIRECT":0}],"Err":{}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-CryptoCompare-Cache-Hit:
      - 'false'
      X-CryptoCompare-Server-Id:
      - cc-api-data-19
    status:
      code: 200
      message: OK
version: 1
