interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://data-api.cryptocompare.com/index/cc/v1/historical/days?instrument=ETH-EUR&limit=1&market=cadli&to_ts=1691693607
  response:
    body:
      string: '{"Data":[{"UNIT":"DAY","TIMESTAMP":1691625600,"TYPE":"986","MARKET":"cadli","INSTRUMENT":"ETH-EUR","OPEN":1690.01956795886,"HIGH":1697.93228634732,"LOW":1680.91778450994,"CLOSE":1685.70265461893,"FIRST_MESSAGE_TIMESTAMP":1691625600,"LAST_MESSAGE_TIMESTAMP":1691711940,"FIRST_MESSAGE_VALUE":1688.96694675354,"HIGH_MESSAGE_VALUE":1697.25197348937,"HIGH_MESSAGE_TIMESTAMP":1691676060,"LOW_MESSAGE_VALUE":1680.91778450994,"LOW_MESSAGE_TIMESTAMP":1691689500,"LAST_MESSAGE_VALUE":1685.70265461893,"TOTAL_INDEX_UPDATES":0,"VOLUME":1261494.84673852,"QUOTE_VOLUME":2127806607.06191,"VOLUME_TOP_TIER":512394.254566634,"QUOTE_VOLUME_TOP_TIER":864400984.518725,"VOLUME_DIRECT":0,"QUOTE_VOLUME_DIRECT":0,"VOLUME_TOP_TIER_DIRECT":0,"QUOTE_VOLUME_TOP_TIER_DIRECT":0}],"Err":{}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-CryptoCompare-Cache-Hit:
      - 'false'
      X-CryptoCompare-Server-Id:
      - cc-api-data-23
      X-RateLimit-Limit:
      - 100000, 1;window=1;burst=50;policy="fixed window", 3;window=60;burst=2500;policy="fixed
        window", 139;window=3600;burst=25000;policy="fixed window", 3334;window=86400;burst=50000;policy="fixed
        window", 100000;window=2592000;policy="fixed window"
      X-RateLimit-Remaining:
      - '99678'
      X-RateLimit-Remaining-All:
      - 99678, 49;window=1, 2499;window=60, 24999;window=3600, 49685;window=86400,
        99678;window=2592000
      X-RateLimit-Reset:
      - '1408736'
      X-RateLimit-Reset-All:
      - 1408736, 1;window=1, 56;window=60, 1136;window=3600, 26336;window=86400, 1408736;window=2592000
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://data-api.cryptocompare.com/index/cc/v1/historical/days?instrument=USDT-EUR&limit=1&market=cadli&to_ts=1569924575
  response:
    body:
      string: '{"Data":[{"UNIT":"DAY","TIMESTAMP":1569888000,"TYPE":"986","MARKET":"cadli","INSTRUMENT":"USDT-EUR","OPEN":0.936165974132582,"HIGH":0.949306515128895,"LOW":0.922132843643903,"CLOSE":0.931974193378073,"FIRST_MESSAGE_TIMESTAMP":1569888000,"LAST_MESSAGE_TIMESTAMP":1569974340,"FIRS[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://data-api.cryptocompare.com/index/cc/v1/historical/days?instrument=DAI-EUR&limit=1&market=cadli&to_ts=1569924574
  response:
    body:
      string: '{"Data":[{"UNIT":"DAY","TIMESTAMP":1569888000,"TYPE":"986","MARKET":"cadli","INSTRUMENT":"DAI-EUR","OPEN":0.929539279835874,"HIGH":0.955696989525397,"LOW":0.921347296523439,"CLOSE":0.948283369504795,"FIRST_MESSAGE_TIMESTAMP":1569888000,"LAST_MESSAGE_TIMESTAMP":1569974340,"FIRST_[...]
