interactions:
- request:
    body: null
    headers:
      api-expires:
      - '1705399254'
      api-key:
      - XY98JYVL15Zn-iU9f7OsJeVf
      api-signature:
      - caccd207226d7604f44f168d7aa6a755dbd0efe6c9e55f45c3cf98e4cdc03b35
    method: GET
    uri: https://testnet.bitmex.com/api/v1/user/walletHistory?currency=all
  response:
    body:
      string: '[{"transactID":"771df10b-9dc5-f592-27b7-391d761c475f","account":126541,"currency":"XBt","transactType":"RealisedPNL","amount":-12811,"walletBalance":103201735,"fee":0,"transactStatus":"Completed","address":"XBTUSD","tx":"2aecf0ea-eb77-8b7a-4dfc-8af7ff06ba6c","transactTime":"2021-05-31T12:00:00.000Z","timestamp":"2021-05-31T12:00:00.115Z"},{"transactID":"ef565200-41ae-509e-3052-feeedcfe7b3f","account":126541,"currency":"XBt","transactType":"RealisedPNL","amount":30,"walletBalance":103214474,"fee":0,"transactStatus":"Completed","address":"XBTUSD","tx":"6f41b6d9-bbf8-f8ce-68ee-87ded0341faa","transactTime":"2021-05-30T12:00:00.000Z","timestamp":"2021-05-30T12:00:00.122Z"},{"transactID":"236af42e-2cf3-5c93-e622-384baa0e18ad","account":126541,"currency":"XBt","transactType":"RealisedPNL","amount":25,"walletB[...]
[...]
