interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://coins.llama.fi/prices/historical/1724451200/coingecko:polygon-ecosystem-token
  response:
    body:
      string: '{"coins":{"coingecko:polygon-ecosystem-token":{"symbol":"POL","price":0.540342,"timestamp":1724450278,"confidence":0.99}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      last-modified:
      - Thu, 27 Aug 2026 11:28:58 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://coins.llama.fi/prices/historical/1726451200/coingecko:polygon-ecosystem-token
  response:
    body:
      string: '{"coins":{"coingecko:polygon-ecosystem-token":{"symbol":"POL","price":0.383261,"timestamp":1726451074,"confidence":0.99}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      last-modified:
      - Thu, 27 Aug 2026 11:28:58 GMT
    status:
      code: 200
      message: OK
version: 1
