interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://data-api.cryptocompare.com/index/cc/v1/historical/days?limit=1&market=cadli&to_ts=1724451200&instrument=POL-USD
  response:
    body:
      string: '{"Data":[{"UNIT":"DAY","TIMESTAMP":1724371200,"TYPE":"267","MARKET":"cadli","INSTRUMENT":"POL-USD","OPEN":0.531930427143187,"HIGH":0.565529741948366,"LOW":0.521730690969298,"CLOSE":0.545953853543541,"FIRST_MESSAGE_TIMESTAMP":1724371205,"LAST_MESSAGE_TIMESTAMP":1724457594,"FIRST_MESSAGE_VALUE":0.531935352544575,"HIGH_MESSAGE_VALUE":0.565529741948366,"HIGH_MESSAGE_TIMESTAMP":1724400033,"LOW_MESSAGE_VALUE":0.521730690969298,"LOW_MESSAGE_TIMESTAMP":1724424717,"LAST_MESSAGE_VALUE":0.545953853543541,"TOTAL_INDEX_UPDATES":17733,"VOLUME":585592.984318721,"QUOTE_VOLUME":311464.748376143,"VOLUME_TOP_TIER":214877.74431872,"QUOTE_VOLUME_TOP_TIER":114410.730300438,"VOLUME_DIRECT":15398.66754,"QUOTE_VOLUME_DIRECT":8226.4029542007,"VOLUME_TOP_TIER_DIRECT":15398.66754,"QUOTE_VOLUME_TOP_TIER_DIRECT":8226.4029542007}],"Err":{}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-CryptoCompare-Cache-Hit:
      - 'false'
      X-CryptoCompare-Server-Id:
      - cc-api-data-10
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://coins.llama.fi/prices/historical/1724451200/ethereum:0x7D1AfA7B718fb893dB30A3aBc0Cfc608AaCfeBB0
  response:
    body:
      string: '{"coins":{"ethereum:0x7D1AfA7B718fb893dB30A3aBc0Cfc608AaCfeBB0":{"decimals":18,"symbol":"WMATIC","price":0.540342,"timestamp":1724450278,"confidence":0.99}}}'
    headers:
      Content-Type:
      - application/json
      apigw-requestid:
      - Tk-6GjPtliAEMNw=
      last-modified:
      - Wed, 05 Nov 2025 16:16:00 GMT
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://coins.llama.fi/prices/historical/1726451200/ethereum:0x7D1AfA7B718fb893dB30A3aBc0Cfc608AaCfeBB0
  response:
    body:
      string: '{"coins":{"ethereum:0x7D1AfA7B718fb893dB30A3aBc0Cfc608AaCfeBB0":{"decimals":18,"symbol":"WMATIC","price":0.383261,"timestamp":1726451074,"confidence":0.99}}}'
    headers:
      Content-Type:
      - application/json
      apigw-requestid:
      - Tk-6ribpliAEPtQ=
      last-modified:
      - Wed, 05 Nov 2025 16:16:04 GMT
    status:
      code: 200
      message: OK
version: 1
