interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.g.alchemy.com/prices/v1/Y_nFGh5UCi30NzRWOAam0gsVpQrjDXZX/tokens/by-symbol?symbols=ETH
  response:
    body:
      string: '{"data":[{"symbol":"ETH","prices":[{"currency":"usd","value":"3425.0697715654","lastUpdatedAt":"2025-01-03T08:39:42Z"}]}]}'
    headers:
      Content-Type:
      - application/json
      x-alchemy-trace-id:
      - 6863dca46bd12f98b927e345c3356e32
    status:
      code: 200
      message: OK
- request:
    body: '{"addresses": [{"network": "eth-mainnet", "address": "0x6B175474E89094C44Da98b954EedeAC495271d0F"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.g.alchemy.com/prices/v1/Y_nFGh5UCi30NzRWOAam0gsVpQrjDXZX/tokens/by-address
  response:
    body:
      string: '{"data":[{"network":"eth-mainnet","address":"0x6B175474E89094C44Da98b954EedeAC495271d0F","prices":[{"currency":"usd","value":"0.9990162355","lastUpdatedAt":"2025-01-03T08:40:26Z"}]}]}'
    headers:
      Content-Type:
      - application/json
      x-alchemy-trace-id:
      - 2e045da1b5860664ca2a53baba1089ad
    status:
      code: 200
      message: OK
version: 1
