interactions:
- request:
    body: '{"addresses": [{"address": "0x3dBb91BDd5fc74c49146819ed58d7D204cf5a016",
      "network": "eth-mainnet"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.g.alchemy.com/prices/v1/Y_nFGh5UCi30NzRWOAam0gsVpQrjDXZX/tokens/by-address
  response:
    body:
      string: '{"data":[{"network":"eth-mainnet","address":"0x3dBb91BDd5fc74c49146819ed58d7D204cf5a016","prices":[],"error":{"message":"Token
        not found"}}]}'
    headers:
      Content-Type:
      - application/json
      x-alchemy-trace-id:
      - 88e80cf54dbea7fa7a77fc0933313401
    status:
      code: 200
      message: OK
- request:
    body: '{"interval": "1h", "endTime": 1697028400, "startTime": 1697021200, "network":
      "eth-mainnet", "address": "0x3dBb91BDd5fc74c49146819ed58d7D204cf5a016"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.g.alchemy.com/prices/v1/Y_nFGh5UCi30NzRWOAam0gsVpQrjDXZX/tokens/historical
  response:
    body:
      string: '{"error":{"message":"Token address not found: 0x3dBb91BDd5fc74c49146819ed58d7D204cf5a016"}}'
    headers:
      Content-Type:
      - application/json
      x-alchemy-trace-id:
      - 3cdba826d4e006eb18e00d7bd11977bd
    status:
      code: 400
      message: Bad Request
version: 1
