interactions:
- request:
    body: '{"addresses": [{"network": "eth-mainnet", "address": "0x3dBb91BDd5fc74c49146819ed58d7D204cf5a016"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.g.alchemy.com/prices/v1/Y_nFGh5UCi30NzRWOAam0gsVpQrjDXZX/tokens/by-address
  response:
    body:
      string: '{"data":[{"network":"eth-mainnet","address":"0x3dBb91BDd5fc74c49146819ed58d7D204cf5a016","prices":[],"error":{"message":"Token
        not found"}}]}'
    headers:
      Content-Type:
      - application/json
      x-alchemy-trace-id:
      - f8e171e466cb7090ddf6f723a5946eb1
    status:
      code: 200
      message: OK
version: 1
