interactions:
- request:
    body: '{"startTime": 1597017600, "endTime": 1597104000, "interval": "1h", "symbol":
      "ETH"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.g.alchemy.com/prices/v1/Y_nFGh5UCi30NzRWOAam0gsVpQrjDXZX/tokens/historical
  response:
    body:
      string: '{"symbol":"ETH","currency":"usd","data":[{"value":"390.7589072038","timestamp":"2020-08-10T00:07:04.612Z"},{"value":"391.3763433072","timestamp":"2020-08-10T01:01:49.650Z"},{"value":"394.3572783286","timestamp":"2020-08-10T02:01:06.004Z"},{"value":"395.9425126734","timestamp":"2020-08-10T03:05:15.241Z"},{"value":"396.6322602948","timestamp":"2020-08-10T03:09:35.556Z"},{"value":"398.2669178678","timestamp":"2020-08-10T04:07:46.502Z"},{"value":"395.6788589001","timestamp":"2020-08-10T05:03:25.204Z"},{"value":"394.8208471427","timestamp":"2020-08-10T06:01:41.227Z"},{"value":"[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.x-rates.com/historical/?from=USD&amount=1&date=2020-08-10
  response:
    body:
      string: "<!DOCTYPE html>\n<html>\n    <head>\n        <meta http-equiv=\"Content-Type\"
        content=\"text/html; charset=utf-8\"/>\n<meta name=\"format-detection\" content=\"telephone=no\"/>\n<meta
        name=\"description\" content=\"Get historic exchange rates for past US Dollar
        foreign expenses. Select your currencies and the date to get histroical rate
        tables.\"/>\n<meta name=\"keywords\" content=\"1 USD to EUR, historical exchange
        rates, historic rates, x-rates, historic currency table, past exchange rates,
        currency lookup\"/>\n<link rel=\"canonical\" href=\"https://www.x-rates.com/historical/?from=USD&amount=1&date=2020-08-10\"/>\n\t\t\t<script
        type='text/javascript'>\n\t\t\t\tvar e9AdSlots  = { \n\t\t\t\t  output_lb
        : {site:'ExchangeRates', adSpace:'Homepage', size:'728x90,468x60', noAd: '1'},\noutput_rs
        : {site:'ExchangeRates', adSpace:'Homepage', size:'300x250,300x600,160x600',
        noAd: '1'},\nros_ls : {site:'XEInternal', adSpace:'HRROS', size:'300x250',
        rsize: '238x230', noAd: '1', async: false},\nros_ms : {site:'XEInternal',
        adSpace:'HRROS', size:'468x60', rsize: '300x90', noAd: '1', async: false}\n\t\t\t\t};\t\t\t\n\t\t\t</script>\t\t<link
        rel='stylesheet' href='/themes/x-rates/t_css/output_resp.2e.css' type='text/css'
        /><script src='/themes/x-rates/t_js/output.1e.js' type='text/javascript'></script>
        \           <script>\n                if (!gdprIsCookieTagAllowed(\"tag_GoogleAnalytics\"))
        {\n                            window['ga-disable-UA-851277-2'] = true;\n
        \               }\n\n                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){\n
        \               (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),\n
        \               m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)\n
        \               })(window,document,'script','//www.google-analytics.com/analytics.js','ga');\n
        \               ga('create', 'UA-851277-2', 'auto');\n                ga('require',
        'displayfeatures');\n                ga('send', 'pageview');;\n                \n
        \           </script><script type=\"text/javascript\">\n    var converterToolExcludeArgs
        = {ratestable: ['to'],historicallookup: ['to']};\n</script>        <script
        async src=\"https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2110917264626924&ivt=false\"
        crossorigin=\"anonymous\"></script>\n        <script async src=\"https://securepubads.g.doubleclick.net/tag/js/gpt.js\"></script>\n
        \       <title>USD Historical Exchange Rates (US Dollar) - X-Rates</title>\n
        \       <!--[if IE]><script src=\"http://html5shiv.googlecode.com/svn/trunk/html5.js\"></script><![endif]-->\n
        \   </head>\n\n    <body>\n                <div id=\"skip\"><a href=\"#content\">Skip
        to Main Content</a></div>\n        <header>\n            \t<div class=\"navbar
        clearfix\">\t\n\t<div class=\"navbar-inner\">\t\t                \n\t\t<div
        class=\"wrapper clearfix\">\n\t\t\t<a href='https://www.x-rates.com/' class='brand'><img
        alt='xrates logo' src='/themes/x-rates/images/xrates_sm_tm.png' border='0'/></a>\n\t\t\t<div
        id=\"headerTri\"></div>  \n\t\t\t<!--[if !IE 8]><!-->\n\t\t\t\t<a class=\"navtoggle\"
        id=\"navtoggle\">\n\t\t\t\t\t<div class=\"nav-icon\"></div>\n\t\t\t\t</a>\t\t\t\n\t\t\t
        <!--<![endif]-->\n\t\t\t<nav class=\"nav-collapse\">\n\t\t\t\t<ul class='nav'><li><a
        href='https://www.x-rates.com/' rel='homepage'>Home</a></li>\n<li><a href='https://www.x-rates.com/calculator/'
        onclick=\"submitConverterArgs(this)\" rel='currencycalculator'>Currency Calculator</a></li>\n<li><a
        href='https://www.x-rates.com/graph/' onclick=\"submitConverterArgs(this)\"
        rel='currencygraph'>Graphs</a></li>\n<li><a href='https://www.x-rates.com/table/'
        onclick=\"submitConverterArgs(this)\" rel='ratestable'>Rates Table</a></li>\n<li><a
   [...]
- request:
    body: '{"startTime": 1597017600, "endTime": 1597104000, "interval": "1h", "network":
      "eth-mainnet", "address": "0x6B175474E89094C44Da98b954EedeAC495271d0F"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.g.alchemy.com/prices/v1/Y_nFGh5UCi30NzRWOAam0gsVpQrjDXZX/tokens/historical
  response:
    body:
      string: '{"network":"eth-mainnet","address":"0x6B175474E89094C44Da98b954EedeAC495271d0F","currency":"usd","data":[{"value":"1.0165522958","timestamp":"2020-08-10T00:03:31.515Z"},{"value":"1.017485693","timestamp":"2020-08-10T01:02:19.643Z"},{"value":"1.[...]
