interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://ethereum-beacon-api.publicnode.com/eth/v1/node/version
  response:
    body:
      string: '{"data":{"version":"Lighthouse/v8.1.3-176cce5/x86_64-linux"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"ids": ["44"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://ethereum-beacon-api.publicnode.com/eth/v1/beacon/states/head/validators
  response:
    body:
      string: '{"execution_optimistic":false,"finalized":false,"data":[{"index":"44","balance":"0","status":"withdrawal_done","validator":{"pubkey":"0xafad95cff162b9e33a965ec754d1225b3781207cd985ae4d594c4c087be8758a752e2045194a756ada3a65da4a2d05e5","withdrawal_credentials":"0x01000000000000000000000042751916bd8e4ef1966ca033d4ea1fa2a8563f88","effective_balance":"0","slashed":false,"activation_eligibility_epoch":"0","activation_epoch":"0","exit_epoch":"365684","withdrawable_epoch":"365940"}}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
