interactions:
- request:
    body: '{"validator": {"validator_identifiers": [1118010]}, "chain": "mainnet"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://beaconcha.in/api/v2/ethereum/validators
  response:
    body:
      string: '{"data":[{"validator":{"index":1118010,"public_key":"0xb324c5869db5a524f9c3e2f3b82a786e7baa6ea150dc8f5c86a5342e6a7a5b4719ee1749c2f79e9e49d18a00f006118b"},"slashed":false,"status":"withdrawal_done","online":null,"withdrawal_credentials":{"type":"execution_address","prefix":"0x01","credential":"0x01000000000000000000000024a81dc9767348800852ef3625376e9238abfa42","address":"0x24a81Dc9767348800852EF3625376e9238AbFA42"},"life_cycle_epochs":{"activation_eligibility":255395,"activation":255424,"exit":361556,"withdrawable":361812},"balances":{"current":"0","effective":"0"},"finality":"not_finalized"}],"paging":{"next_cursor":""},"range":{"slot":{"start":14220576,"end":14220607},"epoch":{"start":444393,"end":444393},"timestamp":{"start":1777470935,"end":1777471318}}}

        '
    headers:
      Content-Type:
      - application/json
      Ratelimit-Bucket:
      - default
      Ratelimit-Limit:
      - '1'
      Ratelimit-Remaining:
      - '0'
      Ratelimit-Reset:
      - '1'
      Ratelimit-Validapikey:
      - 'true'
      Ratelimit-Window:
      - second
      X-Beaconchain-Version:
      - 26.17.2
      X-Ratelimit-Limit-Day:
      - '1000'
      X-Ratelimit-Limit-Hour:
      - '1000'
      X-Ratelimit-Limit-Minute:
      - '1000'
      X-Ratelimit-Limit-Month:
      - '1000'
      X-Ratelimit-Limit-Second:
      - '1'
      X-Ratelimit-Remaining-Day:
      - '728'
      X-Ratelimit-Remaining-Hour:
      - '728'
      X-Ratelimit-Remaining-Minute:
      - '728'
      X-Ratelimit-Remaining-Month:
      - '728'
      X-Ratelimit-Remaining-Second:
      - '0'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"validator": {"validator_identifiers": [564618, 1118010, 1118011]}, "cursor":
      "", "page_size": 10, "chain": "mainnet"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://beaconcha.in/api/v2/ethereum/validators/proposal-slots
  response:
    body:
      string: '{"data":[{"validator":{"index":1118010,"public_key":"0xb324c5869db5a524f9c3e2f3b82a786e7baa6ea150dc8f5c86a5342e6a7a5b4719ee1749c2f79e9e49d18a00f006118b"},"slot":11416071,"block":22199466,"finality":"finalized"},{"validator":{"index":1118011,"public_key":"0x874df4549e48da22326e3f5c59a2e4e2096861236c8fd9314068f9e142812c216d440ed022371cdc5c3fcc2afac11693"},"slot":11415919,"block":22199317,"finality":"finalized"},{"validator":{"index":1118011,"public_key":"0x874df4549e48da22326e3f5c59a2e4e2096861236c8fd9314068f9e142812c216d440ed022371cdc5c3fcc2afac11693"},"slot":11277570,"block":22061661,"finality":"finalized"},{"validator":{"index":1118011,"public_key":"0x874df4549e48da223[...]
[...]
- request:
    body: '{"block": {"number": 22199466}, "chain": "mainnet"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://beaconcha.in/api/v2/ethereum/block
  response:
    body:
      string: '{"data":{"block":22199466,"timestamp":1743816875,"consensus_reference":{"slot":11416071,"block_root":"0x102adf59b284266c31da1d139677f29e45a4eccbd8437ce3dfc6b27b32b5f7e4","epoch":356752},"hash":"0x3738399074a5a65a6c4f11ef1fbfa8defac467c6893358c1342d2db2b09f04b4","parent_hash":"0x67e7944aa980794afa50e40563e65ba9eeb9ddb11545b4f2352cb751803e38d7","receipts_root":"0xf19dbbe69c27c7ce89f95ad05850f1280c56e9ec30dec8b1e633ddd391be2c8f","state_root":"0x5f8f89448e6469ea0e6bc81ce05ad211836381abf1c0a6b22bf2d23090b44057","transaction":{"gas":{"used":10413565,"limit":35894500,"base_fee":"431127580","fees_burned":"4489575077622700"},"count":{"normal":141,"blob":0,"internal":379}},"blob":{"gas":{"used":0,"excess":131072}},"mining":null,"extra_data":"0x546974616e2028746974616e6275696c6465722e78797a29","finality":"finalized"}}

        '
    headers:
      Content-Type:
      - application/json
      Ratelimit-Bucket:
      - default
      Ratelimit-Limit:
      - '1'
      Ratelimit-Remaining:
      - '0'
      Ratelimit-Reset:
      - '1'
      Ratelimit-Validapikey:
      - 'true'
      Ratelimit-Window:
      - second
      X-Beaconchain-Version:
      - 26.17.2
      X-Ratelimit-Limit-Day:
      - '1000'
      X-Ratelimit-Limit-Hour:
      - '1000'
      X-Ratelimit-Limit-Minute:
      - '1000'
      X-Ratelimit-Limit-Month:
      - '1000'
      X-Ratelimit-Limit-Second:
      - '1'
      X-Ratelimit-Remaining-Day:
      - '720'
      X-Ratelimit-Remaining-Hour:
      - '720'
      X-Ratelimit-Remaining-Minute:
      - '720'
      X-Ratelimit-Remaining-Month:
      - '720'
      X-Ratelimit-Remaining-Second:
      - '0'
    status:
      code: 200
      message: OK
- request:
    body: '{"block": {"number": 22199466}, "chain": "mainnet"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://beaconcha.in/api/v2/ethereum/block/rewards
  response:
    body:
      string: '{"data":{"total_reward":{"amount":"15698372861967120","recipient":{"address":"0x9d4C3166c59412CEdBe7d901f5fDe41903a1d6Fc","is_contract":true}},"priority_fees":{"amount":"15963150176954483","recipient":{"address":"0x4838B106FCe9647Bdf1E7877BF73cE8B0BAD5f97","is_contract":false}},"mev":{"amount":"15698372861967120","recipient":{"address":"0x9d4C3166c59412CEdBe7d901f5fDe41903a1d6Fc","is_contract":true}},"mining":null,"execution_reference":{"block":22199466,"hash":"0x3738399074a5a65a6c4f11ef1fbfa8defac467c6893358c1342d2db2b09f04b4"},"consensus_reference":{"slot":11416071,"block_root":"0x102adf59b284266c31da1d139677f29e45a4eccbd8437ce3dfc6b27b32b5f7e4","epoch":356752},"finality":"finalized"}}

        '
    headers:
      Content-Type:
      - application/json
      Ratelimit-Bucket:
      - default
      Ratelimit-Limit:
      - '1'
      Ratelimit-Remaining:
      - '0'
      Ratelimit-Reset:
      - '1'
      Ratelimit-Validapikey:
      - 'true'
      Ratelimit-Window:
      - second
      X-Beaconchain-Version:
      - 26.17.2
      X-Ratelimit-Limit-Day:
      - '1000'
      X-Ratelimit-Limit-Hour:
      - '1000'
      X-Ratelimit-Limit-Minute:
      - '1000'
      X-Ratelimit-Limit-Month:
      - '1000'
      X-Ratelimit-Limit-Second:
      - '1'
      X-Ratelimit-Remaining-Day:
      - '719'
      X-Ratelimit-Remaining-Hour:
      - '719'
      X-Ratelimit-Remaining-Minute:
      - '719'
      X-Ratelimit-Remaining-Month:
      - '719'
      X-Ratelimit-Remaining-Second:
      - '0'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.etherscan.io/v2/api?action=getblocknobytime&chainid=1&closest=before&module=block&timestamp=1753459200
  response:
    body:
      string: '{"status":"1","message":"OK","result":"22997210"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Nginx-Id:
      - '5'
      svid:
      - '54'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.etherscan.io/v2/api?action=txsBeaconWithdrawal&address=0x24a81Dc9767348800852EF3625376e9238AbFA42&chainid=1&endblock=22997210&module=account&sort=asc&startblock=0
  response:
    body:
      string: '{"status":"1","message":"OK","result":[{"withdrawalIndex":"31670024","validatorIndex":"1118010","address":"0x24a81dc9767348800852ef3625376e9238abfa42","amount":"10742175","blockNumber":"19014337","timestamp":"1705346507"},{"withdrawalIndex":"32553075","validatorIndex":"1118010","address":"0x24a81dc9767348800852ef3625376e9238abfa42","amount":"13216291","blockNumber":"19069527","timestamp":"1706014787"},{"withdrawalIndex":"33443274","validatorIndex":"1118010","address":"0x24a81dc9767348800852ef3625376e9238abfa42","amount":"16391013","blockNumber":"19125165","timestamp":"1706688323"},{"withdrawalIndex":"34343130","validatorIndex":"1118010","address":"0x24a81dc9767348800852ef36253[...]
[...]
