interactions:
- request:
    body: '{"indicesOrPubkey": "999957426"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://beaconcha.in/api/v1/validator
  response:
    body:
      string: '{"status":"OK","data":[]}

        '
    headers:
      Content-Type:
      - application/json
      Ratelimit-Bucket:
      - default
      Ratelimit-Limit:
      - '1'
      Ratelimit-Remaining:
      - '0'
      Ratelimit-Reset:
      - '1'
      Ratelimit-Validapikey:
      - 'true'
      Ratelimit-Window:
      - second
      X-Ratelimit-Limit-Day:
      - '1000'
      X-Ratelimit-Limit-Hour:
      - '1000'
      X-Ratelimit-Limit-Minute:
      - '1000'
      X-Ratelimit-Limit-Month:
      - '1000'
      X-Ratelimit-Limit-Second:
      - '1'
      X-Ratelimit-Remaining-Day:
      - '999'
      X-Ratelimit-Remaining-Hour:
      - '999'
      X-Ratelimit-Remaining-Minute:
      - '999'
      X-Ratelimit-Remaining-Month:
      - '999'
      X-Ratelimit-Remaining-Second:
      - '0'
    status:
      code: 200
      message: OK
- request:
    body: '{"indicesOrPubkey": "5235"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://beaconcha.in/api/v1/validator
  response:
    body:
      string: '{"status":"OK","data":{"activationeligibilityepoch":0,"activationepoch":0,"balance":32007771603,"effectivebalance":32000000000,"exitepoch":9223372036854775807,"lastattestationslot":13220713,"name":"","pubkey":"0x827e0f30c3d34e3ee58957dd7956b0f194d64cc404fca4a7313dc1b25ac1f28dcaddf59d05fbda798fa5b894c91b84fb","slashed":false,"status":"active_online","validatorindex":5235,"withdrawableepoch":9223372036854775807,"withdrawalcredentials":"0x010000000000000000000000347a70cb4ff0297102dc549b044c41bd61e22718","total_withdrawals":6931591791}}

        '
    headers:
      Content-Type:
      - application/json
      Ratelimit-Bucket:
      - default
      Ratelimit-Limit:
      - '1'
      Ratelimit-Remaining:
      - '0'
      Ratelimit-Reset:
      - '1'
      Ratelimit-Validapikey:
      - 'true'
      Ratelimit-Window:
      - second
      X-Ratelimit-Limit-Day:
      - '1000'
      X-Ratelimit-Limit-Hour:
      - '1000'
      X-Ratelimit-Limit-Minute:
      - '1000'
      X-Ratelimit-Limit-Month:
      - '1000'
      X-Ratelimit-Limit-Second:
      - '1'
      X-Ratelimit-Remaining-Day:
      - '998'
      X-Ratelimit-Remaining-Hour:
      - '998'
      X-Ratelimit-Remaining-Minute:
      - '998'
      X-Ratelimit-Remaining-Month:
      - '998'
      X-Ratelimit-Remaining-Second:
      - '0'
    status:
      code: 200
      message: OK
[...]
