interactions:
- request:
    body: '{"indicesOrPubkey": "10000"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://beaconcha.in/api/v1/validator
  response:
    body:
      string: '{"status":"OK","data":{"activationeligibilityepoch":0,"activationepoch":0,"balance":32015119093,"effectivebalance":32000000000,"exitepoch":9223372036854775807,"lastattestationslot":11046614,"name":"","pubkey":"0x945f3b894c8e7fb6f61cff5d6f388298953b4114949dff1f356358d20657907e6af8ea81c8b326c378457d6593ffca16","slashed":false,"status":"active_online","validatorindex":10000,"withdrawableepoch":9223372036854775807,"withdrawalcredentials":"0x0100000000000000000000001959062d601c40ef3b093a63f0954c6ee54a0a0f","total_withdrawals":6393675744}}

        '
    headers:
      Content-Type:
      - application/json
      Ratelimit-Bucket:
      - default
      Ratelimit-Limit:
      - '5'
      Ratelimit-Remaining:
      - '4'
      Ratelimit-Reset:
      - '1'
      Ratelimit-Validapikey:
      - 'false'
      Ratelimit-Window:
      - second
      X-Ratelimit-Limit-Day:
      - '30000'
      X-Ratelimit-Limit-Hour:
      - '30000'
      X-Ratelimit-Limit-Minute:
      - '30000'
      X-Ratelimit-Limit-Month:
      - '30000'
      X-Ratelimit-Limit-Second:
      - '5'
      X-Ratelimit-Remaining-Day:
      - '29846'
      X-Ratelimit-Remaining-Hour:
      - '29846'
      X-Ratelimit-Remaining-Minute:
      - '29846'
      X-Ratelimit-Remaining-Month:
      - '29846'
      X-Ratelimit-Remaining-Second:
      - '4'
    status:
      code: 200
      message: OK
[...]
