interactions:
- request:
    body: '{"validator": {"validator_identifiers": [5235]}, "chain": "mainnet"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://beaconcha.in/api/v2/ethereum/validators
  response:
    body:
      string: '{"data":[{"validator":{"index":5235,"public_key":"0x827e0f30c3d34e3ee58957dd7956b0f194d64cc404fca4a7313dc1b25ac1f28dcaddf59d05fbda798fa5b894c91b84fb"},"slashed":false,"status":"active_ongoing","online":true,"withdrawal_credentials":{"type":"execution_address","prefix":"0x01","credential":"0x010000000000000000000000347a70cb4ff0297102dc549b044c41bd61e22718","address":"0x347A70cb4Ff0297102DC549B044c41bD61e22718"},"life_cycle_epochs":{"activation_eligibility":0,"activation":0,"exit":null,"withdrawable":null},"balances":{"current":"32002570881000000000","effective":"32000000000000000000"},"finality":"not_finalized"}],"paging":{"next_cursor":""},"range":{"slot":{"start":14220608,"end":14220639},"epoch":{"start":444394,"end":444394},"timestamp":{"start":1777471319,"end":1777471702}}}

        '
    headers:
      Content-Type:
      - application/json
      Ratelimit-Bucket:
      - default
      Ratelimit-Limit:
      - '1'
      Ratelimit-Remaining:
      - '0'
      Ratelimit-Reset:
      - '1'
      Ratelimit-Validapikey:
      - 'true'
      Ratelimit-Window:
      - second
      X-Beaconchain-Version:
      - 26.17.2
      X-Ratelimit-Limit-Day:
      - '1000'
      X-Ratelimit-Limit-Hour:
      - '1000'
      X-Ratelimit-Limit-Minute:
      - '1000'
      X-Ratelimit-Limit-Month:
      - '1000'
      X-Ratelimit-Limit-Second:
      - '1'
      X-Ratelimit-Remaining-Day:
      - '690'
      X-Ratelimit-Remaining-Hour:
      - '690'
      X-Ratelimit-Remaining-Minute:
      - '690'
      X-Ratelimit-Remaining-Month:
      - '690'
      X-Ratelimit-Remaining-Second:
      - '0'
    status:
      code: 200
      message: OK
[...]
