interactions:
- request:
    body: '{"validator": {"validator_identifiers": [5234]}, "chain": "mainnet"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://beaconcha.in/api/v2/ethereum/validators
  response:
    body:
      string: '{"data":[{"validator":{"index":5234,"public_key":"0xb0456681ca4dc1a1276a9cab5915af9f9210f0eb104b4bd60164f59243b6159c3f3dab0d712cbae1360c7eb07af6a276"},"slashed":false,"status":"withdrawal_done","online":null,"withdrawal_credentials":{"type":"execution_address","prefix":"0x01","credential":"0x0100000000000000000000005675801e9346ea8165e7eb80dccd01dca65c0f3a","address":"0x5675801e9346eA8165e7Eb80dcCD01dCa65c0f3A"},"life_cycle_epochs":{"activation_eligibility":0,"activation":0,"exit":413155,"withdrawable":413411},"balances":{"current":"0","effective":"0"},"finality":"not_finalized"}],"paging":{"next_cursor":""},"range":{"slot":{"start":14220544,"end":14220575},"epoch":{"start":444392,"end":444392},"timestamp":{"start":1777470551,"end":1777470934}}}

        '
    headers:
      Content-Type:
      - application/json
      Ratelimit-Bucket:
      - default
      Ratelimit-Limit:
      - '1'
      Ratelimit-Remaining:
      - '0'
      Ratelimit-Reset:
      - '1'
      Ratelimit-Validapikey:
      - 'true'
      Ratelimit-Window:
      - second
      X-Beaconchain-Version:
      - 26.17.2
      X-Ratelimit-Limit-Day:
      - '1000'
      X-Ratelimit-Limit-Hour:
      - '1000'
      X-Ratelimit-Limit-Minute:
      - '1000'
      X-Ratelimit-Limit-Month:
      - '1000'
      X-Ratelimit-Limit-Second:
      - '1'
      X-Ratelimit-Remaining-Day:
      - '804'
      X-Ratelimit-Remaining-Hour:
      - '804'
      X-Ratelimit-Remaining-Minute:
      - '804'
      X-Ratelimit-Remaining-Month:
      - '804'
      X-Ratelimit-Remaining-Second:
      - '0'
    status:
      code: 200
      message: OK
[...]
