interactions:
- request:
    body: '{"indicesOrPubkey": "5234"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://beaconcha.in/api/v1/validator
  response:
    body:
      string: '{"status":"OK","data":{"activationeligibilityepoch":0,"activationepoch":0,"balance":32003846097,"effectivebalance":32000000000,"exitepoch":9223372036854775807,"lastattestationslot":12219636,"name":"","pubkey":"0xb0456681ca4dc1a1276a9cab5915af9f9210f0eb104b4bd60164f59243b6159c3f3dab0d712cbae1360c7eb07af6a276","slashed":false,"status":"active_online","validatorindex":5234,"withdrawableepoch":9223372036854775807,"withdrawalcredentials":"0x0100000000000000000000005675801e9346ea8165e7eb80dccd01dca65c0f3a","total_withdrawals":6611162685}}

        '
    headers:
      Content-Type:
      - application/json
      Ratelimit-Bucket:
      - default
      Ratelimit-Limit:
      - '5'
      Ratelimit-Remaining:
      - '4'
      Ratelimit-Reset:
      - '1'
      Ratelimit-Validapikey:
      - 'false'
      Ratelimit-Window:
      - second
      X-Ratelimit-Limit-Day:
      - '30000'
      X-Ratelimit-Limit-Hour:
      - '30000'
      X-Ratelimit-Limit-Minute:
      - '30000'
      X-Ratelimit-Limit-Month:
      - '30000'
      X-Ratelimit-Limit-Second:
      - '5'
      X-Ratelimit-Remaining-Day:
      - '29902'
      X-Ratelimit-Remaining-Hour:
      - '29902'
      X-Ratelimit-Remaining-Minute:
      - '29902'
      X-Ratelimit-Remaining-Month:
      - '29902'
      X-Ratelimit-Remaining-Second:
      - '4'
    status:
      code: 200
      message: OK
[...]
