interactions:
- request:
    body: '{"validator": {"validator_identifiers": [4235]}, "chain": "mainnet"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://beaconcha.in/api/v2/ethereum/validators
  response:
    body:
      string: '{"data":[{"validator":{"index":4235,"public_key":"0xadd548bb2e6962c255ec5420e40e6e506dfc936592c700d56718ada7dcc52e4295644ff8f94f4ef898aa8a5ad81a5b84"},"slashed":false,"status":"withdrawal_done","online":null,"withdrawal_credentials":{"type":"execution_address","prefix":"0x01","credential":"0x010000000000000000000000865c05c13d422310d9421e4da915b73e5289a6b1","address":"0x865c05C13d422310d9421E4Da915B73E5289A6B1"},"life_cycle_epochs":{"activation_eligibility":0,"activation":0,"exit":250239,"withdrawable":250495},"balances":{"current":"0","effective":"0"},"finality":"not_finalized"}],"paging":{"next_cursor":""},"range":{"slot":{"start":14220032,"end":14220063},"epoch":{"start":444376,"end":444376},"timestamp":{"start":1777464407,"end":1777464790}}}

        '
    headers:
      Content-Type:
      - application/json
      Ratelimit-Bucket:
      - default
      Ratelimit-Limit:
      - '1'
      Ratelimit-Remaining:
      - '0'
      Ratelimit-Reset:
      - '1'
      Ratelimit-Validapikey:
      - 'true'
      Ratelimit-Window:
      - second
      X-Beaconchain-Version:
      - 26.17.2
      X-Ratelimit-Limit-Day:
      - '1000'
      X-Ratelimit-Limit-Hour:
      - '1000'
      X-Ratelimit-Limit-Minute:
      - '1000'
      X-Ratelimit-Limit-Month:
      - '1000'
      X-Ratelimit-Limit-Second:
      - '1'
      X-Ratelimit-Remaining-Day:
      - '841'
      X-Ratelimit-Remaining-Hour:
      - '841'
      X-Ratelimit-Remaining-Minute:
      - '841'
      X-Ratelimit-Remaining-Month:
      - '841'
      X-Ratelimit-Remaining-Second:
      - '0'
    status:
      code: 200
      message: OK
[...]
