interactions:
- request:
    body: '{"indicesOrPubkey": "1118010"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://beaconcha.in/api/v1/validator
  response:
    body:
      string: '{"status":"OK","data":{"activationeligibilityepoch":255395,"activationepoch":255424,"balance":32005179886,"effectivebalance":32000000000,"exitepoch":9223372036854775807,"lastattestationslot":11046621,"name":"","pubkey":"0xb324c5869db5a524f9c3e2f3b82a786e7baa6ea150dc8f5c86a5342e6a7a5b4719ee1749c2f79e9e49d18a00f006118b","slashed":false,"status":"active_online","validatorindex":1118010,"withdrawableepoch":9223372036854775807,"withdrawalcredentials":"0x01000000000000000000000024a81dc9767348800852ef3625376e9238abfa42","total_withdrawals":1042575704}}

        '
    headers:
      Content-Type:
      - application/json
      Ratelimit-Bucket:
      - default
      Ratelimit-Limit:
      - '5'
      Ratelimit-Remaining:
      - '4'
      Ratelimit-Reset:
      - '1'
      Ratelimit-Validapikey:
      - 'false'
      Ratelimit-Window:
      - second
      X-Ratelimit-Limit-Day:
      - '30000'
      X-Ratelimit-Limit-Hour:
      - '30000'
      X-Ratelimit-Limit-Minute:
      - '30000'
      X-Ratelimit-Limit-Month:
      - '30000'
      X-Ratelimit-Limit-Second:
      - '5'
      X-Ratelimit-Remaining-Day:
      - '29854'
      X-Ratelimit-Remaining-Hour:
      - '29854'
      X-Ratelimit-Remaining-Minute:
      - '29854'
      X-Ratelimit-Remaining-Month:
      - '29854'
      X-Ratelimit-Remaining-Second:
      - '4'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://beaconcha.in/api/v1/execution/564618,1118010,1118011/produced?limit=50&offset=0
  response:
    body:
      string: '{"status":"OK","data":[{"blockHash":"0xe7a80ac37eca632c98f1215fb1dbb999cd3cc5bcce6f8dc24f37ee3b113a805b","blockNumber":21762615,"timestamp":1738545059,"blockReward":129781049896902713,"blockMevReward":90977310873896728,"producerReward":90977310873896728,"feeRecipient":"0x95222290dd7278aa3ddd389cc1e1d165cc4bafe5","gasLimit":30707500,"gasUsed":30705527,"baseFee":11434430549,"txCount":340,"internalTxCount":968,"uncleCount":0,"parentHash":"0x9a12b9d2411e458a04a1adb6d563ae21e4337745ed2e54f62a7b9b6bbf94a46c","uncleHash":"0x1dcc4de8dec75d7aab85b567b6ccd41ad312451b948a7413f0a142fd40d49347","difficulty":0,"posConsensus":{"executionBlockNumber":21762615,"proposerIndex":1118011,"slot":10976753,"epoch":343023,"finalized":true},"relay":{"tag":"ultrasound-relay","builderPubkey":"0xb4616226ba767495bb7cb51ef556407969218dcf9abc73a0412537b5cc3eb03c13f1e47c1fa0ea1a097dbee386832852","producerFeeRecipient":"0x9d4c3166c59412cedbe7d901f5fde41903a1d6fc"},"consensusAlgorithm":"pos"},{"blockHash":"0x749cc4da09a1ec29750fb4cd352c8a8fa0a0f57c032e04f1b1f79b97eb8082ef","blockNumber":21722220,"timestamp":1738057607,"blockReward":26580368260890226,"blockMevReward":43281800308147733,"producerReward":43281800308147733,"feeRecipient":"0x95222290dd7278aa3ddd389cc1e1d165cc4bafe5","gasLimit":30000000,"gasUsed":4965143,"baseFee":3359152896,"txCount":62,"internalTxCount":115,"uncleCount":0,"parentHash":"0x06eb927537b4a5ea38f4ade2e377d3aff6697525525951348f76707a438a9aee","uncleHash":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.etherscan.io/v2/api?action=getblocknobytime&chainid=1&closest=before&module=block&timestamp=1707663960
  response:
    body:
      string: '{"status":"1","message":"OK","result":"19205602"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      svid:
      - '11'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.etherscan.io/v2/api?action=txsBeaconWithdrawal&chainid=1&address=0x24a81Dc9767348800852EF3625376e9238AbFA42&endBlock=19205602&module=account&sort=asc&startBlock=0
  response:
    body:
      string: '{"status":"1","message":"OK","result":[{"withdrawalIndex":"31670024","validatorIndex":"1118010","address":"0x24a81dc9767348800852ef3625376e9238abfa42","amount":"10742175","blockNumber":"19014337","timestamp":"1705346507"},{"withdrawalIndex":"32553075","validatorIndex":"1118010","address":"0x24a81dc9767348800852ef3625376e9238abfa42","amount":"13216291","blockNumber":"19069527","timestamp":"1706014787"},{"withdrawalIndex":"33443274","validatorIndex":"1118010","address":"0x24a81dc9767348800852ef3625376e9238abfa42","amount":"16391013","blockNumber":"19125165","timestamp":"1706688323"},{"withdrawalIndex":"34343130","validatorIndex":"1118010","address":"0x24a81dc9767348800852ef3625376e9238abfa42","amount":"16235677","blockNumber":"19181406","timestamp":"1707370667"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      svid:
      - '2'
    status:
      code: 200
      message: OK
[...]
