interactions:
- request:
    body: '{"indicesOrPubkey": "2019737"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://beaconcha.in/api/v1/validator
  response:
    body:
      string: '{"status":"OK","data":{"activationeligibilityepoch":380571,"activationepoch":380577,"balance":32004076107,"effectivebalance":32000000000,"exitepoch":9223372036854775807,"lastattestationslot":12219943,"name":"","pubkey":"0x80000d30002732d5afb4133447221259f956c35e6700e45d54e19d0321aae5efff41dcea57e181b7dba05d820e99f269","slashed":false,"status":"active_online","validatorindex":2019737,"withdrawableepoch":9223372036854775807,"withdrawalcredentials":"0x0100000000000000000000002b78035514401ed1592eb691b8673a93edf97470","total_withdrawals":54963351}}

        '
    headers:
      Content-Type:
      - application/json
      Ratelimit-Bucket:
      - default
      Ratelimit-Limit:
      - '5'
      Ratelimit-Remaining:
      - '4'
      Ratelimit-Reset:
      - '1'
      Ratelimit-Validapikey:
      - 'false'
      Ratelimit-Window:
      - second
      X-Ratelimit-Limit-Day:
      - '30000'
      X-Ratelimit-Limit-Hour:
      - '30000'
      X-Ratelimit-Limit-Minute:
      - '30000'
      X-Ratelimit-Limit-Month:
      - '30000'
      X-Ratelimit-Limit-Second:
      - '5'
      X-Ratelimit-Remaining-Day:
      - '29807'
      X-Ratelimit-Remaining-Hour:
      - '29807'
      X-Ratelimit-Remaining-Minute:
      - '29807'
      X-Ratelimit-Remaining-Month:
      - '29807'
      X-Ratelimit-Remaining-Second:
      - '4'
    status:
      code: 200
      message: OK
[...]
