interactions:
- request:
    body: '{"indicesOrPubkey": "564618"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://beaconcha.in/api/v1/validator
  response:
    body:
      string: '{"status":"OK","data":{"activationeligibilityepoch":192674,"activationepoch":192683,"balance":0,"effectivebalance":0,"exitepoch":260390,"lastattestationslot":8332476,"name":"","pubkey":"0xa5de79a98e323f28de94fec045407324bbcd19bfddfe84b1cbc64df0f7bc77886f13c5bb639b2441238d2cd9c2b501d5","slashed":false,"status":"exited","validatorindex":564618,"withdrawableepoch":260646,"withdrawalcredentials":"0x010000000000000000000000f368a42d316070cd53515fbf67ac219aa29d5fe0","total_withdrawals":32741961954}}

        '
    headers:
      Content-Type:
      - application/json
      Ratelimit-Bucket:
      - default
      Ratelimit-Limit:
      - '5'
      Ratelimit-Remaining:
      - '4'
      Ratelimit-Reset:
      - '1'
      Ratelimit-Validapikey:
      - 'false'
      Ratelimit-Window:
      - second
      X-Ratelimit-Limit-Day:
      - '30000'
      X-Ratelimit-Limit-Hour:
      - '30000'
      X-Ratelimit-Limit-Minute:
      - '30000'
      X-Ratelimit-Limit-Month:
      - '30000'
      X-Ratelimit-Limit-Second:
      - '5'
      X-Ratelimit-Remaining-Day:
      - '29997'
      X-Ratelimit-Remaining-Hour:
      - '29997'
      X-Ratelimit-Remaining-Minute:
      - '29997'
      X-Ratelimit-Remaining-Month:
      - '29997'
      X-Ratelimit-Remaining-Second:
      - '4'
    status:
      code: 200
      message: OK
version: 1
