interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://beaconcha.in/api/v1/validator/1118010
  response:
    body:
      string: '{"status":"OK","data":{"activationeligibilityepoch":255395,"activationepoch":255424,"balance":32006087826,"effectivebalance":32000000000,"exitepoch":9223372036854775807,"lastattestationslot":8403299,"name":"","pubkey":"0xb324c5869db5a524f9c3e2f3b82a786e7baa6ea150dc8f5c86a5342e6a7a5b4719ee1749c2f79e9e49d18a00f006118b","slashed":false,"status":"active_online","validatorindex":1118010,"withdrawableepoch":9223372036854775807,"withdrawalcredentials":"0x01000000000000000000000024a81dc9767348800852ef3625376e9238abfa42","total_withdrawals":56585156}}

        '
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Sun, 11 Feb 2024 15:02:51 GMT
      RateLimit-Limit:
      - '5'
      RateLimit-Remaining:
      - '4'
      RateLimit-Reset:
      - '1'
      WWW-Authenticate:
      - Key realm="kong"
      X-RateLimit-Limit-Day:
      - '30000'
      X-RateLimit-Limit-Hour:
      - '10000'
      X-RateLimit-Limit-Minute:
      - '20'
      X-RateLimit-Limit-Month:
      - '120000'
      X-RateLimit-Limit-Second:
      - '5'
      X-RateLimit-Remaining-Day:
      - '29954'
      X-RateLimit-Remaining-Hour:
      - '9995'
      X-RateLimit-Remaining-Minute:
      - '19'
      X-RateLimit-Remaining-Month:
      - '119954'
      X-RateLimit-Remaining-Second:
      - '4'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://beaconcha.in/api/v1/execution/564618,1118010,1118011/produced?limit=50&offset=0
  response:
    body:
      string: '{"status":"OK","data":[]}

        '
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Sun, 11 Feb 2024 15:02:52 GMT
      RateLimit-Limit:
      - '5'
      RateLimit-Remaining:
      - '4'
      RateLimit-Reset:
      - '1'
      WWW-Authenticate:
      - Key realm="kong"
      X-RateLimit-Limit-Day:
      - '30000'
      X-RateLimit-Limit-Hour:
      - '10000'
      X-RateLimit-Limit-Minute:
      - '20'
      X-RateLimit-Limit-Month:
      - '120000'
      X-RateLimit-Limit-Second:
      - '5'
      X-RateLimit-Remaining-Day:
      - '29951'
      X-RateLimit-Remaining-Hour:
      - '9992'
      X-RateLimit-Remaining-Minute:
      - '16'
      X-RateLimit-Remaining-Month:
      - '119951'
      X-RateLimit-Remaining-Second:
      - '4'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.etherscan.io/api?action=getblocknobytime&closest=before&module=block&timestamp=1707663900
  response:
    body:
      string: '{"status":"1","message":"OK","result":"19205597"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.etherscan.io/api?action=txsBeaconWithdrawal&address=0x24a81Dc9767348800852EF3625376e9238AbFA42&endBlock=19205597&module=account&sort=asc&startBlock=0
  response:
    body:
      string: '{"status":"1","message":"OK","result":[{"withdrawalIndex":"31670024","validatorIndex":"1118010","address":"0x24a81dc9767348800852ef3625376e9238abfa42","amount":"10742175","blockNumber":"19014337","timestamp":"1705346507"},{"withdrawalIndex":"32553075","validatorIndex":"1118010","address":"0x24a81dc9767348800852ef3625376e9238abfa42","amount":"13216291","blockNumber":"19069527","timestamp":"1706014787"},{"withdrawalIndex":"33443274","validatorIndex":"1118010","address":"0x24a81dc9767348800852ef3625376e9238abfa42","amount":"16391013","blockNumber":"19125165","timestamp":"1706688323"},{"withdrawalIndex":"34343130","validatorIndex":"1118010","address":"0x24a81dc9767348800852ef3625376e9238abfa42","amount":"16235677","blockNumber":"19181406","timestamp":"1707370667"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://beaconcha.in/api/v1/validator/564618,1118011,1118010
  response:
    body:
      string: '{"status":"OK","data":[{"activationeligibilityepoch":192674,"activationepoch":192683,"balance":0,"effectivebalance":0,"exitepoch":260390,"lastattestationslot":8332476,"name":"","pubkey":"0xa5de79a98e323f28de94fec045407324bbcd19bfddfe84b1cbc64df0f7bc77886f13c5bb639b2441238d2cd9c2b501d5","slashed":false,"status":"exited","validatorindex":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://beaconcha.in/validator/564618/stats
  response:
    body:
      string: "\n  <!DOCTYPE html>\n  <html lang=\"en\">\n    <head>\n      <meta
        charset=\"utf-8\" />\n      <meta name=\"viewport\" content=\"width=device-width,initial-scale=1.0\"
        />\n      <meta name=\"keywords\" content=\"config.Frontend.Keywords\" />\n
        \     <meta name=\"description\" content=\"beaconcha.in makes Ethereum accessible
        to non-technical end users\" />\n      <meta property=\"og:title\" content=\"Validator
        564618 Daily Statistics - Open Source Ethereum Blockchain Explorer - beaconcha.in
        - 2024\" />\n      <meta property=\"og:type\" content=\"website\" [...]
[...]
