interactions:
- request:
    body: '{"indicesOrPubkey": "4235"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://beaconcha.in/api/v1/validator
  response:
    body:
      string: '{"status":"OK","data":{"activationeligibilityepoch":0,"activationepoch":0,"balance":0,"effectivebalance":0,"exitepoch":250239,"lastattestationslot":8007617,"name":"","pubkey":"0xadd548bb2e6962c255ec5420e40e6e506dfc936592c700d56718ada7dcc52e4295644ff8f94f4ef898aa8a5ad81a5b84","slashed":false,"status":"exited","validatorindex":4235,"withdrawableepoch":250495,"withdrawalcredentials":"0x010000000000000000000000865c05c13d422310d9421e4da915b73e5289a6b1","total_withdrawals":37264035925}}

        '
    headers:
      Content-Type:
      - application/json
      Ratelimit-Bucket:
      - default
      Ratelimit-Limit:
      - '5'
      Ratelimit-Remaining:
      - '4'
      Ratelimit-Reset:
      - '1'
      Ratelimit-Validapikey:
      - 'false'
      Ratelimit-Window:
      - second
      X-Ratelimit-Limit-Day:
      - '30000'
      X-Ratelimit-Limit-Hour:
      - '30000'
      X-Ratelimit-Limit-Minute:
      - '30000'
      X-Ratelimit-Limit-Month:
      - '30000'
      X-Ratelimit-Limit-Second:
      - '5'
      X-Ratelimit-Remaining-Day:
      - '29903'
      X-Ratelimit-Remaining-Hour:
      - '29903'
      X-Ratelimit-Remaining-Minute:
      - '29903'
      X-Ratelimit-Remaining-Month:
      - '29903'
      X-Ratelimit-Remaining-Second:
      - '4'
    status:
      code: 200
      message: OK
[...]
