interactions:
- request:
    body: '{"indicesOrPubkey": "1118010"}'
    headers:
    method: POST
    uri: https://beaconcha.in/api/v1/validator
  response:
    body:
      string: '{"status":"OK","data":{"activationeligibilityepoch":255395,"activationepoch":255424,"balance":32011278877,"effectivebalance":32000000000,"exitepoch":9223372036854775807,"lastattestationslot":9340265,"name":"","pubkey":"0xb324c5869db5a524f9c3e2f3b82a786e7baa6ea150dc8f5c86a5342e6a7a5b4719ee1749c2f79e9e49d18a00f006118b","slashed":false,"status":"active_online","validatorindex":1118010,"withdrawableepoch":9223372036854775807,"withdrawalcredentials":"0x01000000000000000000000024a81dc9767348800852ef3625376e9238abfa42","total_withdrawals":411024491}}

        '
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Thu, 20 Jun 2024 18:18:54 GMT
      Ratelimit-Limit:
      - '5'
      Ratelimit-Remaining:
      - '4'
      Ratelimit-Reset:
      - '1'
      Ratelimit-Window:
      - second
      X-Ratelimit-Limit-Day:
      - '120000'
      X-Ratelimit-Limit-Hour:
      - '120000'
      X-Ratelimit-Limit-Minute:
      - '120000'
      X-Ratelimit-Limit-Month:
      - '120000'
      X-Ratelimit-Limit-Second:
      - '5'
      X-Ratelimit-Remaining-Day:
      - '119871'
      X-Ratelimit-Remaining-Hour:
      - '119871'
      X-Ratelimit-Remaining-Minute:
      - '119871'
      X-Ratelimit-Remaining-Month:
      - '119871'
      X-Ratelimit-Remaining-Second:
      - '4'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://beaconcha.in/api/v1/execution/564618,1118010,1118011/produced?limit=50&offset=0
  response:
    body:
      string: '{"status":"OK","data":[{"blockHash":"0xe9b4497e13a10cd39e972aa1ece473c8937fe0b63f2a737da2ce8f59283c161d","blockNumber":20009319,"timestamp":1717393847,"blockReward":50894236941027754,"blockMevReward":46473133519338194,"producerReward":46473133519338194,"feeRecipient":"0x95222290dd7278aa3ddd389cc1e1d165cc4bafe5","gasLimit":30000000,"gasUsed":8640475,"baseFee":6610067239,"txCount":125,"internalTxCount":58,"uncleCount":0,"parentHash":"0xf5e33ffd60f754331606b29eba36b2be2b313c611d2beec19468073113244a95","uncleHash":"0x1dcc4de8dec75d7aab85b567b6ccd41ad312451b948a7413f0a142fd40d49347","difficulty":0,"posConsensus":{"executionBlockNumber":20009319,"proposerIndex":1118011,"slot":9214152,"epoch":287942,"finalized":true},"relay":{"tag":"ultrasound-relay","builderPubkey":"0x9696a296508895203ad55c8bc02a8c857efecd56286feda28e5d44440221143ab16a29e44016c4c922961cdeaaf8cb51","producerFeeRecipient":"0x9d4c3166c59412cedbe7d901f5fde41903a1d6fc"},"consensusAlgorithm":"pos"},{"blockHash":"0xc39c4fdb93c44138ab39a797c90efe6eaa51286add0f4aad57d228fd8c6050d4","blockNumber":19779010,"timestamp":1714611455,"blockReward":9529743296863496,"blockMevReward":11575156646465539,"producerReward":11575156646465539,"feeRecipient":"0x95222290dd7278aa3ddd389cc1e1d165cc4bafe5","gasLimit":30000000,"gasUsed":25102366,"baseFee":5224998362,"txCount":128,"internalTxCount":49,"uncleCount":0,"parentHash":"0x6cd964d141f9e1b00c9f41f3970718a1d9e21ac1ed043060919f0bf238fb423a","uncleHash":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.etherscan.io/api?action=getblocknobytime&closest=before&module=block&timestamp=1718907480
  response:
    body:
      string: '{"status":"1","message":"OK","result":"20134675"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.etherscan.io/api?action=txsBeaconWithdrawal&address=0x24a81Dc9767348800852EF3625376e9238AbFA42&endBlock=20134675&module=account&sort=asc&startBlock=0
  response:
    body:
      string: '{"status":"1","message":"OK","result":[{"withdrawalIndex":"31670024","validatorIndex":"1118010","address":"0x24a81dc9767348800852ef3625376e9238abfa42","amount":"10742175","blockNumber":"19014337","timestamp":"1705346507"},{"withdrawalIndex":"32553075","validatorIndex":"1118010","address":"0x24a81dc9767348800852ef3625376e9238abfa42","amount":"13216291","blockNumber":"19069527","timestamp":"1706014787"},{"withdrawalIndex":"33443274","validatorIndex":"1118010","address":"0x24a81dc9767348800852ef3625376e9238abfa42","amount":"16391013","blockNumber":"19125165","timestamp":"1706688323"},{"withdrawalIndex":"34343130","validatorIndex":"1118010","address":"0x24[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://beaconcha.in/api/v1/validator/stats/564618
  response:
    body:
      string: '{"status":"OK","data":[{"attester_slashings":0,"day":1296,"day_end":"2024-06-20T12:00:23Z","day_start":"2024-06-19T12:00:23Z","deposits":0,"deposits_amount":0,"end_balance":0,"end_effective_balance":0,"max_balance":0,"max_effective_balance":0,"min_balance":0,"min_effective_balance":0,"missed_attestations":0,"missed_blocks":0,"missed_sync":0,"orphaned_attestations":0,"orphaned_blocks":0,"orphaned_sync":0,"participated_sync":0,"proposed_blocks":0,"proposer_slashings":0,"start_balance":0,"start_effective_balance":0,"validatorindex":564618,"withdrawals":0,"withdrawals_amount":0},{"attester_slashings":0,"day":1295,"day_end":"2024-06-19T12:00:23Z","day_start":"2024-06-18T12:00:23Z","deposits":0,"deposits_amount":0,"end_balance":0,"end_effective_balance":0,"max_balance":0,"max_effective_balance":0,"min_balance":0,"min_effective_balance":0,"missed_attestations":0,"missed_blocks":0,"missed_sync":0,"orphaned_attestations":0,"orphaned_blocks":0,"orphaned_sync":0,"participated_sync":0,"proposed_blocks":0,"proposer_slashings":0,"start_balance":0,"start_effective_balance":0,"v[...]
[...]
