interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://beaconcha.in/api/v1/validator/660854
  response:
    body:
      string: '{"status":"OK","data":{"activationeligibilityepoch":200612,"activationepoch":205503,"balance":32000430567,"effectivebalance":32000000000,"exitepoch":9223372036854775807,"lastattestationslot":8354625,"name":"","pubkey":"0x943d4da8ba817b63d85aaf34bc3494985ab0ffa98cd5551f31041623c0bc708b76df1923d9a2ebd00710a72ddc08723d","slashed":false,"status":"active_online","validatorindex":660854,"withdrawableepoch":9223372036854775807,"withdrawalcredentials":"0x0100000000000000000000008e609ac80f4324e499a6efd24f221a2caa868224","total_withdrawals":669089002}}

        '
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Sun, 04 Feb 2024 20:48:00 GMT
      RateLimit-Limit:
      - '5'
      RateLimit-Remaining:
      - '4'
      RateLimit-Reset:
      - '1'
      WWW-Authenticate:
      - Key realm="kong"
      X-RateLimit-Limit-Day:
      - '30000'
      X-RateLimit-Limit-Hour:
      - '10000'
      X-RateLimit-Limit-Minute:
      - '20'
      X-RateLimit-Limit-Month:
      - '120000'
      X-RateLimit-Limit-Second:
      - '5'
      X-RateLimit-Remaining-Day:
      - '29989'
      X-RateLimit-Remaining-Hour:
      - '9989'
      X-RateLimit-Remaining-Minute:
      - '18'
      X-RateLimit-Remaining-Month:
      - '119989'
      X-RateLimit-Remaining-Second:
      - '4'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://beaconcha.in/validator/660854/stats
  response:
    body:
      string: "\n  <!DOCTYPE html>\n  <html lang=\"en\">\n    <head>\n      <meta
        charset=\"utf-8\" />\n      <meta name=\"viewport\" content=\"width=device-width,initial-scale=1.0\"
        />\n      <meta name=\"keywords\" content=\"config.Frontend.Keywords\" />\n
        \     <meta name=\"description\" content=\"beaconcha.in makes Ethereum accessible
        to non-technical end users\" />\n      <meta property=\"og:title\" content=\"Validator
        660854 Daily Statistics - Open Source Ethereum Blockchain Explorer - beaconcha.in
        - 2024\" />\n      <meta property=\"og:type\" content=\"website\" [...]
[...]
