interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://beaconcha.in/api/v1/validator/1118011
  response:
    body:
      string: '{"status":"OK","data":{"activationeligibilityepoch":255395,"activationepoch":255424,"balance":32001917585,"effectivebalance":32000000000,"exitepoch":9223372036854775807,"lastattestationslot":8387805,"name":"","pubkey":"0x874df4549e48da22326e3f5c59a2e4e2096861236c8fd9314068f9e142812c216d440ed022371cdc5c3fcc2afac11693","slashed":false,"status":"active_online","validatorindex":1118011,"withdrawableepoch":9223372036854775807,"withdrawalcredentials":"0x010000000000000000000000fad07927c990a52e434909c9bb1f0ec785a68f00","total_withdrawals":56683667}}

        '
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Fri, 09 Feb 2024 11:23:47 GMT
      RateLimit-Limit:
      - '5'
      RateLimit-Remaining:
      - '4'
      RateLimit-Reset:
      - '1'
      WWW-Authenticate:
      - Key realm="kong"
      X-RateLimit-Limit-Day:
      - '30000'
      X-RateLimit-Limit-Hour:
      - '10000'
      X-RateLimit-Limit-Minute:
      - '20'
      X-RateLimit-Limit-Month:
      - '120000'
      X-RateLimit-Limit-Second:
      - '5'
      X-RateLimit-Remaining-Day:
      - '29992'
      X-RateLimit-Remaining-Hour:
      - '9992'
      X-RateLimit-Remaining-Minute:
      - '19'
      X-RateLimit-Remaining-Month:
      - '119992'
      X-RateLimit-Remaining-Second:
      - '4'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://beaconcha.in/validator/1118010/stats
  response:
    body:
      string: "\n  <!DOCTYPE html>\n  <html lang=\"en\">\n    <head>\n      <meta
        charset=\"utf-8\" />\n      <meta name=\"viewport\" content=\"width=device-width,initial-scale=1.0\"
        />\n      <meta name=\"keywords\" content=\"config.Frontend.Keywords\" />\n
        \     <meta name=\"description\" content=\"beaconcha.in makes Ethereum accessible
        to non-technical end users\" />\n      <meta property=\"og:title\" content=\"Validator
        1118010 Daily Statistics - Open Source Ethereum Blockchain Explorer - beaconcha.in
        - 2024\" />\n      <meta property=\"og:type\" content=\"website\"[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://beaconcha.in/api/v1/execution/1118010,1118011/produced?limit=50&offset=0
  response:
    body:
      string: '{"status":"OK","data":[]}

        '
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Fri, 09 Feb 2024 11:23:48 GMT
      RateLimit-Limit:
      - '5'
      RateLimit-Remaining:
      - '4'
      RateLimit-Reset:
      - '1'
      WWW-Authenticate:
      - Key realm="kong"
      X-RateLimit-Limit-Day:
      - '30000'
      X-RateLimit-Limit-Hour:
      - '10000'
      X-RateLimit-Limit-Minute:
      - '20'
      X-RateLimit-Limit-Month:
      - '120000'
      X-RateLimit-Limit-Second:
      - '5'
      X-RateLimit-Remaining-Day:
      - '29995'
      X-RateLimit-Remaining-Hour:
      - '9995'
      X-RateLimit-Remaining-Minute:
      - '19'
      X-RateLimit-Remaining-Month:
      - '119995'
      X-RateLimit-Remaining-Second:
      - '4'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.etherscan.io/api?action=getblocknobytime&closest=before&module=block&timestamp=1707477780
  response:
    body:
      string: '{"status":"1","message":"OK","result":"19190245"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.etherscan.io/api?action=txsBeaconWithdrawal&address=0xfAD07927C990a52e434909c9Bb1f0EC785a68F00&endBlock=19190245&module=account&sort=asc&startBlock=0
  response:
    body:
      string: '{"status":"1","message":"OK","result":[{"withdrawalIndex":"31670025","validatorIndex":"1118011","address":"0xfad07927c990a52e434909c9bb1f0ec785a68f00","amount":"10791425","blockNumber":"19014337","timestamp":"1705346507"},{"withdrawalIndex":"32553076","validatorIndex":"1118011","address":"0xfad07927c990a52e434909c9bb1f0ec785a68f00","amount":"13210211","blockNumber":"19069527","timestamp":"1706014787"},{"withdrawalIndex":"33443275","validatorIndex":"1118011","address":"0xfad07927c990a52e434909c9bb1f0ec785a68f00","amount":"16407904","blockNumber":"19125165","timestamp":"1706688323"},{"withdrawalIndex":"34343131","validatorIndex":"1118011","address":"0xfad07927c990a52e434909c9bb1f0ec785a68f00","amount":"16274127","blockNumber":"19181406","timestamp":"1707370667"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://beaconcha.in/api/v1/validator/1118010,1118011
  response:
    body:
      string: '{"status":"OK","data":[{"activationeligibilityepoch":255395,"activationepoch":255424,"balance":32001918208,"effectivebalance":32000000000,"exitepoch":9223372036854775807,"lastattestationslot":8387809,"name":"","pubkey":"0xb324c5869db5a524f9c3e2f3b82a786e7baa6ea150dc8f5c86a5342e6a7a5b4719ee1749c2f79e9e49d18a00f006118b","slashed":false,"status":[...]
[...]
