interactions:
- request:
    body: '{"indicesOrPubkey": "1118010"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://beaconcha.in/api/v1/validator
  response:
    body:
      string: '{"status":"OK","data":{"activationeligibilityepoch":255395,"activationepoch":255424,"balance":0,"effectivebalance":0,"exitepoch":361556,"lastattestationslot":11569785,"name":"","pubkey":"0xb324c5869db5a524f9c3e2f3b82a786e7baa6ea150dc8f5c86a5342e6a7a5b4719ee1749c2f79e9e49d18a00f006118b","slashed":false,"status":"exited","validatorindex":1118010,"withdrawableepoch":361812,"withdrawalcredentials":"0x01000000000000000000000024a81dc9767348800852ef3625376e9238abfa42","total_withdrawals":33242827430}}

        '
    headers:
      Content-Type:
      - application/json
      Ratelimit-Bucket:
      - default
      Ratelimit-Limit:
      - '5'
      Ratelimit-Remaining:
      - '4'
      Ratelimit-Reset:
      - '1'
      Ratelimit-Validapikey:
      - 'false'
      Ratelimit-Window:
      - second
      X-Ratelimit-Limit-Day:
      - '30000'
      X-Ratelimit-Limit-Hour:
      - '30000'
      X-Ratelimit-Limit-Minute:
      - '30000'
      X-Ratelimit-Limit-Month:
      - '30000'
      X-Ratelimit-Limit-Second:
      - '5'
      X-Ratelimit-Remaining-Day:
      - '29819'
      X-Ratelimit-Remaining-Hour:
      - '29819'
      X-Ratelimit-Remaining-Minute:
      - '29819'
      X-Ratelimit-Remaining-Month:
      - '29819'
      X-Ratelimit-Remaining-Second:
      - '4'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://beaconcha.in/api/v1/execution/564618,1118010,1118011/produced?limit=50&offset=0
  response:
    body:
      string: '{"status":"OK","data":[{"blockHash":"0x3738399074a5a65a6c4f11ef1fbfa8defac467c6893358c1342d2db2b09f04b4","blockNumber":22199466,"timestamp":1743816875,"blockReward":15963150176954483,"blockMevReward":15698372861967120,"producerReward":15698372861967120,"feeRecipient":"0x4838b106fce9647bdf1e7877bf73ce8b0bad5f97","gasLimit":35894500,"gasUsed":10413565,"baseFee":431127580,"txCount":141,"internalTxCount":379,"uncleCount":0,"parentHash":"0x67e7944aa980794afa50e40563e65ba9eeb9ddb11545b4f2352cb751803e38d7","uncleHash":"0x1dcc4de8dec75d7aab85b567b6ccd41ad312451b948a7413f0a142fd40d49347","difficulty":0,"posConsensus":{"executionBlockNumber":22199466,"proposerIndex":1118010,"slot":11416071,"epoch":356752,"finalized":true},"relay":{"tag":"titan-relay","builderPubkey":"0x95c8cc31f8d4e54eddb0603b8f12d59d466f656f374bde2073e321bdd16082d420e3eef4d62467a7ea6b83818381f742","producerFeeRecipient":"0x9d4c3166c59412cedbe7d901f5fde41903a1d6fc"},"consensusAlgorithm":"pos"},{"blockHash":"0x58a6b86236d2649556234862976a7992fce3916081359e89ecbc7708fa9e71ae","blockNumber":22199317,"timestamp":1743815051,"blockReward":13161206730570982,"blockMevReward":13797559857180950,"producerReward":13797559857180950,"feeRecipient":"0x95222290dd7278aa3ddd389cc1e1d165cc4bafe5","gasLimit":35894569,"gasUsed":14256954,"baseFee":476068831,"txCount":140,"internalTxCount":549,"uncleCount":0,"parentHash":"0xabe2a50dfec8a3deb2eb0bbdcb4477932ccb2c4b44e050a5f5a226556c6d25bd","uncleHash"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://eth.blockscout.com/api?action=getblocknobytime&closest=before&module=block&timestamp=1753459200
  response:
    body:
      string: '{"message":"OK","result":{"blockNumber":"22997210"},"status":"1"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.etherscan.io/v2/api?action=txsBeaconWithdrawal&address=0x24a81Dc9767348800852EF3625376e9238AbFA42&chainid=1&endBlock=22997210&module=account&sort=asc&startBlock=0
  response:
    body:
      string: '{"status":"1","message":"OK","result":[{"withdrawalIndex":"31670024","validatorIndex":"1118010","address":"0x24a81dc9767348800852ef3625376e9238abfa42","amount":"10742175","blockNumber":"19014337","timestamp":"1705346507"},{"withdrawalIndex":"32553075","validatorIndex":"1118010","address":"0x24a81dc9767348800852ef3625376e9238abfa42","amount":"13216291","blockNumber":"19069527","timestamp":"1706014787"},{"withdrawalIndex":"33443274","validatorIndex":"1118010","address":"0x24a81dc9767348800852ef3625376e9238abfa42","amount":"16391013","blockNumber":"19125165","timestamp":"1706688323"},{"withdrawalIndex":"34343130","validatorIndex":"1118010","address":"0x24[...]
[...]
