interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://beaconcha.in/api/v1/validator/4235
  response:
    body:
      string: '{"status":"OK","data":{"activationeligibilityepoch":0,"activationepoch":0,"balance":0,"effectivebalance":0,"exitepoch":250239,"lastattestationslot":8007617,"name":"","pubkey":"0xadd548bb2e6962c255ec5420e40e6e506dfc936592c700d56718ada7dcc52e4295644ff8f94f4ef898aa8a5ad81a5b84","slashed":false,"status":"exited","validatorindex":4235,"withdrawableepoch":250495,"withdrawalcredentials":"0x010000000000000000000000865c05c13d422310d9421e4da915b73e5289a6b1","total_withdrawals":37264035925}}

        '
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Sun, 15 Sep 2024 08:38:37 GMT
      Ratelimit-Bucket:
      - default
      Ratelimit-Limit:
      - '5'
      Ratelimit-Remaining:
      - '4'
      Ratelimit-Reset:
      - '1'
      Ratelimit-Validapikey:
      - 'false'
      Ratelimit-Window:
      - second
      X-Ratelimit-Limit-Day:
      - '30000'
      X-Ratelimit-Limit-Hour:
      - '30000'
      X-Ratelimit-Limit-Minute:
      - '30000'
      X-Ratelimit-Limit-Month:
      - '30000'
      X-Ratelimit-Limit-Second:
      - '5'
      X-Ratelimit-Remaining-Day:
      - '29171'
      X-Ratelimit-Remaining-Hour:
      - '29171'
      X-Ratelimit-Remaining-Minute:
      - '29171'
      X-Ratelimit-Remaining-Month:
      - '29171'
      X-Ratelimit-Remaining-Second:
      - '4'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://beaconcha.in/api/v1/validator/0x827e0f30c3d34e3ee58957dd7956b0f194d64cc404fca4a7313dc1b25ac1f28dcaddf59d05fbda798fa5b894c91b84fb
  response:
    body:
      string: '{"status":"OK","data":{"activationeligibilityepoch":0,"activationepoch":0,"balance":32014610225,"effectivebalance":32000000000,"exitepoch":9223372036854775807,"lastattestationslot":9963789,"name":"","pubkey":"0x827e0f30c3d34e3ee58957dd7956b0f194d64cc404fca4a7313[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://beaconcha.in/api/v1/validator/5235,43948
  response:
    body:
      string: '{"status":"OK","data":[{"activationeligibilityepoch":0,"activationepoch":0,"balance":32014610225,"effectivebalance":32000000000,"exitepoch":9223372036854775807,"lastattestationslot":9963789,"name":"","pubkey":"0x827e0f30c3d34e3ee58957dd7956b0f194d64cc404fca4a7313dc1b25ac1f28dcaddf59d05fbda798fa5b894c91b84fb","slashed":false,"status":"active_online"[...]
[...]
