interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://beaconcha.in/api/v1/validator/10000
  response:
    body:
      string: '{"status":"OK","data":{"activationeligibilityepoch":0,"activationepoch":0,"balance":32007554307,"effectivebalance":32000000000,"exitepoch":9223372036854775807,"lastattestationslot":9346862,"name":"","pubkey":"0x945f3b894c8e7fb6f61cff5d6f388298953b4114949dff1f356358d20657907e6af8ea81c8b326c378457d6593ffca16","slashed":false,"status":"active_online","validatorindex":10000,"withdrawableepoch":9223372036854775807,"withdrawalcredentials":"0x0100000000000000000000001959062d601c40ef3b093a63f0954c6ee54a0a0f","total_withdrawals":5871597494}}

        '
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Fri, 21 Jun 2024 16:13:45 GMT
      Ratelimit-Limit:
      - '5'
      Ratelimit-Remaining:
      - '4'
      Ratelimit-Reset:
      - '1'
      Ratelimit-Window:
      - second
      X-Ratelimit-Limit-Day:
      - '120000'
      X-Ratelimit-Limit-Hour:
      - '120000'
      X-Ratelimit-Limit-Minute:
      - '120000'
      X-Ratelimit-Limit-Month:
      - '120000'
      X-Ratelimit-Limit-Second:
      - '5'
      X-Ratelimit-Remaining-Day:
      - '119923'
      X-Ratelimit-Remaining-Hour:
      - '119923'
      X-Ratelimit-Remaining-Minute:
      - '119923'
      X-Ratelimit-Remaining-Month:
      - '119923'
      X-Ratelimit-Remaining-Second:
      - '4'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://beaconcha.in/api/v1/validator/0x945f3b894c8e7fb6f61cff5d6f388298953b4114949dff1f356358d20657907e6af8ea81c8b326c378457d6593ffca16
  response:
    body:
      string: '{"status":"OK","data":{"activationeligibilityepoch":0,"activationepoch":0,"balance":32007554307,"effectivebalance":32000000000,"exitepoch":9223372036854775807,"lastattestationslot":9346862,"name":"","pubkey":"0x945f3b894c8e7fb6f61cff5d6f388298953b4114949dff1f356[...]
