interactions:
- request:
    body: '{"indicesOrPubkey": "0"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://beaconcha.in/api/v1/validator
  response:
    body:
      string: '{"status":"OK","data":{"activationeligibilityepoch":0,"activationepoch":0,"balance":32015027404,"effectivebalance":32000000000,"exitepoch":9223372036854775807,"lastattestationslot":11046570,"name":"","pubkey":"0x933ad9491b62059dd065b560d256d8957a8c402cc6e8d8ee7290ae11e8f7329267a8811c397529dac52ae1342ba58c95","slashed":false,"status":"active_online","validatorindex":0,"withdrawableepoch":9223372036854775807,"withdrawalcredentials":"0x0100000000000000000000000d369bb49efa5100fd3b86a9f828c55da04d2d50","total_withdrawals":6407169059}}

        '
    headers:
      Content-Type:
      - application/json
      Ratelimit-Bucket:
      - default
      Ratelimit-Limit:
      - '5'
      Ratelimit-Remaining:
      - '4'
      Ratelimit-Reset:
      - '1'
      Ratelimit-Validapikey:
      - 'false'
      Ratelimit-Window:
      - second
      X-Ratelimit-Limit-Day:
      - '30000'
      X-Ratelimit-Limit-Hour:
      - '30000'
      X-Ratelimit-Limit-Minute:
      - '30000'
      X-Ratelimit-Limit-Month:
      - '30000'
      X-Ratelimit-Limit-Second:
      - '5'
      X-Ratelimit-Remaining-Day:
      - '29869'
      X-Ratelimit-Remaining-Hour:
      - '29869'
      X-Ratelimit-Remaining-Minute:
      - '29869'
      X-Ratelimit-Remaining-Month:
      - '29869'
      X-Ratelimit-Remaining-Second:
      - '4'
    status:
      code: 200
      message: OK
[...]
