interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://beaconcha.in/api/v1/validator/4235
  response:
    body:
      string: '{"status":"OK","data":{"activationeligibilityepoch":0,"activationepoch":0,"balance":0,"effectivebalance":0,"exitepoch":250239,"lastattestationslot":8007617,"name":"","pubkey":"0xadd548bb2e6962c255ec5420e40e6e506dfc936592c700d56718ada7dcc52e4295644ff8f94f4ef898aa8a5ad81a5b84","slashed":false,"status":"exited","validatorindex":4235,"withdrawableepoch":250495,"withdrawalcredentials":"0x010000000000000000000000865c05c13d422310d9421e4da915b73e5289a6b1","total_withdrawals":37264035925}}

        '
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Sat, 03 Feb 2024 23:46:09 GMT
      RateLimit-Limit:
      - '5'
      RateLimit-Remaining:
      - '4'
      RateLimit-Reset:
      - '1'
      WWW-Authenticate:
      - Key realm="kong"
      X-RateLimit-Limit-Day:
      - '30000'
      X-RateLimit-Limit-Hour:
      - '10000'
      X-RateLimit-Limit-Minute:
      - '20'
      X-RateLimit-Limit-Month:
      - '120000'
      X-RateLimit-Limit-Second:
      - '5'
      X-RateLimit-Remaining-Day:
      - '29925'
      X-RateLimit-Remaining-Hour:
      - '9928'
      X-RateLimit-Remaining-Minute:
      - '15'
      X-RateLimit-Remaining-Month:
      - '119925'
      X-RateLimit-Remaining-Second:
      - '4'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://beaconcha.in/api/v1/validator/0x827e0f30c3d34e3ee58957dd7956b0f194d64cc404fca4a7313dc1b25ac1f28dcaddf59d05fbda798fa5b894c91b84fb
  response:
    body:
      string: '{"status":"OK","data":{"activationeligibilityepoch":0,"activationepoch":0,"balance":32007131953,"effectivebalance":32000000000,"exitepoch":9223372036854775807,"lastattestationslot":8348310,"name":"","pubkey":"0x827e0f30c3d34e3ee58957dd7956b0f194d64cc404fca4a7313[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://beaconcha.in/api/v1/validator/43948
  response:
    body:
      string: '{"status":"OK","data":{"activationeligibilityepoch":2466,"activationepoch":5766,"balance":32006764642,"effectivebalance":32000000000,"exitepoch":9223372036854775807,"lastattestationslot":8348313,"name":"","pubkey":"0x922127b0722e0fca3ceeffe78a6d2f91f5b78edff42b65cce438f5430e67f389ff9f8f6a14a26ee6467051ddb1cc21eb","slashed":false,"status":"active_online","validatorindex":43948,"withdrawableepoch":9223372036854775807,"withdrawalcredentials":"0x010000000000000000000000fa7f89a14d005f057107755ca18345728e2e3938","total_withdrawals":5022790337}}

        '
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Sat, 03 Feb 2024 23:46:11 GMT
      RateLimit-Limit:
      - '5'
      RateLimit-Remaining:
      - '4'
      RateLimit-Reset:
      - '1'
      WWW-Authenticate:
      - Key realm="kong"
      X-RateLimit-Limit-Day:
      - '30000'
      X-RateLimit-Limit-Hour:
      - '10000'
      X-RateLimit-Limit-Minute:
      - '20'
      X-RateLimit-Limit-Month:
      - '120000'
      X-RateLimit-Limit-Second:
      - '5'
      X-RateLimit-Remaining-Day:
      - '29977'
      X-RateLimit-Remaining-Hour:
      - '9978'
      X-RateLimit-Remaining-Minute:
      - '17'
      X-RateLimit-Remaining-Month:
      - '119977'
      X-RateLimit-Remaining-Second:
      - '4'
    status:
      code: 200
      message: OK
version: 1
