interactions:
- request:
    body: '{"validator": {"validator_identifiers": [2019737]}, "chain": "mainnet"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://beaconcha.in/api/v2/ethereum/validators
  response:
    body:
      string: '{"data":[{"validator":{"index":2019737,"public_key":"0x80000d30002732d5afb4133447221259f956c35e6700e45d54e19d0321aae5efff41dcea57e181b7dba05d820e99f269"},"slashed":false,"status":"active_ongoing","online":true,"withdrawal_credentials":{"type":"execution_address","prefix":"0x01","credential":"0x0100000000000000000000002b78035514401ed1592eb691b8673a93edf97470","address":"0x2B78035514401eD1592Eb691b8673a93Edf97470"},"life_cycle_epochs":{"activation_eligibility":380571,"activation":380577,"exit":null,"withdrawable":null},"balances":{"current":"32004361527000000000","effective":"32000000000000000000"},"finality":"not_finalized"}],"paging":{"next_cursor":""},"range":{"slot":{"start":14214528,"end":14214559},"epoch":{"start":444204,"end":444204},"timestamp":{"start":1777398359,"end":1777398742}}}

        '
    headers:
      Content-Type:
      - application/json
      Ratelimit-Bucket:
      - default
      Ratelimit-Limit:
      - '1'
      Ratelimit-Remaining:
      - '0'
      Ratelimit-Reset:
      - '1'
      Ratelimit-Validapikey:
      - 'true'
      Ratelimit-Window:
      - second
      X-Beaconchain-Version:
      - 26.17.2
      X-Ratelimit-Limit-Day:
      - '1000'
      X-Ratelimit-Limit-Hour:
      - '1000'
      X-Ratelimit-Limit-Minute:
      - '1000'
      X-Ratelimit-Limit-Month:
      - '1000'
      X-Ratelimit-Limit-Second:
      - '1'
      X-Ratelimit-Remaining-Day:
      - '919'
      X-Ratelimit-Remaining-Hour:
      - '919'
      X-Ratelimit-Remaining-Minute:
      - '919'
      X-Ratelimit-Remaining-Month:
      - '919'
      X-Ratelimit-Remaining-Second:
      - '0'
    status:
      code: 200
      message: OK
[...]
