interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://bisq.markets/api/ticker?market=BSQ_BTC
  response:
    body:
      string: '{"last":"0.00003195","high":"0.00003590","low":"0.00002795","volume_left":"3409.13515274","volume_right":"0.09840000","buy":"0.00002746","sell":"0.00002995"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"9d-+WM7Jm7C3Nyk0PgkV1q7Qv0au6o"
      Onion-Location:
      - http://bisqmktse2cabavbr2xjq7xw3h6g5ottemo5rolfcwt6aly6tp5fdryd.onion/api/ticker?market=BSQ_BTC
    status:
      code: 200
      message: OK
version: 1
