interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.etherscan.io/api?module=proxy&action=eth_call&to=0x00000000000C2E074eC69A0dFb2997BA6C7d2e1e&data=0x0178b8bf9de0b76f3b87380f0bcb9e41b403c69b88b01fbeaf785e83f38a6879902af71b&apikey=8JT7WQBB2VQP5C3416Y8X3S8GBA3CVZKP4
  response:
    body:
      string: '{"jsonrpc":"2.0","id":1,"result":"0x000000000000000000000000231b0ee14048e9dccd1d247744d114a4eb5e8e63"}

        '
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://raw.githubusercontent.com/polkascan/py-scale-codec/v1.0/scalecodec/type_registry/kusama.json
  response:
    body:
      string: "{\n  \"runtime_id\": 9122,\n  \"types\": {\n    \"Address\": \"MultiAddress\",\n
        \   \"LookupSource\": \"MultiAddress\",\n    \"AccountInfo\": \"AccountInfoWithTripleRefCount\",\n
        \   \"BlockNumber\": \"U32\",\n    \"LeasePeriod\": \"BlockNumber\",\n    \"Weight\":
        \"WeightV1\",\n    \"Keys\": {\n      \"type\": \"struct\",\n      \"type_mapping\":
        [\n         [\"grandpa\", \"AccountId\"],\n         [\"babe\", \"AccountId\"],\n
        \        [\"im_online\", \"AccountId\"],\n         [\"para_validator\", \"AccountId\"],\n
        \        [\"para_assignment\", \"AccountId\"],\n         [\"authority_discovery\",
        \"AccountId\"]\n      ]\n    },\n    \"DispatchInfo\": {\n      \"type\":
        \"struct\",\n      \"type_mapping\": [\n         [\"weight\", \"Weight\"],\n
        \        [\"class\", \"DispatchClass\"],\n         [\"paysFee\", \"Pays\"]\n
        \     ]\n    },\n    \"ProxyType\": {\n      \"type\": \"enum\",\n      \"value_list\":
        [\n        \"Any\",\n        \"NonTransfer\",\n        \"Governance\",\n        \"Staking\",\n
        \       \"IdentityJudgement\",\n        \"CancelProxy\"\n      ]\n    },\n
        \   \"RefCount\": \"u32\",\n    \"ValidatorPrefs\": \"ValidatorPrefsWithBlocked\",\n
        \   \"CompactAssignments\":  \"CompactAssignmentsWith24\",\n    \"RawSolution\":
        \"RawSolutionWith24\",\n    \"AssetInstance\": \"AssetInstanceV0\",\n    \"MultiAsset\":
        \"MultiAssetV0\",\n    \"MultiLocation\": \"MultiLocationV0\",\n    \"Response\":
        \"ResponseV0\",\n    \"Xcm\": \"XcmV0\",\n    \"XcmOrder\": \"XcmOrderV0\"\n
        \ },\n  \"versioning\": [\n    {\n      \"runtime_range\": [1019, 1031],\n
        \     \"types\": {\n        \"DispatchError\": {\n          \"type\": \"struct\",\n
        \         \"type_mapping\": [\n            [\"module\", \"Option<u8>\"],\n
        \           [\"error\", \"u8\"]\n          ]\n        }\n      }\n    },\n
        \   {\n      \"runtime_range\": [1032, null],\n      \"types\": {\n        \"DispatchError\":
        {\n          \"type\": \"enum\",\n          \"type_mapping\": [\n            [\"Other\",
        \"Null\"],\n            [\"CannotLookup\", \"Null\"],\n            [\"BadOrigin\",
        \"Null\"],\n            [\"Module\", \"DispatchErrorModule\"]\n          ]\n
        \       }\n      }\n    },\n    {\n      \"runtime_range\": [1019, 1037],\n
        \     \"types\": {\n        \"IdentityInfo\": {\n          \"type\": \"struct\",\n
        \         \"type_mapping\": [\n             [\"additional\", \"Vec<IdentityInfoAdditional>\"],\n
        \            [\"display\", \"Data\"],\n             [\"legal\", \"Data\"],\n
        \            [\"web\", \"Data\"],\n             [\"riot\", \"Data\"],\n             [\"email\",
        \"Data\"],\n             [\"pgp_fingerprint\", \"Option<H160>\"],\n             [\"image\",
        \"Data\"]\n          ]\n        }\n      }\n    },\n    {\n      \"runtime_range\":
        [1038, null],\n      \"types\": {\n        \"IdentityInfo\": {\n          \"type\":
        \"struct\",\n          \"type_mapping\": [\n             [\"additional\",
        \"Vec<IdentityInfoAdditional>\"],\n             [\"display\", \"Data\"],\n
        \            [\"legal\", \"Data\"],\n             [\"web\", \"Data\"],\n             [\"riot\",
        \"Data\"],\n             [\"email\", \"Data\"],\n             [\"pgp_fingerprint\",
        \"Option<H160>\"],\n             [\"image\", \"Data\"],\n             [\"twitter\",
        \"Data\"]\n          ]\n        }\n      }\n    },\n    {\n      \"runtime_range\":
        [1019, 1042],\n      \"types\": {\n        \"SlashingSpans\": {\n          \"type\":
        \"struct\",\n          \"type_mapping\": [\n             [\"span_index\",
        \"SpanIndex\"],\n             [\"last_start\", \"EraIndex\"],\n             [\"prior\",
        \"Vec<EraIndex>\"]\n          ]\n        }\n      }\n    },\n    {\n      \"runtime_range\":
        [1043, null],\n      \"types\": {\n        \"SlashingSpans\": {\n          \"type\":
        \"struct\",\n          \"type_mapping\": [\n             [\"span_index\",
        \"SpanIndex\"],\n             [\"last_start\", \"EraIndex\"],\n             [\"last_nonzero_slash\",
        \"EraIndex\"],\n             [\"prior\", \"Vec<EraIndex>\"]\n          ]\n
        \       }\n      }\n    },\n    {\n      \"runtime_range\": [1019, 1045],\n
        \     \"types\": {\n        \"StakingLedger\": \"StakingLedgerTo223\",\n        \"BalanceLock\":
        {\n          \"type\": \"struct\",\n          \"type_mapping\": [\n             [\"id\",
        \"LockIdentifier\"],\n             [\"amount\", \"Balance\"],\n             [\"until\",
        \"BlockNumber\"],\n             [\"reasons\", \"WithdrawReasons\"]\n          ]\n
        \       }\n      }\n    },\n    {\n      \"runtime_range\": [1050, 1056],\n
        \     \"types\": {\n        \"StakingLedger\": \"StakingLedgerTo240\",\n        \"BalanceLock\":
        {\n          \"type\": \"struct\",\n          \"type_mapping\": [\n             [\"id\",
        \"LockIdentifier\"],\n             [\"amount\", \"Balance\"],\n             [\"reasons\",
        \"Reasons\"]\n          ]\n        }\n      }\n    },\n    {\n      \"runtime_range\":
        [1057, null],\n      \"types\": {\n        \"StakingLedger\": {\n          \"type\":
        \"struct\",\n          \"type_mapping\": [\n            [\n              \"stash\",\n
        \             \"AccountId\"\n            ],\n            [\n              \"total\",\n
        \             \"Compact<Balance>\"\n            ],\n            [\n              \"active\",\n
        \             \"Compact<Balance>\"\n            ],\n            [\n              \"unlocking\",\n
        \             \"Vec<UnlockChunk>\"\n            ],\n            [\n              \"claimed_rewards\",\n
        \             \"Vec<EraIndex>\"\n            ]\n          ]\n        },\n
        \       \"BalanceLock\": {\n          \"type\": \"struct\",\n          \"type_mapping\":
        [\n             [\"id\", \"LockIdentifier\"],\n             [\"amount\", \"Balance\"],\n
        \            [\"reasons\", \"Reasons\"]\n          ]\n        }\n      }\n
        \   },\n    {\n      \"runtime_range\": [1019, 1054],\n      \"types\": {\n
        \       \"ReferendumInfo\": {\n          \"type\": \"struct\",\n          \"type_mapping\":
        [\n             [\"end\", \"BlockNumber\"],\n             [\"proposal\", \"Proposal\"],\n
        \            [\"threshold\", \"VoteThreshold\"],\n             [\"delay\",
        \"BlockNumber\"]\n          ]\n        }\n      }\n    },\n    {\n      \"runtime_range\":
        [1054, null],\n      \"types\": {\n        \"ReferendumInfo\": {\n          \"type\":
        \"enum\",\n          \"type_mapping\": [\n            [\"Ongoing\", \"ReferendumStatus\"],\n
        \           [\"Finished\", \"ReferendumInfoFinished\"]\n          ]\n        }\n
        \     }\n    },\n    {\n      \"runtime_range\": [1019, 1056],\n      \"types\":
        {\n        \"WeightV1\": \"u32\",\n        \"Weight\": \"WeightV1\"\n      }\n
        \   },\n    {\n      \"runtime_range\": [1057, null],\n      \"types\": {\n
        \       \"WeightV1\": \"u64\",\n        \"Weight\": \"WeightV1\"\n      }\n
        \   },\n    {\n      \"runtime_range\": [1019, 1061],\n      \"types\": {\n
        \       \"Heartbeat\": {\n          \"type\": \"struct\",\n          \"type_mapping\":
        [\n             [\"block_number\", \"BlockNumber\"],\n             [\"network_state\",
        \"OpaqueNetworkState\"],\n             [\"session_index\", \"SessionIndex\"],\n
        \            [\"authority_index\", \"AuthIndex\"]\n          ]\n        },\n
        \       \"DispatchInfo\": {\n          \"type\": \"struct\",\n          \"type_mapping\":
        [\n             [\"weight\", \"Weight\"],\n             [\"class\", \"DispatchClass\"],\n
        \            [\"pays_fee\", \"bool\"]\n          ]\n        }\n      }\n    },\n
        \   {\n      \"runtime_range\": [1062, null],\n      \"types\": {\n        \"Heartbeat\":
        {\n          \"type\": \"struct\",\n          \"type_mapping\": [\n             [\"block_number\",
        \"BlockNumber\"],\n             [\"network_state\", \"OpaqueNetworkState\"],\n
        \            [\"session_index\", \"SessionIndex\"],\n             [\"authority_index\",
        \"AuthIndex\"],\n             [\"validators_len\", \"u32\"]\n          ]\n
        \       },\n        \"DispatchInfo\": {\n          \"type\": \"struct\",\n
        \         \"type_mapping\": [\n             [\"weight\", \"Weight\"],\n             [\"class\",
        \"DispatchClass\"],\n             [\"pays_fee\", \"Pays\"]\n          ]\n
        \       }\n      }\n    },\n    {\n      \"runtime_range\": [1019, 2012],\n
        \     \"types\": {\n        \"OpenTip\": {\n          \"type\": \"struct\",\n
        \         \"type_mapping\": [\n             [\"reason\", \"Hash\"],\n             [\"who\",
        \"AccountId\"],\n             [\"finder\", \"Option<OpenTipFinder>\"],\n             [\"closes\",
        \"Option<BlockNumber>\"],\n             [\"tips\", \"Vec<OpenTipTip>\"]\n
        \         ]\n        }\n      }\n    },\n    {\n      \"runtime_range\": [2013,
        null],\n      \"types\": {\n        \"OpenTip\": {\n          \"type\": \"struct\",\n
        \         \"type_mapping\": [\n             [\"reason\", \"Hash\"],\n             [\"who\",
        \"AccountId\"],\n             [\"finder\", \"AccountId\"],\n             [\"deposit\",
        \"Balance\"],\n             [\"closes\", \"Option<BlockNumber>\"],\n             [\"tips\",
        \"Vec<Ope[...]
- request:
    body: '{"jsonrpc": "2.0", "method": "system_chain", "params": [], "id": 1}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://ksm.getblock.io/ae78eb1d-2643-4e22-b691-0ecb9d9c5e08/mainnet/
  response:
    body:
      string: '{"jsonrpc":"2.0","result":"Kusama","id":1}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-cluster:
      - Shared nodes
    status:
      code: 200
      message: OK
- request:
    body: '{"jsonrpc": "2.0", "method": "rpc_methods", "params": [], "id": 2}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://ksm.getblock.io/ae78eb1d-2643-4e22-b691-0ecb9d9c5e08/mainnet/
  response:
    body:
      string: '{"jsonrpc":"2.0","result":{"methods":["account_nextIndex","author_hasKey","author_hasSessionKeys","author_insertKey","author_pendingExtrinsics","author_removeExtrinsic","author_rotateKeys","author_submitAndWatchExtrinsic","author_submitExtrinsic","author_unwatchExtrinsic","babe_epochAuthorship","beefy_getFinalizedHead","beefy_subscribeJustifications","beefy_unsubscribeJustifications","chainHead_unstable_body","chainHead_unstable_call","chainHead_unstable_follow","chainHead_unstable_genesisHash","chainHead_unstable_header","chainHea[...]
[...]
- request:
    body: '{"jsonrpc": "2.0", "method": "chain_getHeader", "params": ["0xd2751ec5cba465c4b2a64ea870c66cb155652ecbe3caecf70fef11168c4f0ddf"],
      "id": 4}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://ksm.getblock.io/ae78eb1d-2643-4e22-b691-0ecb9d9c5e08/mainnet/
  response:
    body:
      string: '{"jsonrpc":"2.0","result":{"parentHash":"0xa76623be70c5e3ea1210f909ce401afa5b0fb233efe76afcdd31496283fc922a","number":"0x1326270","stateRoot":"0x41e8d75199e7bdbfd0ac181a6d4f590f08f392812bab183ee40077b94ada3fb6","extrinsicsRoot":"0x584e2616a6f48fdc608c41a4ba411473819d60a63296a4c48af73016ad0269b9","digest":{"logs":["0x0642414245b5010332030000d7fedb1000000000dcf360533655a059326b2709c25e74c94380225bd1381e8dc89510d1cddcf51aaf349a2d2bbebc99bf6d3e52823e95469ff4f1ebf2a4049a20c6f69dd8278008e10c8a21bb68c41bd6aaf9e6d92992dd08152f5bf6856099cd6aede44b1c2e0c","0x0542414245010198c156d2a4a22a3d849e8f54b9dccd0ddce21bc45ab61349b01e652a615af928f5173b8fcc4563aab434ea7bad256e19e64748fa15f83fb836306ece8effc48a"]}},"id":4}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-cluster:
      - Shared nodes
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://kusama.api.subscan.io/api/scan/metadata
  response:
    body:
      string: '{"code":0,"message":"Success","generated_at":1697118471,"data":{"addressType":"2","avgBlockTime":"6","blockNum":"20079215","blockTime":"6","bootTime":"1574962074","commissionAccuracy":"9","count_account":"293985","count_event":"502932369","count_signed_extrinsic":"10874720","count_transfer":"7156922","currentPools":"155","current_era":"5758","current_validator_count":"1000","epochLength":"600","epochProcess":"198","eraLength":"3600","eraProcess":"798","exist_roles":"convictionDelegated,proxies,multisig,module,convictionDelegate,fellowship,onChainIdentity,democracyDelegate,validator,nominator,multisigMember,registrar,proxy,democracyDelegated","finalized_blockNum":"20079212","history_depth":"0","implName":"parity-kusama","maxNominatorRewardedPerValidator":"512","maxPools":"256","networkNode":"kusama","specVersion":"9430","unbondDuration":"100800","validator_count":"1000","waiting_validator":"1146"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '2'
      Ratelimit-Remaining:
      - '1'
      Ratelimit-Reset:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"jsonrpc": "2.0", "method": "system_properties", "params": [], "id": 5}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://ksm.getblock.io/ae78eb1d-2643-4e22-b691-0ecb9d9c5e08/mainnet/
  response:
    body:
      string: '{"jsonrpc":"2.0","result":{"ss58Format":2,"tokenDecimals":12,"tokenSymbol":"KSM"},"id":5}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-cluster:
      - Shared nodes
    status:
      code: 200
      message: OK
version: 1
