interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://data-api.cryptocompare.com/index/cc/v1/historical/days?instrument=BTC-EUR&limit=1&market=cadli&to_ts=1479200704
  response:
    body:
      string: '{"Data":[{"UNIT":"DAY","TIMESTAMP":1479168000,"TYPE":"986","MARKET":"cadli","INSTRUMENT":"BTC-EUR","OPEN":660.668063761759,"HIGH":668.383156814519,"LOW":656.88090348094,"CLOSE":664.837256889238,"FIRST_MESSAGE_TIMESTAMP":1479168000,"LAST_MESSAGE_TIMESTAMP":1479254340,"FIRST_MESSAGE_VALUE":659.549288144481,"HIGH_MESSAGE_VALUE":668.383156814519,"HIGH_MESSAGE_TIMESTAMP":1479242160,"LOW_MESSAGE_VALUE":658.257568279469,"LOW_MESSAGE_TIMESTAMP":1479169680,"LAST_MESSAGE_VALUE":664.837256889238,"TOTAL_INDEX_UPDATES":0,"VOLUME":81728.7726103257,"QUOTE_VOLUME":54207787.4107471,"VOLUME_TOP_TIER":30627.0023639257,"QUOTE_VOLUME_TOP_TIER":20327975.5545261,"VOLUME_DIRECT":0,"QUOTE_VOLUME_DIRECT":0,"VOLUME_TOP_TIER_DIRECT":0,"QUOTE_VOLUME_TOP_TIER_DIRECT":0}],"Err":{}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-CryptoCompare-Cache-Hit:
      - 'false'
      X-CryptoCompare-Server-Id:
      - cc-api-data-11
      X-RateLimit-Limit:
      - 100000, 1;window=1;burst=50;policy="fixed window", 3;window=60;burst=2500;policy="fixed
        window", 139;window=3600;burst=25000;policy="fixed window", 3334;window=86400;burst=50000;policy="fixed
        window", 100000;window=2592000;policy="fixed window"
      X-RateLimit-Remaining:
      - '99921'
      X-RateLimit-Remaining-All:
      - 99921, 49;window=1, 2499;window=60, 24999;window=3600, 49964;window=86400,
        99921;window=2592000
      X-RateLimit-Reset:
      - '1409297'
      X-RateLimit-Reset-All:
      - 1409297, 1;window=1, 17;window=60, 1697;window=3600, 26897;window=86400, 1409297;window=2592000
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://data-api.cryptocompare.com/index/cc/v1/historical/days?instrument=XMR-BTC&limit=1&market=cadli&to_ts=1579200704
  response:
    body:
      string: '{"Data":[{"UNIT":"DAY","TIMESTAMP":1579132800,"TYPE":"986","MARKET":"cadli","INSTRUMENT":"XMR-BTC","OPEN":0.00761172915759235,"HIGH":0.00785208939523689,"LOW":0.00697175262431721,"CLOSE":0.00749129895207403,"FIRST_MESSAGE_TIMESTAMP":1579132800,"LAST_MESSAGE_TIMESTAMP":1579219140[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://data-api.cryptocompare.com/index/cc/v1/historical/days?instrument=USDT-USD&limit=1&market=cadli&to_ts=1704135600
  response:
    body:
      string: '{"Data":[{"UNIT":"DAY","TIMESTAMP":1704067200,"TYPE":"267","MARKET":"cadli","INSTRUMENT":"USDT-USD","OPEN":0.999878006396135,"HIGH":1.00052267571331,"LOW":0.999709017064957,"CLOSE":1.00036501912699,"FIRST_MESSAGE_TIMESTAMP":1704067200,"LAST_MESSAGE_TIMESTAMP":1704153599,"FIRST_[...]
