interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://min-api.cryptocompare.com/data/pricehistorical?fsym=BTC&tsyms=EUR&ts=1479200704
  response:
    body:
      string: '{"BTC":{"EUR":663.66}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-CryptoCompare-Cache-HIT:
      - 'false'
      X-CryptoCompare-Server-Id:
      - cc-api-min-v2-13
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://min-api.cryptocompare.com/data/pricehistorical?fsym=XMR&tsyms=BTC&ts=1579200704&tryConversion=false
  response:
    body:
      string: '{"XMR":{"BTC":0.007526}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-CryptoCompare-Cache-HIT:
      - 'false'
      X-CryptoCompare-Server-Id:
      - cc-api-min-v2-30
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.coingecko.com/api/v3/coins/vecrv-dao-yvault/history?date=01-01-2024&localization=false
  response:
    body:
      string: '{"id":"vecrv-dao-yvault","symbol":"yve-crvdao","name":"veCRV-DAO yVault","image":{"thumb":"https://assets.coingecko.com/coins/images/13065/thumb/yearn_veCRV.png?1696512854","small":"https://assets.coingecko.com/coins/images/13065/small/yearn_veCRV.png?1696512854"},"market_data":{"current_price":{"aed":2.11965763110293,"ars":467.9482896500743,"aud":0.8472270550197596,"bch":0.002216672057466861,"bdt":63.45795453813446,"bhd":0.21789548680021212,"bmd":0.5771301464712261,"bnb":0.0018388460509953346,"brl":2.800524035751631,"btc":1.356022767207339e-05,"cad":0.7646945584236425,"chf":0.48577794697673465,"clp":510.4878088257089,"cny":4.085966010986993,"czk":12.916114965011392,"dkk":3.897864867998355,"dot":0.0691289290966364,"eos":0.6751623891165837,"eth":0.0002526182428432577,"eur":0.5228741414014656,"gbp":0.4533622780398859,"gel":1.5495944432752442,"hkd":4.506843941602592,"huf":200.41623461911,"idr":8882.090667206812,"ils":2.0791690656772452,"inr":48.0281648026817,"jpy":81.39179886161737,"krw":747.1122885113962,"kwd":0.1778034097851489,"lkr":187.28344364329882,"ltc":0.007827723552281418,"mmk":1214.2911949977376,"mxn":9.796348503088483,"myr":2.651913023035281,"ngn":518.4283312813741,"nok":5.871947190955384,"nzd":0.9134192657788385,"php":31.97300896024557,"pkr":160.86256347195038,"pln":2.268146869358367,"rub":51.508862109776004,"sar":2.1642380492670927,"sek":5.822290913152992,"sgd":0.7615376565224452,"thb":19.86921621899545,"try":16.948188562920908,"twd":17.708401705757172,"uah":21.98549763874153,"usd":0.5771301464712261,"vef":0.05778804156616388,"vnd":14006.31532493082,"xag":0.024255793163635117,"xau":0.0002793136769876794,"xdr":0.4308311171216495,"xlm":4.4658491277638985,"xrp":0.9320110847090968,"yfi":7.04884641279684e-05,"zar":10.558711455720374,"bits":13.560227672073388,"link":0.03810642471509666,"sats":1356.0227672073388},"market_cap":{"aed":43447709.73895349,"ars":9591776126.117672,"aud":17366047.530201137,"bch":45444.54987629353,"bdt":1300730244.8018308,"bhd":4466315.562007785,"bmd":11829732.650000773,"bnb":37805.30229672714,"brl":57403777.684128694,"btc":278.0225128842465,"cad":15674336.612587787,"chf":9957239.75803011,"clp":10463730471.223852,"cny":83752141.21547545,"czk":264748233.7337524,"dkk":79896535.60152407,"dot":1417654.3772230092,"eos":13871911.241841981,"eth":5179.459616459796,"eur":10717619.483574202,"gbp":92927[...]
