interactions:
- request:
    body: '{"type": "evm", "fromBlock": 24474844, "toBlock": 24484843, "fields": {"block":
      {"number": true, "timestamp": true}, "transaction": {"hash": true, "from": true,
      "to": true, "value": true, "l1Fee": true, "input": true, "gas": true, "gasUsed":
      true, "nonce": true, "status": true, "gasPrice": true, "transactionIndex": true}},
      "transactions": [{"from": ["0xc37b40abdb939635068d3c5f13e7faf686f03b65"]}, {"to":
      ["0xc37b40abdb939635068d3c5f13e7faf686f03b65"]}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://portal.sqd.dev/datasets/ethereum-mainnet/finalized-stream
  response:
    body:
      string: '{"header":{"number":24474844,"timestamp":1771310711}}

        {"header":{"number":24475067,"timestamp":1771313423}}

        {"header":{"number":24475068,"timestamp":1771313435}}

        {"header":{"number":24475329,"timestamp":1771316579}}

        {"header":{"number":24475330,"timestamp":1771316591}}

        {"header":{"number":24475591,"timestamp":1771319735}}

        {"header":{"number":24475592,"timestamp":1771319747}}

        {"header":{"number":24475849,"timestamp":1771322831}}

        {"head[...]
[...]
- request:
    body: '{"type": "evm", "fromBlock": 24484506, "toBlock": 24484843, "fields": {"block":
      {"number": true, "timestamp": true}, "transaction": {"hash": true, "from": true,
      "to": true, "value": true, "l1Fee": true, "input": true, "gas": true, "gasUsed":
      true, "nonce": true, "status": true, "gasPrice": true, "transactionIndex": true}},
      "transactions": [{"from": ["0xc37b40abdb939635068d3c5f13e7faf686f03b65"]}, {"to":
      ["0xc37b40abdb939635068d3c5f13e7faf686f03b65"]}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://portal.sqd.dev/datasets/ethereum-mainnet/finalized-stream
  response:
    body:
      string: '{"header":{"number":24484506,"timestamp":1771427171}}

        {"header":{"number":24484724,"timestamp":1771429787}}

        {"header":{"number":24484725,"timestamp":1771429799}}

        {"header":{"number":24484843,"timestamp":1771431215}}

        '
    headers:
      Content-Type:
      - application/jsonl
      x-sqd-data-source:
      - network
      x-sqd-finalized-head-hash:
      - '0xabe74750dd3ccdcb45f0f513d5f2d447c8cb602f825edcbd116dd4d03f2297c8'
      x-sqd-finalized-head-number:
      - '24527399'
      x-sqd-head-number:
      - '24527578'
    status:
      code: 200
      message: OK
- request:
    body: '{"type": "evm", "fromBlock": 24484844, "toBlock": 24484844, "fields": {"block":
      {"number": true, "timestamp": true}, "transaction": {"hash": true, "from": true,
      "to": true, "value": true, "l1Fee": true, "input": true, "gas": true, "gasUsed":
      true, "nonce": true, "status": true, "gasPrice": true, "transactionIndex": true}},
      "transactions": [{"from": ["0xc37b40abdb939635068d3c5f13e7faf686f03b65"]}, {"to":
      ["0xc37b40abdb939635068d3c5f13e7faf686f03b65"]}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://portal.sqd.dev/datasets/ethereum-mainnet/finalized-stream
  response:
    body:
      string: '{"header":{"number":24484844,"timestamp":1771431227},"transactions":[{"transactionIndex":103,"hash":"0x02d2882ba4119e2c18288d7af306903638a6c78082b9d26c57db4b3a24c2299c","nonce":57,"from":"0xc37b40abdb939635068d3c5f13e7faf686f03b65","to":"0x2b888954421b424c5d3d9ce9bb67c9bd47537d12","input":"0x","value":"0x9184e72a000","gas":"0x5208","gasPrice":"0x1fffb94c","gasUsed":"0x5208","status":1,"l1Fee":null}]}

        '
    headers:
      Content-Type:
      - application/jsonl
      x-sqd-data-source:
      - network
      x-sqd-finalized-head-hash:
      - '0xabe74750dd3ccdcb45f0f513d5f2d447c8cb602f825edcbd116dd4d03f2297c8'
      x-sqd-finalized-head-number:
      - '24527399'
      x-sqd-head-number:
      - '24527578'
    status:
      code: 200
      message: OK
version: 1
