interactions:
- request:
    body: '{"method":"getHealth","jsonrpc":"2.0","id":0}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.mainnet-beta.solana.com
  response:
    body:
      string: '{"jsonrpc":"2.0","result":"ok","id":0}

        '
    headers:
      allow:
      - OPTIONS, POST, GET
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-conn-limit:
      - '40'
      x-ratelimit-conn-remaining:
      - '39'
      x-ratelimit-connrate-limit:
      - '40'
      x-ratelimit-connrate-remaining:
      - '39'
      x-ratelimit-endpoint-limit:
      - unlimited
      x-ratelimit-endpoint-remaining:
      - '-888'
      x-ratelimit-method-limit:
      - '40'
      x-ratelimit-method-remaining:
      - '39'
      x-ratelimit-pubsub-limit:
      - '5'
      x-ratelimit-pubsub-remaining:
      - '5'
      x-ratelimit-rps-limit:
      - '100'
      x-ratelimit-rps-remaining:
      - '95'
      x-ratelimit-tier:
      - free
      x-rpc-node:
      - dal38
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"getTransaction","jsonrpc":"2.0","id":0,"params":["4AS3tNA6ncWCQMHHNzTmkXyMSCnfgSCrhALwdP6MExDxJT2AkCXNRYrLo7hsr2w2KXUD3NeJJa3tZA8HzR9sXYiN",{"encoding":"json","commitment":"finalized","maxSupportedTransactionVersion":0}]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.mainnet-beta.solana.com
  response:
    body:
      string: '{"jsonrpc":"2.0","result":{"blockTime":1772209912,"meta":{"computeUnitsConsumed":150530,"costUnits":156962,"err":null,"fee":105000,"innerInstructions":[{"index":2,"instructions":[{"accounts":[22],"data":"84eT","programIdIndex":9,"stackHeight":2},{"accounts":[0,1],"data":"11119os1e9qSs2u7TsThXqkBSRVFxhmYaFKFZ1waB2X7armDmvK3p5GmLdUxYdg3h7QSrL","programIdIndex":23,"stackHeight":2},{"accounts":[1],"data":"P","programIdIndex":9,"stackHeight":2},{"accounts":[1,22],"data":"6aovjCya46LKMLHHapYC3jnszVMHHtPW3tTu5KJAov1gm","programIdIndex":9,"stackHeight":2}]},{"index":3,"instructions":[{"accounts":[26,32],"data":"6Bv2jXGRJAfNeB","programIdIndex":31,"stackHeight":2},{"accounts":[24,29,15,22,19,17,18,27,1,30,30,30,9,8],"data":"5D3nYNAt6Sare6Kcdu6m1mLyawX6k9jBeNcuR8LVwjeeGRLDCa6DBgVpgbQNzP4JuRqNrhszKnW6LMSNZwPT7VUPNfBRnfbCuscnrB3BLGq8S2mY7wA2bhjbeHR6ELwi8Bw8op73ho9ojekY","programIdIndex":30,"stackHeight":2},{"accounts":[19,22,1,29],"data":"g7eSRZwiTurnL","programIdIndex":9,"stackHeight":3}]}],"loadedAddresses":{"readonly":["So11111111111111111111111111111111111111112","11111111111111111111111111111111","Hkw9798CjV3666pcWiaSbQ6eaAq5geUErn3bnbzpp94y","Es9vMFrzaCERmJfrF4H2FYD4KCoNkY11McCe8BenwNYB","6QBKbRU6bgjDxLeP8XwZmrikkRR5v913b7xwLPVoeNQ5","Acvyi9HBGmqh3Exe1N4PjBVyY8fokq2AdC6fSLqV6KSo","6sAbVeSvEfjQGRAGg9W4PAfhB5qNhYiGdx6Fh9uVEsEC","7s1da8DduuBFqGra5bJBjpnvL5E9mGzCuMk1Qkh4or2Z","jupeiUmn818Jg1ekPURTpr4mFo29p46vygyykFJ3wZC","jupnw4B6Eqs7ft6rxpzYLJZYSnrpRgPcr589n5Kv4oc","7UVimffxr9ow1uXYxsr4LHAcV58mLzhmwaeKvJ1pjLiE"],"writable":["DuyRczjSEd8gdGJWRkHNoo4FWQY1GhgqDVg3hKtE8Jqe","ERxFqmVoxY67GNuxZwTStuLMMWXqSHVtto5KZL86BTGK","4Y66HtUEqbbbpZdENGtFdVhUMS3tnagffn3M4do59Nfy","Enao27EWUV2fv3rUqwknJ1eRaM5aAeN5ijeCrM9tayRX","mNx8M4pJhrUvKCrjt7DKjWMpG19Qu5XUrEgKHcdpJag","8wEzcmbTczEui1Y4JwiuaqvCycCoYGAUpHtVmYNAJ64r","5JP5zgYCb9W37QQLgAHRHuinFLrKt87akDY1CgZoTPzr","4HTRHjdgy4VSVRcsumuzVFCgWywNhjGsD5oG3kqAt5vo","BzoKRFnc3vwyVidcM2dnmexaGbas13XjZ6nZ9Cnpr6Nq"]},"logMessages":["Program
        ComputeBudget111111111111111111111111111111 invoke [1]","Program ComputeBudget111111111111111111111111111111
        success","Program ComputeBudget111111111111111111111111111111 invoke [1]","Program
        ComputeBudget111111111111111111111111111111 success","Program ATokenGPvbdGVxr1b2hvZbsiqW5xWH25efTNsLJA8knL
        invoke [1]","Program log: Create","Program TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA
        invoke [2]","Program log: Instruction: GetAccountDataSize","Program TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA
        consumed 1569 of 992887 compute units","Program return: TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA
        pQAAAAAAAAA=","Program TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA success","Program
        11111111111111111111111111111111 invoke [2]","Program 11111111111111111111111111111111
        success","Program log: Initialize the associated token account","Program TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA
        invoke [2]","Program log: Instruction: InitializeImmutableOwner","Program
        log: Please upgrade to SPL Token 2022 for immutable owner support","Program
        TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA consumed 1405 of 986408 compute
        units","Program TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA success","Program
        TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA invoke [2]","Program log: Instruction:
        InitializeAccount3","Program TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA consumed
        3158 of 982579 compute units","Program TokenkegQfeZyiNwAJbNbGKPFXCWuB[...]
- request:
    body: '{"method":"getAccountInfo","jsonrpc":"2.0","id":0,"params":["BhC6EjAp7yMK9ZPq3zgEcKmuUDVJEwNd9mrziUeH5qXK",{"encoding":"base64","dataSlice":null,"commitment":"finalized","minContextSlot":null}]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.mainnet-beta.solana.com
  response:
    body:
      string: '{"jsonrpc":"2.0","result":{"context":{"apiVersion":"3.1.8","slot":403146971},"value":{"data":["AQAAAP//////////6wb5FwAAAAA8AfXThHA9EZYTEBE16ZudS+D15zBe4N4yA7usku2mNEX6AAAyYwI5kTbrUwfu7xptQiy2+HowuGTS8Z6moBM+a3UnoPj8Ln9EN8ghnOmxnVjAw73SQM18/+aiORhI9Lj9x1zuv94+m+HNAsGpZY053XtmtKatawnyC5YFedWUWCJrFrEGm4hX/quBhPtof2NGGMA12sQ53BrrO1WYoPAAAAAAAc4BDmCv7bInF71jGS9UFFo/llozu4LSxwKess4eIIJkLgqP1K7ys/hH2xPXGWpwu1pMOR6U9X5P3PU/ixVOyVA0idKRQzbzC4ThLYSSi41Qd1jn8xYV4TuNI8WxOVFxiMzVRtzUMlwphFH178CVNa0ABwgYaaxGB4WX/mHfPuhGC15gBCHZU6LPduLq0a7J8obWLg8zQnImBGpzVSDdFX115v6bAS6wIrq+Np+HfcqTOIlA9PcCyd[...]
