interactions:
- request:
    body: '{"method":"getHealth","jsonrpc":"2.0","id":0}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.mainnet-beta.solana.com
  response:
    body:
      string: '{"jsonrpc":"2.0","result":"ok","id":0}

        '
    headers:
      allow:
      - OPTIONS, POST, GET
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-conn-limit:
      - '40'
      x-ratelimit-conn-remaining:
      - '39'
      x-ratelimit-connrate-limit:
      - '40'
      x-ratelimit-connrate-remaining:
      - '39'
      x-ratelimit-endpoint-limit:
      - unlimited
      x-ratelimit-endpoint-remaining:
      - '-913'
      x-ratelimit-method-limit:
      - '40'
      x-ratelimit-method-remaining:
      - '39'
      x-ratelimit-pubsub-limit:
      - '5'
      x-ratelimit-pubsub-remaining:
      - '5'
      x-ratelimit-rps-limit:
      - '100'
      x-ratelimit-rps-remaining:
      - '99'
      x-ratelimit-tier:
      - free
      x-rpc-node:
      - dal38
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"getTransaction","jsonrpc":"2.0","id":0,"params":["2Cxrz8NWZvN7r13GbahJPHVjL21Japmp7ThvpA2AzCjwznA72Vbb2mkD4crGVnXEajJDVHJpkC1WueGMaKJToTks",{"encoding":"json","commitment":"finalized","maxSupportedTransactionVersion":0}]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.mainnet-beta.solana.com
  response:
    body:
      string: '{"jsonrpc":"2.0","result":{"blockTime":1766016085,"meta":{"computeUnitsConsumed":116198,"costUnits":120306,"err":null,"fee":5000,"innerInstructions":[{"index":0,"instructions":[{"accounts":[0,2,0,4,17,15],"data":"1","programIdIndex":16,"stackHeight":2},{"accounts":[4],"data":"84eT","programIdIndex":15,"stackHeight":3},{"accounts":[0,2],"data":"11119os1e9qSs2u7TsThXqkBSRVFxhmYaFKFZ1waB2X7armDmvK3p5GmLdUxYdg3h7QSrL","programIdIndex":17,"stackHeight":3},{"accounts":[2],"data":"P","programIdIndex":15,"stackHeight":3},{"accounts":[2,4],"data":"6TaqHgXRRtvV7NeHxAKyYGwZEzR87nz9GsWo3MHh4zYPW","programIdIndex":15,"stackHeight":3},{"accounts":[3,8,6,9,7,5,16,15],"data":"7T5SFNucaogjjEp7WBXcuV1iatqjbXeDJU8UdUYnkuD7nhE94vkkJSC","programIdIndex":9,"stackHeight":2},{"accounts":[1,11,7,0],"data":"g7Ez8CcPA4BjK","programIdIndex":15,"stackHeight":2},{"accounts":[3,8,5,11,7,6,9,13,9,9,9,9,15,16],"data":"5D3nYNAt6SarecEGSPrrkr9ASyKecLnBSRwmcG9qp13oQbuNLEHnun1qMtvsnp7fJBmKW3zwPwBr7mWutqsefzZ8ZKPWrQnAPgK4rTsMNxbS57vhX7iF5DukfmnF7yGga4RyE8Uj8JtxA9wn","programIdIndex":9,"stackHeight":2},{"accounts":[4,2,12],"data":"6UYsPvR8djkB","programIdIndex":15,"stackHeight":2}]}],"loadedAddresses":{"readonly":[],"writable":[]},"logMessages":["Program
        jup3YeL8QhtSx1e253b2FDvsMNC87fDrgQZivbrndc9 invoke [1]","Program log: Instruction:
        Deposit","Program ATokenGPvbdGVxr1b2hvZbsiqW5xWH25efTNsLJA8knL invoke [2]","Program
        log: Create","Program TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA invoke [3]","Program
        log: Instruction: GetAccountDataSize","Program TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA
        consumed 1595 of 180445 compute units","Program return: TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA
        pQAAAAAAAAA=","Program TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA success","Program
        11111111111111111111111111111111 invoke [3]","Program 11111111111111111111111111111111
        success","Prog[...]
- request:
    body: '{"method":"getAccountInfo","jsonrpc":"2.0","id":0,"params":["9BEcn9aPEmhSPbPQeFGjidRiEKki46fVQDyPpSQXPA2D",{"encoding":"base64","dataSlice":null,"commitment":"finalized","minContextSlot":null}]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.mainnet-beta.solana.com
  response:
    body:
      string: '{"jsonrpc":"2.0","result":{"context":{"apiVersion":"3.1.8","slot":402924686},"value":{"data":["AQAAAEcn8RD5rZyCj3b2Rq49ZiVsmScRvvn3bU9qhBHACBPV9hkJJIbVAQAGAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==","base64"],"executable":false,"lamports":1461600,"owner":"TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA","rentEpoch":18446744073709551615,"space":82}},"id":0}

        '
    headers:
      allow:
      - OPTIONS, POST, GET
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-conn-limit:
      - '40'
      x-ratelimit-conn-remaining:
      - '39'
      x-ratelimit-connrate-limit:
      - '40'
      x-ratelimit-connrate-remaining:
      - '39'
      x-ratelimit-endpoint-limit:
      - unlimited
      x-ratelimit-endpoint-remaining:
      - '-922'
      x-ratelimit-method-limit:
      - '30'
      x-ratelimit-method-remaining:
      - '29'
      x-ratelimit-pubsub-limit:
      - '5'
      x-ratelimit-pubsub-remaining:
      - '5'
      x-ratelimit-rps-limit:
      - '100'
      x-ratelimit-rps-remaining:
      - '97'
      x-ratelimit-tier:
      - free
      x-rpc-node:
      - dal38
    status:
      code: 200
      message: OK
[...]
