interactions:
- request:
    body: '{"method":"getHealth","jsonrpc":"2.0","id":0}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.mainnet-beta.solana.com
  response:
    body:
      string: '{"jsonrpc":"2.0","result":"ok","id":0}

        '
    headers:
      allow:
      - OPTIONS, POST, GET
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-conn-limit:
      - '40'
      x-ratelimit-conn-remaining:
      - '39'
      x-ratelimit-connrate-limit:
      - '40'
      x-ratelimit-connrate-remaining:
      - '39'
      x-ratelimit-endpoint-limit:
      - unlimited
      x-ratelimit-endpoint-remaining:
      - '-860'
      x-ratelimit-method-limit:
      - '40'
      x-ratelimit-method-remaining:
      - '38'
      x-ratelimit-pubsub-limit:
      - '5'
      x-ratelimit-pubsub-remaining:
      - '5'
      x-ratelimit-rps-limit:
      - '100'
      x-ratelimit-rps-remaining:
      - '96'
      x-ratelimit-tier:
      - free
      x-rpc-node:
      - dal38
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"getTransaction","jsonrpc":"2.0","id":0,"params":["2VvCxb438uarJi9duWbCKegGNEzg2exiciNezWFD56KVNvDWxe16tmoBZsqX5nKFhcAsgFuBQUaEQGJvWjTfEJJd",{"encoding":"json","commitment":"finalized","maxSupportedTransactionVersion":0}]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.mainnet-beta.solana.com
  response:
    body:
      string: '{"jsonrpc":"2.0","result":{"blockTime":1771988849,"meta":{"computeUnitsConsumed":181085,"costUnits":187520,"err":null,"fee":105000,"innerInstructions":[{"index":2,"instructions":[{"accounts":[24],"data":"84eT","programIdIndex":10,"stackHeight":2},{"accounts":[0,1],"data":"11119os1e9qSs2u7TsThXqkBSRVFxhmYaFKFZ1waB2X7armDmvK3p5GmLdUxYdg3h7QSrL","programIdIndex":9,"stackHeight":2},{"accounts":[1],"data":"P","programIdIndex":10,"stackHeight":2},{"accounts":[1,24],"data":"6dfKukvShEWNgyZU6Z5jLwePVoZaGZsdStD9LeVtbLfbA","programIdIndex":10,"stackHeight":2}]},{"index":5,"instructions":[{"accounts":[27,14],"data":"6Bv2jXGRJAfNo1","programIdIndex":32,"stackHeight":2},{"accounts":[25,30,31,20,22,18,8,10],"data":"7T5SFNucaogWnJZbsZTSzpBH94CPZhHCLU9t3fMfVqGtXRUa7xJXRRJ","programIdIndex":31,"stackHeight":2},{"accounts":[1,24,22,0],"data":"g7ns9Yy46J6uv","programIdIndex":10,"stackHeight":2},{"accounts":[25,30,18,24,22,19,20,29,31,31,31,31,10,8],"data":"5D3nYNAt6Sare1AKozQSnmirqYD7G2kzuwCEAFgzxCCvmPT9aW4p2GyTsm4qdnxpA1dYBHWEECSfuTgMR5F2LK2xeJ9Qg4RyuBVTfZy8jK6z57o5zNeCcs8ab41WXfeHumx3JTc9H53AeUtG","programIdIndex":31,"stackHeight":2},{"accounts":[25,30,17,26,21,19,20,28,2,31,31,31,10,8],"data":"5D3nYNAt6Sareg2KZjLKFRqrJKp5NoWfkCdM99e3v2DYncByxdgQhLDfJjYBDp8BCVTxbrSntjzGP1fdYzFmWBX6QetNxJoArtdT4Ln4Zkt2Xf9GhPrBdLawq83YPBvH9iPRGRaerdNeDqig","programIdIndex":31,"stackHeight":2},{"accounts":[21,26,2,30],"data":"g7N5JHhbKU6D6","programIdIndex":10,"stackHeight":3}]}],"loadedAddresses":{"readonly":["So11111111111111111111111111111111111111112","7gs6pqxqFnQW2Y1VfnnwJSrxEE9KWr2aisFR8PyChh5N","jupSoLaHXQiZZTSfEWMTRRgpnyFm8f6sZdosWBjx93v","6uiicrzTUUA89U3hXXxawjokwycmcFQyHWgqKP17Up3k","DeXnF8AYp6qg9xq5BwD2RU42j9RCAmZEutv4ei2es3Cf","Acvyi9HBGmqh3Exe1N4PjBVyY8fokq2AdC6fSLqV6KSo","7s1da8DduuBFqGra5bJBjpnvL5E9mGzCuMk1Qkh4or2Z","jupeiUmn818Jg1ekPURTpr4mFo29p46vygyykFJ3wZC","jupnw4B6Eqs7ft6rxpzYLJZYSnrpRgPcr589n5Kv4oc"],"writable":["9WoJAcLA7jcFRFTmLwYsGDJRg7FM8SL1bsqWEg9oyBXh","ETQGC3N6qUNbN7oojsxF41mSm1ePWZLomXEpHHBemnA1","7HZhrUgLcHiQ8hkvNXM9gkM7CAeP21s478P8pHhANwns","4Y66HtUEqbbbpZdENGtFdVhUMS3tnagffn3M4do59Nfy","9DiqWS3ooZHprymNuwxQ4PcjXHRBPjtAvvWEtrpSoaxT","9oNN9qKne251r3SxcAjAEZzFV7yJsF6G7tMs99GmfA74","B8yLjTzygXWWb5cedEDVE913kEoupPu7ioQNqCbThcHq","5JP5zgYCb9W37QQLgAHRHuinFLrKt87akDY1CgZoTPzr","8Tw6oMaYzjydPoMeY8uTZjwSwp68mNnKRrNTm2KRCK88"]},"logMessages":["Program
        ComputeBudget111111111111111111111111111111 invoke [1]","Program ComputeBudget111111111111111111111111111111
        success","Program ComputeBudget111111111111111111111111111111 invoke [1]","Program
        ComputeBudget111111111111111111111111111111 success","Program ATokenGPvbdGVxr1b2hvZbsiqW5xWH25efTNsLJA8knL
        invoke [1]","Program log: Create","Program TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA
        invoke [2]","Program log: Instruction: GetAccountDataSize","Program TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA
        consumed 1569 of 994333 compute units","Program return: TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA
        pQAAAAAAAAA=","Program TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA success","Program
        11111111111111111111111111111111 invoke [2]","Program 11111111111111111111111111111111
        success","Program log: Initialize the associated token account","Program TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA
        invoke [2]","Program log: Instruction: InitializeImmutableOwner","Program
        log: Please upgrade to SPL Token 2022 for immutable owner support","Program
        TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA consumed 1405 of 987746 compute
        units","Program TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA success","Program
        TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA invoke [2]","Program log: Instruction:
        InitializeAccount3","Program TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA consumed
        3158 of 983864 compute units","Program TokenkegQfeZyiNwAJbNbGKPFXCWuB[...]
- request:
    body: '{"method":"getAccountInfo","jsonrpc":"2.0","id":0,"params":["hVHmVfeuYAq6S4HAPMfmuT2eaNdfmHX6DnJazxaUmPS",{"encoding":"base64","dataSlice":null,"commitment":"finalized","minContextSlot":null}]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.mainnet-beta.solana.com
  response:
    body:
      string: '{"jsonrpc":"2.0","result":{"context":{"apiVersion":"3.1.8","slot":403147070},"value":{"data":["AQAAAP//////////9gb5FwAAAAA8AfXThHA9EZYTEBE16ZudS+D15zBe4N4yA7usku2mNEX6AAAyYwI5kTbrUwfu7xptQiy2+HowuGTS8Z6moBM+a3UnoGNca/478krR+mX5wwnRMfa/yi+wAZRdLvUSeYUIOOaNfn+vlgMWWDYaIxNw3V013Ij54Dxroze0gRM/c3M1mjwK/h2RZxQix2XHoGoROf9hOdOA/LQiunj3eL7VPGl9gQabiFf+q4GE+2h/Y0YYwDXaxDncGus7VZig8AAAAAABb2YkqyvEYj9Lv7qTKnY9idKPnRcn8I8m2VK/APM247hdZGS4xvbd5G74Qjpix1cYJLRrDx+2IRL0isnxquO8VDSJ0pFDNvMLhOEthJKLjVB3WOfzFhXhO40jxbE5UXGIeh/FBXopqxlEf3TQ6seePBHQHbjwL/XoAXFxwqHv5RSCvl6o9ixteqjlrc/eKQRbtzvVHRhE9j[...]
- request:
    body: '{"method":"getAccountInfo","jsonrpc":"2.0","id":0,"params":["jupSoLaHXQiZZTSfEWMTRRgpnyFm8f6sZdosWBjx93v",{"encoding":"base64","dataSlice":null,"commitment":"finalized","minContextSlot":null}]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.mainnet-beta.solana.com
  response:
    body:
      string: '{"jsonrpc":"2.0","result":{"context":{"apiVersion":"3.1.8","slot":403147071},"value":{"data":["AQAAAMZ4DXcUzwZDDpF5FgWGOGHHZCiYx9TwqwbGhbeF4j/AREZsMAOCDgAJAQAAAAA0+Qkncb5pOQ9e/D9YntaOP58oT//wZKCPQ2lee6BENg==","base64"],"executable":false,"lamports":309711900,"owner":"TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA","rentEpoch":18446744073709551615,"space":82}},"id":0}

        '
    headers:
      allow:
      - OPTIONS, POST, GET
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-conn-limit:
      - '40'
      x-ratelimit-conn-remaining:
      - '39'
      x-ratelimit-connrate-limit:
      - '40'
      x-ratelimit-connrate-remaining:
      - '39'
      x-ratelimit-endpoint-limit:
      - unlimited
      x-ratelimit-endpoint-remaining:
      - '-861'
      x-ratelimit-method-limit:
      - '30'
      x-ratelimit-method-remaining:
      - '27'
      x-ratelimit-pubsub-limit:
      - '5'
      x-ratelimit-pubsub-remaining:
      - '5'
      x-ratelimit-rps-limit:
      - '100'
      x-ratelimit-rps-remaining:
      - '93'
      x-ratelimit-tier:
      - free
      x-rpc-node:
      - dal38
    status:
      code: 200
      message: OK
[...]
