interactions:
- request:
    body: '{"method":"getHealth","jsonrpc":"2.0","id":0}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.mainnet-beta.solana.com
  response:
    body:
      string: '{"jsonrpc":"2.0","result":"ok","id":0}

        '
    headers:
      allow:
      - OPTIONS, POST, GET
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-conn-limit:
      - '40'
      x-ratelimit-conn-remaining:
      - '39'
      x-ratelimit-connrate-limit:
      - '40'
      x-ratelimit-connrate-remaining:
      - '39'
      x-ratelimit-endpoint-limit:
      - unlimited
      x-ratelimit-endpoint-remaining:
      - '-415'
      x-ratelimit-method-limit:
      - '40'
      x-ratelimit-method-remaining:
      - '39'
      x-ratelimit-pubsub-limit:
      - '5'
      x-ratelimit-pubsub-remaining:
      - '5'
      x-ratelimit-rps-limit:
      - '100'
      x-ratelimit-rps-remaining:
      - '99'
      x-ratelimit-tier:
      - free
      x-rpc-node:
      - pit36
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"getTransaction","jsonrpc":"2.0","id":0,"params":["53TUfpGbKBGjYNw2w84fXbEDpGGbdo3dLcnJs5sKiL3v3eKAuxTZWCcoXjgzgS3J14bEDEkHJ9qmWnDCLQRwUm5N",{"encoding":"json","commitment":"finalized","maxSupportedTransactionVersion":0}]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.mainnet-beta.solana.com
  response:
    body:
      string: '{"jsonrpc":"2.0","result":{"blockTime":1760110834,"meta":{"computeUnitsConsumed":58402,"costUnits":60998,"err":null,"fee":6000,"innerInstructions":[{"index":2,"instructions":[{"accounts":[12],"data":"84eT","programIdIndex":6,"stackHeight":2},{"accounts":[0,2],"data":"11119os1e9qSs2u7TsThXqkBSRVFxhmYaFKFZ1waB2X7armDmvK3p5GmLdUxYdg3h7QSrL","programIdIndex":3,"stackHeight":2},{"accounts":[2],"data":"P","programIdIndex":6,"stackHeight":2},{"accounts":[2,12],"data":"6ZfymtFqbkNkJsYMpZmNtQ37mv4QR5D9WG9p4XapU9vqW","programIdIndex":6,"stackHeight":2}]},{"index":3,"instructions":[{"accounts":[6,10,13,10,9,11,10,10,10,10,10,10,10,10,1,2,0],"data":"68p6BsGaQxR6R9LP5oXWVJF","programIdIndex":14,"stackHeight":2},{"accounts":[1,9,0],"data":"3XUmiqNNaYM5","programIdIndex":6,"stackHeight":3},{"accounts":[11,2,13],"data":"3b8p59Me72hD","programIdIndex":6,"stackHeight":3},{"accounts":[8],"data":"QMqFu4fYGGeUEysFnenhAvR83g86EDDNxzUskfkWKYCBPWe1hqgD6jgKAXr6aYoEQd8dJ2juT9uMhJVD7d1uF5JWNC2HNiqeEXx1s3da1rEdU85HdXFNdbgVtnYRjDZFqWoPgR35e4oamgbsb4xQPSPM6dEMaab9a2yW7rrpXF2VnLo","programIdIndex":5,"stackHeight":2}]}],"loadedAddresses":{"readonly":["So11111111111111111111111111111111111111112","5Q544fKrFoe6tsEbD7S8EmxGTJYAKtTVhAW5Q5pge4j1","675kPX9MHTjS2zt1qfr1NYHuzeLXfQM9H24wFSUt1Mp8"],"writable":["4VaRVBiiMTciP1HLpGSDJmtUvihBMJWeNVBNkMusn5AU","8hqMFwBwb3UfKojZ5thp4SjSjq2CHyuyJUeDoRWaVBnr","F6g1yiry5E2SKz7tmgTJrMipNDG5xswmrYMz9RDuw7VL"]},"logMessages":["Program
        ComputeBudget111111111111111111111111111111 invoke [1]","Program ComputeBudget111111111111111111111111111111
        success","Program ComputeBudget111111111111111111111111111111 invoke [1]","Program
        ComputeBudget111111111111111111111111111111 success","Program ATokenGPvbdGVxr1b2hvZbsiqW5xWH25efTNsLJA8knL
        invoke [1]","Program log: CreateIdempotent","Program TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA
        invoke [2]","Program log: Instruction: GetAccountDataSize","Program TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA
        consumed 1569 of 64805 compute units","Program return: TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA
        pQAAAAAAAAA=","Program TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA success","Program
        11111111111111111111111111111111 invoke [2]","Program 11111111111111111111111111111111
        success","Program log: Initialize the associated token account","Program TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA
        invoke [2]","Program log: Instruction: InitializeImmutableOwner","Program
        log: Please upgrade to SPL Token 2022 for immutable owner support","Program
        TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA consumed 1405 of 58218 compute
        units","Program TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA success","Program
        TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA invoke [2]","Program log: Instruction:
        InitializeAccount3","Program TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA consumed
        3158 of 54336 compute units","Program TokenkegQfeZyiNwAJbNbGKPFXCWuBvf[...]
- request:
    body: '{"method":"getAccountInfo","jsonrpc":"2.0","id":0,"params":["EN2xSsT16aWdsUk5VDE1ZMYfxYYMVAPBYEpfJrGnfdjX",{"encoding":"base64","dataSlice":null,"commitment":"finalized","minContextSlot":null}]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.mainnet-beta.solana.com
  response:
    body:
      string: '{"jsonrpc":"2.0","result":{"context":{"apiVersion":"3.0.4","slot":372515281},"value":{"data":["AQAAAP//////////rbsyFgAAAAAAAX0Oo0JAUwU7u9hg90wy8EvD3Icq35pPTtFwwk7g9D7TAAA64Bb+oizdElUVTDp3+8AjEP+QcHY8Kh6XePKaKCVQhQabiFf+q4GE+2h/Y0YYwDXaxDncGus7VZig8AAAAAABjJclj04kifG7PRApFI4NgwtaE5na/xCEBI572Nvp+Fm7hFeFvZbvO/VhbeJf183dvK2lD5v15sfd+MrexBu9Io0YGgyEn6k3pvNK3tMIHvlXAKrLDJuz2QmkuRR1J6TrbWWQQ7qlKhgbWEQjno1ULR/e3NaBzn5x0HUp2sluJq2hBrMBY6kdVTCbe5p8masJlkni9hztF+p7ExE95xHUQgbd9uHXZaGT2cvhRs7reawctIXtX1s3kTqM9YV+/wCpiQumRP4fVaoZ8RzS0uwU0yM7bgpL6u73K2mFjiHhcNYMNf+pBVqOVo2o97wHVhUnTPHJLKQfQA[...]
- request:
    body: '{"method":"getAccountInfo","jsonrpc":"2.0","id":0,"params":["EqtNWgVzp77fNMQTNbDwzELmfcKuaiurYhbzLJfqjS72",{"encoding":"base64","dataSlice":null,"commitment":"finalized","minContextSlot":null}]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.mainnet-beta.solana.com
  response:
    body:
      string: '{"jsonrpc":"2.0","result":{"context":{"apiVersion":"3.0.4","slot":372515281},"value":{"data":["AAAAAF6MilTuomkDuhcBZyhzs62gi4fn5MJBd4v+/QhIH5zk//+JXXhFYwEGAQAAAABejIpU7qJpA7oXAWcoc7OtoIuH5+TCQXeL/v0ISB+c5A==","base64"],"executable":false,"lamports":1461600,"owner":"TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA","rentEpoch":18446744073709551615,"space":82}},"id":0}

        '
    headers:
      allow:
      - OPTIONS, POST, GET
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-conn-limit:
      - '40'
      x-ratelimit-conn-remaining:
      - '39'
      x-ratelimit-connrate-limit:
      - '40'
      x-ratelimit-connrate-remaining:
      - '39'
      x-ratelimit-endpoint-limit:
      - unlimited
      x-ratelimit-endpoint-remaining:
      - '-417'
      x-ratelimit-method-limit:
      - '30'
      x-ratelimit-method-remaining:
      - '28'
      x-ratelimit-pubsub-limit:
      - '5'
      x-ratelimit-pubsub-remaining:
      - '5'
      x-ratelimit-rps-limit:
      - '100'
      x-ratelimit-rps-remaining:
      - '96'
      x-ratelimit-tier:
      - free
      x-rpc-node:
      - pit36
    status:
      code: 200
      message: OK
[...]
