interactions:
- request:
    body: '{"method":"getHealth","jsonrpc":"2.0","id":0}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.mainnet-beta.solana.com
  response:
    body:
      string: '{"jsonrpc":"2.0","result":"ok","id":0}

        '
    headers:
      allow:
      - OPTIONS, POST, GET
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-conn-limit:
      - '40'
      x-ratelimit-conn-remaining:
      - '39'
      x-ratelimit-connrate-limit:
      - '40'
      x-ratelimit-connrate-remaining:
      - '39'
      x-ratelimit-endpoint-limit:
      - unlimited
      x-ratelimit-endpoint-remaining:
      - '-743'
      x-ratelimit-method-limit:
      - '40'
      x-ratelimit-method-remaining:
      - '39'
      x-ratelimit-pubsub-limit:
      - '5'
      x-ratelimit-pubsub-remaining:
      - '5'
      x-ratelimit-rps-limit:
      - '100'
      x-ratelimit-rps-remaining:
      - '96'
      x-ratelimit-tier:
      - free
      x-rpc-node:
      - dal38
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"getTransaction","jsonrpc":"2.0","id":0,"params":["duP4A5qSZKr6W371xXQMRqog1s85nzA1ejRedkPMDoBQgdLECTH5qGeVSAet66xyh2fUctFC69b5XMiUv7KkmGZ",{"encoding":"json","commitment":"finalized","maxSupportedTransactionVersion":0}]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.mainnet-beta.solana.com
  response:
    body:
      string: '{"jsonrpc":"2.0","result":{"blockTime":1772219819,"meta":{"computeUnitsConsumed":106515,"costUnits":112946,"err":null,"fee":105000,"innerInstructions":[{"index":2,"instructions":[{"accounts":[24,11],"data":"6Bv2jXGRJAfNwq","programIdIndex":29,"stackHeight":2},{"accounts":[21,27,14,22,18,16,17,25,1,28,28,28,30,31],"data":"5D3nYNAt6SareSmNoHZSR35VcG1eTaNdUE9uqbgJGfZLLMHgBehuokJdwFWGY1RcUJnssNqWxghFBpdqWTAyjGotUMJVG1Q9ccmqrr8RZ2Er9V1umypC9dUf5qTHD3HFkFC5sR2qT4vQ8tLY","programIdIndex":28,"stackHeight":2},{"accounts":[18,22,1,27],"data":"g7UWfdmEMib7T","programIdIndex":30,"stackHeight":3}]}],"loadedAddresses":{"readonly":["uV8jxLFC4kMLEDcMhzbq4wBag2LcFpk1cTEEjUaxPzT","AvZZF1YaZDziPY2RCK4oJrRVrbN3mTD9NL24hPeaZeUj","EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v","9m4f98xcfrSJWu1RwQRVqbWHYta7uNY5m2CekoyFFtAA","8ji8vYQpab2J9ZiyJL4xPxSjuZeSkgVQZKe1aDXD9gxG","5pjzT5dFTsXcwixoab1QDLvZQvpYJxJeBphkyfHGn688","7s1da8DduuBFqGra5bJBjpnvL5E9mGzCuMk1Qkh4or2Z","jupeiUmn818Jg1ekPURTpr4mFo29p46vygyykFJ3wZC","jupnw4B6Eqs7ft6rxpzYLJZYSnrpRgPcr589n5Kv4oc","TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA","ATokenGPvbdGVxr1b2hvZbsiqW5xWH25efTNsLJA8knL","11111111111111111111111111111111"],"writable":["GZAr2Gm5ZgCpUiArQVCSJPMDcp5ebNdQPZc85HLsgpYS","GqbWnWxuSb1yAN5EGzNRSCKHLKL6q935yHneRcPMJ1cD","DKm8TD4YMLjbsDzvYcpxc3qu8gr8geV2ZTdLe5RwaBYa","94vK29npVbyRHXH63rRcTiSr26SFhrQTzbpNJuhQEDu","3BqHVjEufuyoyBovVJrjHrGZstBHqSeL1Hs35YUyHrvZ","HrUbNB69fM7MRh7YZ2FoTk3y71CmtPTWw14u6KizVN1o","BUFEMAVAcuTY142XM8TGYQ8KVRTZmYxcDwarDHnngqg8","BmkUoKMFYBxNSzWXyUjyMJjMAaVz4d8ZnxwwmhDCUXFB","932NLdgUwPERwPZbVzHMCpDsZjvmg5GUYRneSWkKo1Cr"]},"logMessages":["Program
        ComputeBudget111111111111111111111111111111 invoke [1]","Program ComputeBudget111111111111111111111111111111
        success","Program ComputeBudget111111111111111111111111111111 invoke [1]","Program
        ComputeBudget111111111111111111111111111111 success","Program jupr81YtYssSyPt8jbnGuiWon5f6x9TcDEFxYe3Bdzi
        invoke [1]","Program log: Instruction: Operate","Program jupnw4B6Eqs7ft6rxpzYLJZYSnrpRgPcr589n5Kv4oc
        invoke [2]","Program log: Instruction: GetBothExchangeRate","Program jupnw4B6Eqs7ft6rxpzYLJZYSnrpRgPcr589n5Kv4oc
        consumed 7071 of 949689 compute units","Program return: jupnw4B6Eqs7ft6rxpzYLJZYSnrpRgPcr589n5Kv4oc
        AH0mmAYZBAAAAAAAAAAAAAB9JpgGGQQAAAAAAAAAAAA=","Program jupnw4B6Eqs7ft6rxpzYLJZYSnrpRgPcr589n5Kv4oc
        success","Program data: LizVKjc7voVuzFEJIlbkSjLOaA9nK7FqrER/F13SImX6uZ2EDdiB/0MCAAAHAMAbSgkJ8Y744drjEKVlcm2PLy3uM2FJeWQCajbRGzjGtf///wNQtNSuAgAAtN1OzWUCAAA=","Program
        jupeiUmn818Jg1ekPURTpr4mFo29p46vygyykFJ3wZC invoke [2]","Program log: Instruction:
        Operate","Program TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA invoke [3]","Program
        log: Instruction: TransferChecked","Program TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA
        consumed 6200 of 905085 compute units","Program TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA
        success","Program data: tAhRRxOErQgNcgM+plH5Yw+e/SOf9LeYOwzX/UVj/SoaOCN8cY7fpJNxxro08DhVGqary8ayNEMFOMzcp6XXKbc8q5IS7H8sAEpUH3r//////////////wAAAAAAAAAAAAAAAAAAAABuzFEJIlbkSjLOaA9nK7FqrER/F13SImX6uZ2EDdiB/2X13/18hK91qKX3vc6hYi4rOr+H/FOocbkIVho6ixveABCl1OgAAAAAEKXU6AAAAA==","Program
        jupeiUmn818Jg1ekPURTpr4mFo29p46vygyykFJ3wZC consumed 25281 of 922470 compute
        units","Program return: jupeiUmn818Jg1ekPURTpr4mFo29p46vygyykFJ3wZC ABCl1OgAAAAAEKXU6AAAAA==","Program
        jupeiUmn818Jg1ekPURTpr4mFo29p46vygyykFJ3wZC success","Program data: tAhRRxOErQhuzFEJIlbkSjLOaA9nK7FqrER/F13SImX6uZ2EDdiB/0MCAAAASlQfev//////////////AAAAAAAAAAAAAAAAAAAAAG7MUQkiVuRKMs5oD2crsWqsRH8XXdIiZfq5nYQN2IH/","Program
        jupr81YtYssSyPt8jbnGuiWon5f6x9TcDEFxYe3Bdzi consumed 106215 of 999700 compute
        units","Program return: jupr81YtYssSyPt8jbnGuiWon5f6x9TcDEFxYe3Bdzi QwIAAABKVB96//////////////8AAAAAAAAAAAAAAAAAAAAA","Program
        jupr81YtYssSyPt8jbnGuiWon5f6x9TcDEFxYe3Bdzi success"],"postBalances":[2036020439,2039280,2039280,1385040,1169280,1169280,1287600,1,1141440,2039280,1287600,1823520,1774800,1218000,2227200,2227200,1753920,1726080,2039280,2039281,2749200,2415120,1461600,459907146608,2832720,1259760,1259760,3006821,1141440,1141440,5574786489,3316541054,1],"postTokenBalances":[{"accountIndex":1,"mint":"AvZZF1YaZDziPY2RCK4oJrRVrbN3mTD9NL24hPeaZeUj","owner":"8TWYdXrcz6uTyih9yxABWhczap4EDGY9gipXh62VQRVG","programId":"TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA","uiTokenAmount":{"amount":"575000000000","decimals":6,"uiAmount":575000.0,"uiAmountString":"575000"}},{"accountIndex":2,"mint":"EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v","owner":"8TWYdXrcz6uTyih9yxABWhczap4EDGY9gipXh62VQRVG","programId":"TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA","uiTokenAmount":{"amount":"2499554200","decimals":6,"uiAmount":2499.5542,"uiAmountString":"2499.5542"}},{"accountIndex":9,"mint":"DvuQwFJbzbbibFA5PuehCXBoakU74P4fyYQsVifCRSyb","owner":"8TWYdXrcz6uTyih9yxABWhczap4EDGY9gipXh62VQRVG","programId":"TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA","uiTokenAmount":{"amount":"1","decimals":0,"uiAmount":1.0,"uiAmountString":"1"}},{"accountIndex":18,"mint":"AvZZF1YaZDziPY2RCK4oJrRVrbN3mTD9NL24hPeaZeUj","owner":"7s1da8DduuBFqGra5bJBjpnvL5E9mGzCuMk1Qkh4or2Z","programId":"TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA","uiTokenAmount":{"amount":"84471576912034","decimals":6,"uiAmount":84471576.912034,"uiAmountString":"84471576.912034"}},{"accountIndex":19,"mint":"EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v","owner":"7s1da8DduuBFqGra5bJBjpnvL5E9mGzCuMk1Qkh4or2Z","programId":"TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA","uiTokenAmount":{"amount":"158708157767467","decimals":6,"uiAmount":158708157.767467,"uiAmountString":"158708157.767467"}}],"preBalances":[2036125439,2039280,2039280,1385040,1169280,1169280,1287600,1,1141440,2039280,1287600,1823520,1774800,1218000,2227200,2227200,1753920,1726080,2039280,2039281,2749200,2415120,1461600,459907146608,2832720,1259760,1259760,3006821,1141440,1141440,5574786489,3316541054,1],"preTokenBalances":[{"accountIndex":1,"mint":"AvZZF1YaZDziPY2RCK4oJrRVrbN3mTD9NL24hPeaZeUj","owner":"8TWYdXrcz6uTyih9yxABWhczap4EDGY9gipXh62VQRVG","programId":"TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA","uiTokenAmount":{"amount":"0","decimals":6,"uiAmount":null,"uiAmountString":"0"}},{"accountIndex":2,"mint":"EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v","owner":"8TWYdXrcz6uTyih9yxABWhczap4EDGY9gipXh62VQRVG","programId":"TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA","uiTokenAmount":{"amount":"2499554200","decimals":6,"uiAmount":2499.5542,"uiAmountString":"2499.5542"}},{"accountIndex":9,"mint":"DvuQwFJbzbbibFA5PuehCXBoakU74P4fyYQsVifCRSyb","owner":"8TWYdXrcz6uTyih9yxABWhczap4EDGY9gipXh62VQRVG","programId":"TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA","uiTokenAmount":{"amount":"1","decimals":0,"uiAmount":1.0,"uiAmountString":"1"}},{"accountIndex":18,"mint":"AvZZF1YaZDziPY2RCK4oJrRVrbN3mTD9NL24hPeaZeUj","owner":"7s1da8DduuBFqGra5bJBjpnvL5E9mGzCuMk1Qkh4or2Z","programId":"TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA","uiTokenAmount":{"amount":"85046576912034","decimals":6,"uiAmount":85046576.912034,"uiAmountString":"85046576.912034"}},{"accountIndex":19,"mint":"EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v","owner":"7s1da8DduuBFqGra5bJBjpnvL5E9mGzCuMk1Qkh4or2Z","programId":"TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA","uiTokenAmount":{"amount":"158708157767467","decimals":6,"uiAmount":158708157.767467,"uiAmountString":"158708157.767467"}}],"returnData":{"data":["QwIAAABKVB96//////////////8AAAAAAAAAAAAAAAAAAAAA","base64"],"programId":"jupr81YtYssSyPt8jbnGuiWon5f6x9TcDEFxYe3Bdzi"},"rewards":[],"status":{"Ok":null}},"slot":403124774,"transaction":{"message":{"accountKeys":["8TWYdXrcz6uTyih9yxABWhczap4EDGY9gipXh62VQRVG","EmkT3H5knVBN5ssYinv2yHPhusRaJPtuL9CcRQtJoBVW","2PR5LFrfRUbo2iiN8t3bomBCmASPV9cVzjsXzndx2bhi","3cDQTzSaLWFo4SQzciN7hWC32KhvTEXBiAfAYDNLqESK","FBwWF2vGMacUavxscRc15FadqxUPv5qGrq7ujqYDJnKm","7mShRhtgjgB5R4Px5dHxubfooswDNnzQDHw5DdNbgn1T","9oVAAPSrX9ezSGeNZfsfEYmeixq2EpSsjXss5kqQQCkN","ComputeBudget111111111111111111111111111111","jupr81YtYssSyPt8jbnGuiWon5f6x9TcDEFxYe3Bdzi","28DZy4oQd95dCY5DJwgVt56uixuC93HszdwZEHuRcMBP","GMo8jSL319asMhwnctvHLdqRS1hZPj3cqkHt3VL8RjKr","GWdwWDhYFUc8ZD6uCTtEAAwx97V1ZCsxPWGL7vhSha6w"],"addressTableLookups":[{"accountKey":"3isfBZoyygHK8WzukVZpD8tajTGc6vhTte2vW19y6EqT","readonlyIndexes":[1,4,5,6,11,12,13,45,46,51,53,49],"writableIndexes":[2,18,7,8,9,10,43,44,34]}],"header":{"numReadonlySignedAccounts":0,"numReadonlyUnsignedAccounts":5,"numRequiredSignatures":1},"instructions":[{"accounts":[],"data":"FjL4FH","programIdIndex":7,"stackHeight":1},{"accounts":[],"data":"3gJqkocMWaMm","programIdIndex":7,"stackHeight":1},{"accounts":[0,1,2,8,8,8,21,12,22,23,24,3,9,4,5,10,6,13,14,15,16,17,25,26,18,19,8,8,27,28,29,30,30,31,32,11,13,20,20],"data":"cChpZziPXfzNG4ALtCQX2M3HmvnoQKizsdmugnehfH9v65C3cN3NB8wVzzDtHhocszy","programIdIndex":8,"stackHeight":1}],"recentBlockhash":"nSTuMtMsXhhU5XNg2nLfLzfUBaiNLKyQ4nwfF3N8rrg"},"signatures":["duP4A5qSZKr6W371xXQMRqog1s85nzA1ejRedkPMDoBQgdLECTH5qGeVSAet66xyh2fUctFC69b5XMiUv7KkmGZ"]},"version":0},"id":0}

        '
    headers:
      allow:
      - OPTIONS, POST, GET
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-conn-limit:
      - '40'
      x-ratelimit-conn-remaining:
      - '39'
      x-ratelimit-connrate-limit:
      - '40'
      x-ratelimit-connrate-remaining:
      - '39'
      x-ratelimit-endpoint-limit:
      - unlimited
      x-ratelimit-endpoint-remaining:
      - '-743'
      x-ratelimit-method-limit:
      - '2'
      x-ratelimit-method-remaining:
      - '1'
      x-ratelimit-pubsub-limit:
      - '5'
      x-ratelimit-pubsub-remaining:
      - '5'
      x-ratelimit-rps-limit:
      - '100'
      x-ratelimit-rps-remaining:
      - '95'
      x-ratelimit-tier:
      - free
      x-rpc-node:
      - dal38
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"getAccountInfo","jsonrpc":"2.0","id":0,"params":["3isfBZoyygHK8WzukVZpD8tajTGc6vhTte2vW19y6EqT",{"encoding":"base64","dataSlice":null,"commitment":"finalized","minContextSlot":null}]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.mainnet-beta.solana.com
  response:
    body:
      string: '{"jsonrpc":"2.0","result":{"context":{"apiVersion":"3.1.8","slot":403146929},"value":{"data":["AQAAAP//////////Qgf5FwAAAABDAfXThHA9EZYTEBE16ZudS+D15zBe4N4yA7usku2mNEX6AAAyYwI5kTbrUwfu7xptQiy2+HowuGTS8Z6moBM+a3UnoA1yAz6mUfljD579I5/0t5g7DNf9RWP9Kho4I3xxjt+k5x0FlF5kWkB9l+wNScpc5j88/RXBs2hKNhYNSV4Fl9P8rHS8McQwjUT0vtOrVMlPTuoA1uh7JCOl0NAy/g80Q5Nxxro08DhVGqary8ayNEMFOMzcp6XXKbc8q5IS7H8sxvp6877brTo9ZfNqq8l0MbG75MLS9uDkfKYCA0UvXWGCJy/JEaTWJ2aRF4ozzBOZUVRxdw165NLW0ex7xDXqT7camAqT2E9HEC0Amo+cV4U5YznxTMTpNnAvGJxyBqKXAhET7z9x/wXJXp6M4XMW8VF7y/nhxIQhu+uF+DBNBBggfcb8iCkwytnj1LR9C6tnR1EY/3KR6m[...]
- request:
    body: '{"method":"getAccountInfo","jsonrpc":"2.0","id":0,"params":["AvZZF1YaZDziPY2RCK4oJrRVrbN3mTD9NL24hPeaZeUj",{"encoding":"base64","dataSlice":null,"commitment":"finalized","minContextSlot":null}]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.mainnet-beta.solana.com
  response:
    body:
      string: '{"jsonrpc":"2.0","result":{"context":{"apiVersion":"3.1.8","slot":403146929},"value":{"data":["AQAAAJl2UZupZnywqB4tsDgqupn7Inetd4zGtqE+HtX10h1aH0QCyeDMAAAGAQEAAADquMCuBRFYAJA87f8UKJ5UGUjQKFcFzmV7fGDcZj7pPg==","base64"],"executable":false,"lamports":1461600,"owner":"TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA","rentEpoch":18446744073709551615,"space":82}},"id":0}

        '
    headers:
      allow:
      - OPTIONS, POST, GET
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-conn-limit:
      - '40'
      x-ratelimit-conn-remaining:
      - '39'
      x-ratelimit-connrate-limit:
      - '40'
      x-ratelimit-connrate-remaining:
      - '39'
      x-ratelimit-endpoint-limit:
      - unlimited
      x-ratelimit-endpoint-remaining:
      - '-744'
      x-ratelimit-method-limit:
      - '30'
      x-ratelimit-method-remaining:
      - '26'
      x-ratelimit-pubsub-limit:
      - '5'
      x-ratelimit-pubsub-remaining:
      - '5'
      x-ratelimit-rps-limit:
      - '100'
      x-ratelimit-rps-remaining:
      - '93'
      x-ratelimit-tier:
      - free
      x-rpc-node:
      - dal38
    status:
      code: 200
      message: OK
[...]
