interactions:
- request:
    body: '{"block": {"number": 15824493}, "chain": "mainnet"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://beaconcha.in/api/v2/ethereum/block
  response:
    body:
      string: '{"data":{"block":15824493,"timestamp":1666693607,"consensus_reference":{"slot":4989132,"block_root":"0x8ed5bed997a73e81918fba1685374ed4e21f3a9603fcb4545d214490678bf32c","epoch":155910},"hash":"0xbcc9bc0a0806f18188aee76dc252f3e391607372374ead6d6778c6a0b0b20cb1","parent_hash":"0x549a624d8b3eedd9233b39dd11b13be3fd2df0cf9545c0aaacc17fd031501761","receipts_root":"0xf63b6c35b1e70f547eaa5fbae131dd9f33cc71ac9bcbba23b51bc7e44062d215","state_root":"0x2550d4e13339e2b8c41f614461b0ecaa85556509a775a3f0ff90d5ce57ecedb1","transaction":{"gas":{"used":29973636,"limit":30000000,"base_fee":"9213569214","fees_burned":"276164169881242104"},"count":{"normal":315,"blob":null,"internal":83}},"blob":null,"mining":null,"extra_data":"0x406275696c64657230783639","finality":"finalized"}}

        '
    headers:
      Content-Type:
      - application/json
      Ratelimit-Bucket:
      - default
      Ratelimit-Limit:
      - '1'
      Ratelimit-Remaining:
      - '0'
      Ratelimit-Reset:
      - '1'
      Ratelimit-Validapikey:
      - 'true'
      Ratelimit-Window:
      - second
      X-Beaconchain-Version:
      - 26.17.2
      X-Ratelimit-Limit-Day:
      - '1000'
      X-Ratelimit-Limit-Hour:
      - '1000'
      X-Ratelimit-Limit-Minute:
      - '1000'
      X-Ratelimit-Limit-Month:
      - '1000'
      X-Ratelimit-Limit-Second:
      - '1'
      X-Ratelimit-Remaining-Day:
      - '993'
      X-Ratelimit-Remaining-Hour:
      - '993'
      X-Ratelimit-Remaining-Minute:
      - '993'
      X-Ratelimit-Remaining-Month:
      - '993'
      X-Ratelimit-Remaining-Second:
      - '0'
    status:
      code: 200
      message: OK
- request:
    body: '{"block": {"number": 15824493}, "chain": "mainnet"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://beaconcha.in/api/v2/ethereum/block/rewards
  response:
    body:
      string: '{"data":{"total_reward":{"amount":"126458404824519798","recipient":{"address":"0x0fdAe061cAE1Ad4Af83b27A96ba5496ca992139b","is_contract":false}},"priority_fees":{"amount":"126419309459217215","recipient":{"address":"0x690B9A9E9aa1C9dB991C7721a92d351Db4FaC990","is_contract":false}},"mev":{"amount":"126458404824519798","recipient":{"address":"0x0fdAe061cAE1Ad4Af83b27A96ba5496ca992139b","is_contract":false}},"mining":null,"execution_reference":{"block":15824493,"hash":"0xbcc9bc0a0806f18188aee76dc252f3e391607372374ead6d6778c6a0b0b20cb1"},"consensus_reference":{"slot":4989132,"block_root":"0x8ed5bed997a73e81918fba1685374ed4e21f3a9603fcb4545d214490678bf32c","epoch":155910},"finality":"finalized"}}

        '
    headers:
      Content-Type:
      - application/json
      Ratelimit-Bucket:
      - default
      Ratelimit-Limit:
      - '1'
      Ratelimit-Remaining:
      - '0'
      Ratelimit-Reset:
      - '1'
      Ratelimit-Validapikey:
      - 'true'
      Ratelimit-Window:
      - second
      X-Beaconchain-Version:
      - 26.17.2
      X-Ratelimit-Limit-Day:
      - '1000'
      X-Ratelimit-Limit-Hour:
      - '1000'
      X-Ratelimit-Limit-Minute:
      - '1000'
      X-Ratelimit-Limit-Month:
      - '1000'
      X-Ratelimit-Limit-Second:
      - '1'
      X-Ratelimit-Remaining-Day:
      - '992'
      X-Ratelimit-Remaining-Hour:
      - '992'
      X-Ratelimit-Remaining-Minute:
      - '992'
      X-Ratelimit-Remaining-Month:
      - '992'
      X-Ratelimit-Remaining-Second:
      - '0'
    status:
      code: 200
      message: OK
version: 1
