interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://beaconcha.in/api/v1/validator/eth1/0x2bCF6fE9F95Fe5eCec37f69dFE00Bfb4668ac35D
  response:
    body:
      string: '{"status":"OK","data":[{"publickey":"0xadefb3de3c892823aa8d389a4b9582f56f64463db2b72b4d77c515d268cf695f9047604371eb73d2a514c8f711ae7eba","valid_signature":true,"validatorindex":178585}]}

        '
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Thu, 11 Dec 2025 17:15:27 GMT
      Ratelimit-Bucket:
      - default
      Ratelimit-Limit:
      - '1'
      Ratelimit-Remaining:
      - '0'
      Ratelimit-Reset:
      - '1'
      Ratelimit-Validapikey:
      - 'true'
      Ratelimit-Window:
      - second
      X-Ratelimit-Limit-Day:
      - '1000'
      X-Ratelimit-Limit-Hour:
      - '1000'
      X-Ratelimit-Limit-Minute:
      - '1000'
      X-Ratelimit-Limit-Month:
      - '1000'
      X-Ratelimit-Limit-Second:
      - '1'
      X-Ratelimit-Remaining-Day:
      - '994'
      X-Ratelimit-Remaining-Hour:
      - '994'
      X-Ratelimit-Remaining-Minute:
      - '994'
      X-Ratelimit-Remaining-Month:
      - '994'
      X-Ratelimit-Remaining-Second:
      - '0'
    status:
      code: 200
      message: OK
version: 1
