interactions:
- request:
    body: '{"validator": {"validator_identifiers": [450000]}, "cursor": "", "page_size":
      2, "chain": "mainnet"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://beaconcha.in/api/v2/ethereum/validators/proposal-slots
  response:
    body:
      string: '{"data":[{"validator":{"index":450000,"public_key":"0x94a7434e9ec5a228d1322d98331d0dcac1ef27bc3c1c7b298b84254ed12714b7aa9ee5440ddcefb8d988bc6771127d50"},"slot":8001114,"block":18807495,"finality":"finalized"},{"validator":{"index":450000,"public_key":"0x94a7434e9ec5a228d1322d98331d0dcac1ef27bc3c1c7b298b84254ed12714b7aa9ee5440ddcefb8d988bc6771127d50"},"slot":7628568,"block":18437995,"finality":"finalized"}],"paging":{"next_cursor":"eyJzIjo3NjI4NTY4fQ"},"range":{"slot":{"start":0,"end":14212639},"epoch":{"start":0,"end":444144},"timestamp":{"start":1606824023,"end":1777375702}}}

        '
    headers:
      Content-Type:
      - application/json
      Ratelimit-Bucket:
      - default
      Ratelimit-Limit:
      - '1'
      Ratelimit-Remaining:
      - '0'
      Ratelimit-Reset:
      - '1'
      Ratelimit-Validapikey:
      - 'true'
      Ratelimit-Window:
      - second
      X-Beaconchain-Version:
      - 26.16.4
      X-Ratelimit-Limit-Day:
      - '1000'
      X-Ratelimit-Limit-Hour:
      - '1000'
      X-Ratelimit-Limit-Minute:
      - '1000'
      X-Ratelimit-Limit-Month:
      - '1000'
      X-Ratelimit-Limit-Second:
      - '1'
      X-Ratelimit-Remaining-Day:
      - '999'
      X-Ratelimit-Remaining-Hour:
      - '999'
      X-Ratelimit-Remaining-Minute:
      - '999'
      X-Ratelimit-Remaining-Month:
      - '999'
      X-Ratelimit-Remaining-Second:
      - '0'
    status:
      code: 200
      message: OK
[...]
