interactions:
- request:
    body: null
    headers:
      X-API-Key:
      - DUMMY
    method: GET
    uri: https://deep-index.moralis.io/api/v2.2/dateToBlock?chain=eth&date=1700000000
  response:
    body:
      string: '{"block":18573050,"date":"2023-11-14T22:13:20+00:00","timestamp":1700000000,"block_timestamp":"2023-11-14T22:13:11.000Z","hash":"0xf59c9a5936d572dc56a101e82b08bc42c9c48f081c612e7c2348c861a2cf7345","parent_hash":"0xfb8d602d693ef8c587a28c1215413a984eec1315ac1a1f3af2ebccac43ba5626"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"118-kONafGiHJIhtwJlNsf1LZM2fGjs"
      x-request-weight:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      X-API-Key:
      - DUMMY
    method: GET
    uri: https://deep-index.moralis.io/api/v2.2/erc20/0x6B175474E89094C44Da98b954EedeAC495271d0F/price?chain=eth&to_block=18573050
  response:
    body:
      string: '{"tokenName":"Dai Stablecoin","tokenSymbol":"DAI","tokenLogo":"https://logo.moralis.io/0x1_0x6b175474e89094c44da98b954eedeac495271d0f_33b380b0f3faf7f9c4f07f24b9f9976c.webp","tokenDecimals":"18","nativePrice":{"value":"505355284265729","decimals":18,"name":"Ether","symbol":"ETH","address":"0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2"},"usdPrice":1,"usdPriceFormatted":"1","exchangeName":"Uniswap
        v3","exchangeAddress":"0x1f98431c8ad98523631ae4a59f267346ea31f984","tokenAddress":"0x6b175474e89094c44da98b954eedeac495271d0f","toBlock":"18573050","priceLastChangedAtBlock":"18572970","blockTimestamp":"1699999031000","possibleSpam":false,"verifiedContract":true,"securityScore":98,"pairAddress":"0x5777d92f208679db4b9778590fa3cab3ac9e2168","pairTotalLiquidityUsd":"98004079.19","usdPrice24hr":1,"usdPrice24hrUsdChange":0,"usdPrice24hrPercentChange":0,"24hrPercentChange":"0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"368-WD066OTTUEi5uaWNtNF4hZiEGBY"
      x-request-weight:
      - '50'
    status:
      code: 200
      message: OK
version: 1
