interactions:
- request:
    body: null
    headers:
      X-API-Key:
      - DUMMY
    method: GET
    uri: https://deep-index.moralis.io/api/v2.2/erc20/0x6B175474E89094C44Da98b954EedeAC495271d0F/price?chain=eth
  response:
    body:
      string: '{"tokenName":"Dai Stablecoin","tokenSymbol":"DAI","tokenLogo":"https://logo.moralis.io/0x1_0x6b175474e89094c44da98b954eedeac495271d0f_33b380b0f3faf7f9c4f07f24b9f9976c.webp","tokenDecimals":"18","nativePrice":{"value":"578074164429146","decimals":18,"name":"Ether","symbol":"ETH","address":"0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2"},"usdPrice":1,"usdPriceFormatted":"1","exchangeName":"","exchangeAddress":"0xbebc44782c7db0a1a60cb6fe97d0b483032ff1c7","tokenAddress":"0x6b175474e89094c44da98b954eedeac495271d0f","priceLastChangedAtBlock":"25365606","blockTimestamp":"1782040535000","possibleSpam":false,"verifiedContract":true,"securityScore":98,"pairAddress":"0xbebc44782c7db0a1a60cb6fe97d0b483032ff1c7_0x6b175474e89094c44da98b954eedeac495271d0f_0xdac17f958d2ee523a2206206994597c13d831ec7","pairTotalLiquidityUsd":"136161149.91","usdPrice24hr":1,"usdPrice24hrUsdChange":0,"usdPrice24hrPercentChange":0,"24hrPercentChange":"0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"3a0-ZLS6EcmyedZ7A6R9Irgu3RS0Vsw"
      x-request-weight:
      - '50'
    status:
      code: 200
      message: OK
version: 1
