interactions:
- request:
    body: '{"method":"getHealth","jsonrpc":"2.0","id":0}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.mainnet-beta.solana.com/
  response:
    body:
      string: '{"jsonrpc":"2.0","result":"ok","id":0}

        '
    headers:
      allow:
      - OPTIONS, POST, GET
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-conn-limit:
      - '40'
      x-ratelimit-conn-remaining:
      - '39'
      x-ratelimit-connrate-limit:
      - '40'
      x-ratelimit-connrate-remaining:
      - '39'
      x-ratelimit-endpoint-limit:
      - unlimited
      x-ratelimit-endpoint-remaining:
      - '-1817'
      x-ratelimit-method-limit:
      - '40'
      x-ratelimit-method-remaining:
      - '38'
      x-ratelimit-pubsub-limit:
      - '5'
      x-ratelimit-pubsub-remaining:
      - '5'
      x-ratelimit-rps-limit:
      - '100'
      x-ratelimit-rps-remaining:
      - '92'
      x-ratelimit-tier:
      - free
      x-rpc-node:
      - fra268
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"getTransaction","jsonrpc":"2.0","id":0,"params":["28f8jFzCX3D1dJ5sZSABgVmrziAQu3hPeERjRoKMJwvQGrahxDfSRARpgX4rBeGcYvGSMu77QPoEqYdyYTzx9TY7",{"encoding":"json","commitment":"finalized","maxSupportedTransactionVersion":0}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.mainnet-beta.solana.com/
  response:
    body:
      string: '{"jsonrpc":"2.0","result":{"blockTime":1735930769,"meta":{"computeUnitsConsumed":6581,"err":null,"fee":15000,"innerInstructions":[],"loadedAddresses":{"readonly":[],"writable":[]},"logMessages":["Program
        ComputeBudget111111111111111111111111111111 invoke [1]","Program ComputeBudget111111111111111111111111111111
        success","Program ComputeBudget111111111111111111111111111111 invoke [1]","Program
        ComputeBudget111111111111111111111111111111 success","Program TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA
        invoke [1]","Program log: Instruction: TransferChecked","Program TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA
        consumed 6281 of 7551 compute units","Program TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA
        success"],"postBalances":[3142494,2039280,2039280,1,322411807740,934087680],"postTokenBalances":[{"accountIndex":1,"mint":"EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v","owner":"GabwTHe1P9wLKCqqBNBnAPgD71K8j8Dp4Uk4L6EyFUnK","programId":"TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA","uiTokenAmount":{"amount":"131188703","decimals":6,"uiAmount":131.188703,"uiAmountString":"131.188703"}},{"accountIndex":2,"mint":"EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v","owner":"54r6W445JsjDf5UGzmVtcczsPpgg3B3J16USuNcu1EY","programId":"TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA","uiTokenAmount":{"amount":"0","decimals":6,"uiAmount":null,"uiAmountString":"0"}}],"preBalances":[3157494,2039280,2039280,1,322411807740,934087680],"preTokenBalances":[{"accountIndex":1,"mint":"EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v","owner":"GabwTHe1P9wLKCqqBNBnAPgD71K8j8Dp4Uk4L6EyFUnK","programId":"TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA","uiTokenAmount":{"amount":"101490833","decimals":6,"uiAmount":101.490833,"uiAmountString":"101.490833"}},{"accountIndex":2,"mint":"EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v","owner":"54r6W445JsjDf5UGzmVtcczsPpgg3B3J16USuNcu1EY","programId":"TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA","uiTokenAmount":{"amount":"29697870","decimals":6,"uiAmount":29.69787,"uiAmountString":"29.69787"}}],"rewards":[],"status":{"Ok":null}},"slot":311668936,"transaction":{"message":{"accountKeys":["54r6W445JsjDf5UGzmVtcczsPpgg3B3J16USuNcu1EY","BKHLvZxmSGUJRMX9WPPLFTQvRTktctpL6At2yWnxbLtV","EHF3dReNcLKmop3j2EhZuABtq7hnEzyS6VFBqsTsz5Mt","ComputeBudget111111111111111111111111111111","EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v","TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA"],"header":{"numReadonlySignedAccounts":0,"numReadonlyUnsignedAccounts":3,"numRequiredSignatures":1},"instructions":[{"accounts":[],"data":"3TQyZeKPvXjV","programIdIndex":3,"stackHeight":1},{"accounts":[],"data":"JTkcvT","programIdIndex":3,"stackHeight":1},{"accounts":[2,4,1,0,0],"data":"h6eWxDsGTm9Ly","programIdIndex":5,"stackHeight":1}],"recentBlockhash":"8C2zv7tvQ62oeejGerMxpJUxybHWwoiuFU7p4mSh6oBk"},"signatures":["28f8jFzCX3D1dJ5sZSABgVmrziAQu3hPeERjRoKMJwvQGrahxDfSRARpgX4rBeGcYvGSMu77QPoEqYdyYTzx9TY7"]},"version":"legacy"},"id":0}

        '
    headers:
      allow:
      - OPTIONS, POST, GET
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-conn-limit:
      - '40'
      x-ratelimit-conn-remaining:
      - '39'
      x-ratelimit-connrate-limit:
      - '40'
      x-ratelimit-connrate-remaining:
      - '39'
      x-ratelimit-endpoint-limit:
      - unlimited
      x-ratelimit-endpoint-remaining:
      - '-1597'
      x-ratelimit-method-limit:
      - '2'
      x-ratelimit-method-remaining:
      - '1'
      x-ratelimit-pubsub-limit:
      - '5'
      x-ratelimit-pubsub-remaining:
      - '5'
      x-ratelimit-rps-limit:
      - '100'
      x-ratelimit-rps-remaining:
      - '97'
      x-ratelimit-tier:
      - free
      x-rpc-node:
      - fra268
    status:
      code: 200
      message: OK
version: 1
