interactions:
- request:
    body: '{"method":"getHealth","jsonrpc":"2.0","id":0}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.mainnet-beta.solana.com
  response:
    body:
      string: '{"jsonrpc":"2.0","result":"ok","id":0}

        '
    headers:
      allow:
      - OPTIONS, POST, GET
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-conn-limit:
      - '40'
      x-ratelimit-conn-remaining:
      - '39'
      x-ratelimit-connrate-limit:
      - '40'
      x-ratelimit-connrate-remaining:
      - '39'
      x-ratelimit-endpoint-limit:
      - unlimited
      x-ratelimit-endpoint-remaining:
      - '-1374'
      x-ratelimit-method-limit:
      - '40'
      x-ratelimit-method-remaining:
      - '38'
      x-ratelimit-pubsub-limit:
      - '5'
      x-ratelimit-pubsub-remaining:
      - '5'
      x-ratelimit-rps-limit:
      - '100'
      x-ratelimit-rps-remaining:
      - '94'
      x-ratelimit-tier:
      - free
      x-rpc-node:
      - fra113
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"getTransaction","jsonrpc":"2.0","id":0,"params":["3oR9ryME5VTS2qWZ25AhAwKWYLsYMLigCcFKRh6DiyFGtC7m7e17mBihB84XzL1EptM6mCjjyRp6uovHfHgcZrMA",{"encoding":"json","commitment":"finalized","maxSupportedTransactionVersion":0}]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.mainnet-beta.solana.com
  response:
    body:
      string: '{"jsonrpc":"2.0","result":{"blockTime":1759754588,"meta":{"computeUnitsConsumed":3317,"costUnits":4951,"err":null,"fee":79986,"innerInstructions":[],"loadedAddresses":{"readonly":[],"writable":[]},"logMessages":["Program
        ComputeBudget111111111111111111111111111111 invoke [1]","Program ComputeBudget111111111111111111111111111111
        success","Program ComputeBudget111111111111111111111111111111 invoke [1]","Program
        ComputeBudget111111111111111111111111111111 success","Program TokenzQdBNbLqP5VEhdkAS6EPFLC1PHnBqCXEpPxuEb
        invoke [1]","Program log: Instruction: TransferChecked","Program TokenzQdBNbLqP5VEhdkAS6EPFLC1PHnBqCXEpPxuEb
        consumed 3017 of 3658 compute units","Program TokenzQdBNbLqP5VEhdkAS6EPFLC1PHnBqCXEpPxuEb
        success"],"postBalances":[4120331,2157600,2157600,117221310226,1,1151489],"postTokenBalances":[{"accountIndex":1,"mint":"7atgF8KQo4wJrD5ATGX7t1V2zVvykPJbFfNeVf1icFv1","owner":"6HbSn7QQraiNXW5p4M7Sp48qdcxvCSsqwuJvrNNTMayF","programId":"TokenzQdBNbLqP5VEhdkAS6EPFLC1PHnBqCXEpPxuEb","uiTokenAmount":{"amount":"0","decimals":2,"uiAmount":null,"uiAmountString":"0"}},{"accountIndex":2,"mint":"7atgF8KQo4wJrD5ATGX7t1V2zVvykPJbFfNeVf1icFv1","owner":"5Sp1e78jLb9b4B8FMFEGobzQCc9kW23tydFNaeGsNJSt","programId":"TokenzQdBNbLqP5VEhdkAS6EPFLC1PHnBqCXEpPxuEb","uiTokenAmount":{"amount":"368640000","decimals":2,"uiAmount":3686400.0,"uiAmountString":"3686400"}}],"preBalances":[4200317,2157600,2157600,117221310226,1,1151489],"preTokenBalances":[{"accountIndex":1,"mint":"7atgF8KQo4wJrD5ATGX7t1V2zVvykPJbFfNeVf1icFv1","owner":"6HbSn7QQraiNXW5p4M7Sp48qdcxvCSsqwuJvrNNTMayF","programId":"TokenzQdBNbLqP5VEhdkAS6EPFLC1PHnBqCXEpPxuEb","uiTokenAmount":{"amount":"384000000","decimals":2,"uiAmount":3840000.0,"uiAmountString":"3840000"}},{"accountIndex":2,"mint":"7atgF8KQo4wJrD5ATGX7t1V2zVvykPJbFfNeVf1icFv1","owner":"5Sp1e78jLb9b4B8FMFEGobzQCc9kW23tydFNaeGsNJSt","programId":"TokenzQdBNbLqP5VEhdkAS6EPFLC1PHnBqCXEpPxuEb","uiTokenAmount":{"amount":"0","decimals":2,"uiAmount":null,"uiAmountString":"0"}}],"rewards":[],"status":{"Ok":null}},"slot":371573609,"transaction":{"message":{"accountKeys":["6HbSn7QQraiNXW5p4M7Sp48qdcxvCSsqwuJvrNNTMayF","4cGjhFn2XL4UxFnD8yowdL8EvHMDSRtbLZfSKpCWLxvK","4RCuNxRhspEdRLyk66WTTj68aoQGoLiDTYJWTwoUuH9q","7atgF8KQo4wJrD5ATGX7t1V2zVvykPJbFfNeVf1icFv1","ComputeBudget111111111111111111111111111111","TokenzQdBNbLqP5VEhdkAS6EPFLC1PHnBqCXEpPxuEb"],"header":{"numReadonlySignedAccounts":0,"numReadonlyUnsignedAccounts":3,"numRequiredSignatures":1},"instructions":[{"accounts":[],"data":"3VMywY9274fy","programIdIndex":4,"stackHeight":1},{"accounts":[],"data":"H76EmD","programIdIndex":4,"stackHeight":1},{"accounts":[1,3,2,0,0],"data":"g7EAT8dKQDs53","programIdIndex":5,"stackHeight":1}],"recentBlockhash":"3JH5fJPbvgRJoudkPYKSErWTY9i7w2m4zvWjinFLN7PE"},"signatures":["3oR9ryME5VTS2qWZ25AhAwKWYLsYMLigCcFKRh6DiyFGtC7m7e17mBihB84XzL1EptM6mCjjyRp6uovHfHgcZrMA"]},"version":"legacy"},"id":0}

        '
    headers:
      allow:
      - OPTIONS, POST, GET
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-conn-limit:
      - '40'
      x-ratelimit-conn-remaining:
      - '39'
      x-ratelimit-connrate-limit:
      - '40'
      x-ratelimit-connrate-remaining:
      - '39'
      x-ratelimit-endpoint-limit:
      - unlimited
      x-ratelimit-endpoint-remaining:
      - '-1373'
      x-ratelimit-method-limit:
      - '2'
      x-ratelimit-method-remaining:
      - '0'
      x-ratelimit-pubsub-limit:
      - '5'
      x-ratelimit-pubsub-remaining:
      - '5'
      x-ratelimit-rps-limit:
      - '100'
      x-ratelimit-rps-remaining:
      - '93'
      x-ratelimit-tier:
      - free
      x-rpc-node:
      - fra113
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"getMultipleAccounts","jsonrpc":"2.0","id":0,"params":[["4RCuNxRhspEdRLyk66WTTj68aoQGoLiDTYJWTwoUuH9q","4cGjhFn2XL4UxFnD8yowdL8EvHMDSRtbLZfSKpCWLxvK"],{"encoding":"base64","dataSlice":null,"commitment":"finalized","minContextSlot":null}]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.mainnet-beta.solana.com
  response:
    body:
      string: '{"jsonrpc":"2.0","result":{"context":{"apiVersion":"2.3.6","slot":371621771},"value":[{"data":["YdS4HNlX9KQpLY+91Q6p1OmLFvMjNaOujLM3+HlFkYJCC2xoxNfnczoJEec1V4SWjWsPOTZX/4mm8WZ4RcW+yQAA+RUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAgcAAAACAAgAAITeAQAAAAA=","base64"],"executable":false,"lamports":2157600,"owner":"TokenzQdBNbLqP5VEhdkAS6EPFLC1PHnBqCXEpPxuEb","rentEpoch":18446744073709551615,"space":182},{"data":["YdS4HNlX9KQpLY+91Q6p1OmLFvMjNaOujLM3+HlFkYJOiqyNgb8fO4PrGVmsf63eo0CHnKPjO7sH6Mv2eRo4AgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAgcAAAACAAgAACT0AAAAAAA=","base64"],"executable":false,"lamports":2157600,"owner":"TokenzQdBNbLqP5VEhdkAS6EPFLC1PHnBqCXEpPxuEb","rentEpoch":18446744073709551615,"space":182}]},"id":0}

        '
    headers:
      allow:
      - OPTIONS, POST, GET
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-conn-limit:
      - '40'
      x-ratelimit-conn-remaining:
      - '39'
      x-ratelimit-connrate-limit:
      - '40'
      x-ratelimit-connrate-remaining:
      - '39'
      x-ratelimit-endpoint-limit:
      - unlimited
      x-ratelimit-endpoint-remaining:
      - '-1372'
      x-ratelimit-method-limit:
      - '30'
      x-ratelimit-method-remaining:
      - '28'
      x-ratelimit-pubsub-limit:
      - '5'
      x-ratelimit-pubsub-remaining:
      - '5'
      x-ratelimit-rps-limit:
      - '100'
      x-ratelimit-rps-remaining:
      - '92'
      x-ratelimit-tier:
      - free
      x-rpc-node:
      - fra113
    status:
      code: 200
      message: OK
version: 1
