interactions:
- request:
    body: '{"type": "userNonFundingLedgerUpdates", "user": "0x000000000056f99d36B6F2e0c51FD41496BbacB8",
      "startTime": 1791430048000, "endTime": 1791430049999}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hyperliquid.xyz/info
  response:
    body:
      string: '[{"time":1791430048033,"hash":"0x0000000000000000000000000000000000000000000000000000000000000000","delta":{"type":"cStakingTransfer","token":"HYPE","amount":"100.0","isDeposit":false}}]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
