interactions:
- request:
    body: '{"jsonrpc": "2.0", "method": "web3_clientVersion", "params": [], "id":
      0}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://mainnet.infura.io/v3/a6b269b6e5ad44ed943e9fff244dfe25
  response:
    body:
      string: '{"jsonrpc":"2.0","id":0,"result":"Geth/v1.16.7-stable-b9f3a3d9/linux-arm64/go1.24.9"}

        '
    headers:
      Content-Type:
      - application/json
      X-Send-To-Many:
      - '0'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"jsonrpc": "2.0", "method": "eth_blockNumber", "params": [], "id": 2}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://mainnet.infura.io/v3/a6b269b6e5ad44ed943e9fff244dfe25
  response:
    body:
      string: '{"jsonrpc":"2.0","id":2,"result":"0x171c922"}'
    headers:
      Content-Type:
      - application/json
      X-Trace-Id:
      - 483c851b3ee735b25fbdf6f299bf4380
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"jsonrpc": "2.0", "method": "eth_getTransactionByHash", "params": ["0x5c504ed432cb51138bcf09aa5e8a410dd4a1e204ef84bfed1be16dfba1b22060"],
      "id": 4}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://mainnet.infura.io/v3/a6b269b6e5ad44ed943e9fff244dfe25
  response:
    body:
      string: '{"jsonrpc":"2.0","id":4,"result":{"blockHash":"0x4e3a3754410177e6937ef1f84bba68ea139e8d1a2258c5f85db9f1cd715a1bdd","blockNumber":"0xb443","from":"0xa1e4380a3b1f749673e270229993ee55f35663b4","gas":"0x5208","gasPrice":"0x2d79883d2000","hash":"0x5c504ed432cb51138bcf09aa5e8a410dd4a1e204ef84bfed1be16dfba1b22060","input":"0x","nonce":"0x0","to":"0x5df9b87991262f6ba471f09758cde1c0fc1de734","transactionIndex":"0x0","value":"0x7a69","type":"0x0","v":"0x1c","r":"0x88ff6cf0fefd94db46111149ae4bfc179e9b94721fffd821d38d16464b3f71d0","s":"0x45e0aff800961cfce805daef7016b9b675c137a6a41a548f7b60a3484c06a33a"}}

        '
    headers:
      Content-Type:
      - application/json
      X-Send-To-Many:
      - '0'
      X-Trace-Id:
      - 22c1ad10bfc4d0c2f489f5696637cc74
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.etherscan.io/v2/api?action=getblocknobytime&chainid=1&closest=before&module=block&timestamp=1609459200
  response:
    body:
      string: '{"status":"1","message":"OK","result":"11565019"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Nginx-Id:
      - '5'
      svid:
      - '13'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"jsonrpc": "2.0", "method": "eth_call", "params": [{"to": "0x6B175474E89094C44Da98b954EedeAC495271d0F",
      "data": "0x70a08231000000000000000000000000d8da6bf26964af9d7eed9e03e53415d37aa96045"},
      "0xb077db"], "id": 6}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://mainnet.infura.io/v3/a6b269b6e5ad44ed943e9fff244dfe25
  response:
    body:
      string: '{"jsonrpc":"2.0","id":6,"result":"0x000000000000000000000000000000000000000000000000559cbb8d65547bfd"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Send-To-Many:
      - '0'
    status:
      code: 200
      message: OK
version: 1
