interactions:
- request:
    body: '{"type": "userFunding", "user": "0xa62b923A112D50D03e1e096bBD53422490DAC104",
      "startTime": 1762300800000, "endTime": 1791468000999}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hyperliquid.xyz/info
  response:
    body:
      string: '[{"time":1762300800000,"hash":"0x0000000000000000000000000000000000000000000000000000000000000000","delta":{"type":"funding","coin":"BTC","usdc":"0.212847","szi":"-0.16385","fundingRate":"0.0000125","nSamples":1}},{"time":1762387200000,"hash":"0x0000000000000000000000000000000000000000000000000000000000000000","delta":{"type":"funding","coin":"BTC","usdc":"7.141689","szi":"-0.450184","fundingRate":"0.0000103924","nSamples":15}},{"time":1762473600000,"hash":"0x0000000000000000000000000000000000000000000000000000000000000000","delta":{"type":"funding","coin":"BTC","usdc":"-4.546336","szi":"0.1192466667","fundingRate":"0.0000150004","nSamples":24}},{"time":1762560000000,"hash":"0x000000000000000000000000[...]
[...]
- request:
    body: '{"type": "userFunding", "user": "0xa62b923A112D50D03e1e096bBD53422490DAC104",
      "startTime": 1791468000023, "endTime": 1791468000999}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hyperliquid.xyz/info
  response:
    body:
      string: '[]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
