interactions:
- request:
    body: '{"type": "userFillsByTime", "user": "0xa62b923A112D50D03e1e096bBD53422490DAC104",
      "startTime": 1791444483000, "endTime": 1791466083999}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hyperliquid.xyz/info
  response:
    body:
      string: '[{"coin":"ETH","px":"2570.5","sz":"0.0104","side":"B","time":1791444492049,"startPosition":"1.3645","dir":"Open
        Long","closedPnl":"0.0","hash":"0x0000000000000000000000000000000000000000000000000000000000000000","oid":568437358191,"crossed":false,"fee":"-0.000801","tid":169841696596622,"cloid":"0x0000000000000000000001a0fbb14521","feeToken":"USDC","twapId":null},{"coin":"ETH","px":"2570.5","sz":"0.0162","side":"B","time":1791444499058,"startPosition":"1.3749","dir":"Open
        Long","closedPnl":"0.0","hash":"0x0000000000000000000000000000000000000000000000000000000000000000","oid":568437358191,"crossed":false,"fee":"-0.001249","tid":292076613408598,"cloid":"0x0000000000000000000001a0fbb14521","feeToken":"USDC","twapId":null},{"coin":"ETH","px":"2570.5","sz":"0.1336","side":"A","time":1791444510592,"startPosition":"1.3911","dir":"Close
        Lo[...]
- request:
    body: '{"type": "userFillsByTime", "user": "0xa62b923A112D50D03e1e096bBD53422490DAC104",
      "startTime": 1791444483000, "endTime": 1791444492048}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hyperliquid.xyz/info
  response:
    body:
      string: '[]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
