interactions:
- request:
    body: '{"type": "userNonFundingLedgerUpdates", "user": "0xdfc24b077bc1425AD1DEA75bCB6f8158E10Df303",
      "startTime": 1683243596000, "endTime": 1686500000999}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hyperliquid.xyz/info
  response:
    body:
      string: '[{"time":1683243596849,"hash":"0x5a2180355bcdcf8596010401752f55010400ab364d2b6cc7732b23ab8b97a38d","delta":{"type":"vaultCreate","vault":"0xdfc24b077bc1425ad1dea75bcb6f8158e10df303","usdc":"200.0","fee":"0.0"}},{"time":1683243598416,"hash":"0x1a25b29ddbfeb850b2630401752f5f000070d7e69595f2422fb3c9b8bf6f834e","delta":{"type":"vaultCreate","vault":"0x010461c14e146ac35fe42271bdc1134ee31c703a","usdc":"100.0","fee":"0.0"}},{"time":1683243600725,"hash":"0xe2856a02ac3818cb01db0401752f6900004c1bcf143a6c0851946941575d892c","delta":{"type":"vaultCreate","vault":"0x31ca8395cf837de08b24da3f660e77761dfb974b","usdc":"100.0","fee":"0.0"}},{"time":1683244017148,"hash":"0x409e6b1b46263b1c924904017537210103004b7b[...]
- request:
    body: '{"type": "userNonFundingLedgerUpdates", "user": "0xdfc24b077bc1425AD1DEA75bCB6f8158E10Df303",
      "startTime": 1683243596000, "endTime": 1683243596848}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hyperliquid.xyz/info
  response:
    body:
      string: '[]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"type": "userNonFundingLedgerUpdates", "user": "0xdfc24b077bc1425AD1DEA75bCB6f8158E10Df303",
      "startTime": 1686498292321, "endTime": 1686500000999}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hyperliquid.xyz/info
  response:
    body:
      string: '[{"time":1686498292321,"hash":"0x90fb2b76473b0f2cf80c04026b5a440136006d26f3888382be10fef127151128","delta":{"type":"vaultWithdraw","vault":"0xdfc24b077bc1425ad1dea75bcb6f8158e10df303","user":"0x07188478c7b3e7ce94a45eb6dcfdc366d0700aa8","requestedUsd":"261.0","commission":"0.0","closingCost":"0.000001","basis":"259.546734","netWithdrawnUsd":"260.999999"}}]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"type": "userNonFundingLedgerUpdates", "user": "0xdfc24b077bc1425AD1DEA75bCB6f8158E10Df303",
      "startTime": 1686498292322, "endTime": 1686500000999}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hyperliquid.xyz/info
  response:
    body:
      string: '[]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
