interactions:
- request:
    body: '{"jsonrpc": "2.0", "method": "web3_clientVersion", "params": [], "id":
      0}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://mainnet.infura.io/v3/a6b269b6e5ad44ed943e9fff244dfe25
  response:
    body:
      string: '{"jsonrpc":"2.0","id":0,"result":"Geth/v1.16.8-stable-abeb78c6/linux-arm64/go1.24.11"}

        '
    headers:
      Content-Type:
      - application/json
      X-Send-To-Many:
      - '0'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"jsonrpc": "2.0", "method": "eth_blockNumber", "params": [], "id": 2}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://mainnet.infura.io/v3/a6b269b6e5ad44ed943e9fff244dfe25
  response:
    body:
      string: '{"jsonrpc":"2.0","id":2,"result":"0x1728ce5"}'
    headers:
      Content-Type:
      - application/json
      X-Trace-Id:
      - dc1ef8b8cb4be17cc6112f6884ff300d
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"jsonrpc": "2.0", "method": "eth_getTransactionByHash", "params": ["0x5c504ed432cb51138bcf09aa5e8a410dd4a1e204ef84bfed1be16dfba1b22060"],
      "id": 4}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://mainnet.infura.io/v3/a6b269b6e5ad44ed943e9fff244dfe25
  response:
    body:
      string: '{"jsonrpc":"2.0","id":4,"result":{"blockHash":"0x4e3a3754410177e6937ef1f84bba68ea139e8d1a2258c5f85db9f1cd715a1bdd","blockNumber":"0xb443","from":"0xa1e4380a3b1f749673e270229993ee55f35663b4","gas":"0x5208","gasPrice":"0x2d79883d2000","hash":"0x5c504ed432cb51138bcf09aa5e8a410dd4a1e204ef84bfed1be16dfba1b22060","input":"0x","nonce":"0x0","to":"0x5df9b87991262f6ba471f09758cde1c0fc1de734","transactionIndex":"0x0","value":"0x7a69","type":"0x0","v":"0x1c","r":"0x88ff6cf0fefd94db46111149ae4bfc179e9b94721fffd821d38d16464b3f71d0","s":"0x45e0aff800961cfce805daef7016b9b675c137a6a41a548f7b60a3484c06a33a"}}

        '
    headers:
      Content-Type:
      - application/json
      X-Send-To-Many:
      - '0'
      X-Trace-Id:
      - 8b543f85cf45ebde2ce2a58737a90152
    status:
      code: 200
      message: OK
version: 1
