interactions:
- request:
    body: '{"id": 0, "jsonrpc": "2.0", "method": "eth_blockNumber", "params": []}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eth.blockscout.com/api/eth-rpc
  response:
    body:
      string: '{"jsonrpc":"2.0","result": "0x16f45b9","id": 0}

        '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      bypass-429-option:
      - no_bypass
      x-ratelimit-limit:
      - '600'
      x-ratelimit-remaining:
      - '599'
      x-ratelimit-reset:
      - '48255'
    status:
      code: 200
      message: OK
version: 1
