interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.routescan.io/v2/network/mainnet/evm/1/etherscan/api?action=txlist&address=0x56a1A34F0d33788ebA53e2706854A37A5F275536&module=account&offset=1&page=1
  response:
    body:
      string: '{"status":"1","message":"OK","result":[{"blockNumber":"20542478","blockHash":"0x62f097c073231b326113b26d2e96821cceda5139ccfbda276dc6f42ad2783c45","timeStamp":"1723826819","hash":"0xae57c6afd0eaab0b12866120611bf21c1148c49412df3104a3f50e552101b21f","nonce":"2","transactionIndex":"18","from":"0x706a70067be19bdadbea3600db0626859ff25d74","to":"0x56a1a34f0d33788eba53e2706854a37a5f275536","value":"9636000000000000","gas":"21000","gasPrice":"4294527457","input":"0x","methodId":"0x","functionName":"","contractAddress":"","cumulativeGasUsed":"2228588","txreceipt_status":"1","gasUsed":"21000","confirmations":"3483913","isError":"0"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ratelimit-rpd-limit:
      - '100000'
      x-ratelimit-rpd-remaining:
      - '99938'
      x-ratelimit-rpd-reset:
      - '15277'
      x-ratelimit-rpm-limit:
      - '300'
      x-ratelimit-rpm-remaining:
      - '299'
      x-ratelimit-rpm-reset:
      - '60'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.routescan.io/v2/network/mainnet/evm/1/etherscan/api?action=txlistinternal&address=0x84e8EE8911c147755bD70084b6b4D1a5A8351476&module=account&offset=1&page=1
  response:
    body:
      string: '{"status":"0","message":"No transactions found","result":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ratelimit-rpd-limit:
      - '100000'
      x-ratelimit-rpd-remaining:
      - '99936'
      x-ratelimit-rpd-reset:
      - '15274'
      x-ratelimit-rpm-limit:
      - '300'
      x-ratelimit-rpm-remaining:
      - '297'
      x-ratelimit-rpm-reset:
      - '57'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.routescan.io/v2/network/mainnet/evm/1/etherscan/api?action=tokentx&address=0x84e8EE8911c147755bD70084b6b4D1a5A8351476&module=account&offset=1&page=1
  response:
    body:
      string: '{"status":"1","message":"OK","result":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ratelimit-rpd-limit:
      - '100000'
      x-ratelimit-rpd-remaining:
      - '99935'
      x-ratelimit-rpd-reset:
      - '15272'
      x-ratelimit-rpm-limit:
      - '300'
      x-ratelimit-rpm-remaining:
      - '296'
      x-ratelimit-rpm-reset:
      - '56'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.routescan.io/v2/network/mainnet/evm/1/etherscan/api?action=balance&address=0x84e8EE8911c147755bD70084b6b4D1a5A8351476&module=account
  response:
    body:
      string: '{"status":"1","message":"OK","result":"0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ratelimit-rpd-limit:
      - '100000'
      x-ratelimit-rpd-remaining:
      - '99934'
      x-ratelimit-rpd-reset:
      - '15272'
      x-ratelimit-rpm-limit:
      - '300'
      x-ratelimit-rpm-remaining:
      - '295'
      x-ratelimit-rpm-reset:
      - '55'
    status:
      code: 200
      message: OK
version: 1
