interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://eth.blockscout.com/api?action=getabi&address=0x5a464C28D19848f44199D003BeF5ecc87d090F87&module=contract
  response:
    body:
      string: '{"message":"OK","result":"[{\"inputs\":[{\"internalType\":\"address\",\"name\":\"vat_\",\"type\":\"address\"},{\"internalType\":\"address\",\"name\":\"dog_\",\"type\":\"address\"},{\"internalType\":\"address\",\"name\":\"cat_\",\"type\":\"address\"},{\"internalType\":\"address\",\"name\":\"spot_\",\"type\":\"address\"}],\"stateMutability\":\"nonpayable\",\"type\":\"constructor\"},{\"anonymous\":false,\"inputs\":[{\"indexed\":false,\"internalType\":\"bytes32\",\"name\":\"ilk\",\"type\":\"bytes32\"}],\"name\":\"AddIlk\",\"type\":\"event\"},{\"anonymous\":false,\"inputs\":[{\"indexed\":false,\"internalType\":\"address\",\"name\":\"usr\",\"type\":\"address\"}],\"name\":\"Deny\",\"type\":\"event\"},{\"anonymous\":false,\"inputs\":[{\"indexed\":false,\"internalType\":\"bytes32\",\"name\":\"what\",\"type\":\"bytes32\"},{\"indexed\":false,\"internalType\":\"address\",\"name\":\"data\",\"type\":\"address\"}],\"name\":\"File\[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://eth.blockscout.com/api?action=getabi&address=0x9531C059098e3d194fF87FebB587aB07B30B1306&module=contract
  response:
    body:
      string: '{"message":"Contract source code not verified","result":null,"status":"0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      bypass-429-option:
      - no_bypass
      x-ratelimit-limit:
      - '600'
      x-ratelimit-remaining:
      - '598'
      x-ratelimit-reset:
      - '45006'
    status:
      code: 200
      message: OK
version: 1
