interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.etherscan.io/v2/api?action=txlist&address=0x56a1A34F0d33788ebA53e2706854A37A5F275536&chainid=1&module=account&offset=1&page=1
  response:
    body:
      string: '{"status":"1","message":"OK","result":[{"blockNumber":"20542478","timeStamp":"1723826819","hash":"0xae57c6afd0eaab0b12866120611bf21c1148c49412df3104a3f50e552101b21f","nonce":"2","blockHash":"0x62f097c073231b326113b26d2e96821cceda5139ccfbda276dc6f42ad2783c45","transactionIndex":"18","from":"0x706a70067be19bdadbea3600db0626859ff25d74","to":"0x56a1a34f0d33788eba53e2706854a37a5f275536","value":"9636000000000000","gas":"21000","gasPrice":"4294527457","isError":"0","txreceipt_status":"1","input":"0x","contractAddress":"","cumulativeGasUsed":"2228588","gasUsed":"21000","confirmations":"3483913","methodId":"0x","functionName":""}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Nginx-Id:
      - '4'
      svid:
      - '8'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.etherscan.io/v2/api?action=txlistinternal&address=0x84e8EE8911c147755bD70084b6b4D1a5A8351476&chainid=1&module=account&offset=1&page=1
  response:
    body:
      string: '{"status":"0","message":"No transactions found","result":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Nginx-Id:
      - '4'
      svid:
      - '8'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.etherscan.io/v2/api?action=tokentx&address=0x84e8EE8911c147755bD70084b6b4D1a5A8351476&chainid=1&module=account&offset=1&page=1
  response:
    body:
      string: '{"status":"0","message":"No transactions found","result":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Nginx-Id:
      - '4'
      svid:
      - '8'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.etherscan.io/v2/api?action=balance&address=0x84e8EE8911c147755bD70084b6b4D1a5A8351476&chainid=1&module=account
  response:
    body:
      string: '{"status":"1","message":"OK","result":"0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Nginx-Id:
      - '2'
      svid:
      - '53'
    status:
      code: 200
      message: OK
version: 1
