interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.routescan.io/v2/network/mainnet/evm/1/etherscan/api?action=getcontractcreation&contractaddresses=0x5a464C28D19848f44199D003BeF5ecc87d090F87&module=contract
  response:
    body:
      string: '{"status":"1","message":"OK","result":[{"contractAddress":"0x5a464c28d19848f44199d003bef5ecc87d090f87","contractCreator":"0xda0fab0700a4389f6e6679abab1692b4601ce9bf","txHash":"0x02525186f0153965677e3e206bf07c667718f90de8561937d2eea531bfd9b951"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ratelimit-rpd-limit:
      - '100000'
      x-ratelimit-rpd-remaining:
      - '99940'
      x-ratelimit-rpd-reset:
      - '15585'
      x-ratelimit-rpm-limit:
      - '300'
      x-ratelimit-rpm-remaining:
      - '299'
      x-ratelimit-rpm-reset:
      - '60'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.routescan.io/v2/network/mainnet/evm/1/etherscan/api?action=getcontractcreation&contractaddresses=0x9531C059098e3d194fF87FebB587aB07B30B1306&module=contract
  response:
    body:
      string: '{"status":"1","message":"OK","result":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ratelimit-rpd-limit:
      - '100000'
      x-ratelimit-rpd-remaining:
      - '99939'
      x-ratelimit-rpd-reset:
      - '15585'
      x-ratelimit-rpm-limit:
      - '300'
      x-ratelimit-rpm-remaining:
      - '298'
      x-ratelimit-rpm-reset:
      - '60'
    status:
      code: 200
      message: OK
version: 1
