interactions:
- request:
    body: '{"jsonrpc": "2.0", "method": "web3_clientVersion", "params": [], "id":
      0}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://optimism-mainnet.public.blastapi.io/
  response:
    body:
      string: '{"jsonrpc":"2.0","id":0,"result":"Geth/v0.1.0-unstable-0402d543/linux-amd64/go1.22.0"}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api-optimistic.etherscan.io/api?module=proxy&action=eth_blockNumber&apikey=IK3GCCMPQXTRIEGBAXQ9DUFWIUR524K3MW
  response:
    body:
      string: '{"jsonrpc":"2.0","id":83,"result":"0x703807a"}

        '
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
