interactions:
- request:
    body: '{"query": "\nquery GetPoolsCount($chain: GqlChain!, $version: Int!) {\n    poolGetPoolsCount(where:
      { chainIn: [$chain], protocolVersionIn: [$version] })\n}\n", "variables": {"chain":
      "GNOSIS", "version": 2}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api-v3.balancer.fi/
  response:
    body:
      string: '{"data":{"poolGetPoolsCount":740}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"23-VojZGAJ4q7PVcPQEpPCi27fWsG0"
      gcdn-cache:
      - HIT
      origin-agent-cluster:
      - ?1
    status:
      code: 200
      message: OK
- request:
    body: '{"query": "\nquery GetPools($skip: Int, $first: Int, $chain: GqlChain!,
      $version: Int!) {\n    poolGetPools(skip: $skip, first: $first, where: {chainIn:
      [$chain], protocolVersionIn: [$version]}) {\n        id\n        address\n        name\n        type\n        symbol\n        decimals\n        poolTokens
      {\n            id\n            address\n            symbol\n            name\n            weight\n        }\n        staking
      {\n            gauge {\n                gaugeAddress\n            }\n        }\n    }\n}\n",
      "variables": {"skip": 0, "version": 2, "first": 100, "chain": "GNOSIS"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api-v3.balancer.fi/
  response:
    body:
      string: '{"data":{"poolGetPools":[{"id":"0xfc095c811fe836ed12f247bcf042504342b73fb700000000000000000000009f","address":"0xfc095c811fe836ed12f247bcf042504342b73fb7","name":"Balancer
        Stable USD3","type":"COMPOSABLE_STABLE","symbol":"sBAL3","decimals":18,"poolTokens":[{"id":"0xfc095c811fe836ed12f247bcf042504342b73fb700000000000000000000009f-0x2a22f9c3b484c3629090feed35f17ff8f88f76f0","address":"0x2a22f9c3b484c3629090feed35f17ff8f88f76f0","symbol":"USDC.e","name":"Bridged
        USDC (Gnosis)","weight":null},{"id":"0xfc095c811fe836ed12f247bcf042504342b73fb700000000000000000000009f-0x4ecaba5870353805a9f068101a40e0f32ed605c6","address":"0x4ecaba5870353805a9f068101a40e0f32ed605c6","symbol":"USDT","name":"Tether
        USD on xDai","weight":null},{"id":"0xfc095c811fe836ed12f247bcf042504342b73fb700000000000000000000009f-0xaf204776c7245bf4147c2612bf6e5972ee483701","address":"0xaf204776c7245bf4147c2612bf6e5972ee483701","symbol":"sDAI","name":"Savings
        xDAI","weight":null},{"id":"0xfc095c811fe836ed12f247bcf042504342b73fb700000000000000000000009f-0xfc095c811fe836ed12f247bcf042504342b73fb7","address":"0xfc095c811fe836ed12f247bcf042504342b73fb7","symbol":"sBAL3","name":"Balancer
        Stable USD3","weight":null}],"staking":{"gauge":{"gaugeAddress":"0x306b2e81fc7c6f73f2460e3974538d724a88f8a5"}}},{"id":"0x8dd4df4ce580b9644437f3375e54f1ab0980822800020000000000000000009c","address":"0x8dd4df4ce580b9644437f3375e54f1ab09808228","name":"Gyroscope
        ECLP wstETH/WETH","type":"GYROE","symbol":"ECLP-wstETH-WETH","decimals":18,"poolTokens":[{"id":"0x8dd4df4ce580b9644437f3375e54f1ab0980822800020000000000000000009c-0x6a023ccd1ff6f2045c3309768ead9e68f978f6e1","address":"0x6a023ccd1ff6f2045c3309768ead9e68f978f6e1","symbol":"WETH","name":"Wrapped
  [...]
[...]
