interactions:
- request:
    body: '{"query": "\nquery GetPoolsCount($chain: GqlChain!, $version: Int!) {\n    poolGetPoolsCount(where:
      { chainIn: [$chain], protocolVersionIn: [$version] })\n}\n", "variables": {"chain":
      "MAINNET", "version": 2}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api-v3.balancer.fi/
  response:
    body:
      string: '{"data":{"poolGetPoolsCount":731}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"23-4pMjFCXMLHzDckemL1uEpsS6emc"
      gcdn-cache:
      - HIT
      origin-agent-cluster:
      - ?1
    status:
      code: 200
      message: OK
- request:
    body: '{"query": "\nquery GetPools($skip: Int, $first: Int, $chain: GqlChain!,
      $version: Int!) {\n    poolGetPools(skip: $skip, first: $first, where: {chainIn:
      [$chain], protocolVersionIn: [$version]}) {\n        id\n        address\n        name\n        type\n        symbol\n        decimals\n        poolTokens
      {\n            id\n            address\n            symbol\n            name\n            weight\n        }\n        staking
      {\n            gauge {\n                gaugeAddress\n            }\n        }\n    }\n}\n",
      "variables": {"skip": 0, "version": 2, "first": 100, "chain": "MAINNET"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api-v3.balancer.fi/
  response:
    body:
      string: '{"data":{"poolGetPools":[{"id":"0x00612eb4f312eb6ace7acc8781196601078ae3390002000000000000000005a2","address":"0x00612eb4f312eb6ace7acc8781196601078ae339","name":"20GHO-80PSP","type":"WEIGHTED","symbol":"20GHO-80PSP","decimals":18,"poolTokens":[{"id":"0x00612eb4f312eb6ace7acc8781196601078ae3390002000000000000000005a2-0x40d16fc0246ad3160ccc09b8d0d3a2cd28ae6c2f","address":"0x40d16fc0246ad3160ccc09b8d0d3a2cd28ae6c2f","symbol":"GHO","name":"Gho
        Token","weight":"0.2"},{"id":"0x00612eb4f312eb6ace7acc8781196601078ae3390002000000000000000005a2-0xcafe001067cdef266afb7eb5a286dcfd277f3de5","address":"0xcafe001067cdef266afb7eb5a286dcfd277f3de5","symbol":"PSP","name":"ParaSwap","weight":"0.8"}],"staking":null},{"id":"0x006d7e2166472f62f0e9e5c95e3a313e01caea74000200000000000000000690","address":"0x006d7e2166472f62f0e9e5c95e3a313e01caea74","name":"Gyroscope
        ECLP GHO/USDC 3","type":"GYROE","symbol":"ECLP-GHO-USDC-3","decimals":18,"poolTokens":[{"id":"0x006d7e2166472f62f0e9e5c95e3a313e01caea74000200000000000000000690-0x40d16fc0246ad3160ccc09b8d0d3a2cd28ae6c2f","address":"0x40d16fc0246ad3160ccc09b8d0d3a2cd28ae6c2f","symbol":"GHO","name":"Gho
        Token","weight":null},{"id":"0x006d7e216647[...]
[...]
