interactions:
- request:
    body: null
    headers:
      X-API-Key:
      - DUMMY
      x-chain:
      - solana
    method: GET
    uri: https://public-api.birdeye.so/defi/price?address=EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v
  response:
    body:
      string: '{"data":{"isScaledUiToken":false,"value":0.99983,"updateUnixTime":1789113593,"updateHumanTime":"2026-09-11T07:59:53","priceChange24h":-0.005673642653498294,"priceInNative":0.009992489076276857},"success":true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-RateLimit-Limit:
      - '300'
      X-RateLimit-Remaining:
      - '299'
      X-RateLimit-Reset:
      - '1789113596'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      X-API-Key:
      - DUMMY
      x-chain:
      - solana
    method: GET
    uri: https://public-api.birdeye.so/defi/price?address=DezXAZ8z7PnrnRJjz3wXBoRgixCa6xjnB7YaB1pPB263
  response:
    body:
      string: '{"data":{"isScaledUiToken":false,"value":0.000002666226892648352,"updateUnixTime":1789113564,"updateHumanTime":"2026-09-11T07:59:24","priceChange24h":-4.486711274720808,"priceInNative":2.6743241212329194e-8},"success":true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-RateLimit-Limit:
      - '300'
      X-RateLimit-Remaining:
      - '299'
      X-RateLimit-Reset:
      - '1789113598'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      X-API-Key:
      - DUMMY
      x-chain:
      - ethereum
    method: GET
    uri: https://public-api.birdeye.so/defi/price?address=0x6B175474E89094C44Da98b954EedeAC495271d0F
  response:
    body:
      string: '{"data":{"value":0.9999338073031234,"updateUnixTime":1789113263,"updateHumanTime":"2026-09-11T07:54:23","priceChange24h":-0.014799868604523186},"success":true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-RateLimit-Limit:
      - '300'
      X-RateLimit-Remaining:
      - '299'
      X-RateLimit-Reset:
      - '1789113600'
    status:
      code: 200
      message: OK
version: 1
