interactions:
- request:
    body: null
    headers:
      X-API-Key:
      - DUMMY
      x-chain:
      - solana
    method: GET
    uri: https://public-api.birdeye.so/defi/history_price?address=EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v&address_type=token&time_from=1699978400&time_to=1700021600&type=1H
  response:
    body:
      string: '{"data":{"items":[{"address":"EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v","unixTime":1699981200,"value":0.99987456},{"address":"EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v","unixTime":1699984800,"value":1.00000501},{"address":"EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v","unixTime":1699988400,"value":0.99994655},{"address":"EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v","unixTime":1699992000,"value":0.99995772},{"address":"EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v","unixTime":1699995600,"value":0.99995634},{"address":"EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v","unixTime":1699999200,"value":0.99994237},{"address":"EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v","unixTime":1700002800,"value":1.00001732},{"address":"EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v","unixTime":1700006400,"value":1.00005102},{"address":"EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v","unixTime":1700010000,"value":0.99999115},{"address":"EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v","unixTime":1700013600,"value":0.99997208},{"address":"EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v","unixTime":1700017200,"value":0.99998182},{"address":"EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v","unixTime":1700020800,"value":0.99997892}],"isScaledUiToken":false,"multiplier":null},"success":true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-RateLimit-Limit:
      - '100'
      X-RateLimit-Remaining:
      - '99'
      X-RateLimit-Reset:
      - '1789113603'
    status:
      code: 200
      message: OK
version: 1
