interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.jup.ag/lend/v1/earn/positions?users=HYbxGkNvEwvZ14RzJHPB9h3dWfXjxwAEhkyzJRHx1hBf
  response:
    body:
      string: '[{"token":{"id":1,"address":"GcV9tEj62VncGithz4o4N9x6HWXARxuRgEAYk9zahNA8","name":"jupiter  lend
        EURC","symbol":"jlEURC","uiSymbol":"jlEURC","decimals":6,"assetAddress":"HzwqbKZw8HxMN6bF2yFZNrht3c2iXXzpKcFu7uBEDKtr","asset":{"address":"HzwqbKZw8HxMN6bF2yFZNrht3c2iXXzpKcFu7uBEDKtr","chainId":"solana","name":"EURC","symbol":"EURC","uiSymbol":"EURC","decimals":6,"logoUrl":"https://coin-images.coingecko.com/coins/images/26045/large/EURC.png?1769615705","price":"1.170201567238","coingeckoId":"euro-coin","updatedAt":"2026-05-14T11:06:06.000+00:00"},"totalAssets":"4483223513734","totalSupply":"4341061759844","convertToShares":"968283","convertToAssets":"1032756","rewardsRate":"0","supplyRate":"338","totalRate":"338","rebalanceDifference":"-24161891484","liquiditySupplyData":{"modeWithInterest":true,"supply":"4462216740283","withdrawalLimit":"4462216740283","lastUpdateTimestamp":"1778748546","expandPercent":2500,"expandDuration":"21600","baseWithdrawalLimit":"7070920020472","withdrawableUntilLimit":"4462216740283","withdrawable":"617869648143"},"rewards":[]},"ownerAddress":"HYbxGkNvEwvZ14RzJHPB9h3dWfXjxwAEhkyzJRHx1hBf","shares":"0","underlyingAssets":"0","underlyingBalance":"0","allowance":"0"},{"token":{"id":6,"address":"j14XLJZSVMcUYpAfajdZRpnfHUpJieZHS4aPektLWvh","name":"jupiter  lend
        USDS","symbol":"jlUSDS","uiSymbol":"jlUSDS","decimals":6,"assetAddress":"USDSwr9ApdHk5bvJKMjzff41FfuX8bSxdKcR81vTwcA","asset":{"address":"USDSwr9ApdHk5bvJKMjzff41FfuX8bSxdKcR81vTwcA","chainId":"solana","name":"USDS","symbol":"USDS","uiSymbol":"USDS","decimals":6,"logoUrl":"https://coin-images.coingecko.com/coins/images/39926/large/usds.webp?1726666683","price":"0.99972960511","coingeckoId"[...]
