interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.jup.ag/portfolio/v1/positions/FPjx1P5RUwKGESWoksupbNexMiCzwsYhazoN268kpBvt
  response:
    body:
      string: '{"date":1778758497290,"owner":"FPjx1P5RUwKGESWoksupbNexMiCzwsYhazoN268kpBvt","fetcherReports":[],"elements":[{"type":"borrowlend","data":{"borrowedAssets":[{"type":"token","networkId":"solana","value":98908.069108134,"data":{"address":"EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v","amount":98931.396948,"price":0.9997642018560742},"attributes":{}}],"borrowedValue":98908.069108134,"borrowedYields":[[{"apr":-0.0479,"apy":-0.046773891060595596}]],"suppliedAssets":[{"type":"token","networkId":"solana","value":110494.513820014,"data":{"address":"AvZZF1YaZDziPY2RCK4oJrRVrbN3mTD9NL24hPeaZeUj","amount":94955.394105,"price":1.1636465190995957,"yields":[{"apr":0.0487,"apy":0.04990192117152792}]},"attributes":{}}],"suppliedValue":110494.513820014,"suppliedYields":[[{"apr":0,"apy":0}]],"rewardAssets":[],"rewardValue":0,"healthRatio":0.0270216406867644,"unsettled":{"assets":[],"value":0},"value":11586.44471188,"ref":"FhBJuibMr1EcpiSXADY8dprmBKFk5BMBnneMnVE7czrd","sourceRefs":[{"name":"Vault","address":"uV8jxLFC4kMLEDcMhzbq4wBag2LcFpk1cTEEjUaxPzT"},{"name":"NFT
        Mint","address":"GHNSdYWkYVGpBiYHnJaRka6MLipFAHrjiVvc3EczsaSK"},{"name":"Borrow
        Token","address":"EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"}],"link":"https://jup.ag/lend/borrow/7/nfts/2515"},"label":"Lending","networkId":"solana","platformId":"jupiter-exchange","value":11586.44471188,"fetcherId":"jupiter-exchange-borrow","netApy":0.07660445383602954,"tags":["Pegged"]},{"type":"borrowlend","data":{"borrowedAssets":[{"type":"token","networkId":"solana","value":406.324250355,"data":{"address":"JuprjznTrTSp2UFa3ZBUFgwdAmtZCq4MQCwysN55USD","amount":406.562851,"price":0.9994131265032228},"attributes":{}}],"borrowedValue":406.324250355,"borrowedYields":[[{"apr":-0.015,"apy":-0.014888364035621438}]],"suppliedAssets":[{"type":"token","networkId":"solana","value":383.423306824,"data":{"address":"DEkqHyPN7GMRJ5cArtQFAWefqbZb33Hyf6s5iCwjEonT","amount":383.243[...]
