interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.etherscan.io/v2/api?action=getblocknobytime&chainid=1&closest=before&module=block&timestamp=1700464075
  response:
    body:
      string: '{"status":"1","message":"OK","result":"18611413"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.etherscan.io/v2/api?action=txsBeaconWithdrawal&chainid=1&address=0xc37b40ABdB939635068d3c5f13E7faF686F03B65&endBlock=18611413&module=account&sort=asc&startBlock=0
  response:
    body:
      string: '{"status":"0","message":"No transactions found","result":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://eth.blockscout.com/api/v2/addresses/0xc37b40ABdB939635068d3c5f13E7faF686F03B65/withdrawals
  response:
    body:
      string: '{"items":[],"next_page_params":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
