interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.etherscan.io/api?module=block&action=getblocknobytime&timestamp=1699004400&closest=before&apikey=8JT7WQBB2VQP5C3416Y8X3S8GBA3CVZKP4
  response:
    body:
      string: '{"status":"1","message":"OK","result":"18490697"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.etherscan.io/api?module=account&action=txsBeaconWithdrawal&sort=asc&address=0x23F02E9272EAc1F12F5be76D48b4a15323778f08&startBlock=0&endBlock=18490697&apikey=8JT7WQBB2VQP5C3416Y8X3S8GBA3CVZKP4
  response:
    body:
      string: '{"status":"1","message":"OK","result":[{"withdrawalIndex":"1261047","validatorIndex":"583243","address":"0x23f02e9272eac1f12f5be76d48b4a15323778f08","amount":"1650449","blockNumber":"17113691","timestamp":"1682309531"},{"withdrawalIndex":"1755847","validatorIndex":"583243","address":"0x23f02e9272eac1f12f5be76d48b4a15323778f08","amount":"12404137","blockNumber":"17144616","timestamp":"1682684819"},{"withdrawalIndex":"2251866","validatorIndex":"583243","address":"0x23f02e9272eac1f12f5be76d48b4a15323778f08","amount":"12334500","blockNumber":"17175618","timestamp":"1683061259"},{"withdrawalIndex":"2750600","validatorIndex":"583243","address":"0x23f02e9272eac1f12f5be76d48b4a15323778f08","amount":"1240[...]
[...]
