interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.etherscan.io/v2/api?action=getblocknobytime&chainid=1&closest=before&module=block&timestamp=1707090600
  response:
    body:
      string: '{"status":"1","message":"OK","result":"19158316"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Nginx-Id:
      - '2'
      svid:
      - '54'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.blockscout.com/1/api/v2/addresses/0x23F02E9272EAc1F12F5be76D48b4a15323778f08/withdrawals
  response:
    body:
      string: '{"items":[{"amount":"32002461546000000000","block_number":19450198,"index":38643808,"receiver":{"ens_domain_name":null,"hash":"0x23F02E9272EAc1F12F5be76D48b4a15323778f08","implementations":[],"is_contract":false,"is_scam":false,"is_verified":null,"metadata":null,"name":null,"private_tags":[],"proxy_type":null,"public_tags":[],"reputation":"ok","watchlist_names":[]},"timestamp":"2024-03-16T21:43:35.000000Z","validator_index":583243},{"amount":"14991751000000000","block_number":19388845,"index":37662161,"receiver":{"ens_domain_name":null,"hash":"0x23F02E9272EAc1F12F5be76D48b4a15323778f08","implementations":[],"is_contract":false,"is_scam":false,"is_verified":null,"metadata":null,"name":null,"private_tags":[],"proxy_type":null,"public_tags":[],"reputation":"ok","watchlist_names":[]},"timestamp":"2024-03-08T07:05:23.000000Z","validator_index":583243},{"amount":"17929491000000000","block_number":19328088,"index":3669004[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.blockscout.com/1/api/v2/addresses/0x23F02E9272EAc1F12F5be76D48b4a15323778f08/withdrawals?index=2251866&items_count=50
  response:
    body:
      string: '{"items":[{"amount":"12404137000000000","block_number":17144616,"index":1755847,"receiver":{"ens_domain_name":null,"hash":"0x23F02E9272EAc1F12F5be76D48b4a15323778f08","implementations":[],"is_contract":false,"is_scam":false,"is_verified":null,"metadata":null,"name":null,"private_tags":[],"proxy_type":null,"public_tags":[],"reputation":"ok","watchlist_names":[]},"timestamp":"2023-04-28T12:26:59.000000Z","validator_index":583243},{"amount":"1650449000000000","block_number":17113691,"index":1261047,"receiver":{"ens_domain_name":null,"hash":"0x23F02E9272EAc1F12F5be76D48b4a15323778f08","implementations":[],"is_contract":false,"is_scam":false,"is_verified":null,"metadata":null,"name":null,"private_tags":[],"proxy_type":null,"public_tags":[],"reputation":"ok","watchlist_names":[]},"timestamp":"2023-04-24T04:12:11.000000Z","validator_index":583243}],"next_page_params":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-credits-remaining:
      - '99960'
      x-ratelimit-limit:
      - '5'
      x-ratelimit-remaining:
      - '3'
      x-ratelimit-reset:
      - '307'
    status:
      code: 200
      message: OK
- request:
    body: '{"validator": {"validator_identifiers": [583243]}, "chain": "mainnet"}'
    headers:
      Authorization:
      - Bearer sCfhbcO2V5SGmpaPLkyjSyfsa2MyXNy3ptmRqU0jcHb
      Content-Type:
      - application/json
    method: POST
    uri: https://beaconcha.in/api/v2/ethereum/validators
  response:
    body:
      string: '{"data":[{"validator":{"index":583243,"public_key":"0x823837958bd2abd92f03232d6d1266bcd9ce6c6d03e2c71a84dd67bad487fa67f46e11c961608e2560ae340cb604cb9b"},"slashed":false,"status":"withdrawal_done","online":null,"withdrawal_credentials":{"type":"execution_address","prefix":"0x01","credential":"0x01000000000000000000000023f02e9272eac1f12f5be76d48b4a15323778f08","address":"0x23F02E9272EAc1F12F5be76D48b4a15323778f08"},"life_cycle_epochs":{"activation_eligibility":195555,"activation":196429,"exit":268709,"withdrawable":268965},"balances":{"current":"0","effective":"0"},"finality":"not_finalized"}],"paging":{"next_cursor":""},"range":{"slot":{"start":14220992,"end":14221023},"epoch":{"start":444406,"end":444406},"timestamp":{"start":1777475927,"end":1777476310}}}

        '
    headers:
      Content-Type:
      - application/json
      Ratelimit-Bucket:
      - default
      Ratelimit-Limit:
      - '1'
      Ratelimit-Remaining:
      - '0'
      Ratelimit-Reset:
      - '1'
      Ratelimit-Validapikey:
      - 'true'
      Ratelimit-Window:
      - second
      X-Beaconchain-Version:
      - 26.17.2
      X-Ratelimit-Limit-Day:
      - '1000'
      X-Ratelimit-Limit-Hour:
      - '1000'
      X-Ratelimit-Limit-Minute:
      - '1000'
      X-Ratelimit-Limit-Month:
      - '1000'
      X-Ratelimit-Limit-Second:
      - '1'
      X-Ratelimit-Remaining-Day:
      - '680'
      X-Ratelimit-Remaining-Hour:
      - '680'
      X-Ratelimit-Remaining-Minute:
      - '680'
      X-Ratelimit-Remaining-Month:
      - '680'
      X-Ratelimit-Remaining-Second:
      - '0'
    status:
      code: 200
      message: OK
[...]
