interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.etherscan.io/v2/api?action=getblocknobytime&chainid=1&closest=before&module=block&timestamp=1707090600
  response:
    body:
      string: '{"status":"1","message":"OK","result":"19158316"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Nginx-Id:
      - '2'
      svid:
      - '9'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://eth.blockscout.com/api/v2/addresses/0x23F02E9272EAc1F12F5be76D48b4a15323778f08/withdrawals
  response:
    body:
      string: '{"items":[{"amount":"32002461546000000000","block_number":19450198,"index":38643808,"receiver":{"ens_domain_name":null,"hash":"0x23F02E9272EAc1F12F5be76D48b4a15323778f08","implementations":[],"is_contract":false,"is_scam":false,"is_verified":null,"metadata":null,"name":null,"private_tags":[],"proxy_type":null,"public_tags":[],"reputation":"ok","watchlist_names":[]},"timestamp":"2024-03-16T21:43:35.000000Z","validator_index":583243},{"amount":"14991751000000000","block_number":19388845,"index":37662161,"receiver":{"ens_domain_name":null,"hash":"0x23F02E9272EAc1F12F5be76D48b4a15323778f08","implementations":[],"is_contract":false,"is_scam":false,"is_verified":null,"metadata":null,"name":null,"private_tags":[],"proxy_type":null,"public_tags":[],"reputation":"ok","watchlist_names":[]},"timestamp":"2024-03-08T07:05:23.000000Z","validator_index":583243},{"amount":"17929491000000000","block_number":19328088,"index":3669004[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://eth.blockscout.com/api/v2/addresses/0x23F02E9272EAc1F12F5be76D48b4a15323778f08/withdrawals?index=2251866&items_count=50
  response:
    body:
      string: '{"items":[{"amount":"12404137000000000","block_number":17144616,"index":1755847,"receiver":{"ens_domain_name":null,"hash":"0x23F02E9272EAc1F12F5be76D48b4a15323778f08","implementations":[],"is_contract":false,"is_scam":false,"is_verified":null,"metadata":null,"name":null,"private_tags":[],"proxy_type":null,"public_tags":[],"reputation":"ok","watchlist_names":[]},"timestamp":"2023-04-28T12:26:59.000000Z","validator_index":583243},{"amount":"1650449000000000","block_number":17113691,"index":1261047,"receiver":{"ens_domain_name":null,"hash":"0x23F02E9272EAc1F12F5be76D48b4a15323778f08","implementations":[],"is_contract":false,"is_scam":false,"is_verified":null,"metadata":null,"name":null,"private_tags":[],"proxy_type":null,"public_tags":[],"reputation":"ok","watchlist_names":[]},"timestamp":"2023-04-24T04:12:11.000000Z","validator_index":583243}],"next_page_params":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      bypass-429-option:
      - temporary_token
      x-ratelimit-limit:
      - '600'
      x-ratelimit-remaining:
      - '598'
      x-ratelimit-reset:
      - '22064'
    status:
      code: 200
      message: OK
- request:
    body: '{"indicesOrPubkey": "583243"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://beaconcha.in/api/v1/validator
  response:
    body:
      string: '{"status":"OK","data":{"activationeligibilityepoch":195555,"activationepoch":196429,"balance":0,"effectivebalance":0,"exitepoch":268709,"lastattestationslot":8598663,"name":"","pubkey":"0x823837958bd2abd92f03232d6d1266bcd9ce6c6d03e2c71a84dd67bad487fa67f46e11c961608e2560ae340cb604cb9b","slashed":false,"status":"exited","validatorindex":583243,"withdrawableepoch":268965,"withdrawalcredentials":"0x01000000000000000000000023f02e9272eac1f12f5be76d48b4a15323778f08","total_withdrawals":32917496634}}

        '
    headers:
      Content-Type:
      - application/json
      Ratelimit-Bucket:
      - default
      Ratelimit-Limit:
      - '5'
      Ratelimit-Remaining:
      - '4'
      Ratelimit-Reset:
      - '1'
      Ratelimit-Validapikey:
      - 'true'
      Ratelimit-Window:
      - second
      X-Ratelimit-Limit-Day:
      - '30000'
      X-Ratelimit-Limit-Hour:
      - '30000'
      X-Ratelimit-Limit-Minute:
      - '30000'
      X-Ratelimit-Limit-Month:
      - '30000'
      X-Ratelimit-Limit-Second:
      - '5'
      X-Ratelimit-Remaining-Day:
      - '29933'
      X-Ratelimit-Remaining-Hour:
      - '29933'
      X-Ratelimit-Remaining-Minute:
      - '29933'
      X-Ratelimit-Remaining-Month:
      - '29933'
      X-Ratelimit-Remaining-Second:
      - '4'
    status:
      code: 200
      message: OK
[...]
