interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://eth.blockscout.com/api/v2/addresses/0x23F02E9272EAc1F12F5be76D48b4a15323778f08/withdrawals
  response:
    body:
      string: '{"items":[{"amount":"17688291000000000","block_number":19152209,"index":33875985,"receiver":{"ens_domain_name":null,"hash":"0x23F02E9272EAc1F12F5be76D48b4a15323778f08","implementation_name":null,"is_contract":false,"is_verified":null,"name":null,"private_tags":[],"public_tags":[],"watchlist_names":[]},"timestamp":"2024-02-04T03:12:47.000000Z","validator_index":583243},{"amount":"16865676000000000","block_number":19095551,"index":32969447,"receiver":{"ens_domain_name":null,"hash":"0x23F02E9272EAc1F12F5be76D48b4a15323778f08","implementation_name":null,"is_contract":false,"is_verified":null,"name":null,"private_tags":[],"public_tags":[],"watchlist_names":[]},"timestamp":"2024-01-27T04:31:11.000000Z","validator_index":583243},{"amount":"17467035000000000","block_number":19039743,"index":32076520,"receiver":{"ens_domain_name":null,"hash":"0x23F02E9272EAc1F[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://beaconcha.in/api/v1/validator/583243
  response:
    body:
      string: '{"status":"OK","data":{"activationeligibilityepoch":195555,"activationepoch":196429,"balance":32001889455,"effectivebalance":32000000000,"exitepoch":9223372036854775807,"lastattestationslot":8355556,"name":"","pubkey":"0x823837958bd2abd92f03232d6d1266bcd9ce6c6d03e2c71a84dd67bad487fa67f46e11c961608e2560ae340cb604cb9b","slashed":false,"status":"active_online","validatorindex":583243,"withdrawableepoch":9223372036854775807,"withdrawalcredentials":"0x01000000000000000000000023f02e9272eac1f12f5be76d48b4a15323778f08","total_withdrawals":803900401}}

        '
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Sun, 04 Feb 2024 23:55:51 GMT
      RateLimit-Limit:
      - '5'
      RateLimit-Remaining:
      - '4'
      RateLimit-Reset:
      - '1'
      WWW-Authenticate:
      - Key realm="kong"
      X-RateLimit-Limit-Day:
      - '30000'
      X-RateLimit-Limit-Hour:
      - '10000'
      X-RateLimit-Limit-Minute:
      - '20'
      X-RateLimit-Limit-Month:
      - '120000'
      X-RateLimit-Limit-Second:
      - '5'
      X-RateLimit-Remaining-Day:
      - '29997'
      X-RateLimit-Remaining-Hour:
      - '9997'
      X-RateLimit-Remaining-Minute:
      - '19'
      X-RateLimit-Remaining-Month:
      - '119997'
      X-RateLimit-Remaining-Second:
      - '4'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://beaconcha.in/api/v1/validator/582738,583243
  response:
    body:
      string: '{"status":"OK","data":[{"activationeligibilityepoch":195556,"activationepoch":196480,"balance":32044407259,"effectivebalance":32000000000,"exitepoch":9223372036854775807,"lastattestationslot":8355552,"name":"","pubkey":"0xb339277725bde688ae048331d5d33a07d6fef1d25bcd9a85d39261829e24b1f3bd4939bf45d2d14761601e326d104752","slashed":false,"status":"a[...]
