interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.etherscan.io/api?action=getblocknobytime&closest=before&module=block&timestamp=1707090600
  response:
    body:
      string: '{"status":"1","message":"OK","result":"19158316"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.etherscan.io/api?action=txsBeaconWithdrawal&address=0x23F02E9272EAc1F12F5be76D48b4a15323778f08&endBlock=19158316&module=account&sort=asc&startBlock=0
  response:
    body:
      string: '{"status":"1","message":"OK","result":[{"withdrawalIndex":"1261047","validatorIndex":"583243","address":"0x23f02e9272eac1f12f5be76d48b4a15323778f08","amount":"1650449","blockNumber":"17113691","timestamp":"1682309531"},{"withdrawalIndex":"1755847","validatorIndex":"583243","address":"0x23f02e9272eac1f12f5be76d48b4a15323778f08","amount":"12404137","blockNumber":"17144616","timestamp":"1682684819"},{"withdrawalIndex":"2251866","validatorIndex":"583243","address":"0x23f02e9272eac1f12f5be76d48b4a15323778f08","amount":"12334500","blockNumber":"17175618","timestamp":"1683061259"},{"withdrawalIndex":"2750600","validatorIndex":"583243","address":"0x23f02e9272eac1f12f5be76d48b4a15323778f08","amount":"1240[...]
- request:
    body: '{"indicesOrPubkey": "583243"}'
    headers:
    method: POST
    uri: https://beaconcha.in/api/v1/validator
  response:
    body:
      string: '{"status":"OK","data":{"activationeligibilityepoch":195555,"activationepoch":196429,"balance":32001889455,"effectivebalance":32000000000,"exitepoch":9223372036854775807,"lastattestationslot":8355556,"name":"","pubkey":"0x823837958bd2abd92f03232d6d1266bcd9ce6c6d03e2c71a84dd67bad487fa67f46e11c961608e2560ae340cb604cb9b","slashed":false,"status":"active_online","validatorindex":583243,"withdrawableepoch":9223372036854775807,"withdrawalcredentials":"0x01000000000000000000000023f02e9272eac1f12f5be76d48b4a15323778f08","total_withdrawals":803900401}}

        '
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Sun, 04 Feb 2024 23:55:51 GMT
      RateLimit-Limit:
      - '5'
      RateLimit-Remaining:
      - '4'
      RateLimit-Reset:
      - '1'
      WWW-Authenticate:
      - Key realm="kong"
      X-RateLimit-Limit-Day:
      - '30000'
      X-RateLimit-Limit-Hour:
      - '10000'
      X-RateLimit-Limit-Minute:
      - '20'
      X-RateLimit-Limit-Month:
      - '120000'
      X-RateLimit-Limit-Second:
      - '5'
      X-RateLimit-Remaining-Day:
      - '29997'
      X-RateLimit-Remaining-Hour:
      - '9997'
      X-RateLimit-Remaining-Minute:
      - '19'
      X-RateLimit-Remaining-Month:
      - '119997'
      X-RateLimit-Remaining-Second:
      - '4'
    status:
      code: 200
      message: OK
[...]
