interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://eth.blockscout.com/api/v2/addresses/0x23F02E9272EAc1F12F5be76D48b4a15323778f08/withdrawals
  response:
    body:
      string: '{"items":[{"amount":"17087659000000000","block_number":18598524,"index":25017028,"timestamp":"2023-11-18T11:47:47.000000Z","validator_index":583243},{"amount":"17016153000000000","block_number":18544409,"index":24151189,"timestamp":"2023-11-10T22:04:35.000000Z","validator_index":583243},{"amount":"57761879000000000","block_number":18490992,"index":23296508,"timestamp":"2023-11-03T10:39:23.000000Z","validator_index":583243},{"amount":"16747361000000000","block_number":18438195,"index":22451753,"timestamp":"2023-10-27T01:13:59.000000Z","validator_index":583243},{"amount":"16834223000000000","block_number":18385622,"index":21610593,"tim[...]
[...]
