interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.etherscan.io/v2/api?action=eth_getCode&address=0x9d25AdBcffE28923E619f4Af88ECDe732c985b63&chainid=1&module=proxy
  response:
    body:
      string: '{"jsonrpc":"2.0","id":1,"result":"0x"}

        '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Nginx-Id:
      - '3'
      svid:
      - d1
    status:
      code: 200
      message: OK
- request:
    body: '{"jsonrpc": "2.0", "method": "web3_clientVersion", "params": [], "id":
      0}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://mainnet.optimism.io/
  response:
    body:
      string: '{"jsonrpc":"2.0","result":"Geth/v1.101609.0-stable-0c840dff/linux-amd64/go1.24.13","id":0}

        '
    headers:
      Content-Type:
      - application/json
      X-Proxyd-Cache-Status:
      - MISS
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"jsonrpc": "2.0", "method": "eth_getTransactionByHash", "params": ["0x5e77a04531c7c107af1882d76cbff9486d0a9aa53701c30888509d4f5f2b003a"],
      "id": 4}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://mainnet.optimism.io/
  response:
    body:
      string: '{"jsonrpc":"2.0","result":{"blockHash":"0xbee7192e575af30420cae0c7776304ac196077ee72b048970549e4f08e875453","blockNumber":"0x1","chainId":"0xa","from":"0x70b17c0fe982ab4a7ac17a4c25485643151a1f2d","gas":"0x7a120","gasPrice":"0x1","hash":"0x5e77a04531c7c107af1882d76cbff9486d0a9aa53701c30888509d4f5f2b003a","input":"0x202ee0ed000000000000000000000000000000000000000000000000000000000001421800000000000000000000000000000000000000000000000000000000d0e3ebf0","nonce":"0x28972","r":"0xc878d22e771004beb73e7a4268fd4f447735812b94b217f6807412efcec90d61","s":"0x3588018735fb361c49e5de54b266b8b157c1ba3d6ee08e3bcbdee7cd725c16e8","to":"0x8ce8c13d816fe6daf12d6fd9e4952e1fc88850af","transactionIndex":"0x0","type":"0x0","v":"0x38","value":"0x0"},"id":4}

        '
    headers:
      Content-Type:
      - application/json
      X-Proxyd-Cache-Status:
      - MISS
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"jsonrpc": "2.0", "method": "web3_clientVersion", "params": [], "id":
      0}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://mainnet.base.org/
  response:
    body:
      string: '{"jsonrpc":"2.0","result":"Geth/v1.101609.0-stable-0c840dff/linux-amd64/go1.24.13","id":0}

        '
    headers:
      Content-Type:
      - application/json
      x-proxyd-cache-status:
      - MISS
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"jsonrpc": "2.0", "method": "eth_getTransactionByHash", "params": ["0xc7e021f71a972940c2728717f058f49833e3aa4d074c3599054530f108c281b2"],
      "id": 4}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://mainnet.base.org/
  response:
    body:
      string: '{"jsonrpc":"2.0","result":{"accessList":[],"blockHash":"0x493369ae3bb8df04408d15ed1d9971c0ae93a2a7fdc832a583240a723be3bbc4","blockNumber":"0x3e541a","chainId":"0x2105","from":"0x15718b9b0dade1c17d8329a13bb9553f3b38e172","gas":"0x5208","gasPrice":"0xdaf45a","hash":"0xc7e021f71a972940c2728717f058f49833e3aa4d074c3599054530f108c281b2","input":"0x","maxFeePerGas":"0x104a18f","maxPriorityFeePerGas":"0x5aeeeb","nonce":"0x1","r":"0x23df55c709dccbe0ddbca9867f1658f8a7b97ccc06bd0c2c74ad66ef05308b43","s":"0x6e72646fcd901f4d9ebf8e29f1b447bcc7c1fab524a3534bac2b85872940da67","to":"0x3a9e669d9e2d0171c8a057031a9e9c048b7fee60","transactionIndex":"0xf","type":"0x2","v":"0x0","value":"0x2386f26fc10000","yParity":"0x0"},"id":4}

        '
    headers:
      Content-Type:
      - application/json
      x-proxyd-cache-status:
      - MISS
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"jsonrpc": "2.0", "method": "web3_clientVersion", "params": [], "id":
      0}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://1rpc.io/bnb
  response:
    body:
      string: '{"jsonrpc":"2.0","id":0,"result":"Geth/v1.6.6/linux-amd64/go1.24.11"}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"jsonrpc": "2.0", "method": "eth_getBalance", "params": ["0xf29991AB7C30dC0dAfc4C39Bf1acD7d2534ecC85",
      "0xea72fb"], "id": 3}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://1rpc.io/bnb
  response:
    body:
      string: '{"jsonrpc":"2.0","id":3,"error":{"code":-32000,"message":"header not
        found"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.etherscan.io/v2/api?action=txlist&address=0x9d25AdBcffE28923E619f4Af88ECDe732c985b63&chainid=1&module=account&offset=1&page=1
  response:
    body:
      string: '{"status":"0","message":"No transactions found","result":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Nginx-Id:
      - '3'
      svid:
      - d1
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.etherscan.io/v2/api?action=txlistinternal&address=0x9d25AdBcffE28923E619f4Af88ECDe732c985b63&chainid=1&module=account&offset=1&page=1
  response:
    body:
      string: '{"status":"0","message":"No transactions found","result":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Nginx-Id:
      - '3'
      svid:
      - d1
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.etherscan.io/v2/api?action=tokentx&address=0x9d25AdBcffE28923E619f4Af88ECDe732c985b63&chainid=1&module=account&offset=1&page=1
  response:
    body:
      string: '{"status":"0","message":"No transactions found","result":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Nginx-Id:
      - '3'
      svid:
      - d1
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.etherscan.io/v2/api?action=balance&address=0x9d25AdBcffE28923E619f4Af88ECDe732c985b63&chainid=1&module=account
  response:
    body:
      string: '{"status":"1","message":"OK","result":"0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Nginx-Id:
      - '3'
      svid:
      - d1
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://explorer.optimism.io/api?action=txlist&address=0x9d25AdBcffE28923E619f4Af88ECDe732c985b63&module=account&page=1
  response:
    body:
      string: '{"message":"No transactions found","result":[],"status":"0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      bypass-429-option:
      - no_bypass
      x-ratelimit-limit:
      - '600'
      x-ratelimit-remaining:
      - '599'
      x-ratelimit-reset:
      - '57531'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://explorer.optimism.io/api?action=txlistinternal&address=0x9d25AdBcffE28923E619f4Af88ECDe732c985b63&module=account&page=1
  response:
    body:
      string: '{"message":"No internal transactions found","result":[],"status":"0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      bypass-429-option:
      - no_bypass
      x-ratelimit-limit:
      - '600'
      x-ratelimit-remaining:
      - '598'
      x-ratelimit-reset:
      - '57066'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://explorer.optimism.io/api?action=tokentx&address=0x9d25AdBcffE28923E619f4Af88ECDe732c985b63&module=account&page=1
  response:
    body:
      string: '{"message":"No token transfers found","result":[],"status":"0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      bypass-429-option:
      - no_bypass
      x-ratelimit-limit:
      - '600'
      x-ratelimit-remaining:
      - '597'
      x-ratelimit-reset:
      - '56580'
    status:
      code: 200
      message: OK
- request:
    body: '{"jsonrpc": "2.0", "method": "eth_getTransactionCount", "params": ["0x9d25AdBcffE28923E619f4Af88ECDe732c985b63",
      "latest"], "id": 0}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.avax.network/ext/bc/C/rpc
  response:
    body:
      string: '{"jsonrpc":"2.0","id":0,"result":"0x0"}'
    headers:
      Content-Type:
      - application/json
      x-execution-weight:
      - cheap
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.etherscan.io/v2/api?action=txlistinternal&address=0x9d25AdBcffE28923E619f4Af88ECDe732c985b63&chainid=42161&module=account&offset=1&page=1
  response:
    body:
      string: '{"status":"1","message":"OK","result":[{"blockNumber":"290622028","timeStamp":"1735673145","hash":"0x3439de6a87ff8434fab8febf225315e9382b94f1c5e7d51ab447fd950ebfd5ac","from":"0x4e1dcf7ad4e460cfd30791ccc4f9c8a4f820ec67","to":"","value":"0","contractAddress":"0x9d25adbcffe28923e619f4af88ecde732c985b63","input":"","type":"create2","gas":"942961","gasUsed":"56609","traceId":"0_1_1_1","isError":"0","errCode":""}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Nginx-Id:
      - '3'
      svid:
      - arb1
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://base.blockscout.com/api?action=txlist&address=0x9d25AdBcffE28923E619f4Af88ECDe732c985b63&module=account&page=1
  response:
    body:
      string: '{"message":"No transactions found","result":[],"status":"0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      bypass-429-option:
      - no_bypass
      x-ratelimit-limit:
      - '600'
      x-ratelimit-remaining:
      - '599'
      x-ratelimit-reset:
      - '35194'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://base.blockscout.com/api?action=txlistinternal&address=0x9d25AdBcffE28923E619f4Af88ECDe732c985b63&module=account&page=1
  response:
    body:
      string: '{"message":"Some internal transactions within this block range have
        not yet been processed","result":[{"blockNumber":"24441912","callType":"","contractAddress":"0x9d25adbcffe28923e619f4af88ecde732c985b63","errCode":"","from":"0x4e1dcf7ad4e460cfd30791ccc4f9c8a4f820ec67","gas":"823818","gasUsed":"56609","index":"1","input":"","isError":"0","timeStamp":"1735673171","to":"","transactionHash":"0xe0f8790a8595b9793424ddcfbf34e821c0a15449bfd2df9295ce473be1705a37","type":"create2","value":"0"}],"status":"2"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      bypass-429-option:
      - no_bypass
      x-ratelimit-limit:
      - '600'
      x-ratelimit-remaining:
      - '598'
      x-ratelimit-reset:
      - '34647'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.routescan.io/v2/network/mainnet/evm/8453/etherscan/api?action=txlist&address=0x9d25AdBcffE28923E619f4Af88ECDe732c985b63&module=account&offset=1&page=1
  response:
    body:
      string: '{"status":"1","message":"OK","result":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ratelimit-rpd-limit:
      - '100000'
      x-ratelimit-rpd-remaining:
      - '99997'
      x-ratelimit-rpd-reset:
      - '86244'
      x-ratelimit-rpm-limit:
      - '300'
      x-ratelimit-rpm-remaining:
      - '299'
      x-ratelimit-rpm-reset:
      - '60'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.routescan.io/v2/network/mainnet/evm/8453/etherscan/api?action=txlistinternal&address=0x9d25AdBcffE28923E619f4Af88ECDe732c985b63&module=account&offset=1&page=1
  response:
    body:
      string: '{"status":"1","message":"OK","result":[{"blockNumber":"24441912","timeStamp":"1735673171","hash":"0xe0f8790a8595b9793424ddcfbf34e821c0a15449bfd2df9295ce473be1705a37","from":"0x4e1dcf7ad4e460cfd30791ccc4f9c8a4f820ec67","to":"","value":"0","contractAddress":"0x9d25adbcffe28923e619f4af88ecde732c985b63","input":"","type":"create2","gasUsed":"56609","gas":"823818","traceId":"1","isError":"0","errCode":""}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ratelimit-rpd-limit:
      - '100000'
      x-ratelimit-rpd-remaining:
      - '99996'
      x-ratelimit-rpd-reset:
      - '86244'
      x-ratelimit-rpm-limit:
      - '300'
      x-ratelimit-rpm-remaining:
      - '298'
      x-ratelimit-rpm-reset:
      - '60'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.zksync.io/api/v0.2/accounts/0x9d25AdBcffE28923E619f4Af88ECDe732c985b63/transactions?direction=older&from=latest&limit=1
  response:
    body:
      string: '{"request":{"network":"mainnet","apiVersion":"v02","resource":"/api/v0.2/accounts/0x9d25AdBcffE28923E619f4Af88ECDe732c985b63/transactions","args":{"limit":"1","from":"latest","account_id_or_address":"0x9d25AdBcffE28923E619f4Af88ECDe732c985b63","direction":"older"},"timestamp":"2026-02-24T13:00:40.335713514Z"},"status":"success","error":null,"result":{"list":[],"pagination":{"from":"0x0000000000000000000000000000000000000000000000000000000000000000","limit":1,"direction":"older","count":0}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
