interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.etherscan.io/v2/api?action=eth_getCode&address=0x9d25AdBcffE28923E619f4Af88ECDe732c985b63&chainid=1&module=proxy
  response:
    body:
      string: '{"jsonrpc":"2.0","id":1,"result":"0x"}

        '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Nginx-Id:
      - '4'
      svid:
      - '7'
    status:
      code: 200
      message: OK
- request:
    body: '{"id": 0, "jsonrpc": "2.0", "method": "eth_getCode", "params": ["0x9d25AdBcffE28923E619f4Af88ECDe732c985b63",
      "latest"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://explorer.optimism.io/api/eth-rpc
  response:
    body:
      string: '{"jsonrpc":"2.0","result": "0x","id": 0}

        '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      bypass-429-option:
      - no_bypass
      x-ratelimit-limit:
      - '600'
      x-ratelimit-remaining:
      - '599'
      x-ratelimit-reset:
      - '24669'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"id": 0, "jsonrpc": "2.0", "method": "eth_getCode", "params": ["0x9d25AdBcffE28923E619f4Af88ECDe732c985b63",
      "latest"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://base.blockscout.com/api/eth-rpc
  response:
    body:
      string: '{"jsonrpc":"2.0","result": "0x608060405273ffffffffffffffffffffffffffffffffffffffff600054167fa619486e0000000000000000000000000000000000000000000000000000000060003514156050578060005260206000f35b3660008037600080366000845af43d6000803e60008114156070573d6000fd5b3d6000f3fea264697066735822122003d1488ee65e08fa41e58e888a9865554c535f2c77126a82cb4c0f917f31441364736f6c63430007060033","id":
        0}

        '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      bypass-429-option:
      - no_bypass
      x-ratelimit-limit:
      - '600'
      x-ratelimit-remaining:
      - '599'
      x-ratelimit-reset:
      - '23132'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.etherscan.io/v2/api?action=txlist&address=0x9d25AdBcffE28923E619f4Af88ECDe732c985b63&chainid=1&module=account&offset=1&page=1
  response:
    body:
      string: '{"status":"0","message":"No transactions found","result":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Nginx-Id:
      - '2'
      svid:
      - '55'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.etherscan.io/v2/api?action=txlistinternal&address=0x9d25AdBcffE28923E619f4Af88ECDe732c985b63&chainid=1&module=account&offset=1&page=1
  response:
    body:
      string: '{"status":"0","message":"No transactions found","result":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Nginx-Id:
      - '2'
      svid:
      - '55'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.etherscan.io/v2/api?action=tokentx&address=0x9d25AdBcffE28923E619f4Af88ECDe732c985b63&chainid=1&module=account&offset=1&page=1
  response:
    body:
      string: '{"status":"0","message":"No transactions found","result":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Nginx-Id:
      - '3'
      svid:
      - '7'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.etherscan.io/v2/api?action=balance&address=0x9d25AdBcffE28923E619f4Af88ECDe732c985b63&chainid=1&module=account
  response:
    body:
      string: '{"status":"1","message":"OK","result":"0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Nginx-Id:
      - '3'
      svid:
      - '7'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://explorer.optimism.io/api?action=txlist&address=0x9d25AdBcffE28923E619f4Af88ECDe732c985b63&module=account&page=1
  response:
    body:
      string: '{"message":"No transactions found","result":[],"status":"0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      bypass-429-option:
      - no_bypass
      x-ratelimit-limit:
      - '600'
      x-ratelimit-remaining:
      - '598'
      x-ratelimit-reset:
      - '18119'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://explorer.optimism.io/api?action=txlistinternal&address=0x9d25AdBcffE28923E619f4Af88ECDe732c985b63&module=account&page=1
  response:
    body:
      string: '{"message":"No internal transactions found","result":[],"status":"0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      bypass-429-option:
      - no_bypass
      x-ratelimit-limit:
      - '600'
      x-ratelimit-remaining:
      - '597'
      x-ratelimit-reset:
      - '18011'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://explorer.optimism.io/api?action=tokentx&address=0x9d25AdBcffE28923E619f4Af88ECDe732c985b63&module=account&page=1
  response:
    body:
      string: '{"message":"No token transfers found","result":[],"status":"0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      bypass-429-option:
      - no_bypass
      x-ratelimit-limit:
      - '600'
      x-ratelimit-remaining:
      - '596'
      x-ratelimit-reset:
      - '17915'
    status:
      code: 200
      message: OK
- request:
    body: '{"jsonrpc": "2.0", "method": "eth_getTransactionCount", "params": ["0x9d25AdBcffE28923E619f4Af88ECDe732c985b63",
      "latest"], "id": 0}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.avax.network/ext/bc/C/rpc
  response:
    body:
      string: '{"jsonrpc":"2.0","id":0,"result":"0x0"}'
    headers:
      Content-Type:
      - application/json
      x-execution-weight:
      - cheap
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.etherscan.io/v2/api?action=txlistinternal&address=0x9d25AdBcffE28923E619f4Af88ECDe732c985b63&chainid=42161&module=account&offset=1&page=1
  response:
    body:
      string: '{"status":"1","message":"OK","result":[{"blockNumber":"290622028","timeStamp":"1735673145","hash":"0x3439de6a87ff8434fab8febf225315e9382b94f1c5e7d51ab447fd950ebfd5ac","from":"0x4e1dcf7ad4e460cfd30791ccc4f9c8a4f820ec67","to":"","value":"0","contractAddress":"0x9d25adbcffe28923e619f4af88ecde732c985b63","input":"","type":"create2","gas":"942961","gasUsed":"56609","traceId":"0_1_1_1","isError":"0","errCode":""}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Nginx-Id:
      - '4'
      svid:
      - arb1
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://base.blockscout.com/api?action=txlist&address=0x9d25AdBcffE28923E619f4Af88ECDe732c985b63&module=account&page=1
  response:
    body:
      string: '{"message":"No transactions found","result":[],"status":"0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      bypass-429-option:
      - no_bypass
      x-ratelimit-limit:
      - '600'
      x-ratelimit-remaining:
      - '599'
      x-ratelimit-reset:
      - '56344'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://base.blockscout.com/api?action=txlistinternal&address=0x9d25AdBcffE28923E619f4Af88ECDe732c985b63&module=account&page=1
  response:
    body:
      string: '{"message":"Some internal transactions within this block range have
        not yet been processed","result":[{"blockNumber":"24441912","callType":"","contractAddress":"0x9d25adbcffe28923e619f4af88ecde732c985b63","errCode":"","from":"0x4e1dcf7ad4e460cfd30791ccc4f9c8a4f820ec67","gas":"823818","gasUsed":"56609","index":"1","input":"","isError":"0","timeStamp":"1735673171","to":"","transactionHash":"0xe0f8790a8595b9793424ddcfbf34e821c0a15449bfd2df9295ce473be1705a37","type":"create2","value":"0"}],"status":"2"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      bypass-429-option:
      - no_bypass
      x-ratelimit-limit:
      - '600'
      x-ratelimit-remaining:
      - '598'
      x-ratelimit-reset:
      - '56183'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.routescan.io/v2/network/mainnet/evm/8453/etherscan/api?action=txlist&address=0x9d25AdBcffE28923E619f4Af88ECDe732c985b63&module=account&offset=1&page=1
  response:
    body:
      string: '{"status":"1","message":"OK","result":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ratelimit-rpd-limit:
      - '100000'
      x-ratelimit-rpd-remaining:
      - '99994'
      x-ratelimit-rpd-reset:
      - '60841'
      x-ratelimit-rpm-limit:
      - '300'
      x-ratelimit-rpm-remaining:
      - '299'
      x-ratelimit-rpm-reset:
      - '60'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.routescan.io/v2/network/mainnet/evm/8453/etherscan/api?action=txlistinternal&address=0x9d25AdBcffE28923E619f4Af88ECDe732c985b63&module=account&offset=1&page=1
  response:
    body:
      string: '{"status":"1","message":"OK","result":[{"blockNumber":"24441912","timeStamp":"1735673171","hash":"0xe0f8790a8595b9793424ddcfbf34e821c0a15449bfd2df9295ce473be1705a37","from":"0x4e1dcf7ad4e460cfd30791ccc4f9c8a4f820ec67","to":"","value":"0","contractAddress":"0x9d25adbcffe28923e619f4af88ecde732c985b63","input":"","type":"create2","gasUsed":"56609","gas":"823818","traceId":"1","isError":"0","errCode":""}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ratelimit-rpd-limit:
      - '100000'
      x-ratelimit-rpd-remaining:
      - '99993'
      x-ratelimit-rpd-reset:
      - '60840'
      x-ratelimit-rpm-limit:
      - '300'
      x-ratelimit-rpm-remaining:
      - '298'
      x-ratelimit-rpm-reset:
      - '60'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.zksync.io/api/v0.2/accounts/0x9d25AdBcffE28923E619f4Af88ECDe732c985b63/transactions?direction=older&from=latest&limit=1
  response:
    body:
      string: '{"request":{"network":"mainnet","apiVersion":"v02","resource":"/api/v0.2/accounts/0x9d25AdBcffE28923E619f4Af88ECDe732c985b63/transactions","args":{"limit":"1","account_id_or_address":"0x9d25AdBcffE28923E619f4Af88ECDe732c985b63","direction":"older","from":"latest"},"timestamp":"2026-03-13T05:33:13.662125325Z"},"status":"success","error":null,"result":{"list":[],"pagination":{"from":"0x0000000000000000000000000000000000000000000000000000000000000000","limit":1,"direction":"older","count":0}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
