interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - f6bc0f7f7a5944f9bd63366130edd306
    method: GET
    uri: https://api.opensea.io/api/v2/chain/ethereum/account/0xc37b40ABdB939635068d3c5f13E7faF686F03B65/nfts?address=0xc37b40ABdB939635068d3c5f13E7faF686F03B65&limit=50
  response:
    body:
      string: '{"nfts": [{"identifier": "1", "collection": "gashawk-nfts", "contract":
        "0xfd9d8036f899ed5a9fd8cac7968e5f24d3db2a64", "token_standard": "erc1155",
        "name": "GasHawk Nest NFT", "description": "This NFT celebrates GasHawk''s
        early achievements and might become useful sometime later", "image_url": "https://ipfs.io/ipfs/bafkreiadpakefxttuc5ry74hoswmlcp7ju5tq25lyghw2epa64u4nag3k4",
        "metadata_url": "https://ipfs.io/ipfs/bafkreia7gburv672hfnidgdp7iauifdjc4h5nhry5wkjw7ei7xgwzliwle",
        "opensea_url": "https://opensea.io/assets/ethereum/0xfd9d8036f899ed5a9fd8cac7968e5f24d3db2a64/1",
        "updated_at": "2023-06-06T15:16:03.529321", "is_disabled": false, "is_nsfw":
        false}, {"identifier": "26612040215479394739615825115912800930061094786769410446114278812336794170041",
        "collection": "ens", "contract": "0x57f1887a8bf19b14fc0df6fd9b2acc9af147ea85",
        "token_standard": "erc721", "name": "yabir.eth", "description": "yabir.eth,
        an ENS name.", "image_url": "https://metadata.ens.domains/mainnet/0x57f1887a8bf19b14fc0df6fd9b2acc9af147ea85/0x3ad5e1887ef8024efa6d5070ccfda4868783a5343e1089e47fda9b4f7ce4f2b9/image",
        "metadata_url": "https://metadata.ens.domains/mainnet/0x57f1887a8bf19b14fc0df6fd9b2acc9af147ea85/26612040215479394739615825115912800930061094786769410446114278812336794170041",
        "opensea_url": "https://opensea.io/assets/ethereum/0x57f1887a8bf19b14fc0df6fd9b2acc9af147ea85/26612040215479394739615825115912800930061094786769410446114278812336794170041",
        "updated_at": "2023-04-20T00:17:54.606757", "is_disabled": false, "is_nsfw":
        false}]}'
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Mon, 29 Jan 2024 01:30:14 GMT
      allow:
      - GET, HEAD, OPTIONS
      x-trace-id:
      - '13436078585711686975805866500283979305'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - f6bc0f7f7a5944f9bd63366130edd306
    method: GET
    uri: https://api.opensea.io/api/v2/collections/gashawk-nfts?collection_slug=gashawk-nfts
  response:
    body:
      string: '{"collection": "gashawk-nfts", "name": "GasHawk NFTs", "description":
        "GasHawk - save gas fees on Ethereum", "image_url": "https://openseauserdata.com/files/73476b70ed04041d0072328f8ed27741.png",
        "banner_image_url": "", "owner": "0x44f00c29a0b8514d017ac20fbdb0aa5078b860ce",
        "safelist_status": "not_requested", "category": "", "is_disabled": false,
        "is_nsfw": false, "trait_offers_enabled": false, "collection_offers_enabled":
        true, "opensea_url": "https://opensea.io/collection/gashawk-nfts", "project_url":
        "", "wiki_url": "", "discord_url": "", "telegram_url": "", "twitter_username":
        "", "instagram_username": "", "contracts": [{"address": "0xfd9d8036f899ed5a9fd8cac7968e5f24d3db2a64",
        "chain": "ethereum"}], "editors": ["0x44f00c29a0b8514d017ac20fbdb0aa5078b860ce"],
        "fees": [{"fee": 2.5, "recipient": "0x0000a26b00c1f0df003000390027140000faa719",
        "required": true}], "total_supply": 1, "created_date": "2023-06-06"}'
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Mon, 29 Jan 2024 01:30:14 GMT
      allow:
      - GET, HEAD, OPTIONS
      x-trace-id:
      - '231464576352026308524350098970369260684'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - f6bc0f7f7a5944f9bd63366130edd306
    method: GET
    uri: https://api.opensea.io/api/v2/collections/gashawk-nfts/stats?name=gashawk-nfts
  response:
    body:
      string: '{"total": {"volume": 0.0, "sales": 0, "average_price": 0.0, "num_owners":
        132, "market_cap": 0.0, "floor_price": 0.0, "floor_price_symbol": ""}, "intervals":
        [{"interval": "one_day", "volume": 0.0, "volume_diff": 0.0, "volume_change":
        0.0, "sales": 0, "sales_diff": 0.0, "average_price": 0.0}, {"interval": "seven_day",
        "volume": 0.0, "volume_diff": 0.0, "volume_change": 0.0, "sales": 0, "sales_diff":
        0.0, "average_price": 0.0}, {"interval": "thirty_day", "volume": 0.0, "volume_diff":
        0.0, "volume_change": 0.0, "sales": 0, "sales_diff": 0.0, "average_price":
        0.0}]}'
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Mon, 29 Jan 2024 01:30:15 GMT
      allow:
      - GET, HEAD, OPTIONS
      x-trace-id:
      - '339189199252267611921601806117491154143'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - f6bc0f7f7a5944f9bd63366130edd306
    method: GET
    uri: https://api.opensea.io/api/v2/collections/ens?collection_slug=ens
  response:
    body:
      string: '{"collection": "ens", "name": "ENS: Ethereum Name Service", "description":
        "Ethereum Name Service (ENS) domains are secure domain names for the decentralized
        world. ENS domains provide a way for users to map human [...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - f6bc0f7f7a5944f9bd63366130edd306
    method: GET
    uri: https://api.opensea.io/api/v2/collections/ens/stats?name=ens
  response:
    body:
      string: '{"total": {"volume": 88254.50787438902, "sales": 340989, "average_price":
        0.2588282019488633, "num_owners": 876936, "market_cap": 429708.3245923737,
        "floor_price": 0.002, "floor_price_symbol": "ETH"}, "intervals": [{"interval":
        "one_day", "volume": 5.228108590000003, "volume_diff": -99.0, "volume_change":
        -0.7859779874515506, "sales": 82, "sales_diff": -0.5469613259668509, "average_price":
        0.0637705803658537}, {"interval": "seven_day", "volume": 62.31120595999988,
        "volume_diff": 236.0, "volume_change": 1.642472469437169, "sales": 460, "sales_diff":
        0.0, "average_price": 0.1355361204782606}, {"interval": "thirty_day", "volume":
        248.65289826349965, "volume_diff": 427.0, "volume_change": -0.35973453967236324,
        "sales": 1627, "sales_diff": 0.0, "average_price": 0.1528509742228033}]}'
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Mon, 29 Jan 2024 01:30:16 GMT
      allow:
      - GET, HEAD, OPTIONS
      x-trace-id:
      - '28651204335631324796641123768517037442'
    status:
      code: 200
      message: OK
version: 1
