interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - a80fe31333644dfb954d2d66c25e571a
    method: GET
    uri: https://api.opensea.io/api/v1/assets?limit=50&offset=0&order_direction=desc&owner=0xc37b40ABdB939635068d3c5f13E7faF686F03B65
  response:
    body:
      string: '{"assets":[{"id":1249893991,"token_id":"1","num_sales":0,"background_color":null,"image_url":"https://i.seadn.io/gcs/files/055ea6fd0df776e844eaebab13c6db22.png?w=500&auto=format","image_preview_url":"https://i.seadn.io/gcs/files/055ea6fd0df776e844eaebab13c6db22.png?w=500&auto=format","image_thumbnail_url":"https://i.seadn.io/gcs/files/055ea6fd0df776e844eaebab13c6db22.png?w=500&auto=format","image_original_url":"ipfs://bafkreiadpakefxttuc5ry74hoswmlcp7ju5tq25lyghw2epa64u4nag3k4","animation_url":"https://openseauserdata.com/files/79f6100b72b859ae741e93d5d04316c4.mp4","animation_original_url":"ipfs://bafybeiadblbhnfturyoic5kxmisxlr7hyxjffuykaoh5sh2anpl4iwgm3i","name":"GasHawk
        Nest NFT","description":"This NFT celebrates GasHawk''s early achievements
        and might become useful sometime later","external_link":null,"asset_contract":{"address":"0xfd9d8036f899ed5a9fd8cac7968e5f24d3db2a64","asset_contract_type":"semi-fungible","chain_identifier":"ethereum","created_date":"2023-06-06T09:11:42.855238","name":"GasHawk
        NFTs","nft_version":null,"opensea_version":null,"owner":1547089975,"schema_name":"ERC1155","symbol":"","total_supply":null,"description":"GasHawk
        - save gas fees on Ethereum","external_link":null,"image_url":"https://i.seadn.io/gcs/files/73476b70ed04041d0072328f8ed27741.png?w=500&auto=format","default_to_fiat":false,"dev_buyer_fee_basis_points":0,"dev_seller_fee_basis_points":0,"only_proxied_transfers":false,"opensea_buyer_fee_basis_points":0,"opensea_seller_fee_basis_points":250,"buyer_fee_basis_points":0,"seller_fee_basis_points":250,"payout_address":null},"permalink":"https://opensea.io/assets/ethereum/0xfd9d8036f899ed5a9fd8cac7968e5f24d3db2a64/1","collection":{"banner_image_url":null,"chat_url":null,"created_date":"2023-06-06T15:14:28.202886+00:00","default_to_fiat":false,"description":"GasHawk
        - save gas fees on Ethereum","dev_buyer_fee_basis_points":"0","dev_seller_fee_basis_points":"0","discord_url":null,"display_data":{"card_display_style":"contain","images":[]},"external_url":null,"featured":false,"featured_image_url":null,"hidden":false,"safelist_request_status":"not_requested","image_url":"https://i.seadn.io/gcs/files/73476b70ed04041d0072328f8ed27741.png?w=500&auto=format","is_subject_to_whitelist":false,"large_image_url":"https://i.seadn.io/gcs/files/73476b70ed04041d0072328f8ed27741.png?w=500&auto=format","medium_username":null,"name":"GasHawk
        NFTs","only_proxied_transfers":false,"opensea_buyer_fee_basis_points":"0","opensea_seller_fee_basis_points":250,"payout_address":null,"require_email":false,"short_description":null,"slug":"gashawk-nfts","telegram_url":null,"twitter_username":null,"instagram_username":null,"wiki_url":null,"is_nsfw":false,"fees":{"seller_fees":{},"opensea_fees":{"0x0000a26b00c1f0df003000390027140000faa719":250}},"is_rarity_enabled":false,"is_creator_fees_enforced":false},"decimals":null,"token_metadata":"ipfs://bafkreia7gburv672hfnidgdp7iauifdjc4h5nhry5wkjw7ei7xgwzliwle","is_nsfw":false,"owner":null,"seaport_sell_orders":null,"creator":{"user":null,"address":"0x44f00c29a0b8514d017ac20fbdb0aa5078b860ce","config":"","profile_img_url":""},"traits":[],"last_sale":null,"top_bid":null,"listing_date":null,"supports_wyvern":true,"rarity_data":null,"transfer_fee":null,"transfer_fee_payment_token":null},{"id":143307977,"token_id":"26612040215479394739615825115912800930061094786769410446114278812336794170041","num_sales":0,"background_color":null,"image_url":"https://openseauserdata.com/files/238f73fa1bbea518eec64f9c9d5ed7fe.svg","image_preview_url":"https://openseauserdata.com/files/238f73fa1bbea518eec64f9c9d5ed7fe.svg","image_thumbnail_url":"https://openseauserdata.com/files/238f73fa1bbea518eec64f9c9d5ed7fe.svg","image_original_url":"https://metadata.ens.domains/mainnet/0x57f1887a8bf19b1[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - a80fe31333644dfb954d2d66c25e571a
    method: GET
    uri: https://api.opensea.io/api/v1/collections?asset_owner=0xc37b40ABdB939635068d3c5f13E7faF686F03B65&limit=300&offset=0
  response:
    body:
      string: '[{"primary_asset_contracts":[{"address":"0xfd9d8036f899ed5a9fd8cac7968e5f24d3db2a64","asset_contract_type":"semi-fungible","chain_identifier":"ethereum","created_date":"2023-06-06T09:11:42.855238","name":"GasHawk
        NFTs","nft_version":null,"opensea_version":null,"owner":1547089975,"schema_name":"ERC1155","symbol":"","total_supply":null,"description":"GasHawk
        - save gas fees on Ethereum","external_link":null,"image_url":"https://i.seadn.io/gcs/files/73476b70ed04041d0072328f8ed27741.png?w=500&auto=format","default_to_fiat":false,"dev_buyer_fee_basis_points":0,"dev_seller_fee_basis_points":0,"only_proxied_transfers":false,"opensea_buyer_fee_basis_points":0,"opensea_seller_fee_basis_points":250,"buyer_fee_basis_points":0,"seller_fee_basis_points":250,"payout_address":null}],"traits":{},"stats":{"one_minute_volume":0.0,"one_minute_change":0.0,"one_minute_sales":0.0,"one_minute_sales_change":0.0,"one_minute_average_price":0.0,"one_minute_difference":0.0,"five_minute_volume":0.0,"five_minute_change":0.0,"five_minute_sales":0.0,"five_minute_sales_change":0.0,"five_minute_average_price":0.0,"five_minute_difference":0.0,"fifteen_minute_volume":0.0,"fifteen_minute_change":0.0,"fifteen_minute_sales":0.0,"fifteen_minute_sales_change":0.0,"fifteen_minute_average_price":0.0,"fifteen_minute_difference":0.0,"thirty_minute_volume":0.0,"thirty_minute_change":0.0,"thirty_minute_sales":0.0,"thirty_minute_sales_change":0.0,"thirty_minute_average_price":0.0,"thirty_minute_difference":0.0,"one_hour_volume":0.0,"one_hour_change":0.0,"one_hour_sales":0.0,"one_hour_sales_change":0.0,"one_hour_average_price":0.0,"one_hour_difference":0.0,"six_hour_volume":0.0,"six_hour_change":0.0,"six_hour_sales":0.0,"six_hour_sales_change":0.0,"six_hour_average_price":0.0,"six_hour_difference":0.0,"one_day_volume":0.0,"one_day_change":0.0,"one_day_sales":0.0,"one_day_sales_change":0.0,"one_day_average_price":0.0,"one_day_difference":0.0,"seven_day_volume":0.0,"seven_day_change":0.0,"seven_day_sales":0.0,"seven_day_average_price":0.0,"seven_day_difference":0.0,"thirty_day_volume":0.0,"thirty_day_change":0.0,"thirty_day_sales":0.0,"thirty_day_average_price":0.0,"thirty_day_difference":0.0,"total_volume":0.0,"total_sales":0.0,"total_supply":1.0,"count":1.0,"num_owners":132,"average_price":0.0,"num_reports":0,"market_cap":0.0,"floor_price":0},"banner_image_url":null,"chat_url":null,"created_date":"2023-06-06T15:14:28.202886+00:00","default_to_fiat":false,"description":"GasHawk
        - save gas fees on Ethereum","dev_buyer_fee_basis_points":"0","dev_seller_fee_basis_points":"0","discord_url":null,"display_data":{"card_display_style":"contain","images":[]},"external_url":null,"featured":false,"featured_image_url":null,"hidden":false,"safelist_request_status":"not_requested","image_url":"https://i.seadn.io/gcs/files/73476b70ed04041d0072328f8ed27741.png?w=500&auto=format","is_subject_to_whitelist":false,"large_image_url":"https://i.seadn.io/gcs/files/73476b70ed04041d0072328f8ed27741.png?w=500&auto=format","medium_username":null,"name":"GasHawk
        NFTs","only_proxied_transfers":false,"opensea_buyer_fee_basis_points":"0","opensea_seller_fee_basis_points":250,"payout_address":null,"require_email":false,"short_description":null,"slug":"gashawk-nfts","telegram_url":null,"twitter_username":null,"instagram_username":null,"wiki_url":null,"is_nsfw":false,"fees":{"seller_fees":{},"opensea_fees":{"0x0000a26b00c1f0df003000390027140000faa719":250}},"is_rarity_enabled":false,"is_creator_fees_enforced":false,"owned_asset_count":1},{"primary_asset_contracts":[{"address":"0x57f1887a8bf19b14fc0df6fd9b2acc9af147ea85","asset_contract_type":"non-fungible","chain_identifier":"ethereum","created_date":"2019-05-08T21:59:29.327544","name":"Unidentified
        contract","nft_version":null,"opensea_version":null,"owner":111982386,"schema_name":"ERC721","symbol":"","total_supply":"0","description":"Ethereum
        Name Service (ENS) domains are secure domain names for the decentralized world.
        ENS domains provide a way for[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - a80fe31333644dfb954d2d66c25e571a
    method: GET
    uri: https://api.opensea.io/api/v1/collection/gashawk-nfts/stats?name=gashawk-nfts
  response:
    body:
      string: '{"stats":{"one_minute_volume":0.0,"one_minute_change":0.0,"one_minute_sales":0.0,"one_minute_sales_change":0.0,"one_minute_average_price":0.0,"one_minute_difference":0.0,"five_minute_volume":0.0,"five_minute_change":0.[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - a80fe31333644dfb954d2d66c25e571a
    method: GET
    uri: https://api.opensea.io/api/v1/collection/ens/stats?name=ens
  response:
    body:
      string: '{"stats":{"one_minute_volume":0.0,"one_minute_change":0.0,"one_minute_sales":0.0,"one_minute_sales_change":0.0,"one_minute_average_price":0.0,"one_minute_difference":0.0,"five_minute_volume":0.0,"five_minute_change":0.0,"five_minute_sal[...]
