interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - 0c5fbaada6264939bcbf0c7e5e00f4c2
    method: GET
    uri: https://api.opensea.io/api/v2/chain/ethereum/account/0xA2a6D337e042009EbAC0f0c398Fef08Dc1074f19/nfts?address=0xA2a6D337e042009EbAC0f0c398Fef08Dc1074f19&limit=50
  response:
    body:
      string: "{\n  \"nfts\" : [ {\n    \"identifier\" : \"7535\",\n    \"collection\"
        : \"lilpudgys\",\n    \"contract\" : \"0x524cab2ec69124574082676e6f654a18df49a048\",\n
        \   \"token_standard\" : \"erc721\",\n    \"name\" : \"Lil Pudgy #7535\",\n
        \   \"description\" : \"Lil Pudgys are a collection of 22,222 randomly generated
        NFTs minted on Ethereum.\",\n    \"image_url\" : \"https://i2c.seadn.io/ethereum/0x524cab2ec69124574082676e6f654a18df49a048/522e8f74719beea606df34ac9a3229/01522e8f74719beea606df34ac9a3229.png\",\n
        \   \"display_image_url\" : \"https://i2c.seadn.io/ethereum/0x524cab2ec69124574082676e6f654a18df49a048/522e8f74719beea606df34ac9a3229/01522e8f74719beea606df34ac9a3229.png\",\n
        \   \"display_animation_url\" : null,\n    \"metadata_url\" : \"https://api.pudgypenguins.io/lil/7535\",\n
        \   \"opensea_url\" : \"https://opensea.io/assets/ethereum/0x524cab2ec69124574082676e6f654a18df49a048/7535\",\n
        \   \"updated_at\" : \"2026-01-01T13:44:30.727630\",\n    \"is_disabled\"
        : false,\n    \"is_nsfw\" : false,\n    \"original_image_url\" : \"https://api.pudgypenguins.io/lil/image/7535\",\n
        \   \"original_animation_url\" : null\n  }, {\n    \"identifier\" : \"20466898898651485108579388256612175777045716033951273334886878508657922169545\",\n
        \   \"collection\" : \"ens\",\n    \"contract\" : \"0xd4416b13d2b3a9abae7acd5d6c2bbdbe25686401\",\n
        \   \"token_standard\" : \"erc1155\",\n    \"name\" : \"orlik.eth\",\n    \"description\"
        : \"orlik.eth, an ENS name.\",\n    \"image_url\" : \"https://raw2.seadn.io/ethereum/0xd4416b13d2b3a9abae7acd5d6c2bbdbe25686401/f22e740630814b12128ff8b860ca72/def22e[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - 0c5fbaada6264939bcbf0c7e5e00f4c2
    method: GET
    uri: https://api.opensea.io/api/v2/collections/lilpudgys?collection_slug=lilpudgys
  response:
    body:
      string: "{\n  \"collection\" : \"lilpudgys\",\n  \"name\" : \"Lil Pudgys\",\n
        \ \"description\" : \"Lil Pudgys is a collection of 22,222 NFTs originating
        from Pudgy Penguins. Don\u2019t let their small stature f[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - 0c5fbaada6264939bcbf0c7e5e00f4c2
    method: GET
    uri: https://api.opensea.io/api/v2/collections/lilpudgys/stats?name=lilpudgys
  response:
    body:
      string: "{\n  \"total\" : {\n    \"volume\" : 138300.6924427995,\n    \"sales\"
        : 155539,\n    \"num_owners\" : 10231,\n    \"market_cap\" : 46678.995305326825,\n
        \   \"floor_price\" : 0.43,\n    \"floor_price_symbol\" : \"ETH\",\n    \"average_price\"
        : 0.889170513136895\n  },\n  \"intervals\" : [ {\n    \"interval\" : \"one_day\",\n
        \   \"volume\" : 34.722436,\n    \"volume_diff\" : 0.0,\n    \"volume_change\"
        : 0.0,\n    \"sales\" : 81,\n    \"sales_diff\" : 0,\n    \"average_price\"
        : 0.4286720493827161\n  }, {\n    \"interval\" : \"seven_day\",\n    \"volume\"
        : 274.2782254899768,\n    \"volume_diff\" : 0.0,\n    \"volume_change\" :
        0.0,\n    \"sales\" : 584,\n    \"sales_diff\" : 0,\n    \"average_price\"
        : 0.4696544957020151\n  }, {\n    \"interval\" : \"thirty_day\",\n    \"volume\"
        : 912.0164845189765,\n    \"volume_diff\" : 0.0,\n    \"volume_change\" :
        0.0,\n    \"sales\" : 1668,\n    \"sales_diff\" : 0,\n    \"average_price\"
        : 0.5467724727331994\n  } ]\n}"
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Thu, 01 Jan 2026 13:44:32 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - 0c5fbaada6264939bcbf0c7e5e00f4c2
    method: GET
    uri: https://api.opensea.io/api/v2/collections/ens?collection_slug=ens
  response:
    body:
      string: "{\n  \"collection\" : \"ens\",\n  \"name\" : \"ENS: Ethereum Name Service\",\n
        \ \"description\" : \"Ethereum Name Service (ENS) domains are secure domain
        names for the decentralized world. ENS domains provide a way for users to
        map human readable names to blockchain and non-blockchain resources, like
        Ethereum addresses, IPFS hashes, or website URLs. ENS domains can be bought
        and sold on secondary markets.\",\n  \"image_url\" : \"https://i2c.seadn.io/collection/ens/image/2389b989ec47442bc2c714bcdf3e19/b02389b989ec47442bc2c714bcdf3e19.png\",\n
        \ \"banner_image_url\" : \"https://i2c.seadn.io/collection/ens/desktopHeroMedia/dd03416d9fdbfa8469940079031f9e/dcdd03416d9fdbfa8469940079031f9e.png?fit=inside\",\n
        \ \"owner\" : \"0xfe89cc7abb2c4183683ab71653c4cdc9b02d44b7\",\n  \"safelist_status\"
        : \"verified\",\n  \"category\" : \"domain_names\",\n  \"is_disabled\" : false,\n
        \ \"is_nsfw\" : false,\n  \"trait_offers_enabled\" : false,\n  \"collection_offers_enabled\"
        : false,\n  \"opensea_url\" : \"https://opensea.io/collection/ens\",\n  \"project_url\"
        : \"https://ens.domains\",\n  \"wiki_url\" : \"\",\n  \"discord_url\" : \"\",\n
        \ \"telegram_url\" : \"\",\n  \"twitter_username\" : \"ensdomains\",\n  \"instagram_username\"
        : \"\",\n  \"contracts\" : [ {\n    \"address\" : \"0x57f1887a8bf19b14fc0df6fd9b2acc9af147ea85\",\n
        \   \"chain\" : \"ethereum\"\n  }, {\n    \"address\" : \"0xd4416b13d2b3a9abae7acd5d6c2bbdbe25686401\",\n
        \   \"chain\" : \"ethereum\"\n  } ],\n  \"editors\" : [ \"0xc489b60e161737c64ac2ee4e85d055cfbf10bad5\",
        \"0xfe89cc7abb2c4183683ab71653c4cdc9b02d44b7\" ],\n  \"fees\" : [ {\n    \"fee\"
        : 1.0,\n    \"recipient\" : \"0x0000a26b00c1f0df003000390027140000faa719\",\n
        \   \"required\" : true\n  } ],\n  \"total_supply\" : 3887698,\n  \"unique_item_count\"
        : 3887687,\n  \"created_date\" : \"2019-05-08\",\n  \"payment_tokens\" : [
        ]\n}"
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Thu, 01 Jan 2026 13:44:33 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - 0c5fbaada6264939bcbf0c7e5e00f4c2
    method: GET
    uri: https://api.opensea.io/api/v2/collections/ens/stats?name=ens
  response:
    body:
      string: "{\n  \"total\" : {\n    \"volume\" : 88971.49048442535,\n    \"sales\"
        : 411246,\n    \"num_owners\" : 832329,\n    \"market_cap\" : 7.872268640237013E7,\n
        \   \"floor_price\" : 1.18E-5,\n    \"floor_price_symbol\" : \"[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - 0c5fbaada6264939bcbf0c7e5e00f4c2
    method: GET
    uri: https://api.opensea.io/api/v2/collections/unic-generative-certificates?collection_slug=unic-generative-certificates
  response:
    body:
      string: "{\n  \"collection\" : \"unic-generative-certificates\",\n  \"name\"
        : \"UNIC Generative Certificates\",\n  \"description\" : \"The UNIC Generative
        Certificates are [...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - 0c5fbaada6264939bcbf0c7e5e00f4c2
    method: GET
    uri: https://api.opensea.io/api/v2/collections/unic-generative-certificates/stats?name=unic-generative-certificates
  response:
    body:
      string: "{\n  \"total\" : {\n    \"volume\" : 0.0,\n    \"sales\" : 0,\n    \"num_owners\"
        : 338,\n    \"market_cap\" : 0.0,\n    \"floor_price\" : 0.0,\n    \"floor_price_symbol\"
        : \"\",\n    \"average_price\" : 0.0\n  },\n  \"intervals\" : [ {\n    \"interval\"
        : \"one_day\",\n    \"volume\" : 0.0,\n    \"volume_diff\" : 0.0,\n    \"volume_change\"
        : 0.0,\n    \"sales\" : 0,\n    \"sales_diff\" : 0,\n    \"average_price\"
        : 0.0\n  }, {\n    \"interval\" : \"seven_day\",\n    \"volume\" : 0.0,\n
        \   \"volume_diff\" : 0.0,\n    \"volume_change\" : 0.0,\n    \"sales\" :
        0,\n    \"sales_diff\" : 0,\n    \"average_price\" : 0.0\n  }, {\n    \"interval\"
        : \"thirty_day\",\n    \"volume\" : 0.0,\n    \"volume_diff\" : 0.0,\n    \"volume_change\"
        : 0.0,\n    \"sales\" : 0,\n    \"sales_diff\" : 0,\n    \"average_price\"
        : 0.0\n  } ]\n}"
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Thu, 01 Jan 2026 13:44:35 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - 0c5fbaada6264939bcbf0c7e5e00f4c2
    method: GET
    uri: https://api.opensea.io/api/v2/collections/introducing-worldcoin?collection_slug=introducing-worldcoin
  response:
    body:
      string: "{\n  \"collection\" : \"introducing-worldcoin\",\n  \"name\" : \"Introducing
        Worldcoin\",\n  \"description\" : \"__debezium_unavailable_value\",\n  \"image_url\"
        : \"https://i2c.[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - 0c5fbaada6264939bcbf0c7e5e00f4c2
    method: GET
    uri: https://api.opensea.io/api/v2/collections/introducing-worldcoin/stats?name=introducing-worldcoin
  response:
    body:
      string: "{\n  \"total\" : {\n    \"volume\" : 54.38919922069693,\n    \"sales\"
        : 841,\n    \"num_owners\" : 14306,\n    \"market_cap\" : 7.481E7,\n    \"floor_price\"
        : 7.7899E-4,\n    \"floor_price_symbol\" : \"ETH\",\n    \"average_price\"
        : 0.0646720561482722\n  },\n  \"intervals\" : [ {\n    \"interval\" : \"one_day\",\n
        \   \"volume\" : 0.0,\n    \"volume_diff\" : 0.0,\n    \"volume_change\" :
        0.0,\n    \"sales\" : 0,\n    \"sales_diff\" : 0,\n    \"average_price\" :
        0.0\n  }, {\n    \"interval\" : \"seven_day\",\n    \"volume\" : 0.0018,\n
        \   \"volume_diff\" : 0.0,\n    \"volume_change\" : 0.0,\n    \"sales\" :
        9,\n    \"sales_diff\" : 0,\n    \"average_price\" : 1.9999999999999998E-4\n
        \ }, {\n    \"interval\" : \"thirty_day\",\n    \"volume\" : 0.002,\n    \"volume_diff\"
        : 0.0,\n    \"volume_change\" : 0.0,\n    \"sales\" : 10,\n    \"sales_diff\"
        : 0,\n    \"average_price\" : 2.0E-4\n  } ]\n}"
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Thu, 01 Jan 2026 13:44:37 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - 0c5fbaada6264939bcbf0c7e5e00f4c2
    method: GET
    uri: https://api.opensea.io/api/v2/collections/cael-mux-genesis?collection_slug=cael-mux-genesis
  response:
    body:
      string: "{\n  \"collection\" : \"cael-mux-genesis\",\n  \"name\" : \"Cael Mux:
        Genesis\",\n  \"description\" : \"'As soon as his elevator went down, he felt
        that something was wrong. It was too loud for this part of the city. \\n\\nHe
        went out of the restaurant and, about a hundred meters away, saw a massive
        crowd of agitated civilians. His gaze drifted to the propaganda billboards
        looming over the street. They had been hijacked by a message that tugged at
        the corners of his memory. \\n\\n\\\"Not your keys, not your coins? I haven't
        heard this phrase since 2031.\\\" - he mused as he made his way toward the
        car.'\\n\\n***\\n\\nDive into an interactive cyberpunk novel where each reader's
        NFT vote shapes the hero's journey, forever altering his destiny.\\n\\nLearn
        more:\\nhttps://story.caelmux.com/\",\n  \"image_url\" : \"https://i2c.seadn.io/ethereum/c0a6bf5b7cdf43e3912abef0c38a96b9/97c24cc2a1a8c90e78b89c122e6b33/5997c24cc2a1a8c90e78b89c122e6b33.png\",\n
        \ \"banner_image_url\" : \"\",\n  \"owner\" : \"0x33c48e86e56f387df689af1eacf252ca2b9da1e6\",\n
        \ \"safelist_status\" : \"not_requested\",\n  \"category\" : \"\",\n  \"is_disabled\"
        : false,\n  \"is_nsfw\" : false,\n  \"trait_offers_enabled\" : false,\n  \"collection_offers_enabled\"
        : true,\n  \"opensea_url\" : \"https://opensea.io/collection/cael-mux-genesis\",\n
        \ \"project_url\" : \"\",\n  \"wiki_url\" : \"\",\n  \"discord_url\" : \"\",\n
        \ \"telegram_url\" : \"\",\n  \"twitter_username\" : null,\n  \"instagram_username\"
        : \"\",\n  \"contracts\" : [ {\n    \"address\" : \"0x18652fc3bdd0538e5bacdc8ba5c2a5c6d68c9168\",\n
        \   \"chain\" : \"ethereum\"\n  } ],\n  \"editors\" : [ \"0x33c48e86e56f387df689af1eacf252ca2b9da1e6\"
        ],\n  \"fees\" : [ {\n    \"fee\" : 1.0,\n    \"recipient\" : \"0x0000a26b00c1f0df003000390027140000faa719\",\n
        \   \"required\" : true\n  }, {\n    \"fee\" : 5.0,\n    \"recipient\" : \"0x33c48e86e56f387df689af1eacf252ca2b9da1e6\",\n
        \   \"required\" : false\n  } ],\n  \"rarity\" : {\n    \"calculated_at\"
        : \"2026-01-01T13:44:38.101469\",\n    \"max_rank\" : 54,\n    \"total_supply\"
        : 66,\n    \"strategy_id\" : \"openrarity\",\n    \"strategy_version\" : \"1.0\"\n
        \ },\n  \"total_supply\" : 66,\n  \"unique_item_count\" : 66,\n  \"created_date\"
        : \"2023-04-16\",\n  \"payment_tokens\" : [ ]\n}"
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Thu, 01 Jan 2026 13:44:38 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - 0c5fbaada6264939bcbf0c7e5e00f4c2
    method: GET
    uri: https://api.opensea.io/api/v2/collections/cael-mux-genesis/stats?name=cael-mux-genesis
  response:
    body:
      string: "{\n  \"total\" : {\n    \"volume\" : 0.0,\n    \"sales\" : 0,\n    \"num_owners\"
        : 17,\n    \"market_cap\" : 0.0,\n    \"floor_price\" : 0.0,\n    \"floor_price_symbol\"
        : \"\",\n    \"average_price\" : 0.0\n  },\n  \"intervals\" : [ {\n    \"interval\"
        : \"one_day\",\n    \"volume\" : 0.0,\n    \"volume_diff\" : 0.0,\n    \"volume_change\"
        : 0.0,\n    \"sales\" : 0,\n    \"sales_diff\" : 0,\n    \"average_price\"
        : 0.0\n  }, {\n    \"interval\" : \"seven_day\",\n    \"volume\" : 0.0,\n
        \   \"volume_diff\" : 0.0,\n    \"volume_change\" : 0.0,\n    \"sales\" :
        0,\n    \"sales_diff\" : 0,\n    \"average_price\" : 0.0\n  }, {\n    \"interval\"
        : \"thirty_day\",\n    \"volume\" : 0.0,\n    \"volume_diff\" : 0.0,\n    \"volume_change\"
        : 0.0,\n    \"sales\" : 0,\n    \"sales_diff\" : 0,\n    \"average_price\"
        : 0.0\n  } ]\n}"
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Thu, 01 Jan 2026 13:44:38 GMT
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - 0c5fbaada6264939bcbf0c7e5e00f4c2
    method: GET
    uri: https://api.opensea.io/api/v2/collections/meta-511-certificate-mint-pass-fall-2022?collection_slug=meta-511-certificate-mint-pass-fall-2022
  response:
    body:
      string: "{\n  \"collection\" : \"meta-511-certificate-mint-pass-fall-2022\",\n
        \ \"name\" : \"META-511 Certificate Mint Pass - Fall 2022\",\n  \"description\[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - 0c5fbaada6264939bcbf0c7e5e00f4c2
    method: GET
    uri: https://api.opensea.io/api/v2/collections/meta-511-certificate-mint-pass-fall-2022/stats?name=meta-511-certificate-mint-pass-fall-2022
  response:
    body:
      string: "{\n  \"total\" : {\n    \"volume\" : 0.0,\n    \"sales\" : 0,\n    \"num_owners\"
        : 278,\n    \"market_cap\" : 0.0,\n    \"floor_price\" : 0.0,\n    \"floor_price_symbol\"
        : \"\",\n    \"average_price\" : 0.0\n  },\n  \"intervals\" : [ {\n    \"interval\"
        : \"one_day\",\n    \"volume\" : 0.0,\n    \"volume_diff\" : 0.0,\n    \"volume_change\"
        : 0.0,\n    \"sales\" : 0,\n    \"sales_diff\" : 0,\n    \"average_price\"
        : 0.0\n  }, {\n    \"interval\" : \"seven_day\",\n    \"volume\" : 0.0,\n
        \   \"volume_diff\" : 0.0,\n    \"volume_change\" : 0.0,\n    \"sales\" :
        0,\n    \"sales_diff\" : 0,\n    \"average_price\" : 0.0\n  }, {\n    \"interval\"
        : \"thirty_day\",\n    \"volume\" : 0.0,\n    \"volume_diff\" : 0.0,\n    \"volume_change\"
        : 0.0,\n    \"sales\" : 0,\n    \"sales_diff\" : 0,\n    \"average_price\"
        : 0.0\n  } ]\n}"
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Thu, 01 Jan 2026 13:44:40 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - 0c5fbaada6264939bcbf0c7e5e00f4c2
    method: GET
    uri: https://api.opensea.io/api/v2/collections/genesis-talk?collection_slug=genesis-talk
  response:
    body:
      string: "{\n  \"collection\" : \"genesis-talk\",\n  \"name\" : \"Genesis Talk\",\n
        \ \"description\" : \"Since the inception of Web3 Talks, we have spoken with
        dozens of great web3 founders. They shared th[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - 0c5fbaada6264939bcbf0c7e5e00f4c2
    method: GET
    uri: https://api.opensea.io/api/v2/collections/genesis-talk/stats?name=genesis-talk
  response:
    body:
      string: "{\n  \"total\" : {\n    \"volume\" : 0.0,\n    \"sales\" : 0,\n    \"num_owners\"
        : 130,\n    \"market_cap\" : 0.0,\n    \"floor_price\" : 0.0,\n    \"floor_price_symbol\"
        : \"\",\n    \"average_price\" : 0.0\n  },\n  \"intervals\" : [ {\n    \"interval\"
        : \"one_day\",\n    \"volume\" : 0.0,\n    \"volume_diff\" : 0.0,\n    \"volume_change\"
        : 0.0,\n    \"sales\" : 0,\n    \"sales_diff\" : 0,\n    \"average_price\"
        : 0.0\n  }, {\n    \"interval\" : \"seven_day\",\n    \"volume\" : 0.0,\n
        \   \"volume_diff\" : 0.0,\n    \"volume_change\" : 0.0,\n    \"sales\" :
        0,\n    \"sales_diff\" : 0,\n    \"average_price\" : 0.0\n  }, {\n    \"interval\"
        : \"thirty_day\",\n    \"volume\" : 0.0,\n    \"volume_diff\" : 0.0,\n    \"volume_change\"
        : 0.0,\n    \"sales\" : 0,\n    \"sales_diff\" : 0,\n    \"average_price\"
        : 0.0\n  } ]\n}"
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Thu, 01 Jan 2026 13:44:42 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - 0c5fbaada6264939bcbf0c7e5e00f4c2
    method: GET
    uri: https://api.opensea.io/api/v2/collections/base-introduced?collection_slug=base-introduced
  response:
    body:
      string: "{\n  \"collection\" : \"base-introduced\",\n  \"name\" : \"Base, Introduced\",\n
        \ \"description\" : \"Meet Base, an Ethereum L2 that offers a secure, low-cost,
        developer-friendly way for an[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - 0c5fbaada6264939bcbf0c7e5e00f4c2
    method: GET
    uri: https://api.opensea.io/api/v2/collections/base-introduced/stats?name=base-introduced
  response:
    body:
      string: "{\n  \"total\" : {\n    \"volume\" : 2672.365477324224,\n    \"sales\"
        : 104490,\n    \"num_owners\" : 364713,\n    \"market_cap\" : 1.2277645569620252E8,\n
        \   \"floor_price\" : 4.44E-4,\n    \"floor_price_symbol\" : \"ETH\",\n    \"average_price\"
        : 0.02557532278040218\n  },\n  \"intervals\" : [ {\n    \"interval\" : \"one_day\",\n
        \   \"volume\" : 0.0,\n    \"volume_diff\" : 0.0,\n    \"volume_change\" :
        0.0,\n    \"sales\" : 0,\n    \"sales_diff\" : 0,\n    \"average_price\" :
        0.0\n  }, {\n    \"interval\" : \"seven_day\",\n    \"volume\" : 0.0079,\n
        \   \"volume_diff\" : 0.0,\n    \"volume_change\" : 0.0,\n    \"sales\" :
        2,\n    \"sales_diff\" : 0,\n    \"average_price\" : 0.00395\n  }, {\n    \"interval\"
        : \"thirty_day\",\n    \"volume\" : 0.04301888500000001,\n    \"volume_diff\"
        : 0.0,\n    \"volume_change\" : 0.0,\n    \"sales\" : 76,\n    \"sales_diff\"
        : 0,\n    \"average_price\" : 5.660379605263158E-4\n  } ]\n}"
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Thu, 01 Jan 2026 13:44:43 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - 0c5fbaada6264939bcbf0c7e5e00f4c2
    method: GET
    uri: https://api.opensea.io/api/v2/collections/pooly-pfers?collection_slug=pooly-pfers
  response:
    body:
      string: "{\n  \"collection\" : \"pooly-pfers\",\n  \"name\" : \"pooly - pfers\",\n
        \ \"description\" : \"pfers are 6'500 hand drawings of the cutest defender
        of defi\",\n  \"image_url\" : \"https://i2c.seadn[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - 0c5fbaada6264939bcbf0c7e5e00f4c2
    method: GET
    uri: https://api.opensea.io/api/v2/collections/pooly-pfers/stats?name=pooly-pfers
  response:
    body:
      string: "{\n  \"total\" : {\n    \"volume\" : 3.8955989999999865,\n    \"sales\"
        : 327,\n    \"num_owners\" : 2984,\n    \"market_cap\" : 0.0,\n    \"floor_price\"
        : 3.0E-4,\n    \"floor_price_symbol\" : \"ETH\",\n    \"average_price\" :
        0.011913146788990784\n  },\n  \"intervals\" : [ {\n    \"interval\" : \"one_day\",\n
        \   \"volume\" : 0.0,\n    \"volume_diff\" : 0.0,\n    \"volume_change\" :
        0.0,\n    \"sales\" : 0,\n    \"sales_diff\" : 0,\n    \"average_price\" :
        0.0\n  }, {\n    \"interval\" : \"seven_day\",\n    \"volume\" : 0.0,\n    \"volume_diff\"
        : 0.0,\n    \"volume_change\" : 0.0,\n    \"sales\" : 0,\n    \"sales_diff\"
        : 0,\n    \"average_price\" : 0.0\n  }, {\n    \"interval\" : \"thirty_day\",\n
        \   \"volume\" : 0.0,\n    \"volume_diff\" : 0.0,\n    \"volume_change\" :
        0.0,\n    \"sales\" : 0,\n    \"sales_diff\" : 0,\n    \"average_price\" :
        0.0\n  } ]\n}"
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Thu, 01 Jan 2026 13:44:44 GMT
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - 0c5fbaada6264939bcbf0c7e5e00f4c2
    method: GET
    uri: https://api.opensea.io/api/v2/collections/university-of-nicosia-defi-course?collection_slug=university-of-nicosia-defi-course
  response:
    body:
      string: "{\n  \"collection\" : \"university-of-nicosia-defi-course\",\n  \"name\"
        : \"University of Nicosia, BLOC529: Decentralized Finance, Certificates of
        Comple[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - 0c5fbaada6264939bcbf0c7e5e00f4c2
    method: GET
    uri: https://api.opensea.io/api/v2/collections/university-of-nicosia-defi-course/stats?name=university-of-nicosia-defi-course
  response:
    body:
      string: "{\n  \"total\" : {\n    \"volume\" : 0.0,\n    \"sales\" : 0,\n    \"num_owners\"
        : 102,\n    \"market_cap\" : 0.0,\n    \"floor_price\" : 0.0,\n    \"floor_price_symbol\"
        : \"\",\n    \"average_price\" : 0.0\n  },\n  \"intervals\" : [ {\n    \"interval\"
        : \"one_day\",\n    \"volume\" : 0.0,\n    \"volume_diff\" : 0.0,\n    \"volume_change\"
        : 0.0,\n    \"sales\" : 0,\n    \"sales_diff\" : 0,\n    \"average_price\"
        : 0.0\n  }, {\n    \"interval\" : \"seven_day\",\n    \"volume\" : 0.0,\n
        \   \"volume_diff\" : 0.0,\n    \"volume_change\" : 0.0,\n    \"sales\" :
        0,\n    \"sales_diff\" : 0,\n    \"average_price\" : 0.0\n  }, {\n    \"interval\"
        : \"thirty_day\",\n    \"volume\" : 0.0,\n    \"volume_diff\" : 0.0,\n    \"volume_change\"
        : 0.0,\n    \"sales\" : 0,\n    \"sales_diff\" : 0,\n    \"average_price\"
        : 0.0\n  } ]\n}"
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Thu, 01 Jan 2026 13:44:47 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - 0c5fbaada6264939bcbf0c7e5e00f4c2
    method: GET
    uri: https://api.opensea.io/api/v2/collections/merge-regenesis?collection_slug=merge-regenesis
  response:
    body:
      string: "{\n  \"collection\" : \"merge-regenesis\",\n  \"name\" : \"The Merge:
        Regenesis\",\n  \"description\" : \"The Merge is a massive technological milestone
        bringing sustainability, security, an[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - 0c5fbaada6264939bcbf0c7e5e00f4c2
    method: GET
    uri: https://api.opensea.io/api/v2/collections/merge-regenesis/stats?name=merge-regenesis
  response:
    body:
      string: "{\n  \"total\" : {\n    \"volume\" : 333.5887164924664,\n    \"sales\"
        : 30865,\n    \"num_owners\" : 147768,\n    \"market_cap\" : 9.024219059782001E7,\n
        \   \"floor_price\" : 1.279E-4,\n    \"f[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - 0c5fbaada6264939bcbf0c7e5e00f4c2
    method: GET
    uri: https://api.opensea.io/api/v2/collections/rebelsbynight?collection_slug=rebelsbynight
  response:
    body:
      string: "{\n  \"collection\" : \"rebelsbynight\",\n  \"name\" : \"Rebels\",\n
        \ \"description\" : \"Rebels is collection of dynamic NFTs, a canvas for your
        digital identity. By Night Labs.\",\n  \"image_[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - 0c5fbaada6264939bcbf0c7e5e00f4c2
    method: GET
    uri: https://api.opensea.io/api/v2/collections/rebelsbynight/stats?name=rebelsbynight
  response:
    body:
      string: "{\n  \"total\" : {\n    \"volume\" : 658.9507579221522,\n    \"sales\"
        : 4516,\n    \"num_owners\" : 2033,\n    \"market_cap\" : 9730434.782608695,\n
        \   \"floor_price\" : 7.8899E-4,\n    \"floor_price_symbol\" : \"ETH\",\n
        \   \"average_price\" : 0.14591469395973256\n  },\n  \"intervals\" : [ {\n
        \   \"interval\" : \"one_day\",\n    \"volume\" : 0.0,\n    \"volume_diff\"
        : 0.0,\n    \"volume_change\" : 0.0,\n    \"sales\" : 0,\n    \"sales_diff\"
        : 0,\n    \"average_price\" : 0.0\n  }, {\n    \"interval\" : \"seven_day\",\n
        \   \"volume\" : 0.0046,\n    \"volume_diff\" : 0.0,\n    \"volume_change\"
        : 0.0,\n    \"sales\" : 8,\n    \"sales_diff\" : 0,\n    \"average_price\"
        : 5.75E-4\n  }, {\n    \"interval\" : \"thirty_day\",\n    \"volume\" : 0.00619,\n
        \   \"volume_diff\" : 0.0,\n    \"volume_change\" : 0.0,\n    \"sales\" :
        10,\n    \"sales_diff\" : 0,\n    \"average_price\" : 6.19E-4\n  } ]\n}"
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Thu, 01 Jan 2026 13:44:56 GMT
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.etherscan.io/v2/api?action=eth_call&chainid=1&data=0xee1806d200000000000000000000000000000000000000000000000000000000000000200000000000000000000000000000000000000000000000000000000000000001000000000000000000000000a2a6d337e042009ebac0f0c398fef08dc1074f19&module=proxy&to=0x54eCF3f6f61F63fdFE7c27Ee8A86e54899600C92
  response:
    body:
      string: '{"jsonrpc":"2.0","id":1,"result":"0x000000000000000000000000000000000000000000000000000000000000002000000000000000000000000000000000000000000000000000000000000000010000000000000000000000000000000000000000000000000011111c892585e5"}

        '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Nginx-Id:
      - '4'
      svid:
      - '16'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.x-rates.com/historical/?amount=1&date=2026-01-01&from=EUR
  response:
    body:
      string: "<!DOCTYPE html>\n<html>\n    <head>\n        <meta http-equiv=\"Content-Type\"
        content=\"text/html; charset=utf-8\"/>\n<meta name=\"format-detection\" content=\"telephone=no\"/>\n<meta
        name=\"description\" content=\"Get historic exchange rates for past Euro foreign
        expenses. Select your currencies and the date to get histroical rate tables.\"/>\n<meta
        name=\"keywords\" content=\"1 EUR to EUR, historical exchange rates, historic
        rates, x-rates, historic currency table, past exchange rates, currency lookup\"/>\n<link
        rel=\"canonical\" href=\"https://www.x-rates.com/historical/?from=EUR&amount=1&date=2026-01-01\"/>\n\t\t\t<script
        type='text/javascript'>\n\t\t\t\tvar e9AdSlots  = { \n\t\t\t\t  output_lb
        : {site:'ExchangeRates', adSpace:'Homepage', size:'728x90,468x60', noAd: '1'},\noutput_rs
        : {site:'ExchangeRates', adSpace:'Homepage', size:'300x250,300x600,160x600',
        noAd: '1'},\nros_ls : {site:'XEInternal', adSpace:'HRROS', size:'300x250',
[...]
