interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - f6bc0f7f7a5944f9bd63366130edd306
    method: GET
    uri: https://api.opensea.io/api/v2/chain/ethereum/account/0x1143fd695a33ac740C84B93fd57f1f8396C1Af05/nfts?address=0x1143fd695a33ac740C84B93fd57f1f8396C1Af05&limit=50
  response:
    body:
      string: '{"nfts": [{"identifier": "26349", "collection": "sandbox", "contract":
        "0x5cc5b05a8a13e3fbdb0bb9fccd98d38e50f90c38", "token_standard": "erc721",
        "name": "LAND (33, -140)", "description": "A LAND is a digital piece of real
        estate in The Sandbox metaverse that players can buy to build experiences
        on top of. Once you own a LAND, you will be able to populate it with Games
        and Assets. Each LAND is a unique (non-fungible) token lying on the public
        Ethereum blockchain (ERC-721).", "image_url": "https://api.sandbox.game/lands/36e6ee8c-0142-461c-8faa-361d3451e0f8/v3/preview-560px-x-560px.webp",
        "metadata_url": "https://api.sandbox.game/lands/26349/metadata.json", "opensea_url":
        "https://opensea.io/assets/ethereum/0x5cc5b05a8a13e3fbdb0bb9fccd98d38e50f90c38/26349",
        "updated_at": "2024-03-12T13:07:38.778956", "is_disabled": false, "is_nsfw":
        false}]}'
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Thu, 14 Mar 2024 07:42:57 GMT
      allow:
      - GET, HEAD, OPTIONS
      x-trace-id:
      - '305298643455483057123773053831905741736'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - f6bc0f7f7a5944f9bd63366130edd306
    method: GET
    uri: https://api.opensea.io/api/v2/collections/sandbox?collection_slug=sandbox
  response:
    body:
      string: '{"collection": "sandbox", "name": "The Sandbox", "description": "The
        Sandbox is a community-driven platform where creators can monetize voxel assets
        and gaming experiences on the blockchain. The Sandbox metaverse comprises
        a map made up of 166,464 LANDS.  LAND owners can host contests and events,
        stake SAND to earn and customize assets, monetize assets and experiences,
        vote in the metaverse governance, play games that you or others create, and
        more! Trade the collection and keep your eyes peeled for future drops.", "image_url":
        "https://i.seadn.io/gae/SXH8tW1siikB80rwCRnjm1a5xM_MwTg9Xl9Db6mioIk9HIlDM09pVoSR7GKJgS6ulSUpgW9BDtMk_ePX_NKgO9A?w=500&auto=format",
        "banner_image_url": "https://i.seadn.io/gcs/files/fb46c14805de22fb1565130608b52f62.png?w=500&auto=format",
        "owner": "0x18dd4e0eb8699ea4fee238de41ecfb95e32272f8", "safelist_status":
        "verified", "category": "virtual-worlds", "is_disabled": false, "is_nsfw":
        false, "trait_offers_enabled": false, "collection_offers_enabled": false,
        "opensea_url": "https://opensea.io/collection/sandbox", "project_url": "https://www.sandbox.game/",
        "wiki_url": "", "discord_url": "https://discord.gg/vAe4zvY", "telegram_url":
        "https://t.me/sandboxgame", "twitter_username": "thesandboxgame", "instagram_username":
        "", "contracts": [{"address": "0x5cc5b05a8a13e3fbdb0bb9fccd98d38e50f90c38",
        "chain": "ethereum"}, {"address": "0x9d305a42a3975ee4c1c57555bed5919889dce63f",
        "chain": "matic"}], "editors": ["0x18dd4e0eb8699ea4fee238de41ecfb95e32272f8",
        "0x7a9fe22691c811ea339d9b73150e6911a5343dca"], "fees": [{"fee": 2.5, "recipient":
        "0x0000a26b00c1f0df003000390027140000faa719", "required": true}, {"fee": 5.0,
        "recipient": "0x7a9fe22691c811ea339d9b73150e6911a5343dca", "required": false}],
        "payment_tokens": [{"symbol": "SAND", "address": "0x3845badade8e6dff049820680d1f14bd3903a5d0",
        "chain": "ethereum", "image": "https://i.seadn.io/gcs/static/miscellaneous/sandbox-token.png?w=500&auto=format",
        "name": "SAND", "decimals": 18, "eth_price": "0.000188220000000", "usd_price":
        "0.747165000000000000"}, {"symbol": "ETH", "address": "0x0000000000000000000000000000000000000000",
        "chain": "ethereum", "image": "https://raw.seadn.io/files/ETH.svg", "name":
        "Ether", "decimals": 18, "eth_price": "1.000000000000000", "usd_price": "3969.590000000000146000"},
        {"symbol": "DAI", "address": "0x6b175474e89094c44da98b954eedeac495271d0f",
        "chain": "ethereum", "image": "https://raw.seadn.io/files/DAI.svg", "name":
        "Dai Stablecoin", "decim[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - f6bc0f7f7a5944f9bd63366130edd306
    method: GET
    uri: https://api.opensea.io/api/v2/collections/sandbox/stats?name=sandbox
  response:
    body:
      string: '{"total": {"volume": 138149.21214921938, "sales": 94565, "average_price":
        1.4608915787999723, "num_owners": 24992, "market_cap": 21675.762292756124,
        "floor_price": 599.0, "floor_price_symbol": "USDC.e"}, "intervals": [{"interval":
        "one_day", "volume": 2.79366727, "volume_diff": 0.03922617000000006, "volume_change":
        0.01424106303602457, "sales": 17, "sales_diff": 0.0, "average_price": 0.1643333688235294},
        {"interval": "seven_day", "volume": 27.736782715833318, "volume_diff": -50.0,
        "volume_change": -0.36914197084766054, "sales": 156, "sales_diff": 0.0, "average_price":
        0.17779988920405973}, {"interval": "thirty_day", "volume": 155.3600321348335,
        "volume_diff": 148.0, "volume_change": -0.0856638456676989, "sales": 745,
        "sales_diff": 0.0, "average_price": 0.20853695588568252}]}'
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Thu, 14 Mar 2024 07:42:58 GMT
      allow:
      - GET, HEAD, OPTIONS
      x-trace-id:
      - '193559766169054516729220317172865446515'
    status:
      code: 200
      message: OK
version: 1
