interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-API-Key:
      - DUMMY
    method: GET
    uri: https://api.opensea.io/api/v2/chain/ethereum/account/0xc37b40ABdB939635068d3c5f13E7faF686F03B65/nfts?address=0xc37b40ABdB939635068d3c5f13E7faF686F03B65&limit=50
  response:
    body:
      string: "{\n  \"nfts\" : [ {\n    \"identifier\" : \"76293332417498197715144335832642760498168958400238717911298162839741360266665\"\
        ,\n    \"collection\" : \"gwei-name-service\",\n    \"contract\" : \"0x9d51d507bc7264d4fe8ad1cf7fe191933a0a81d6\"\
        ,\n    \"token_standard\" : \"erc721\",\n    \"name\" : \"yabir.gwei\",\n\
        \    \"description\" : \"Gwei Name Service: yabir.gwei\",\n    \"image_url\"\
        \ : \"https://raw2.seadn.io/ethereum/0x9d51d507bc7264d4fe8ad1cf7fe191933a0a81d6/c65e59291a728de5020523367f1547/39c65e59291a728de5020523367f1547.svg\"\
        ,\n    \"display_image_url\" : \"https://raw2.seadn.io/ethereum/0x9d51d507bc7264d4fe8ad1cf7fe191933a0a81d6/c65e59291a728de5020523367f1547/39c65e59291a728de5020523367f1547.svg\"\
        ,\n    \"display_animation_url\" : null,\n    \"metadata_url\" : null,\n \
        \   \"opensea_url\" : \"https://opensea.io/assets/ethereum/0x9d51d507bc7264d4fe8ad1cf7fe191933a0a81d6/76293332417498197715144335832642760498168958400238717911298162839741360266665\"\
        ,\n    \"updated_at\" : \"2026-10-06T07:55:53.866280\",\n    \"is_disabled\"\
        \ : false,\n    \"is_nsfw\" : false,\n    \"original_image_url\" : \"<svg\
        \ xmlns=\\\"http://www.w3.org/2000/svg\\\" viewBox=\\\"0 0 400 400\\\"><rect\
        \ width=\\\"400\\\" height=\\\"400\\\" fill=\\\"#fff\\\"/><text x=\\\"200\\\
        \" y=\\\"200\\\" font-family=\\\"sans-serif\\\" font-size=\\\"24\\\" text-anchor=\\\
        \"middle\\\" dominant-baseline=\\\"middle\\\">yabir.gwei</text></svg>\",\n\
        \    \"original_animation_url\" : null,\n    \"traits\" : [ {\n      \"trait_type\"\
        \ : \"Expires\",\n      \"display_type\" : null,\n      \"max_value\" : null,\n\
        \      \"value\" : \"1814081171\"\n    } ],\n    \"estimated_value_usd\" :\
        \ null,\n    \"decimals\" : null\n  }, {\n    \"identifier\" : \"1\",\n  \
        \  \"collection\" : \"gashawk-nfts\",\n    \"contract\" : \"0xfd9d8036f899ed5a9fd8cac7968e5f24d3db2a64\"\
        ,\n    \"token_standard\" : \"erc1155\",\n    \"name\" : \"GasHawk Nest NFT\"\
        ,\n    \"description\" : \"This NFT celebrates GasHawk's early achievements\
        \ and might become useful sometime later\",\n    \"image_url\" : \"https://i2c.seadn.io/ethereum/0xfd9d8036f899ed5a9fd8cac7968e5f24d3db2a64/055ea6fd0df776e844eaebab13c6db22.png\"\
        ,\n    \"display_image_url\" : \"https://i2c.seadn.io/ethereum/0xfd9d8036f899ed5a9fd8cac7968e5f24d3db2a64/055ea6fd0df776e844eaebab13c6db22.png\"\
        ,\n    \"display_animation_url\" : \"https://raw2.seadn.io/ethereum/0xfd9d8036f899ed5a9fd8cac7968e5f24d3db2a64/79f6100b72b859ae741e93d5d04316c4.mov\"\
        ,\n    \"metadata_url\" : \"https://ipfs2.seadn.io/ipfs/bafkreia7gburv672hfnidgdp7iauifdjc4h5nhry5wkjw7ei7xgwzliwle/\"\
        ,\n    \"opensea_url\" : \"https://opensea.io/assets/ethereum/0xfd9d8036f899ed5a9fd8cac7968e5f24d3db2a64/1\"\
        ,\n    \"updated_at\" : \"2026-10-06T07:55:53.866297\",\n    \"is_disabled\"\
        \ : false,\n    \"is_nsfw\" : false,\n    \"original_image_url\" : null,\n\
        \    \"original_animation_url\" : null,\n    \"traits\" : [ ],\n    \"estimated_value_usd\"\
        \ : null,\n    \"decimals\" : null\n  }, {\n    \"identifier\" : \"26612040215479394739615825115912800930061094786769410446114278812336794170041\"\
        ,\n    \"collection\" : \"ens\",\n    \"contract\" : \"0x57f1887a8bf19b14fc0df6fd9b2acc9af147ea85\"\
        ,\n    \"token_standard\" : \"erc721\",\n    \"name\" : \"yabir.eth\",\n \
        \   \"description\" : \"yabir.eth, an ENS name.\",\n    \"image_url\" : \"\
        https://raw2.seadn.io/ethereum/0x57f1887a8bf19b14fc0df6fd9b2acc9af147ea85/8f73fa1bbea518eec64f9c9d5ed7fe/238f73fa1bbea518eec64f9c9d5ed7fe.svg\"\
        ,\n    \"display_image_url\" : \"https://raw2.seadn.io/ethereum/0x57f1887a8bf19b14fc0df6fd9b2acc9af147ea85/8f73fa1bbea518eec64f9c9d5ed7fe/238f73fa1bbea518eec64f9c9d5ed7fe.svg\"\
        ,\n    \"display_animation_url\" : null,\n    \"metadata_url\" : \"https://metadata.ens.domains/mainnet/0x57f1887a8bf19b14fc0df6fd9b2acc9af147ea85/26612040215479394739[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-API-Key:
      - DUMMY
    method: GET
    uri: https://api.opensea.io/api/v2/collections/gwei-name-service?collection_slug=gwei-name-service
  response:
    body:
      string: "{\n  \"collection\" : \"gwei-name-service\",\n  \"name\" : \"Gwei Name\
        \ Service\",\n  \"description\" : null,\n  \"image_url\" : \"https://raw2.seadn.io/ethereum/0x9d51d507bc7264d4fe8ad1cf7fe191933a0a81d6/99e561292bfeeb2f1ad938927da78f/a699e561292bfeeb2f1ad938927da78f.svg\"\
        ,\n  \"banner_image_url\" : null,\n  \"owner\" : \"0x30710e0cff3530bb6d34c5baaaf9c11267b56fc6\"\
        ,\n  \"safelist_status\" : \"not_requested\",\n  \"category\" : \"domain_names\"\
        ,\n  \"is_disabled\" : false,\n  \"is_nsfw\" : false,\n  \"trait_offers_enabled\"\
        \ : false,\n  \"collection_offers_enabled\" : true,\n  \"opensea_url\" : \"\
        https://opensea.io/collection/gwei-name-service\",\n  \"project_url\" : \"\
        \",\n  \"wiki_url\" : \"\",\n  \"discord_url\" : \"\",\n  \"telegram_url\"\
        \ : \"\",\n  \"twitter_username\" : null,\n  \"instagram_username\" : \"\"\
        ,\n  \"contracts\" : [ {\n    \"address\" : \"0x9d51d507bc7264d4fe8ad1cf7fe191933a0a81d6\"\
        ,\n    \"chain\" : \"ethereum\"\n  } ],\n  \"editors\" : [ \"0x30710e0cff3530bb6d34c5baaaf9c11267b56fc6\"\
        \ ],\n  \"fees\" : [ {\n    \"fee\" : 1.0,\n    \"recipient\" : \"0x0000a26b00c1f0df003000390027140000faa719\"\
        ,\n    \"required\" : true\n  } ],\n  \"rarity\" : {\n    \"calculated_at\"\
        \ : \"2026-10-06T07:55:54.183956\",\n    \"max_rank\" : 2768,\n    \"total_supply\"\
        \ : 4348,\n    \"strategy_id\" : \"openrarity\",\n    \"strategy_version\"\
        \ : \"1.0\"\n  },\n  \"total_supply\" : 4348,\n  \"unique_item_count\" : 4348,\n\
        \  \"created_date\" : \"2026-06-26\",\n  \"pricing_currencies\" : {\n    \"\
        listing_currency\" : {\n      \"symbol\" : \"ETH\",\n      \"address\" : \"\
        0x0000000000000000000000000000000000000000\",\n      \"chain\" : \"ethereum\"\
        ,\n      \"image\" : \"https://raw2.seadn.io/currency_logos/ETH.svg\",\n \
        \     \"name\" : \"Ethereum\",\n      \"decimals\" : 18,\n      \"eth_price\"\
        \ : \"1\",\n      \"usd_price\" : \"2707.17\"\n    },\n    \"offer_currency\"\
        \ : {\n      \"symbol\" : \"WETH\",\n      \"address\" : \"0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2\"\
        ,\n      \"chain\" : \"ethereum\",\n      \"image\" : \"https://raw2.seadn.io/currency_logos/WETH.svg\"\
        ,\n      \"name\" : \"Wrapped Ethereum\",\n      \"decimals\" : 18,\n    \
        \  \"eth_price\" : \"1.00003693894362009\",\n      \"usd_price\" : \"2707.27\"\
        \n    }\n  }\n}"
    headers:
      Content-Type:
      - application/json
      last-modified:
      - Tue, 06 Oct 2026 07:55:54 GMT
      x-ratelimit-limit:
      - '120'
      x-ratelimit-remaining:
      - '118'
      x-ratelimit-reset:
      - '1791273414'
      x-trace-id:
      - '6928481022274758041'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-API-Key:
      - DUMMY
    method: GET
    uri: https://api.opensea.io/api/v2/collections/gwei-name-service/stats?name=gwei-name-service
  response:
    body:
      string: "{\n  \"total\" : {\n    \"volume\" : 0.014296,\n    \"volume_symbol\"\
        \ : \"ETH\",\n    \"sales\" : 6,\n    \"num_owners\" : 1320,\n    \"floor_price\"\
        \ : 4.0E-5,\n    \"floor_price_symbol\" : \"ETH\"\n  },\n  \"intervals\" :\
        \ [ {\n    \"interval\" : \"one_day\",\n    \"volume\" : 0.0,\n    \"volume_symbol\"\
        \ : \"ETH\",\n    \"sales\" : 0\n  }, {\n    \"interval\" : \"seven_day\"\
        ,\n    \"volume\" : 0.0,\n    \"volume_symbol\" : \"ETH\",\n    \"sales\"\
        \ : 0\n  }, {\n    \"interval\" : \"thirty_day\",\n    \"volume\" : 0.0,\n\
        \    \"volume_symbol\" : \"ETH\",\n    \"sales\" : 0\n  } ]\n}"
    headers:
      Content-Type:
      - application/json
      last-modified:
      - Tue, 06 Oct 2026 07:55:54 GMT
      x-ratelimit-limit:
      - '120'
      x-ratelimit-remaining:
      - '118'
      x-ratelimit-reset:
      - '1791273414'
      x-trace-id:
      - '1343599098404993852'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-API-Key:
      - DUMMY
    method: GET
    uri: https://api.opensea.io/api/v2/collections/gashawk-nfts?collection_slug=gashawk-nfts
  response:
    body:
      string: "{\n  \"collection\" : \"gashawk-nfts\",\n  \"name\" : \"GasHawk NFTs\"\
        ,\n  \"description\" : \"GasHawk - save gas fees on Ethereum\",\n  \"image_url\"\
        \ : \"https://i2c.seadn.io/ethereum/e4d344a5e2344c7f8283d4068744b1c0/476b70ed04041d0072328f8ed27741/73476b70ed04041d0072328f8ed27741.png\"\
        ,\n  \"banner_image_url\" : null,\n  \"owner\" : \"0x44f00c29a0b8514d017ac20fbdb0aa5078b860ce\"\
        ,\n  \"safelist_status\" : \"not_requested\",\n  \"category\" : \"\",\n  \"\
        is_disabled\" : false,\n  \"is_nsfw\" : false,\n  \"trait_offers_enabled\"\
        \ : false,\n  \"collection_offers_enabled\" : true,\n  \"opensea_url\" : \"\
        https://opensea.io/collection/gashawk-nfts\",\n  \"project_url\" : \"\",\n\
        \  \"wiki_url\" : \"\",\n  \"discord_url\" : \"\",\n  \"telegram_url\" : \"\
        \",\n  \"twitter_username\" : null,\n  \"instagram_username\" : \"\",\n  \"\
        contracts\" : [ {\n    \"address\" : \"0xfd9d8036f899ed5a9fd8cac7968e5f24d3db2a64\"\
        ,\n    \"chain\" : \"ethereum\"\n  } ],\n  \"editors\" : [ \"0x44f00c29a0b8514d017ac20fbdb0aa5078b860ce\"\
        \ ],\n  \"fees\" : [ {\n    \"fee\" : 1.0,\n    \"recipient\" : \"0x0000a26b00c1f0df003000390027140000faa719\"\
        ,\n    \"required\" : true\n  } ],\n  \"rarity\" : {\n    \"calculated_at\[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-API-Key:
      - DUMMY
    method: GET
    uri: https://api.opensea.io/api/v2/collections/gashawk-nfts/stats?name=gashawk-nfts
  response:
    body:
      string: "{\n  \"total\" : {\n    \"volume\" : 0.0,\n    \"volume_symbol\" :\
        \ \"ETH\",\n    \"sales\" : 0,\n    \"num_owners\" : 132,\n    \"floor_price\"\
        \ : 0.0,\n    \"floor_price_symbol\" : \"\"\n  },\n  \"intervals\" : [ {\n\
        \    \"interval\" : \"one_day\",\n    \"volume\" : 0.0,\n    \"volume_symbol\"\
        \ : \"ETH\",\n    \"sales\" : 0\n  }, {\n    \"interval\" : \"seven_day\"\
        ,\n    \"volume\" : 0.0,\n    \"volume_symbol\" : \"ETH\",\n    \"sales\"\
        \ : 0\n  }, {\n    \"interval\" : \"thirty_day\",\n    \"volume\" : 0.0,\n\
        \    \"volume_symbol\" : \"ETH\",\n    \"sales\" : 0\n  } ]\n}"
    headers:
      Content-Type:
      - application/json
      last-modified:
      - Tue, 06 Oct 2026 07:55:54 GMT
      x-ratelimit-limit:
      - '120'
      x-ratelimit-remaining:
      - '116'
      x-ratelimit-reset:
      - '1791273414'
      x-trace-id:
      - '860020218250143853'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-API-Key:
      - DUMMY
    method: GET
    uri: https://api.opensea.io/api/v2/collections/ens?collection_slug=ens
  response:
    body:
      string: "{\n  \"collection\" : \"ens\",\n  \"name\" : \"ENS: Ethereum Name Service\"\
        ,\n  \"description\" : \"Ethereum Name Service (ENS) domains are secure domain\
        \ names for the decentralized world. ENS domains provide a way for users to\
        \ map human readable names to blockchain and non-blockchain resources, like\
        \ Ethereum addresses, IPFS hashes, or website URLs. ENS domains can be bought\
        \ and sold on secondary markets.\",\n  \"image_url\" : \"https://i2c.seadn.io/collection/ens/image/2389b989ec47442bc2c714bcdf3e19/b02389b989ec47442bc2c714bcdf3e19.png\"\
        ,\n  \"banner_image_url\" : \"https://i2c.seadn.io/collection/ens/desktopHeroMedia/dd03416d9fdbfa8469940079031f9e/dcdd03416d9fdbfa8469940079031f9e.png\"\
        ,\n  \"owner\" : \"0x7dd4d97653a67c2fd7fba0a84825ec09524d4e1b\",\n  \"safelist_status\"\
        \ : \"verified\",\n  \"category\" : \"domain_names\",\n  \"is_disabled\" :\
        \ false,\n  \"is_nsfw\" : false,\n  \"trait_offers_enabled\" : false,\n  \"\
        collection_offers_enabled\" : false,\n  \"opensea_url\" : \"https://opensea.io/collection/ens\"\
        ,\n  \"project_url\" : \"https://ens.domains\",\n  \"wiki_url\" : \"\",\n\
        \  \"discord_url\" : \"\",\n  \"telegram_url\" : \"\",\n  \"twitter_username\"\
        \ : \"ensdomains\",\n  \"instagram_username\" : \"\",\n  \"contracts\" : [\
        \ {\n    \"address\" : \"0x57f1887a8bf19b14fc0df6fd9b2acc9af147ea85\",\n \
        \   \"chain\" : \"ethereum\"\n  }, {\n    \"address\" : \"0xd4416b13d2b3a9abae7acd5d6c2bbdbe25686401\"\
        ,\n    \"chain\" : \"ethereum\"\n  } ],\n  \"editors\" : [ \"0xc489b60e161737c64ac2ee4e85d055cfbf10bad5\"\
        , \"0x7dd4d97653a67c2fd7fba0a84825ec09524d4e1b\" ],\n  \"fees\" : [ {\n  \
        \  \"fee\" : 1.0,\n    \"recipient\" : \"0x0000a26b00c1f0df003000390027140000faa719\"\
        ,\n    \"required\" : true\n  } ],\n  \"total_supply\" : 3928255,\n  \"unique_item_count\"\
        \ : 3928243,\n  \"created_date\" : \"2019-05-08\",\n  \"pricing_currencies\"\
        \ : {\n    \"listing_currency\" : {\n      \"symbol\" : \"ETH\",\n      \"\
        address\" : \"0x0000000000000000000000000000000000000000\",\n      \"chain\"\
        \ : \"ethereum\",\n      \"image\" : \"https://raw2.seadn.io/currency_logos/ETH.svg\"\
        ,\n      \"name\" : \"Ethereum\",\n      \"decimals\" : 18,\n      \"eth_price\"\
        \ : \"1\",\n      \"usd_price\" : \"2706.92\"\n    },\n    \"offer_currency\"\
        \ : {\n      \"symbol\" : \"WETH\",\n      \"address\" : \"0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2\"\
        ,\n      \"chain\" : \"ethereum\",\n      \"image\" : \"https://raw2.seadn.io/currency_logos/WETH.svg\"\
        ,\n      \"name\" : \"Wrapped Ethereum\",\n      \"decimals\" : 18,\n    \
        \  \"eth_price\" : \"1.000295538841192204\",\n      \"usd_price\" : \"2707.72\"\
        \n    }\n  }\n}"
    headers:
      Content-Type:
      - application/json
      last-modified:
      - Tue, 06 Oct 2026 07:53:06 GMT
      x-ratelimit-limit:
      - '120'
      x-ratelimit-remaining:
      - '118'
      x-ratelimit-reset:
      - '1791273246'
      x-trace-id:
      - '169378790165900516'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-API-Key:
      - DUMMY
    method: GET
    uri: https://api.opensea.io/api/v2/collections/ens/stats?name=ens
  response:
    body:
      string: "{\n  \"total\" : {\n    \"volume\" : 89206.75490545375,\n    \"volume_symbol\"\
        \ : \"ETH\",\n    \"sales\" : 415879,\n    \"num_owners\" : 843996,\n    \"\
        floor_price\" : 2.77E-5,\n    \"floor_price_symbol\" : \"ETH\"\n  },\n  \"\
        intervals\" : [ {\n    \"interval\" : \"one_day\",\n    \"volume\" : 0.021641563430173816,\n\
        \    \"volume_symbol\" : \"ETH\",\n    \"sales\" : 8\n  }, {\n    \"interval\"\
        \ : \"seven_day\",\n    \"volume\" : 3.5611766469764436,\n    \"volume_symbol\"\
        \ : \"ETH\",\n    \"sales\" : 83\n  }, {\n    \"interval\" : \"thirty_day\"\
        ,\n    \"volume\" : 17.443213970714833,\n    \"volume_symbol\" : \"ETH\",\n\
        \    \"sales\" : 1380\n  } ]\n}"
    headers:
      Content-Type:
      - application/json
      last-modified:
      - Tue, 06 Oct 2026 07:55:55 GMT
      x-ratelimit-limit:
      - '120'
      x-ratelimit-remaining:
      - '116'
      x-ratelimit-reset:
      - '1791273415'
      x-trace-id:
      - '3669961517132219174'
    status:
      code: 200
      message: OK
version: 1
