interactions:
- request:
    body: '{"jsonrpc": "2.0", "id": 3, "method": "getHealth", "params": []}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.mainnet-beta.solana.com/
  response:
    body:
      string: '{"jsonrpc":"2.0","result":"ok","id":3}

        '
    headers:
      allow:
      - OPTIONS, POST, GET
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-conn-limit:
      - '40'
      x-ratelimit-conn-remaining:
      - '39'
      x-ratelimit-connrate-limit:
      - '40'
      x-ratelimit-connrate-remaining:
      - '39'
      x-ratelimit-endpoint-limit:
      - unlimited
      x-ratelimit-endpoint-remaining:
      - '-7165'
      x-ratelimit-method-limit:
      - '150'
      x-ratelimit-method-remaining:
      - '148'
      x-ratelimit-pubsub-limit:
      - '10'
      x-ratelimit-pubsub-remaining:
      - '10'
      x-ratelimit-rps-limit:
      - '250'
      x-ratelimit-rps-remaining:
      - '247'
      x-ratelimit-tier:
      - free
      x-rpc-node:
      - fra102
    status:
      code: 200
      message: OK
- request:
    body: '{"jsonrpc": "2.0", "id": 4, "method": "getTransaction", "params": ["5jgnWXmTHWwpvFnCkciye7XhTCdRqDduUNUoSSRWoMh5bGxniFstMUAV2err7k6D3Dw59ocFijb8G1xNBv11nHsf",
      {"encoding": "json", "maxSupportedTransactionVersion": 0}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.mainnet-beta.solana.com/
  response:
    body:
      string: '{"jsonrpc":"2.0","result":{"blockTime":1784920737,"meta":{"computeUnitsConsumed":10732,"costUnits":12109,"err":null,"fee":5000,"innerInstructions":[],"loadedAddresses":{"readonly":[],"writable":[]},"logMessages":["Program
        Stake11111111111111111111111111111111111111 invoke [1]","Program log: Instruction:
        Deactivate","Program Stake11111111111111111111111111111111111111 consumed
        10732 of 200000 compute units","Program Stake11111111111111111111111111111111111111
        success"],"postBalances":[1076605774,30137726828,1141440,1169280],"postTokenBalances":[],"preBalances":[1076610774,30137726828,1141440,1169280],"preTokenBalances":[],"rewards":[],"status":{"Ok":null}},"slot":434979693,"transaction":{"message":{"accountKeys":["9TT3YkWkLxU1DxJSsUHvmtbWtFJd9E7jkvxz1nBRq172","7kf6dqRzRTAACPd7dDDrYVFMHSGgZzJY2tZVS3ZfuKMw","Stake11111111111111111111111111111111111111","SysvarC1ock11111111111111111111111111111111"],"header":{"numReadonlySignedAccounts":0,"numReadonlyUnsignedAccounts":2,"numRequiredSignatures":1},"instructions":[{"accounts":[1,3,0],"data":"8QwQj","programIdIndex":2,"stackHeight":1}],"recentBlockhash":"7sxBXVrRc7GLB4X3VFzvyEvbaFuXrdsT2eLNCCCsbygi"},"signatures":["5jgnWXmTHWwpvFnCkciye7XhTCdRqDduUNUoSSRWoMh5bGxniFstMUAV2err7k6D3Dw59ocFijb8G1xNBv11nHsf"]},"transactionIndex":644,"version":"legacy"},"id":4}

        '
    headers:
      allow:
      - OPTIONS, POST, GET
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-conn-limit:
      - '40'
      x-ratelimit-conn-remaining:
      - '39'
      x-ratelimit-connrate-limit:
      - '40'
      x-ratelimit-connrate-remaining:
      - '39'
      x-ratelimit-endpoint-limit:
      - unlimited
      x-ratelimit-endpoint-remaining:
      - '-7217'
      x-ratelimit-method-limit:
      - '10'
      x-ratelimit-method-remaining:
      - '8'
      x-ratelimit-pubsub-limit:
      - '10'
      x-ratelimit-pubsub-remaining:
      - '10'
      x-ratelimit-rps-limit:
      - '250'
      x-ratelimit-rps-remaining:
      - '246'
      x-ratelimit-tier:
      - free
      x-rpc-node:
      - fra102
    status:
      code: 200
      message: OK
version: 1
