interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://data-api.cryptocompare.com/index/cc/v1/historical/days?instrument=BTC-EUR&limit=1&market=cadli&to_ts=1492685761
  response:
    body:
      string: '{"Data":[{"UNIT":"DAY","TIMESTAMP":1492646400,"TYPE":"986","MARKET":"cadli","INSTRUMENT":"BTC-EUR","OPEN":1147.15966293302,"HIGH":1184.64152539887,"LOW":1146.68039459731,"CLOSE":1178.51219999071,"FIRST_MESSAGE_TIMESTAMP":1492646400,"LAST_MESSAGE_TIMESTAMP":1492732740,"FIRST_MESSAGE_VALUE":1146.80940116375,"HIGH_MESSAGE_VALUE":1184.64152539887,"HIGH_MESSAGE_TIMESTAMP":1492710000,"LOW_MESSAGE_VALUE":1146.80940116375,"LOW_MESSAGE_TIMESTAMP":1492646400,"LAST_MESSAGE_VALUE":1178.51219999071,"TOTAL_INDEX_UPDATES":0,"VOLUME":85590.6698660926,"QUOTE_VOLUME":99797035.0936951,"VOLUME_TOP_TIER":45653.2242079526,"QUOTE_VOLUME_TOP_TIER":53319395.8920474,"VOLUME_DIRECT":0,"QUOTE_VOLUME_DIRECT":0,"VOLUME_TOP_TIER_DIRECT":0,"QUOTE_VOLUME_TOP_TIER_DIRECT":0}],"Err":{}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-CryptoCompare-Cache-Hit:
      - 'false'
      X-CryptoCompare-Server-Id:
      - cc-api-data-05
    status:
      code: 200
      message: OK
version: 1
