interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.kraken.com/0/public/Ticker?assetVersion=1
  response:
    body:
      string: '{"error":[],"result":{"0G/EUR":{"a":["0.2090000","5179","5179.000"],"b":["0.2070000","5119","5119.000"],"c":["0.2090000","476.57580"],"v":["36265.21614","60892.76984"],"p":["0.2098291","0.2108301"],"t":[138,184],"l":["0.2050000","0.2050000"],"h":["0.2160000","0.2160000"],"o":"0.2120000"},"0G/USD":{"a":["0.2370000","5894","5894.000"],"b":["0.2360000","122","122.000"],"c":["0.2360000","90.00000"],"v":["61855.38371","92148.52225"],"p":["0.2383580","0.2392270"],"t":[219,278],"l":["0.2310000","0.2310000"],"h":["0.2460000[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.coingecko.com/api/v3/simple/price/?ids=bitcoin&vs_currencies=usd
  response:
    body:
      string: '{"bitcoin":{"usd":60997}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"64056065fe51a2cf5e90dc5d838999d4"
      x-data-source:
      - '1.0'
    status:
      code: 200
      message: OK
version: 1
