interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.kraken.com/0/public/Ticker?assetVersion=1
  response:
    body:
      string: '{"error":[],"result":{"0G/EUR":{"a":["0.2070000","8193","8193.000"],"b":["0.2060000","270","270.000"],"c":["0.2060000","465.84253"],"v":["37764.62599","58241.16499"],"p":["0.2097136","0.2105035"],"t":[142,185],"l":["0.2050000","0.2050000"],"h":["0.2160000","0.2160000"],"o":"0.2120000"},"0G/USD":{"a":["0.2340000","692","692.000"],"b":["0.2330000","7172","7172.000"],"c":["0.2340000","93.24677"],"v":["64942.23938","92880.02776"],"p":["0.2382167","0.2389783"],"t":[230,286],"l":["0.2310000","0.2310000"],"h":["0.2460000",[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://coins.llama.fi/prices/current/coingecko:bitcoin,coingecko:ethereum
  response:
    body:
      string: '{"coins":{"coingecko:bitcoin":{"price":60580.28121336298,"symbol":"BTC","timestamp":1782315604,"confidence":0.99},"coingecko:ethereum":{"price":1631.5124365600311,"symbol":"ETH","timestamp":1782315604,"confidence":0.99}}}'
    headers:
      Content-Type:
      - application/json
      apigw-requestid:
      - feQQ8g5fFiAEMJA=
      last-modified:
      - Wed, 24 Jun 2026 15:44:02 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.x-rates.com/table/?amount=1&from=USD
  response:
    body:
      string: "<!DOCTYPE html>\n<html>\n    <head>\n        <meta http-equiv=\"Content-Type\"
        content=\"text/html; charset=utf-8\"/>\n<meta name=\"format-detection\" content=\"telephone=no\"/>\n<meta
        name=\"description\" content=\"This currency rates table lets you compare
        an amount in US Dollar to all other currencies.\"/>\n<meta name=\"keywords\"
        content=\"USD EUR, currency exchange table, exchange rate table, convert,
        euro, american dollar, british pound, canadian dollar, australian dollar,
        x-rates\"/>\n<link rel=\"canonical\" href=\"http://www.x-rates.com/table/?from=USD&amount=1\"/>\n\t\t\t<script
        type='text/javascript'>\n\t\t\t\tvar e9AdSlots  = { \n\t\t\t\t  output_lb
        : {site:'ExchangeRates', adSpace:'Homepage', size:'728x90,468x60', noAd: '1'},\noutput_rs
        : {site:'ExchangeRates', adSpace:'Homepage', size:'300x250,300x600,160x600',
        noAd: '1'},\nros_ls : {site:'XEInternal', adSpace:'HRROS', size:'300x250',
        rsize: '238x230', noAd: '1', async: false},\nros_ms : {site:'XEInternal',
        adSpace:'HRROS', size:'468x60', rsize: '300x90', noAd: '1', async: false}\n\t\t\t\t};\t\t\t\n\t\t\t</script>\t\t<link
        rel='stylesheet' href='/themes/x-rates/t_css/output_resp.2e.css' type='text/css'
        /><script src='/themes/x-rates/t_js/output.1e.js' type='text/javascript'></script>
        \           <script>\n                if (!gdprIsCookieTagAllowed(\"tag_GoogleAnalytics\"))
        {\n                            window['ga-disable-UA-851277-2'] = true;\n
        \               }\n\n                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){\n
        \               (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),\n
        \               m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)\n
        \               })(window,document,'script','//www.google-analytics.com/analytics.js','ga');\n
        \               ga('create', 'UA-851277-2', 'auto');\n                ga('require',
        'displayfeatures');\n                ga('send', 'pageview');;\n                \n
        \           </script><script type=\"text/javascript\">\n    var converterToolExcludeArgs
        = {ratestable: ['to'],historicallookup: ['to']};\n</script>        <script
        async src=\"https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2110917264626924&ivt=false\"
        crossorigin=\"anonymous\"></script>\n        <script async src=\"https://securepubads.g.doubleclick.net/tag/js/gpt.js\"></script>\n
        \       <title>Currency Exchange Table (US Dollar - USD) - X-Rates</title>\n
        \       <!--[if IE]><script src=\"http://html5shiv.googlecode.com/svn/trunk/html5.js\"></script><![endif]-->\n
        \   </head>\n\n    <body>\n                <div id=\"skip\"><a href=\"#content\">Skip
        to Main Content</a></div>\n        <header>\n            \t<div class=\"navbar
        clearfix\">\t\n\t<div class=\"navbar-inner\">\t\t                \n\t\t<div
        class=\"wrapper clearfix\">\n\t\t\t<a href='https://www.x-rates.com/' class='brand'><img
        alt='xrates logo' src='/themes/x-rates/images/xrates_sm_tm.png' border='0'/></a>\n\t\t\t<div
        id=\"headerTri\"></div>  \n\t\t\t<!--[if !IE 8]><!-->\n\t\t\t\t<a class=\"navtoggle\"
        id=\"navtoggle\">\n\t\t\t\t\t<div class=\"nav-icon\"></div>\n\t\t\t\t</a>\t\t\t\n\t\t\t
        <!--<![endif]-->\n\t\t\t<nav class=\"nav-collapse\">\n\t\t\t\t<ul class='nav'><li><a
        href='https://www.x-rates.com/' rel='homepage'>Home</a></li>\n<li><a href='https://www.x-rates.com/calculator/'
        onclick=\"submitConverterArgs(this)\" rel='currencycalculator'>Currency Calculator</a></li>\n<li><a
        href='https://www.x-rates.com/graph/' onclick=\"submitConverterArgs(this)\"
        rel='currencygraph'>Graphs</a></li>\n<li><a href='https://www.x-rates.com/table/'
        onclick=\"submitConverterArgs(this)\" rel='ratestable'>Rates Table</a></li>\n<li><a
   [...]
