interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.etherscan.io/v2/api?action=eth_call&chainid=1&data=0x0178b8bf9de0b76f3b87380f0bcb9e41b403c69b88b01fbeaf785e83f38a6879902af71b&module=proxy&to=0x00000000000C2E074eC69A0dFb2997BA6C7d2e1e
  response:
    body:
      string: '{"jsonrpc":"2.0","id":1,"result":"0x000000000000000000000000231b0ee14048e9dccd1d247744d114a4eb5e8e63"}

        '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Nginx-Id:
      - '5'
      svid:
      - '2'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://raw.githubusercontent.com/polkascan/py-scale-codec/v1.0/scalecodec/type_registry/kusama.json
  response:
    body:
      string: "{\n  \"runtime_id\": 9122,\n  \"types\": {\n    \"Address\": \"MultiAddress\",\n
        \   \"LookupSource\": \"MultiAddress\",\n    \"AccountInfo\": \"AccountInfoWithTripleRefCount\",\n
        \   \"BlockNumber\": \"U32\",\n    \"LeasePeriod\": \"BlockNumber\",\n    \"Weight\":
        \"WeightV1\",\n    \"Keys\": {\n      \"type\": \"struct\",\n      \"type_mapping\":
        [\n         [\"grandpa\", \"AccountId\"],\n         [\"babe\", \"AccountId\"],\n
        \        [\"im_online\", \"AccountId\"],\n         [\"para_validator\", \"AccountId\"],\n
        \        [\"para_assignment\", \"AccountId\"],\n         [\"authority_discovery\",
        \"AccountId\"]\n      ]\n    },\n    \"DispatchInfo\": {\n      \"type\":
        \"struct\",\n      \"type_mapping\": [\n         [\"weight\", \"Weight\"],\n
        \        [\"class\", \"DispatchClass\"],\n         [\"paysFee\", \"Pays\"]\n
        \     ]\n    },\n    \"ProxyType\": {\n      \"type\": \"enum\",\n      \"value_list\":
        [\n        \"Any\",\n        \"NonTransfer\",\n        \"Governance\",\n        \"Staking\",\n
        \       \"IdentityJudgement\",\n        \"CancelProxy\"\n      ]\n    },\n
        \   \"RefCount\": \"u32\",\n    \"ValidatorPrefs\": \"ValidatorPrefsWithBlocked\",\n
        \   \"CompactAssignments\":  \"CompactAssignmentsWith24\",\n    \"RawSolution\":
        \"RawSolutionWith24\",\n    \"AssetInstance\": \"AssetInstanceV0\",\n    \"MultiAsset\":
        \"MultiAssetV0\",\n    \"MultiLocation\": \"MultiLocationV0\",\n    \"Response\":
        \"ResponseV0\",\n    \"Xcm\": \"XcmV0\",\n    \"XcmOrder\": \"XcmOrderV0\"\n
        \ },\n  \"versioning\": [\n    {\n      \"runtime_range\": [1019, 1031],\n
        \     \"types\": {\n        \"DispatchError\": {\n          \"type\": \"struct\",\n
        \         \"type_mapping\": [\n            [\"module\", \"Option<u8>\"],\n
        \           [\"error\", \"u8\"]\n          ]\n        }\n      }\n    },\n
        \   {\n      \"runtime_range\": [1032, null],\n      \"types\": {\n        \"DispatchError\":
        {\n          \"type\": \"enum\",\n          \"type_mapping\": [\n            [\"Other\",
        \"Null\"],\n            [\"CannotLookup\", \"Null\"],\n            [\"BadOrigin\",
        \"Null\"],\n            [\"Module\", \"DispatchErrorModule\"]\n          ]\n
        \       }\n      }\n    },\n    {\n      \"runtime_range\": [1019, 1037],\n
        \     \"types\": {\n        \"IdentityInfo\": {\n          \"type\": \"struct\",\n
        \         \"type_mapping\": [\n             [\"additional\", \"Vec<IdentityInfoAdditional>\"],\n
        \            [\"display\", \"Data\"],\n             [\"legal\", \"Data\"],\n
        \            [\"web\", \"Data\"],\n             [\"riot\", \"Data\"],\n             [\"email\",
        \"Data\"],\n             [\"pgp_fingerprint\", \"Option<H160>\"],\n             [\"image\",
        \"Data\"]\n          ]\n        }\n      }\n    },\n    {\n      \"runtime_range\":
        [1038, null],\n      \"types\": {\n        \"IdentityInfo\": {\n          \"type\":
        \"struct\",\n          \"type_mapping\": [\n             [\"additional\",
        \"Vec<IdentityInfoAdditional>\"],\n             [\"display\", \"Data\"],\n
        \            [\"legal\", \"Data\"],\n             [\"web\", \"Data\"],\n             [\"riot\",
        \"Data\"],\n             [\"email\", \"Data\"],\n             [\"pgp_fingerprint\",
        \"Option<H160>\"],\n             [\"image\", \"Data\"],\n             [\"twitter\",
        \"Data\"]\n          ]\n        }\n      }\n    },\n    {\n      \"runtime_range\":
        [1019, 1042],\n      \"types\": {\n        \"SlashingSpans\": {\n          \"type\":
        \"struct\",\n          \"type_mapping\": [\n             [\"span_index\",
        \"SpanIndex\"],\n             [\"last_start\", \"EraIndex\"],\n             [\"prior\",
        \"Vec<EraIndex>\"]\n          ]\n        }\n      }\n    },\n    {\n      \"runtime_range\":
        [1043, null],\n      \"types\": {\n        \"SlashingSpans\": {\n          \"type\":
        \"struct\",\n          \"type_mapping\": [\n             [\"span_index\",
        \"SpanIndex\"],\n             [\"last_start\", \"EraIndex\"],\n             [\"last_nonzero_slash\",
        \"EraIndex\"],\n             [\"prior\", \"Vec<EraIndex>\"]\n          ]\n
        \       }\n      }\n    },\n    {\n      \"runtime_range\": [1019, 1045],\n
        \     \"types\": {\n        \"StakingLedger\": \"StakingLedgerTo223\",\n        \"BalanceLock\":
        {\n          \"type\": \"struct\",\n          \"type_mapping\": [\n             [\"id\",
        \"LockIdentifier\"],\n             [\"amount\", \"Balance\"],\n             [\"until\",
        \"BlockNumber\"],\n             [\"reasons\", \"WithdrawReasons\"]\n          ]\n
        \       }\n      }\n    },\n    {\n      \"runtime_range\": [1050, 1056],\n
        \     \"types\": {\n        \"StakingLedger\": \"StakingLedgerTo240\",\n        \"BalanceLock\":
        {\n          \"type\": \"struct\",\n          \"type_mapping\": [\n             [\"id\",
        \"LockIdentifier\"],\n             [\"amount\", \"Balance\"],\n             [\"reasons\",
        \"Reasons\"]\n          ]\n        }\n      }\n    },\n    {\n      \"runtime_range\":
        [1057, null],\n      \"types\": {\n        \"StakingLedger\": {\n          \"type\":
        \"struct\",\n          \"type_mapping\": [\n            [\n              \"stash\",\n
        \             \"AccountId\"\n            ],\n            [\n              \"total\",\n
        \             \"Compact<Balance>\"\n            ],\n            [\n              \"active\",\n
        \             \"Compact<Balance>\"\n            ],\n            [\n              \"unlocking\",\n
        \             \"Vec<UnlockChunk>\"\n            ],\n            [\n              \"claimed_rewards\",\n
        \             \"Vec<EraIndex>\"\n            ]\n          ]\n        },\n
        \       \"BalanceLock\": {\n          \"type\": \"struct\",\n          \"type_mapping\":
        [\n             [\"id\", \"LockIdentifier\"],\n             [\"amount\", \"Balance\"],\n
        \            [\"reasons\", \"Reasons\"]\n          ]\n        }\n      }\n
        \   },\n    {\n      \"runtime_range\": [1019, 1054],\n      \"types\": {\n
        \       \"ReferendumInfo\": {\n          \"type\": \"struct\",\n          \"type_mapping\":
        [\n             [\"end\", \"BlockNumber\"],\n             [\"proposal\", \"Proposal\"],\n
        \            [\"threshold\", \"VoteThreshold\"],\n             [\"delay\",
        \"BlockNumber\"]\n          ]\n        }\n      }\n    },\n    {\n      \"runtime_range\":
        [1054, null],\n      \"types\": {\n        \"ReferendumInfo\": {\n          \"type\":
        \"enum\",\n          \"type_mapping\": [\n            [\"Ongoing\", \"ReferendumStatus\"],\n
        \           [\"Finished\", \"ReferendumInfoFinished\"]\n          ]\n        }\n
        \     }\n    },\n    {\n      \"runtime_range\": [1019, 1056],\n      \"types\":
        {\n        \"WeightV1\": \"u32\",\n        \"Weight\": \"WeightV1\"\n      }\n
        \   },\n    {\n      \"runtime_range\": [1057, null],\n      \"types\": {\n
        \       \"WeightV1\": \"u64\",\n        \"Weight\": \"WeightV1\"\n      }\n
        \   },\n    {\n      \"runtime_range\": [1019, 1061],\n      \"types\": {\n
        \       \"Heartbeat\": {\n          \"type\": \"struct\",\n          \"type_mapping\":
        [\n             [\"block_number\", \"BlockNumber\"],\n             [\"network_state\",
        \"OpaqueNetworkState\"],\n             [\"session_index\", \"SessionIndex\"],\n
        \            [\"authority_index\", \"AuthIndex\"]\n          ]\n        },\n
        \       \"DispatchInfo\": {\n          \"type\": \"struct\",\n          \"type_mapping\":
        [\n             [\"weight\", \"Weight\"],\n             [\"class\", \"DispatchClass\"],\n
        \            [\"pays_fee\", \"bool\"]\n          ]\n        }\n      }\n    },\n
        \   {\n      \"runtime_range\": [1062, null],\n      \"types\": {\n        \"Heartbeat\":
        {\n          \"type\": \"struct\",\n          \"type_mapping\": [\n             [\"block_number\",
        \"BlockNumber\"],\n             [\"network_state\", \"OpaqueNetworkState\"],\n
        \            [\"session_index\", \"SessionIndex\"],\n             [\"authority_index\",
        \"AuthIndex\"],\n             [\"validators_len\", \"u32\"]\n          ]\n
        \       },\n        \"DispatchInfo\": {\n          \"type\": \"struct\",\n
        \         \"type_mapping\": [\n             [\"weight\", \"Weight\"],\n             [\"class\",
        \"DispatchClass\"],\n             [\"pays_fee\", \"Pays\"]\n          ]\n
        \       }\n      }\n    },\n    {\n      \"runtime_range\": [1019, 2012],\n
        \     \"types\": {\n        \"OpenTip\": {\n          \"type\": \"struct\",\n
        \         \"type_mapping\": [\n             [\"reason\", \"Hash\"],\n             [\"who\",
        \"AccountId\"],\n             [\"finder\", \"Option<OpenTipFinder>\"],\n             [\"closes\",
        \"Option<BlockNumber>\"],\n             [\"tips\", \"Vec<OpenTipTip>\"]\n
        \         ]\n        }\n      }\n    },\n    {\n      \"runtime_range\": [2013,
        null],\n      \"types\": {\n        \"OpenTip\": {\n          \"type\": \"struct\",\n
        \         \"type_mapping\": [\n             [\"reason\", \"Hash\"],\n             [\"who\",
        \"AccountId\"],\n             [\"finder\", \"AccountId\"],\n             [\"deposit\",
        \"Balance\"],\n             [\"closes\", \"Option<BlockNumber>\"],\n             [\"tips\",
        \"Vec<Ope[...]
- request:
    body: '{"jsonrpc": "2.0", "method": "system_chain", "params": [], "id": 1}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://assethub-kusama.api.onfinality.io/rpc
  response:
    body:
      string: '{"jsonrpc":"2.0","id":1,"result":"Kusama Asset Hub"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Cluster:
      - nv
      X-Continent:
      - NA
    status:
      code: 200
      message: OK
- request:
    body: '{"jsonrpc": "2.0", "method": "rpc_methods", "params": [], "id": 2}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://assethub-kusama.api.onfinality.io/rpc
  response:
    body:
      string: '{"jsonrpc":"2.0","id":2,"result":{"methods":["account_nextIndex","archive_v1_body","archive_v1_call","archive_v1_finalizedHeight","archive_v1_genesisHash","archive_v1_hashByHeight","archive_v1_header","archive_v1_stopStorage","archive_v1_storage","archive_v1_storageDiff","archive_v1_storageDiff_stopStorageDiff","author_hasKey","author_hasSessionKeys","author_insertKey","author_pendingExtrinsics","author_removeExtrinsic","author_rotateKeys","author_submitAndWatchExtrinsic","author_submitExtrinsic","author_unwatchExtrinsic","chainHead_v1_bo[...]
[...]
- request:
    body: '{"jsonrpc": "2.0", "method": "chain_getHeader", "params": ["0xdbc6c3d1af3a60c28e574de760e855133352740771e8bf9a39c6979e5798b8fb"],
      "id": 4}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://assethub-kusama.api.onfinality.io/rpc
  response:
    body:
      string: '{"jsonrpc":"2.0","id":4,"result":{"parentHash":"0x600e9ea1731b8effd8e638ebccfe2dccef11fa146e1fe2dc2420a4fefc5772fb","number":"0xb0aeea","stateRoot":"0xd1712593ac1e6550145acb91190e0f4b597fdd72f288d4932933cba420167257","extrinsicsRoot":"0xf300099d3444f80e885955e45fa00d4051881b17bfc2f776bfd412919d33171c","digest":{"logs":["0x066175726120ee66c10800000000","0x04525053529030ff1294d426f79d483d8041b25b92cafe8d2a4fe1469e858780bc217bec440876b15d07","0x0561757261010178e507ed4c78edfaa93bdb905da12250a2f40fb306b2c8284410847e4622e505ce88060b487c55e8bd6e669bf18cb1c65e8e3a033a9205533f65618ef6d7e78a"]}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Cluster:
      - nv
      X-Continent:
      - NA
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://assethub-kusama.api.subscan.io/api/scan/metadata
  response:
    body:
      string: '{"code":0,"message":"Success","generated_at":1762710313,"data":{"addressType":"2","avgBlockTime":"6.6834","blockNum":"11579113","blockTime":"6","bootTime":"0","commissionAccuracy":"9","count_account":"404261","count_account_all":"724554","count_event":"7997947","count_signed_extrinsic":"344931","count_transfer":"2960858","currentPools":"197","current_era":"8794","current_validator_count":"1000","enabledNewTransferableFormulas":"true","epochLength":"600","epochProcess":"155","eraLength":"3237","eraProcess":"2308","eraStartBlock":"11576805","exist_roles":"activeBlockAuthor,collator,nominator,multisig,onChainIdentity,module,validator,proxy,multisigMember,convictionDelegate,proxies,convictionDelegated","finalized_blockNum":"11579107","history_depth":"84","implName":"statemine","maxNominatorRewardedPerValidator":"-1","min_nominator_bond":"100000000000","networkNode":"statemine","nftsRefreshAt":"1762683288","ref_time_rate":"7594","specVersion":"2000001","tps_15min":"0.04888888888888889","treasuryAccountId":"6d6f646c70792f74727372790000000000000000000000000000000000000000","unbondDuration":"90636","uniquesRefreshAt":"1762709517","validator_count":"1000","waiting_validator":"915"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Daily-Limit:
      - '0'
      Daily-Remaining:
      - '0'
      Ratelimit-Limit:
      - '2'
      Ratelimit-Remaining:
      - '1'
      Retry-After:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"jsonrpc": "2.0", "method": "system_properties", "params": [], "id": 5}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://assethub-kusama.api.onfinality.io/rpc
  response:
    body:
      string: '{"jsonrpc":"2.0","id":5,"result":{"ss58Format":2,"tokenDecimals":12,"tokenSymbol":"KSM"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Cluster:
      - nv
      X-Continent:
      - NA
    status:
      code: 200
      message: OK
version: 1
