interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.etherscan.io/api?action=txlist&address=0x95222290DD7278Aa3Ddd389Cc1E1d165CC4BAfe5&module=account&offset=1&page=1
  response:
    body:
      string: '{"status":"1","message":"OK","result":[{"blockNumber":"15688488","blockHash":"0x36dbb7b20a027be9a42edd3cf8b9142427841cd8155b249c06b2198f5be73ffd","timeStamp":"1665052355","hash":"0xf97d03429d58c1508e68109d0f2a52d6f7ce41bb799a4f21ce941a1575562c1b","nonce":"0","transactionIndex":"249","from":"0x95222290dd7278aa3ddd389cc1e1d165cc4bafe5","to":"0x0b3b161b8abeb6b04cb95c3e6047f80c120a0292","value":"58111783231682072","gas":"30000","gasPrice":"4835293352","input":"0x","methodId":"0x","functionName":"","contractAddress":"","cumulativeGasUsed":"19531392","txreceipt_status":"1","gasUsed":"21000","confirmations":"5806129","isError":"0"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      svid:
      - '15'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gnosisscan.io/api?action=txlist&address=0x95e62E8FF84ed8456fDc9739eE4A9597Bb6E4c1f&module=account&offset=1&page=1
  response:
    body:
      string: '{"status":"1","message":"OK","result":[{"blockNumber":"20624090","timeStamp":"1644787645","hash":"0x41b898e279508c8119d25b097db98d2c91d8a89771838ce5110c15d46a0eeb91","nonce":"0","blockHash":"0xcd3488121c906061b3e55084f5c4d0665e921748619f780098255ec55946bc4f","transactionIndex":"11","from":"0x95e62e8ff84ed8456fdc9739ee4a9597bb6e4c1f","to":"0x7de3f057fd9bac14703dc2d651e911dc76259051","value":"75000000000000000","gas":"21000","gasPrice":"1834755008","isError":"0","txreceipt_status":"1","input":"0x","contractAddress":"","cumulativeGasUsed":"3150035","gasUsed":"21000","confirmations":"17116162","methodId":"0x","functionName":""}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      svid:
      - gnosis1
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.etherscan.io/v2/api?action=txlist&address=0x95222290DD7278Aa3Ddd389Cc1E1d165CC4BAfe5&chainid=1&module=account&offset=1&page=1
  response:
    body:
      string: '{"status":"1","message":"OK","result":[{"blockNumber":"15688488","timeStamp":"1665052355","hash":"0xf97d03429d58c1508e68109d0f2a52d6f7ce41bb799a4f21ce941a1575562c1b","nonce":"0","blockHash":"0x36dbb7b20a027be9a42edd3cf8b9142427841cd8155b249c06b2198f5be73ffd","transactionIndex":"249","from":"0x95222290dd7278aa3ddd389cc1e1d165cc4bafe5","to":"0x0b3b161b8abeb6b04cb95c3e6047f80c120a0292","value":"58111783231682072","gas":"30000","gasPrice":"4835293352","isError":"0","txreceipt_status":"1","input":"0x","contractAddress":"","cumulativeGasUsed":"19531392","gasUsed":"21000","confirmations":"5806129","methodId":"0x","functionName":""}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Nginx-Id:
      - '2'
      svid:
      - '12'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.etherscan.io/v2/api?action=txlist&address=0x95e62E8FF84ed8456fDc9739eE4A9597Bb6E4c1f&chainid=100&module=account&offset=1&page=1
  response:
    body:
      string: '{"status":"1","message":"OK","result":[{"blockNumber":"20624090","timeStamp":"1644787645","hash":"0x41b898e279508c8119d25b097db98d2c91d8a89771838ce5110c15d46a0eeb91","nonce":"0","blockHash":"0xcd3488121c906061b3e55084f5c4d0665e921748619f780098255ec55946bc4f","transactionIndex":"11","from":"0x95e62e8ff84ed8456fdc9739ee4a9597bb6e4c1f","to":"0x7de3f057fd9bac14703dc2d651e911dc76259051","value":"75000000000000000","gas":"21000","gasPrice":"1834755008","isError":"0","txreceipt_status":"1","input":"0x","contractAddress":"","cumulativeGasUsed":"3150035","gasUsed":"21000","confirmations":"17116163","methodId":"0x","functionName":""}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Nginx-Id:
      - '4'
      svid:
      - gnosis1
    status:
      code: 200
      message: OK
version: 1
