interactions:
- request:
    body: '{"method":"getHealth","jsonrpc":"2.0","id":0}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.mainnet-beta.solana.com/
  response:
    body:
      string: '{"jsonrpc":"2.0","result":"ok","id":0}

        '
    headers:
      allow:
      - OPTIONS, POST, GET
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-conn-limit:
      - '40'
      x-ratelimit-conn-remaining:
      - '39'
      x-ratelimit-connrate-limit:
      - '40'
      x-ratelimit-connrate-remaining:
      - '39'
      x-ratelimit-endpoint-limit:
      - unlimited
      x-ratelimit-endpoint-remaining:
      - '-1310'
      x-ratelimit-method-limit:
      - '40'
      x-ratelimit-method-remaining:
      - '39'
      x-ratelimit-pubsub-limit:
      - '5'
      x-ratelimit-pubsub-remaining:
      - '5'
      x-ratelimit-rps-limit:
      - '100'
      x-ratelimit-rps-remaining:
      - '99'
      x-ratelimit-tier:
      - free
      x-rpc-node:
      - fra102
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"getMultipleAccounts","jsonrpc":"2.0","id":0,"params":[["updtkJ8HAhh3rSkBCd3p9Z1Q74yJW4rMhSbScRskDPM","FkzRQKW8Mzip4xXHamibLZB28sjqN9ZLFacQdbuVEYxa"],{"encoding":"base64","dataSlice":null,"commitment":"finalized","minContextSlot":null}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.mainnet-beta.solana.com/
  response:
    body:
      string: '{"jsonrpc":"2.0","result":{"context":{"apiVersion":"3.1.10","slot":406145854},"value":[{"data":["","base64"],"executable":false,"lamports":3063908962,"owner":"11111111111111111111111111111111","rentEpoch":18446744073709551615,"space":0},{"data":["","base64"],"executable":false,"lamports":564503502,"owner":"11111111111111111111111111111111","rentEpoch":18446744073709551615,"space":0}]},"id":0}

        '
    headers:
      allow:
      - OPTIONS, POST, GET
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-conn-limit:
      - '40'
      x-ratelimit-conn-remaining:
      - '39'
      x-ratelimit-connrate-limit:
      - '40'
      x-ratelimit-connrate-remaining:
      - '39'
      x-ratelimit-endpoint-limit:
      - unlimited
      x-ratelimit-endpoint-remaining:
      - '-1333'
      x-ratelimit-method-limit:
      - '30'
      x-ratelimit-method-remaining:
      - '29'
      x-ratelimit-pubsub-limit:
      - '5'
      x-ratelimit-pubsub-remaining:
      - '5'
      x-ratelimit-rps-limit:
      - '100'
      x-ratelimit-rps-remaining:
      - '98'
      x-ratelimit-tier:
      - free
      x-rpc-node:
      - fra102
    status:
      code: 200
      message: OK
version: 1
