interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://gateway.pinit.io/ipfs/QmSTAhtdaqJmm9FTxWEdjQwKqvvjf99uGvN3vQaxzhRGqP/1089.json
  response:
    body:
      string: '{"name":"Pixie Willie #1089","symbol":"PXWL","description":"Steamboat
        Willie becomes Public Domain in 2024. This is the first pixel version of Steambot
        Willie in Blockchain.","seller_fee_basis_points":550,"image":"https://gateway.pinit.io/ipfs/Qmd8JPvod6DSY92uYxionhN2ZZJ69Bv4BvfpXA7dxRmZiZ/1089","external_url":"","collection":{"name":"Pixie
        Willie","family":"LaunchMyNFT"},"attributes":[{"trait_type":"Background","value":"White"},{"trait_type":"Accessories","value":"No
        Accessories"},{"trait_type":"Eyes","value":"Angry Eye"},{"trait_type":"Mouth","value":"Gum"}],"properties":{"files":[{"uri":"https://gateway.pinit.io/ipfs/Qmd8JPvod6DSY92uYxionhN2ZZJ69Bv4BvfpXA7dxRmZiZ/1089","type":"image/png"}],"category":"image","creators":[{"address":"6jXKgdjFdxaWG77TdhSG95hjjRyDNfRWZsHjCR2RCxo9","share":100}]}}'
    headers:
      Content-Type:
      - application/json
      etag:
      - W/"QmQXur22yjJFPErW7Qq2QcqEtmVmcCj7SiAxqdEoxXiCZX"
      x-ipfs-path:
      - /ipfs/QmSTAhtdaqJmm9FTxWEdjQwKqvvjf99uGvN3vQaxzhRGqP/1089.json
      x-ipfs-roots:
      - QmSTAhtdaqJmm9FTxWEdjQwKqvvjf99uGvN3vQaxzhRGqP,QmQXur22yjJFPErW7Qq2QcqEtmVmcCj7SiAxqdEoxXiCZX
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://bafkreib5jykd5ehlvmi7f253jdjzzknj6eqlnqhzenfmdc6okrwksqfu6a.ipfs.nftstorage.link/
  response:
    body:
      string: '{"name":"catwifhat","symbol":"$CWIF","description":"catwifhat vibes
        wif friends on bloc chain | telegram: t.me/catwifhatonsol | @catwifhatsolana
        on X | https://www.catwifhatsolana.com","image":"https://bafkreigmg552j5o5qv5ra6hvg4by4qzjjichzsyaljhmyvwe5qkjphgxoi.ipfs.nftstorage.link"}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"bafkreib5jykd5ehlvmi7f253jdjzzknj6eqlnqhzenfmdc6okrwksqfu6a"
      x-dotstorage-resolution-id:
      - cache-zone
      x-dotstorage-resolution-layer:
      - cdn
      x-freeway-version:
      - 2.30.0
    status:
      code: 200
      message: OK
version: 1
