interactions:
- request:
    body: '{"method":"getHealth","jsonrpc":"2.0","id":0}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://solana.therpc.io
  response:
    body:
      string: '{"id":0,"result":"ok","jsonrpc":"2.0"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"getBlock","jsonrpc":"2.0","id":0,"params":[0,{"encoding":"json","transactionDetails":null,"rewards":null,"maxSupportedTransactionVersion":null}]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://solana.therpc.io
  response:
    body:
      string: '{"id":0,"error":{"code":-32001,"message":"Block 0 cleaned up, does
        not exist on node. First available block: 371704855"},"jsonrpc":"2.0"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"getHealth","jsonrpc":"2.0","id":0}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.mainnet-beta.solana.com
  response:
    body:
      string: '{"jsonrpc":"2.0","result":"ok","id":0}

        '
    headers:
      allow:
      - OPTIONS, POST, GET
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-conn-limit:
      - '40'
      x-ratelimit-conn-remaining:
      - '39'
      x-ratelimit-connrate-limit:
      - '40'
      x-ratelimit-connrate-remaining:
      - '39'
      x-ratelimit-endpoint-limit:
      - unlimited
      x-ratelimit-endpoint-remaining:
      - '-1103'
      x-ratelimit-method-limit:
      - '40'
      x-ratelimit-method-remaining:
      - '39'
      x-ratelimit-pubsub-limit:
      - '5'
      x-ratelimit-pubsub-remaining:
      - '5'
      x-ratelimit-rps-limit:
      - '100'
      x-ratelimit-rps-remaining:
      - '99'
      x-ratelimit-tier:
      - free
      x-rpc-node:
      - pit37
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"getBlock","jsonrpc":"2.0","id":0,"params":[0,{"encoding":"json","transactionDetails":null,"rewards":null,"maxSupportedTransactionVersion":null}]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.mainnet-beta.solana.com
  response:
    body:
      string: '{"jsonrpc":"2.0","result":{"blockHeight":0,"blockTime":1584368940,"blockhash":"4sGjMW1sUnHzSxGspuhpqLDx6wiyjNtZAMdL4VZHirAn","parentSlot":0,"previousBlockhash":"4sGjMW1sUnHzSxGspuhpqLDx6wiyjNtZAMdL4VZHirAn","rewards":[],"transactions":[]},"id":0}

        '
    headers:
      allow:
      - OPTIONS, POST, GET
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-conn-limit:
      - '40'
      x-ratelimit-conn-remaining:
      - '39'
      x-ratelimit-connrate-limit:
      - '40'
      x-ratelimit-connrate-remaining:
      - '39'
      x-ratelimit-endpoint-limit:
      - unlimited
      x-ratelimit-endpoint-remaining:
      - '-1102'
      x-ratelimit-method-limit:
      - '5'
      x-ratelimit-method-remaining:
      - '4'
      x-ratelimit-pubsub-limit:
      - '5'
      x-ratelimit-pubsub-remaining:
      - '5'
      x-ratelimit-rps-limit:
      - '100'
      x-ratelimit-rps-remaining:
      - '98'
      x-ratelimit-tier:
      - free
      x-rpc-node:
      - pit37
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"getSignaturesForAddress","jsonrpc":"2.0","id":0,"params":["7T8ckKtdc5DH7ACS5AnCny7rVXYJPEsaAbdBri1FhPxY",{"before":null,"until":null,"limit":1000,"commitment":"finalized","minContextSlot":null}]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.mainnet-beta.solana.com
  response:
    body:
      string: '{"jsonrpc":"2.0","result":[{"blockTime":1758217544,"confirmationStatus":"finalized","err":null,"memo":null,"signature":"4awgHCjCD2Da2UbaKitSfUWExW2eVSA1x5PBrdHBi61NdCpWWxG1JbCDRbKUsQYSPZfPzMKLGrJw2XhajUUvz2Tc","slot":367689057},{"blockTime":1758217533,"confirmationStatus":"finalized","err":null,"memo":null,"signature":"5LB5yWMEqGZLTQxuSmU3un4dVZoCZbXBrQJnW2zXJhZu2WaYfdtUKpzwGPZk8AdRPQ9yqfFN5HetrgpDP6DWXx5a","slot":367689028},{"blockTime":1758217533,"confirmationStatus":"finalized","err":null,"memo":null,"signature":"4PXgKteR5ofZLbMGxNzstUc5f1GHLVoPh47FCaXLRETARUtym99DtW74EmxjazpQ94BJeMAPiYXEjiBGDeioj32y","slot":367689027},{"blockTime":1758217533,"confirmationStatus":"finalized","err":null,"memo":null,"signat[...]
- request:
    body: '{"method":"getMultipleAccounts","jsonrpc":"2.0","id":0,"params":[["7T8ckKtdc5DH7ACS5AnCny7rVXYJPEsaAbdBri1FhPxY"],{"encoding":"base64","dataSlice":null,"commitment":"finalized","minContextSlot":null}]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://solana.therpc.io
  response:
    body:
      string: '{"id":0,"result":{"context":{"apiVersion":"2.3.6","slot":372080545},"value":[{"data":["","base64"],"executable":false,"lamports":1283986514,"owner":"11111111111111111111111111111111","rentEpoch":18446744073709551615,"space":0}]},"jsonrpc":"2.0"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
