interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.jup.ag/portfolio/v1/positions/FPjx1P5RUwKGESWoksupbNexMiCzwsYhazoN268kpBvt
  response:
    body:
      string: '{"date":1778758522440,"owner":"FPjx1P5RUwKGESWoksupbNexMiCzwsYhazoN268kpBvt","fetcherReports":[],"elements":[{"type":"borrowlend","data":{"borrowedAssets":[{"type":"token","networkId":"solana","value":321602.572788253,"data":{"address":"EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v","amount":321670.651555,"price":0.9997883587859054},"attributes":{}}],"borrowedValue":321602.572788253,"borrowedYields":[[{"apr":-0.0479,"apy":-0.046773891060595596}]],"suppliedAssets":[{"type":"token","networkId":"solana","value":362288.058001133,"data":{"address":"7GxATsNMnaC88vdwd2t3mwrFuQwwGvmYPrUQ4D6FotXk","amount":355924.707041,"price":1.0178783625700916,"yields":[{"apr":0.02615589459758705,"apy":0.0265},{"apr":0.02459587552651299,"apy":0.0249,"address":"JuprjznTrTSp2UFa3ZBUFgwdAmtZCq4MQCwysN55USD"}]},"attributes":{}}],"suppliedValue":362288.058001133,"suppliedYields":[[{"apr":0,"apy":0}]],"rewardAssets":[],"rewardValue":0,"healthRatio":0.02450712122195684,"unsettled":{"assets":[],"value":0},"value":40685.48521288,"ref":"ALxeq6zcnMcbwsvDdYDciiQRPEezik1eQtJC53me9Nk7","sourceRefs":[{"name":"Vault","address":"9zammhNLGh1fidaoh2LvABj2doxmwFyQTzeDvpizMTTJ"},{"name":"NFT
        Mint","address":"E1n2gx6DcsMVNa63qAvcdbnACtrMvWiDQab5GNQpijoV"},{"name":"Borrow
        Token","address":"EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"}],"link":"https://jup.ag/lend/borrow/68/nfts/521"},"label":"Lending","networkId":"solana","platformId":"jupiter-exchange","value":40685.48521288,"fetcherId":"jupiter-exchange-borrow","netApy":0.08796755054355848,"tags":["Pegged"]},{"type":"borrowlend","data":{"borrowedAssets":[{"type":"token","networkId":"solana","value":75368.000387868,"data":{"address":"EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v","amount":75383.95474,"price":0.9997883587859054},"attributes":{}}],"borrowedValue":75368.000387868,"borrowedYields":[[{"apr":-0.0479,"apy":-0.046773891060595596}]],"suppliedAssets":[{"type":"token","networkId":"solana","value":85367.846527582,"data":{"address":"7GxATsNMnaC88vdwd2t3mwrFuQwwGvmYPrUQ4D6FotXk","amount[...]
