interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://data-api.cryptocompare.com/index/cc/v1/historical/hours?limit=2000&market=cadli&to_ts=1287964800&instrument=BTC-USD
  response:
    body:
      string: '{"Data":[{"UNIT":"HOUR","TIMESTAMP":1280768400,"TYPE":"267","MARKET":"cadli","INSTRUMENT":"BTC-USD","OPEN":0.0611,"HIGH":0.0611,"LOW":0.0611,"CLOSE":0.0611,"TOTAL_INDEX_UPDATES":0,"VOLUME":0,"QUOTE_VOLUME":0,"VOLUME_TOP_TIER":0,"QUOTE_VOLUME_TOP_TIER":0,"VOLUME_DIRECT":0,"QUOTE_VOLUME_DIRECT":0,"VOLUME_TOP_TIER_DIRECT":0,"QUOTE_VOLUME_TOP_TIER_DIRECT":0},{"UNIT":"HOUR","TIMESTAMP":1280772000,"TYPE":"267","MARKET":"cadli","INSTRUMENT":"BTC-USD","OPEN":0.0611,"HIGH":0.0633,"LOW":0.0611,"CLOSE":0.0611,"FIRST_MESSAGE_TIMESTAMP":1280772780,"LAST_MESSAGE_TIMESTAMP":1280773680,"FIRST_MESSAGE_VALUE":0.0633,"HIGH_MESSAGE_VALUE":0.0633,"HIGH_MESSAGE_TIMESTAMP":1280772780,"LOW_MESSAGE_VALUE":0.0611,"LOW_MESSAGE_TIMESTAMP":1280773680,"LAST_MESSAGE_VALUE":0.0611,"TOTAL_INDEX_UPDATES":3,"VOLUME":105,"QUOTE_VOLUME":6.5915,"VOLUME_TOP_TIER":105,"QUOTE_VOLUME_TOP_TIER":6.5915,"VOLUME_DIRECT":105,"QUOTE_VOLUME_DIRECT":6.5915,"VOLUME_TOP_TIER_DIRECT":105,"QUOTE_VOLUME_TOP_TIER_DIRECT":6.5915},{"UNIT":"HOUR","TIMESTAMP":1280775600,"TYPE":"267","MARKET":"cadli","INSTRUMENT":"BTC-USD","OPEN":0.0611,"HIGH":0.0611,"LOW":0.0611,"CLOSE":0.0611,"TOTAL_INDEX_UPDATES":0,"VOLUME":0,"QUOTE_VOLUME":0,"VOLUME_TOP_TIER":0,"QUOTE_VOLUME_TOP_TIER":0,"VOLUME_DIRECT":0,"[...]
[...]
