interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://data-api.cryptocompare.com/index/cc/v1/historical/hours?limit=2000&market=cadli&to_ts=1301536800&instrument=BTC-USD
  response:
    body:
      string: '{"Data":[{"UNIT":"HOUR","TIMESTAMP":1294340400,"TYPE":"267","MARKET":"cadli","INSTRUMENT":"BTC-USD","OPEN":0.298,"HIGH":0.298998688853659,"LOW":0.298,"CLOSE":0.298998688853659,"FIRST_MESSAGE_TIMESTAMP":1294342860,"LAST_MESSAGE_TIMESTAMP":1294342860,"FIRST_MESSAGE_VALUE":0.298998688853659,"HIGH_MESSAGE_VALUE":0.298998688853659,"HIGH_MESSAGE_TIMESTAMP":1294342860,"LOW_MESSAGE_VALUE":0.298998688853659,"LOW_MESSAGE_TIMESTAMP":1294342860,"LAST_MESSAGE_VALUE":0.298998688853659,"TOTAL_INDEX_UPDATES":1,"VOLUME":410,"QUOTE_VOLUME":122.58946243,"VOLUME_TOP_TIER":410,"QUOTE_VOLUME_TOP_TIER":122.58946243,"VOLUME_DIRECT":410,"QUOTE_VOLUME_DIRECT":122.58946243,"VOLUME_TOP_TIER_DIRECT":410,"QUOTE_VOLUME_TOP_TIER_DIRECT":122.58946243},{"UNIT":"HOUR","TIMESTAMP":1294344000,"TYPE":"267","MARKET":"cadli","INSTRUMENT":"BTC-USD","OPEN":0.298998688853659,"HIGH":0.298998688853659,"LOW":0.298,"CLOSE":0.298,"FIRST_MESSAGE_TIMESTAMP":1294344180,"LAST_MESSAGE_TIMESTAMP":1294344180,"FIRST_MESSAGE_VALUE":0.298,"HIGH_MESSAGE_VALUE":0.298,"HIGH_MESSAGE_TIMESTAMP":1294344180,"LOW_MESSAGE_VALUE":0.298,"LOW_MESSAGE_TIMESTAMP":1294344180,"LAST_MESSAGE_VALUE":0.298,"TOTAL_INDEX_UPDATES":1,"VOLUME":100,"QUOTE_VOLUME":29.8,"VOLUME_TO[...]
