interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://min-api.cryptocompare.com/data/pricemulti?fsyms=DAI%2CETH%2CBTC%2CDAI%2CETH%2CBTC%2CDAI%2CETH%2CBTC%2CDAI%2CETH%2CBTC%2CDAI%2CETH&tsyms=USD
  response:
    body:
      string: '{"DAI":{"USD":0.9997},"ETH":{"USD":3778.84},"BTC":{"USD":118380.4}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-CryptoCompare-Cache-HIT:
      - 'false'
      X-CryptoCompare-Server-Id:
      - cc-api-min-v2-12
    status:
      code: 200
      message: OK
version: 1
