interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://min-api.cryptocompare.com/data/price?fsym=DPI&tsyms=WETH
  response:
    body:
      string: '{"WETH":0.272}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-CryptoCompare-Cache-HIT:
      - 'false'
      X-CryptoCompare-Server-Id:
      - cc-api-min-v2-19
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://min-api.cryptocompare.com/data/price?fsym=WETH&tsyms=EUR
  response:
    body:
      string: '{"EUR":1198.44}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-CryptoCompare-Cache-HIT:
      - 'false'
      X-CryptoCompare-Server-Id:
      - cc-api-min-v2-39
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://data-api.cryptocompare.com/index/cc/v1/historical/days?limit=1&market=cadli&to_ts=1732728240&instrument=DPI-WETH
  response:
    body:
      string: '{"Data":[{"UNIT":"DAY","TIMESTAMP":1732665600,"TYPE":"986","MARKET":"cadli","INSTRUMENT":"DPI-WETH","OPEN":0.0318708023313815,"HIGH":0.0371408700544603,"LOW":0.028581257007022,"CLOSE":0.0336024134383296,"FIRST_MESSAGE_TIMESTAMP":1732665609,"LAST_MESSAGE_TIMESTAMP":1732751902,"FIRST_MESSAGE_VALUE":0.0289932230758474,"HIGH_MESSAGE_VALUE":0.0337751977886407,"HIGH_MESSAGE_TIMESTAMP":1732748402,"LOW_MESSAGE_VALUE":0.028581257007022,"LOW_MESSAGE_TIMESTAMP":1732678528,"LAST_MESSAGE_VALUE":0.0336024134383296,"TOTAL_INDEX_UPDATES":0,"VOLUME":1925.24215670993,"QUOTE_VOLUME":63.0500068107523,"VOLUME_TOP_TIER":1572.60104057992,"QUOTE_VOLUME_TOP_TIER":51.4484089748582,"VOLUME_DIRECT":0,"QUOTE_VOLUME_DIRECT":0,"VOLUME_TOP_TIER_DIRECT":0,"QUOTE_VOLUME_TOP_TIER_DIRECT":0}],"Err":{}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-CryptoCompare-Cache-Hit:
      - 'false'
      X-CryptoCompare-Server-Id:
      - cc-api-data-07
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://data-api.cryptocompare.com/index/cc/v1/historical/days?limit=1&market=cadli&to_ts=1732728240&instrument=WETH-EUR
  response:
    body:
      string: '{"Data":[{"UNIT":"DAY","TIMESTAMP":1732665600,"TYPE":"986","MARKET":"cadli","INSTRUMENT":"WETH-EUR","OPEN":3170.61167438371,"HIGH":3514.05555789433,"LOW":3128.17463421782,"CLOSE":3462.69913028888,"FIRST_MESSAGE_TIMESTAMP":1732665600,"LAST_MESSAGE_TIMESTAMP":1732751987,"FIRST_MESSAGE_VALUE":3148.90459894075,"HIGH_MESSAGE_VALUE":3490.00584815032,"HIGH_MESSAGE_TIMESTAMP":1732749066,"LOW_MESSAGE_VALUE":3128.17463421782,"LOW_MESSAGE_TIMESTAMP":1732669486,"LAST_MESSAGE_VALUE":3462.69913028888,"TOTAL_INDEX_UPDATES":0,"VOLUME":334174.550175057,"QUOTE_VOLUME":1107083658.12581,"VOLUME_TOP_TIER":322074.682517395,"QUOTE_VOLUME_TOP_TIER":1066809688.5248,"VOLUME_DIRECT":0,"QUOTE_VOLUME_DIRECT":0,"VOLUME_TOP_TIER_DIRECT":0,"QUOTE_VOLUME_TOP_TIER_DIRECT":0}],"Err":{}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-CryptoCompare-Cache-Hit:
      - 'false'
      X-CryptoCompare-Server-Id:
      - cc-api-data-10
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://data-api.cryptocompare.com/index/cc/v1/historical/hours?limit=10&market=cadli&to_ts=1732728240&instrument=DPI-WETH
  response:
    body:
      string: '{"Data":[{"UNIT":"HOUR","TIMESTAMP":1732694400,"TYPE":"986","MARKET":"cadli","INSTRUMENT":"DPI-WETH","OPEN":0.0344886452158857,"HIGH":0.035052676328802,"LOW":0.0335084665631301,"CLOSE":0.0336335772625742,"FIRST_MESSAGE_TIMESTAMP":1732694409,"LAST_MESSAGE_TIMESTAMP":1732697917[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://data-api.cryptocompare.com/index/cc/v1/historical/hours?limit=10&market=cadli&to_ts=1732728240&instrument=WETH-EUR
  response:
    body:
      string: '{"Data":[{"UNIT":"HOUR","TIMESTAMP":1732694400,"TYPE":"986","MARKET":"cadli","INSTRUMENT":"WETH-EUR","OPEN":3260.82355059532,"HIGH":3269.77854776747,"LOW":3246.94939184315,"CLOSE":3252.46203504816,"FIRST_MESSAGE_TIMESTAMP":1732694400,"LAST_MESSAGE_TIMESTAMP":1732697982,"FIRST[...]
