interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://min-api.cryptocompare.com/data/pricemulti?fsyms=BTC%2CDAI%2CBNB&tsyms=ETH
  response:
    body:
      string: '{"BTC":{"ETH":40.48},"DAI":{"ETH":0.0004486},"BNB":{"ETH":0.2673}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-CryptoCompare-Cache-HIT:
      - 'false'
      X-CryptoCompare-Server-Id:
      - cc-api-min-v2-29
    status:
      code: 200
      message: OK
version: 1
