interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://data-api.cryptocompare.com/index/cc/v1/historical/days?limit=1&market=cadli&to_ts=1708510318&instrument=STARK-EUR
  response:
    body:
      string: '{"Data":[{"UNIT":"DAY","TIMESTAMP":1708473600,"TYPE":"986","MARKET":"cadli","INSTRUMENT":"STARK-EUR","OPEN":1.81857780506249,"HIGH":1.81857780506249,"LOW":1.55551572552116,"CLOSE":1.75404934188528,"FIRST_MESSAGE_TIMESTAMP":1708524000,"LAST_MESSAGE_TIMESTAMP":1708559998,"FIRST_MESSAGE_VALUE":1.60345026556496,"HIGH_MESSAGE_VALUE":1.80973591198566,"HIGH_MESSAGE_TIMESTAMP":1708536468,"LOW_MESSAGE_VALUE":1.55551572552116,"LOW_MESSAGE_TIMESTAMP":1708525811,"LAST_MESSAGE_VALUE":1.75404934188528,"TOTAL_INDEX_UPDATES":0,"VOLUME":143505626.862111,"QUOTE_VOLUME":243616067.111733,"VOLUME_TOP_TIER":99117773.2810878,"QUOTE_VOLUME_TOP_TIER":168061230.220791,"VOLUME_DIRECT":0,"QUOTE_VOLUME_DIRECT":0,"VOLUME_TOP_TIER_DIRECT":0,"QUOTE_VOLUME_TOP_TIER_DIRECT":0}],"Err":{}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-CryptoCompare-Cache-Hit:
      - 'false'
      X-CryptoCompare-Server-Id:
      - cc-api-data-15
    status:
      code: 200
      message: OK
version: 1
