interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://coins.llama.fi/prices/current/arbitrum:0x912CE59144191C1204E64559FE8253a0e49E6548,ethereum:0x6B175474E89094C44Da98b954EedeAC495271d0F,ethereum:0x514910771AF9Ca656af840dff83E8264EcF986CA
  response:
    body:
      string: '{"coins":{"ethereum:0x514910771AF9Ca656af840dff83E8264EcF986CA":{"decimals":18,"symbol":"LINK","price":17.22,"timestamp":1741276615,"confidence":0.99},"ethereum:0x6B175474E89094C44Da98b954EedeAC495271d0F":{"decimals":18,"symbol":"DAI","price":0.99972,"timestamp":1741276617,"confidence":0.99},"arbitrum:0x912CE59144191C1204E64559FE8253a0e49E6548":{"decimals":18,"symbol":"ARB","price":0.415488,"timestamp":1741276623,"confidence":0.99}}}'
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Thu, 06 Mar 2025 15:57:14 GMT
      apigw-requestid:
      - HAvaKhj3liAEPmQ=
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://min-api.cryptocompare.com/data/price?fsym=USD&tsyms=ETH
  response:
    body:
      string: '{"ETH":0.0004437}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-CryptoCompare-Cache-HIT:
      - 'true'
      X-CryptoCompare-Server-Id:
      - cc-api-min-v2-35
    status:
      code: 200
      message: OK
version: 1
