interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://coins.llama.fi/prices/current/arbitrum:0x912CE59144191C1204E64559FE8253a0e49E6548,ethereum:0x514910771AF9Ca656af840dff83E8264EcF986CA
  response:
    body:
      string: '{"coins":{"ethereum:0x514910771AF9Ca656af840dff83E8264EcF986CA":{"decimals":18,"symbol":"LINK","price":19.83,"timestamp":1753079333,"confidence":0.99},"arbitrum:0x912CE59144191C1204E64559FE8253a0e49E6548":{"decimals":18,"symbol":"ARB","price":0.495782,"timestamp":1753079344,"confidence":0.99}}}'
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Mon, 21 Jul 2025 06:29:05 GMT
      apigw-requestid:
      - OC-n2glRliAEMMA=
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://coins.llama.fi/prices/current/ethereum:0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48,ethereum:0xdAC17F958D2ee523a2206206994597C13D831ec7
  response:
    body:
      string: '{"coins":{"ethereum:0xdAC17F958D2ee523a2206206994597C13D831ec7":{"decimals":6,"symbol":"USDT","price":1,"timestamp":1753079343,"confidence":0.99},"ethereum:0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48":{"decimals":6,"symbol":"USDC","price":0.999803,"timestamp":1753079343,"confidence":0.99}}}'
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Mon, 21 Jul 2025 06:29:06 GMT
      apigw-requestid:
      - OC-n8hz-FiAEPWA=
    status:
      code: 200
      message: OK
version: 1
