interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://pro-api.llama.fi/123totallyrealapikey123/coins/prices/current/coingecko:ethereum
  response:
    body:
      string: '{"coins":{"coingecko:ethereum":{"price":2399,"symbol":"ETH","timestamp":1728559494,"confidence":0.99}}}'
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Last-Modified:
      - Thu, 10 Oct 2024 11:30:09 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://pro-api.llama.fi/123totallyrealapikey123/coins/prices/historical/1597024800/ethereum:0x6B175474E89094C44Da98b954EedeAC495271d0F
  response:
    body:
      string: '{"coins":{"ethereum:0x6B175474E89094C44Da98b954EedeAC495271d0F":{"decimals":18,"symbol":"dai","price":1.0182482830027697,"timestamp":1597024925}}}'
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Last-Modified:
      - Thu, 10 Oct 2024 11:38:33 GMT
    status:
      code: 200
      message: OK
version: 1
