interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://coins.llama.fi/prices/current/solana:DtR4D9FtVoTX2569gaL837ZgrB6wNjj6tkmnX9Rdk9B2
  response:
    body:
      string: '{"coins":{"solana:DtR4D9FtVoTX2569gaL837ZgrB6wNjj6tkmnX9Rdk9B2":{"decimals":6,"symbol":"aura","price":0.0827225214838227,"timestamp":1760612341,"confidence":0.99}}}'
    headers:
      Content-Type:
      - application/json
      apigw-requestid:
      - Sia1hjsYliAEMfA=
      last-modified:
      - Thu, 16 Oct 2025 11:33:55 GMT
    status:
      code: 200
      message: OK
version: 1
