interactions:
- request:
    body: '{"jsonrpc": "2.0", "method": "web3_clientVersion", "params": [], "id":
      0}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://polygon-bor.publicnode.com/
  response:
    body:
      string: '{"jsonrpc":"2.0","id":0,"result":"bor/v1.2.7/linux-amd64/go1.21.8"}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.polygonscan.com/api?module=proxy&action=eth_blockNumber&apikey=1M4TM28QKJHED9QPDWXFCBEX5CK5ID3ESG
  response:
    body:
      string: '{"jsonrpc":"2.0","id":83,"result":"0x3455fa5"}

        '
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"jsonrpc": "2.0", "method": "eth_getBalance", "params": ["0xc3F60BC338E0Af8f46F52650C813FBD3C071E165",
      "0x1bf"], "id": 3}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://polygon-bor.publicnode.com/
  response:
    body:
      string: '{"jsonrpc":"2.0","id":3,"error":{"code":-32000,"message":"missing trie
        node 91e7407285d3daf15ed29dd054320e366ec60ea2b93d359a9a663a0be3e18dcb (path
        ) state 0x91e7407285d3daf15ed29dd054320e366ec60ea2b93d359a9a663a0be3e18dcb
        is not available, not found"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"jsonrpc": "2.0", "method": "eth_getTransactionByHash", "params": ["0xf6c3feac09aa84558510f74af0c9bf7fd51ff15f902f68d51592e09cad8896b2"],
      "id": 4}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://polygon-bor.publicnode.com/
  response:
    body:
      string: '{"jsonrpc":"2.0","id":4,"result":null}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
