interactions:
- request:
    body: '{"jsonrpc": "2.0", "method": "web3_clientVersion", "params": [], "id":
      0}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://1rpc.io/gnosis
  response:
    body:
      string: '{"jsonrpc":"2.0","result":"Nethermind/v1.25.4+20b10b35/linux-x64/dotnet8.0.2","id":0}'
    headers:
      Content-Type:
      - application/json
      Req-Id:
      - 447fc2fbda7cc396
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gnosisscan.io/api?module=proxy&action=eth_blockNumber&apikey=J3XEY27VIT7377G34PVPHKWG74NG9PXNSM
  response:
    body:
      string: '{"jsonrpc":"2.0","result":"0x1f7ebd1","id":83}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"jsonrpc": "2.0", "method": "eth_getBalance", "params": ["0xCace5b3c29211740E595850E80478416eE77cA21",
      "0x8ef8"], "id": 3}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://1rpc.io/gnosis
  response:
    body:
      string: '{"jsonrpc":"2.0","error":{"code":-32002,"message":"No state available
        for block 36600 (0x985a2c91d049da6d8f54533284bbc905ba8927c42aa1ddace1984e804a1933ff)","data":null},"id":3}'
    headers:
      Content-Type:
      - application/json
      Req-Id:
      - 3328c16173386a0f
    status:
      code: 200
      message: OK
- request:
    body: '{"jsonrpc": "2.0", "method": "eth_getTransactionByHash", "params": ["0xf4658cd1e7e891119a678266fba1d7341fafe52554ed11bdb346162d518d3f31"],
      "id": 4}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://1rpc.io/gnosis
  response:
    body:
      string: '{"jsonrpc":"2.0","result":null,"id":4}'
    headers:
      Content-Type:
      - application/json
      Req-Id:
      - 451fe4aba86c25ae
    status:
      code: 200
      message: OK
version: 1
