interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://data-api.cryptocompare.com/index/cc/v1/historical/days?limit=1&market=cadli&to_ts=1672704000&instrument=BTC-EUR
  response:
    body:
      string: '{"Data":[{"UNIT":"DAY","TIMESTAMP":1672704000,"TYPE":"986","MARKET":"cadli","INSTRUMENT":"BTC-EUR","OPEN":15615.0005870507,"HIGH":15892.6048493782,"LOW":15552.0464186877,"CLOSE":15806.226022787,"FIRST_MESSAGE_TIMESTAMP":1672704000,"LAST_MESSAGE_TIMESTAMP":1672790340,"FIRST_MESSAGE_VALUE":15781.7654326078,"HIGH_MESSAGE_VALUE":15892.6048493782,"HIGH_MESSAGE_TIMESTAMP":1672756920,"LOW_MESSAGE_VALUE":15745.5899924268,"LOW_MESSAGE_TIMESTAMP":1672768020,"LAST_MESSAGE_VALUE":15806.226022787,"TOTAL_INDEX_UPDATES":0,"VOLUME":545770.252991759,"QUOTE_VOLUME":8630908569.13358,"VOLUME_TOP_TIER":305367.030429555,"QUOTE_VOLUME_TOP_TIER":4831646430.81356,"VOLUME_DIRECT":0,"QUOTE_VOLUME_DIRECT":0,"VOLUME_TOP_TIER_DIRECT":0,"QUOTE_VOLUME_TOP_TIER_DIRECT":0}],"Err":{}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-CryptoCompare-Cache-Hit:
      - 'false'
      X-CryptoCompare-Server-Id:
      - cc-api-data-01
    status:
      code: 200
      message: OK
version: 1
