interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://data-api.cryptocompare.com/index/cc/v1/historical/days?limit=1&market=cadli&to_ts=1672531200&instrument=BTC-EUR
  response:
    body:
      string: '{"Data":[{"UNIT":"DAY","TIMESTAMP":1672531200,"TYPE":"986","MARKET":"cadli","INSTRUMENT":"BTC-EUR","OPEN":15417.2912201969,"HIGH":15531.2660892895,"LOW":15384.2761998723,"CLOSE":15519.8178641018,"FIRST_MESSAGE_TIMESTAMP":1672531200,"LAST_MESSAGE_TIMESTAMP":1672617540,"FIRST_MESSAGE_VALUE":15449.4654912272,"HIGH_MESSAGE_VALUE":15531.2660892895,"HIGH_MESSAGE_TIMESTAMP":1672614660,"LOW_MESSAGE_VALUE":15414.3922327263,"LOW_MESSAGE_TIMESTAMP":1672557420,"LAST_MESSAGE_VALUE":15519.8178641018,"TOTAL_INDEX_UPDATES":0,"VOLUME":367276.161709711,"QUOTE_VOLUME":5679847320.3092,"VOLUME_TOP_TIER":181310.518423881,"QUOTE_VOLUME_TOP_TIER":2803517710.79914,"VOLUME_DIRECT":0,"QUOTE_VOLUME_DIRECT":0,"VOLUME_TOP_TIER_DIRECT":0,"QUOTE_VOLUME_TOP_TIER_DIRECT":0}],"Err":{}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-CryptoCompare-Cache-Hit:
      - 'false'
      X-CryptoCompare-Server-Id:
      - cc-api-data-06
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://data-api.cryptocompare.com/index/cc/v1/historical/days?limit=1&market=cadli&to_ts=1672531200&instrument=ETH-EUR
  response:
    body:
      string: '{"Data":[{"UNIT":"DAY","TIMESTAMP":1672531200,"TYPE":"986","MARKET":"cadli","INSTRUMENT":"ETH-EUR","OPEN":1114.25753539222,"HIGH":1124.38118748052,"LOW":1110.53186237407,"CLOSE":1120.71447101836,"FIRST_MESSAGE_TIMESTAMP":1672531200,"LAST_MESSAGE_TIMESTAMP":1672617540,"FIRST_MESSAGE_VALUE":1116.67439877268,"HIGH_MESSAGE_VALUE":1124.38118748052,"HIGH_MESSAGE_TIMESTAMP":1672604760,"LOW_MESSAGE_VALUE":1112.70582321682,"LOW_MESSAGE_TIMESTAMP":1672548300,"LAST_MESSAGE_VALUE":1120.71447101836,"TOTAL_INDEX_UPDATES":0,"VOLUME":2604375.12342649,"QUOTE_VOLUME":2911457058.01623,"VOLUME_TOP_TIER":501812.578875221,"QUOTE_VOLUME_TOP_TIER":561105983.992055,"VOLUME_DIRECT":0,"QUOTE_VOLUME_DIRECT":0,"VOLUME_TOP_TIER_DIRECT":0,"QUOTE_VOLUME_TOP_TIER_DIRECT":0}],"Err":{}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-CryptoCompare-Cache-Hit:
      - 'true'
      X-CryptoCompare-Server-Id:
      - cc-api-data-06
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://coins.llama.fi/prices/historical/1672531200/base:0x5875eEE11Cf8398102FdAd704C9E96607675467a
  response:
    body:
      string: '{"coins":{}}'
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Wed, 05 Mar 2025 20:48:10 GMT
      apigw-requestid:
      - G-HFvjzgFiAEJ_g=
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://data-api.cryptocompare.com/index/cc/v1/historical/days?limit=1&market=cadli&to_ts=1672790400&instrument=BTC-EUR
  response:
    body:
      string: '{"Data":[{"UNIT":"DAY","TIMESTAMP":1672790400,"TYPE":"986","MARKET":"cadli","INSTRUMENT":"BTC-EUR","OPEN":15806.226022787,"HIGH":16091.7566852169,"LOW":15708.5206832267,"CLOSE":15891.5593972908,"FIRST_MESSAGE_TIMESTAMP":1672790400,"LAST_MESSAGE_TIMESTAMP":1672876740,"FIRST_MESSAGE_VALUE":15727.4409098076,"HIGH_MESSAGE_VALUE":15999.5434264469,"HIGH_MESSAGE_TIMESTAMP":1672858260,"LOW_MESSAGE_VALUE":15708.5206832267,"LOW_MESSAGE_TIMESTAMP":1672793160,"LAST_MESSAGE_VALUE":15891.5593972908,"TOTAL_INDEX_UPDATES":0,"VOLUME":715011.370973645,"QUOTE_VOLUME":11346240775.5903,"VOLUME_TOP_TIER":430262.261131844,"QUOTE_VOLUME_TOP_TIER":6828627047.09786,"VOLUME_DIRECT":0,"QUOTE_VOLUME_DIRECT":0,"VOLUME_TOP_TIER_DIRECT":0,"QUOTE_VOLUME_TOP_TIER_DIRECT":0}],"Err":{}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-CryptoCompare-Cache-Hit:
      - 'false'
      X-CryptoCompare-Server-Id:
      - cc-api-data-05
    status:
      code: 200
      message: OK
version: 1
