interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://data-api.cryptocompare.com/index/cc/v1/historical/days?limit=1&market=cadli&to_ts=1672704000&instrument=BTC-EUR
  response:
    body:
      string: '{"Data":[{"UNIT":"DAY","TIMESTAMP":1672704000,"TYPE":"986","MARKET":"cadli","INSTRUMENT":"BTC-EUR","OPEN":15615.0005870507,"HIGH":15892.6048493782,"LOW":15552.0464186877,"CLOSE":15806.226022787,"FIRST_MESSAGE_TIMESTAMP":1672704000,"LAST_MESSAGE_TIMESTAMP":1672790340,"FIRST_MESSAGE_VALUE":15781.7654326078,"HIGH_MESSAGE_VALUE":15892.6048493782,"HIGH_MESSAGE_TIMESTAMP":1672756920,"LOW_MESSAGE_VALUE":15745.5899924268,"LOW_MESSAGE_TIMESTAMP":1672768020,"LAST_MESSAGE_VALUE":15806.226022787,"TOTAL_INDEX_UPDATES":0,"VOLUME":545770.252991759,"QUOTE_VOLUME":8630908569.13358,"VOLUME_TOP_TIER":305367.030429555,"QUOTE_VOLUME_TOP_TIER":4831646430.81356,"VOLUME_DIRECT":0,"QUOTE_VOLUME_DIRECT":0,"VOLUME_TOP_TIER_DIRECT":0,"QUOTE_VOLUME_TOP_TIER_DIRECT":0}],"Err":{}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-CryptoCompare-Cache-Hit:
      - 'false'
      X-CryptoCompare-Server-Id:
      - cc-api-data-04
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://data-api.cryptocompare.com/index/cc/v1/historical/days?limit=1&market=cadli&to_ts=1672704000&instrument=ETH-EUR
  response:
    body:
      string: '{"Data":[{"UNIT":"DAY","TIMESTAMP":1672704000,"TYPE":"986","MARKET":"cadli","INSTRUMENT":"ETH-EUR","OPEN":1136.87750825932,"HIGH":1155.06591274324,"LOW":1129.2109587253,"CLOSE":1151.10913718085,"FIRST_MESSAGE_TIMESTAMP":1672704000,"LAST_MESSAGE_TIMESTAMP":1672790340,"FIRST_MESSAGE_VALUE":1148.83196073009,"HIGH_MESSAGE_VALUE":1155.06591274324,"HIGH_MESSAGE_TIMESTAMP":1672756980,"LOW_MESSAGE_VALUE":1143.2638697425,"LOW_MESSAGE_TIMESTAMP":1672773120,"LAST_MESSAGE_VALUE":1151.10913718085,"TOTAL_INDEX_UPDATES":0,"VOLUME":2914550.13392357,"QUOTE_VOLUME":3349637095.90579,"VOLUME_TOP_TIER":887323.637350828,"QUOTE_VOLUME_TOP_TIER":1020307630.88789,"VOLUME_DIRECT":0,"QUOTE_VOLUME_DIRECT":0,"VOLUME_TOP_TIER_DIRECT":0,"QUOTE_VOLUME_TOP_TIER_DIRECT":0}],"Err":{}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-CryptoCompare-Cache-Hit:
      - 'false'
      X-CryptoCompare-Server-Id:
      - cc-api-data-09
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://data-api.cryptocompare.com/index/cc/v1/historical/days?limit=1&market=cadli&to_ts=1672617600&instrument=ETH-EUR
  response:
    body:
      string: '{"Data":[{"UNIT":"DAY","TIMESTAMP":1672617600,"TYPE":"986","MARKET":"cadli","INSTRUMENT":"ETH-EUR","OPEN":1120.71447101836,"HIGH":1143.6785250886,"LOW":1114.33215710958,"CLOSE":1136.87750825932,"FIRST_MESSAGE_TIMESTAMP":1672617600,"LAST_MESSAGE_TIMESTAMP":1672703940,"FIRST_MESSAGE_VALUE":1123.5872956844,"HIGH_MESSAGE_VALUE":1143.6785250886,"HIGH_MESSAGE_TIMESTAMP":1672654140,"LOW_MESSAGE_VALUE":1117.33004673851,"LOW_MESSAGE_TIMESTAMP":1672622460,"LAST_MESSAGE_VALUE":1136.87750825932,"TOTAL_INDEX_UPDATES":0,"VOLUME":2781831.31995156,"QUOTE_VOLUME":3156770250.27033,"VOLUME_TOP_TIER":1000818.01702608,"QUOTE_VOLUME_TOP_TIER":1136898276.87732,"VOLUME_DIRECT":0,"QUOTE_VOLUME_DIRECT":0,"VOLUME_TOP_TIER_DIRECT":0,"QUOTE_VOLUME_TOP_TIER_DIRECT":0}],"Err":{}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-CryptoCompare-Cache-Hit:
      - 'false'
      X-CryptoCompare-Server-Id:
      - cc-api-data-06
    status:
      code: 200
      message: OK
version: 1
