interactions:
- request:
    body: '{"jsonrpc": "2.0", "method": "web3_clientVersion", "params": [], "id":
      0}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://base.blockpi.network/v1/rpc/public
  response:
    body:
      string: '{"id":0,"jsonrpc":"2.0","result":"Geth/v0.1.0-unstable-0402d543/linux-amd64/go1.21.7"}'
    headers:
      Content-Type:
      - application/json
      X-Gateway-Id:
      - '0x6f8aac271accfb417f43da030003dc8e677494d5'
      X-Node-Id:
      - '0xe560fb80408af7f725d4166db76662ae73162c18'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.basescan.org/api?module=proxy&action=eth_blockNumber&apikey=7UXQPEFX2RIQPN42VPTG72XD4E1HJS8IS6
  response:
    body:
      string: '{"jsonrpc":"2.0","id":83,"result":"0xb83b91"}

        '
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"jsonrpc": "2.0", "method": "eth_getBalance", "params": ["0x3a9e669d9e2d0171c8a057031a9e9C048b7FEE60",
      "0x3e541a"], "id": 3}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://base.blockpi.network/v1/rpc/public
  response:
    body:
      string: '{"error":{"code":-32000,"message":"missing trie node 7a8d16362e6dbe9cd83ec5c1b865f687e66aaa704eb7e2fdc823518a650174af
        (path ) state 0x7a8d16362e6dbe9cd83ec5c1b865f687e66aaa704eb7e2fdc823518a650174af
        is not available"},"id":3,"jsonrpc":"2.0"}'
    headers:
      Content-Type:
      - application/json
      X-Gateway-Id:
      - '0x947c1ade40da2899086c7cf9f8064ebddd7d0701'
      X-Node-Id:
      - '0x331e2c774b36e3e29209aaea532f1c39bf4f0d3e'
    status:
      code: 200
      message: OK
- request:
    body: '{"jsonrpc": "2.0", "method": "eth_getTransactionByHash", "params": ["0xc7e021f71a972940c2728717f058f49833e3aa4d074c3599054530f108c281b2"],
      "id": 4}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://base.blockpi.network/v1/rpc/public
  response:
    body:
      string: '{"id":4,"jsonrpc":"2.0","result":{"accessList":[],"blockHash":"0x493369ae3bb8df04408d15ed1d9971c0ae93a2a7fdc832a583240a723be3bbc4","blockNumber":"0x3e541a","chainId":"0x2105","from":"0x15718b9b0dade1c17d8329a13bb9553f3b38e172","gas":"0x5208","gasPrice":"0xdaf45a","hash":"0xc7e021f71a972940c2728717f058f49833e3aa4d074c3599054530f108c281b2","input":"0x","maxFeePerGas":"0x104a18f","maxPriorityFeePerGas":"0x5aeeeb","nonce":"0x1","r":"0x23df55c709dccbe0ddbca9867f1658f8a7b97ccc06bd0c2c74ad66ef05308b43","s":"0x6e72646fcd901f4d9ebf8e29f1b447bcc7c1fab524a3534bac2b85872940da67","to":"0x3a9e669d9e2d0171c8a057031a9e9c048b7fee60","transactionIndex":"0xf","type":"0x2","v":"0x0","value":"0x2386f26fc10000","yParity":"0x0"}}'
    headers:
      Content-Type:
      - application/json
      X-Gateway-Id:
      - '0x947c1ade40da2899086c7cf9f8064ebddd7d0701'
      X-Node-Id:
      - '0xe560fb80408af7f725d4166db76662ae73162c18'
    status:
      code: 200
      message: OK
version: 1
