interactions:
- request:
    body: '{"jsonrpc": "2.0", "method": "web3_clientVersion", "params": [], "id":
      0}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://base.publicnode.com/
  response:
    body:
      string: '{"jsonrpc":"2.0","id":0,"result":"Geth/v0.1.0-unstable-0402d543/linux-amd64/go1.21.7"}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.basescan.org/api?module=proxy&action=eth_blockNumber&apikey=7UXQPEFX2RIQPN42VPTG72XD4E1HJS8IS6
  response:
    body:
      string: '{"jsonrpc":"2.0","id":83,"result":"0xb83b91"}

        '
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"jsonrpc": "2.0", "method": "eth_getBalance", "params": ["0x3a9e669d9e2d0171c8a057031a9e9C048b7FEE60",
      "0x3e541a"], "id": 3}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://base.publicnode.com/
  response:
    body:
      string: '{"jsonrpc":"2.0","id":3,"error":{"code":-32000,"message":"missing trie
        node 7a8d16362e6dbe9cd83ec5c1b865f687e66aaa704eb7e2fdc823518a650174af (path
        ) state 0x7a8d16362e6dbe9cd83ec5c1b865f687e66aaa704eb7e2fdc823518a650174af
        is not available"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"jsonrpc": "2.0", "method": "eth_getTransactionByHash", "params": ["0xc7e021f71a972940c2728717f058f49833e3aa4d074c3599054530f108c281b2"],
      "id": 4}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://base.publicnode.com/
  response:
    body:
      string: '{"jsonrpc":"2.0","id":4,"result":null}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
