interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.coingecko.com/api/v3/simple/price/?ids=solana&vs_currencies=eur
  response:
    body:
      string: '{"solana":{"eur":79.76}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      alternate-protocol:
      - 443:npn-spdy/2
      etag:
      - W/"aa248ee0aea71e064a345508eab7b72c"
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"getHealth","jsonrpc":"2.0","id":0}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://solana-rpc.publicnode.com/
  response:
    body:
      string: '{"jsonrpc":"2.0","result":"ok","id":0}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"getBlock","jsonrpc":"2.0","id":0,"params":[0,{"encoding":"json","transactionDetails":null,"rewards":null,"maxSupportedTransactionVersion":null}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://solana-rpc.publicnode.com/
  response:
    body:
      string: '{"jsonrpc":"2.0","error":{"code":-32001,"message":"Block 0 cleaned
        up, does not exist on node. First available block: 405561379"},"id":0}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"getMultipleAccounts","jsonrpc":"2.0","id":0,"params":[["FkzRQKW8Mzip4xXHamibLZB28sjqN9ZLFacQdbuVEYxa","5DxRG8hTcBfeCL7pz7NVMZSeqrQAiDJ5pv5RR9pM84ey"],{"encoding":"base64","dataSlice":null,"commitment":"finalized","minContextSlot":null}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://solana-rpc.publicnode.com/
  response:
    body:
      string: '{"jsonrpc":"2.0","result":{"context":{"apiVersion":"3.1.10","slot":406157462},"value":[{"data":["","base64"],"executable":false,"lamports":564503502,"owner":"11111111111111111111111111111111","rentEpoch":18446744073709551615,"space":0},{"data":["","base64"],"executable":false,"lamports":10665754,"owner":"11111111111111111111111111111111","rentEpoch":18446744073709551615,"space":0}]},"id":0}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"getTokenAccountsByOwner","jsonrpc":"2.0","id":0,"params":["FkzRQKW8Mzip4xXHamibLZB28sjqN9ZLFacQdbuVEYxa",{"programId":"TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA"},{"encoding":"base64","dataSlice":null,"commitment":"finalized","minContextSlot":null}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://solana-rpc.publicnode.com/
  response:
    body:
      string: '{"jsonrpc":"2.0","result":{"context":{"apiVersion":"3.1.10","slot":406157463},"value":[{"account":{"data":["/NFB6YMsrxCtkXSVyg8nG1spPNRwJ+pzcAftQOs5oL3bSISAHm+j57n/W3JyTUrfcGtV+0aWDgQAedIP6p1hu1tHBxgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA","base64"],"executable":false,"lamports":2039280,"owner":"TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA","rentEpoch":18446744073709551615,"space":165},"pubkey":"SmjjdvFPCLcCnUzzRGKDW3ECMVyyXwQuLSmueCrAEX5"},{"account":{"data":["CR5z0XpVJtRI5Ymupa/nwizWHFtmqGpCerJiMJUU5VzbSISAHm+j57n/W3JyTUrfcGtV+0aWDgQAedIP6p1hu0cEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA","base64"],"executable":false,"lamports":2039280,"owner":"TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA","rentEpoch":18446744073709551615,"space":165},"pubkey":"HX4MpEqvLYVYoJJNKT31M49mcCiGMiFDMbQZ3iQBc4vP"},{"account":{"data":["BS7XHji0Y8oWKlgJF73nGuvgWDE6XcuuhpIFy+qp+63bSISAHm+j57n/W3JyTUrfcGtV+0aWDgQAedIP6p1hu1LfDgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA","base64"],"executable":false,"lamports":2039280,"owner":"TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA","rentEpoch":18446744073709551615,"space":165},"pubkey":"4frtd36KHAsP5PdeMTVXwHgczbgWKQrxgf1MuUz94muz"}]},"id":0}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.coingecko.com/api/v3/simple/price/?ids=coinbase-wrapped-btc%2Cmeteora&vs_currencies=eur
  response:
    body:
      string: '{"coinbase-wrapped-btc":{"eur":63577},"meteora":{"eur":0.149512}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      alternate-protocol:
      - 443:npn-spdy/2
      etag:
      - W/"8f878a5840f5f0bfca64795c51ea1d05"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://coins.llama.fi/prices/current/solana:J1toso1uCk3RLmjorhTtrVwY9HJ7X8V9yYac6Y7kGCPn,solana:2b1kV6DkPAnxd5ixfnxCpjxmKwqjjaYmCZfHsFu24GXo
  response:
    body:
      string: '{"coins":{"solana:2b1kV6DkPAnxd5ixfnxCpjxmKwqjjaYmCZfHsFu24GXo":{"decimals":6,"symbol":"pyusd","price":0.9998111901210156,"timestamp":1773413517,"confidence":0.99},"solana:J1toso1uCk3RLmjorhTtrVwY9HJ7X8V9yYac6Y7kGCPn":{"decimals":9,"symbol":"JITOSOL","price":116.73910797854057,"timestamp":1773413106,"confidence":0.99}}}'
    headers:
      Content-Type:
      - application/json
      apigw-requestid:
      - aKqqIiGgFiAEJoA=
      last-modified:
      - Fri, 13 Mar 2026 14:52:22 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.x-rates.com/table/?from=USD&amount=1
  response:
    body:
      string: "<!DOCTYPE html>\n<html>\n    <head>\n        <meta http-equiv=\"Content-Type\"
        content=\"text/html; charset=utf-8\"/>\n<meta name=\"format-detection\" content=\"telephone=no\"/>\n<meta
        name=\"description\" content=\"This currency rates table lets you compare
        an amount in US Dollar to all other currencies.\"/>\n<meta name=\"keywords\"
        content=\"USD EUR, currency exchange table, exchange rate table, convert,
        euro, american dollar, british pound, canadian dollar, australian dollar,
        x-rates\"/>\n<link rel=\"canonical\" href=\"http://www.x-rates.com/table/?from=USD&amount=1\"/>\n\t\t\t<script
        type='text/javascript'>\n\t\t\t\tvar e9AdSlots  = { \n\t\t\t\t  output_lb
        : {site:'ExchangeRates', adSpace:'Homepage', size:'728x90,468x60', noAd: '1'},\noutput_rs
        : {site:'ExchangeRates', adSpace:'Homepage', size:'300x250,300x600,160x600',
        noAd: '1'},\nros_ls : {site:'XEInternal', adSpace:'HRROS', size:'300x250',
        rsize: '238x230', noAd: '1', async: false},\nros_ms : {site:'XEInternal',
        adSpace:'HRROS', size:'468x60', rsize: '300x90', noAd: '1', async: false}\n\t\t\t\t};\t\t\t\n\t\t\t</script>\t\t<link
        rel='stylesheet' href='/themes/x-rates/t_css/output_resp.2e.css' type='text/css'
        /><script src='/themes/x-rates/t_js/output.1e.js' type='text/javascript'></script>
        \           <script>\n                if (!gdprIsCookieTagAllowed(\"tag_GoogleAnalytics\"))
        {\n                            window['ga-disable-UA-851277-2'] = true;\n
        \               }\n\n                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){\n
        \               (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),\n
        \               m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)\n
        \               })(window,document,'script','//www.google-analytics.com/analytics.js','ga');\n
        \               ga('create', 'UA-851277-2', 'auto');\n                ga('require',
        'displayfeatures');\n                ga('send', 'pageview');;\n                \n
        \           </script><script type=\"text/javascript\">\n    var converterToolExcludeArgs
        = {ratestable: ['to'],historicallookup: ['to']};\n</script>        <script
        async src=\"https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2110917264626924&ivt=false\"
        crossorigin=\"anonymous\"></script>\n        <script async src=\"https://securepubads.g.doubleclick.net/tag/js/gpt.js\"></script>\n
        \       <title>Currency Exchange Table (US Dollar - USD) - X-Rates</title>\n
        \       <!--[if IE]><script src=\"http://html5shiv.googlecode.com/svn/trunk/html5.js\"></script><![endif]-->\n
        \   </head>\n\n    <body>\n                <div id=\"skip\"><a href=\"#content\">Skip
        to Main Content</a></div>\n        <header>\n            \t<div class=\"navbar
        clearfix\">\t\n\t<div class=\"navbar-inner\">\t\t                \n\t\t<div
        class=\"wrapper clearfix\">\n\t\t\t<a href='https://www.x-rates.com/' class='brand'><img
        alt='xrates logo' src='/themes/x-rates/images/xrates_sm_tm.png' border='0'/></a>\n\t\t\t<div
        id=\"headerTri\"></div>  \n\t\t\t<!--[if !IE 8]><!-->\n\t\t\t\t<a class=\"navtoggle\"
        id=\"navtoggle\">\n\t\t\t\t\t<div class=\"nav-icon\"></div>\n\t\t\t\t</a>\t\t\t\n\t\t\t
        <!--<![endif]-->\n\t\t\t<nav class=\"nav-collapse\">\n\t\t\t\t<ul class='nav'><li><a
        href='https://www.x-rates.com/' rel='homepage'>Home</a></li>\n<li><a href='https://www.x-rates.com/calculator/'
        onclick=\"submitConverterArgs(this)\" rel='currencycalculator'>Currency Calculator</a></li>\n<li><a
        href='https://www.x-rates.com/graph/' onclick=\"submitConverterArgs(this)\"
        rel='currencygraph'>Graphs</a></li>\n<li><a href='https://www.x-rates.com/table/'
        onclick=\"submitConverterArgs(this)\" rel='ratestable'>Rates Table</a></li>\n<li><a
   [...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.coingecko.com/api/v3/simple/price/?ids=usd-coin&vs_currencies=eur
  response:
    body:
      string: '{"usd-coin":{"eur":0.872241}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      alternate-protocol:
      - 443:npn-spdy/2
      etag:
      - W/"f32c71bb04acc8ef863754b8ed04e6fd"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://coins.llama.fi/prices/current/solana:9BEcn9aPEmhSPbPQeFGjidRiEKki46fVQDyPpSQXPA2D
  response:
    body:
      string: '{"coins":{"solana:9BEcn9aPEmhSPbPQeFGjidRiEKki46fVQDyPpSQXPA2D":{"decimals":6,"price":1.0360945310735503,"symbol":"jlUSDC","timestamp":1773412946,"confidence":0.9}}}'
    headers:
      Content-Type:
      - application/json
      apigw-requestid:
      - aKqqXhMRliAEM1g=
      last-modified:
      - Fri, 13 Mar 2026 14:52:24 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.x-rates.com/historical/?from=EUR&amount=1&date=2026-01-01
  response:
    body:
      string: "<!DOCTYPE html>\n<html>\n    <head>\n        <meta http-equiv=\"Content-Type\"
        content=\"text/html; charset=utf-8\"/>\n<meta name=\"format-detection\" content=\"telephone=no\"/>\n<meta
        name=\"description\" content=\"Get historic exchange rates for past Euro foreign
        expenses. Select your currencies and th[...]
