interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.coingecko.com/api/v3/simple/price/?ids=solana&vs_currencies=eur
  response:
    body:
      string: '{"solana":{"eur":108.81}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      alternate-protocol:
      - 443:npn-spdy/2
      etag:
      - W/"3e0e1d08c5aef0ff0c002ac60c09ae31"
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"getHealth","jsonrpc":"2.0","id":0}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.mainnet-beta.solana.com
  response:
    body:
      string: '{"jsonrpc":"2.0","result":"ok","id":0}

        '
    headers:
      allow:
      - OPTIONS, POST, GET
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-conn-limit:
      - '40'
      x-ratelimit-conn-remaining:
      - '39'
      x-ratelimit-connrate-limit:
      - '40'
      x-ratelimit-connrate-remaining:
      - '39'
      x-ratelimit-endpoint-limit:
      - unlimited
      x-ratelimit-endpoint-remaining:
      - '-983'
      x-ratelimit-method-limit:
      - '40'
      x-ratelimit-method-remaining:
      - '39'
      x-ratelimit-pubsub-limit:
      - '5'
      x-ratelimit-pubsub-remaining:
      - '5'
      x-ratelimit-rps-limit:
      - '100'
      x-ratelimit-rps-remaining:
      - '99'
      x-ratelimit-tier:
      - free
      x-rpc-node:
      - ash2
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"getMultipleAccounts","jsonrpc":"2.0","id":0,"params":[["8comvKwUxq6x2KV6bqZeU695a1d4R2UFuVJZxH2raTYf","9oAgKbKmrQ6t1MSn5mNgYwhogeXkAqtzAuFdtBtwf7xr","Bt26YqVLJJ233frMxvvo9uL1mPu7YdBFgFPe6Rwh3AqB"],{"encoding":"base64","dataSlice":null,"commitment":"finalized","minContextSlot":null}]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.mainnet-beta.solana.com
  response:
    body:
      string: '{"jsonrpc":"2.0","result":{"context":{"apiVersion":"3.0.13","slot":395213809},"value":[{"data":["","base64"],"executable":false,"lamports":42425382,"owner":"11111111111111111111111111111111","rentEpoch":18446744073709551615,"space":0},{"data":["","base64"],"executable":false,"lamports":9719827,"owner":"11111111111111111111111111111111","rentEpoch":18446744073709551615,"space":0},{"data":["","base64"],"executable":false,"lamports":447723228,"owner":"11111111111111111111111111111111","rentEpoch":18446744073709551615,"space":0}]},"id":0}

        '
    headers:
      allow:
      - OPTIONS, POST, GET
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-conn-limit:
      - '40'
      x-ratelimit-conn-remaining:
      - '39'
      x-ratelimit-connrate-limit:
      - '40'
      x-ratelimit-connrate-remaining:
      - '39'
      x-ratelimit-endpoint-limit:
      - unlimited
      x-ratelimit-endpoint-remaining:
      - '-983'
      x-ratelimit-method-limit:
      - '30'
      x-ratelimit-method-remaining:
      - '29'
      x-ratelimit-pubsub-limit:
      - '5'
      x-ratelimit-pubsub-remaining:
      - '5'
      x-ratelimit-rps-limit:
      - '100'
      x-ratelimit-rps-remaining:
      - '98'
      x-ratelimit-tier:
      - free
      x-rpc-node:
      - ash2
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"getTokenAccountsByOwner","jsonrpc":"2.0","id":0,"params":["8comvKwUxq6x2KV6bqZeU695a1d4R2UFuVJZxH2raTYf",{"programId":"TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA"},{"encoding":"base64","dataSlice":null,"commitment":"finalized","minContextSlot":null}]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.mainnet-beta.solana.com
  response:
    body:
      string: '{"jsonrpc":"2.0","result":{"context":{"apiVersion":"3.0.14","slot":395213811},"value":[{"account":{"data":["B4OdIjRIfm6Sybwc5EezcxtYZiKhVWQn8S9lkrF7g2FxLgZdsOfylBnkG/sRrih5nTyDiHzwigTkCis05oVBLAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA","base64"],"executable":false,"lamports":2039280,"owner":"TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA","rentEpoch":18446744073709551615,"space":165},"pubkey":"8tFVoMLAC3d8FtAZYvNF21imywWUCEJuSJgA5fW9H8UF"},{"account":{"data":["Can636hqRguynseUnWH7HVw3PiKDhfL8f9v54tj2x3ZxLgZdsOfylBnkG/sRrih5nTyDiHzwigTkCis05oVBLACaMSkKWgEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA","base64"],"executable":false,"lamports":2039280,"owner":"TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA","rentEpoch":18446744073709551615,"space":165},"pubkey":"ERFcspnv9Faa2mKRArvaoxGwZFaMBdTJi3prG9dVToGa"},{"ac[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://coins.llama.fi/prices/current/solana:ej12TDowxyD1WarS1ZPby1PMtgUNJC4hJY6F1s29YVs,solana:4zBLXbL4u9RyF6p2yUV1emf7VY7Wv3uzJtdY2R1fLbgd,solana:FkkxoQ8aLFcBa55PwRpmc3UdymeuzaeX9kF4wwJp2411,solana:3CrVKHkxPsjzYRtpDY6LThW6G8U6C6JBVvUvMR5BR6pD
  response:
    body:
      string: '{"coins":{}}'
    headers:
      Content-Type:
      - application/json
      apigw-requestid:
      - Xl9DUigLFiAEPmg=
      last-modified:
      - Thu, 22 Jan 2026 15:28:20 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.x-rates.com/table/?from=USD&amount=1
  response:
    body:
      string: "<!DOCTYPE html>\n<html>\n    <head>\n        <meta http-equiv=\"Content-Type\"
        content=\"text/html; charset=utf-8\"/>\n<meta name=\"format-detection\" content=\"telephone=no\"/>\n<meta
        name=\"description\" content=\"This currency rates table lets you compare
        an amount in US Dollar to all other currencies.\"/>\n<meta name=\"keywords\"
        content=\"USD EUR, currency exchange table, exchange rate table, convert,
        euro, american dollar, british pound, canadian dollar, australian dollar,
        x-rates\"/>\n<link rel=\"canonical\" href=\"https://www.x-rates.com/table/?from=USD&amount=1\"/>\n\t\t\t<script
        type='text/javascript'>\n\t\t\t\tvar e9AdSlots  = { \n\t\t\t\t  output_lb
        : {site:'ExchangeRates', adSpace:'Homepage', size:'728x90,468x60', noAd: '1'},\noutput_rs
        : {site:'ExchangeRates', adSpace:'Homepage', size:'300x250,300x600,160x600',
        noAd: '1'},\nros_ls : {site:'XEInternal', adSpace:'HRROS', size:'300x250',
        rsize: '238x230', noAd: '1', async: false},\nros_ms : {site:'XEInternal',
        adSpace:'HRROS', size:'468x60', rsize: '300x90', noAd: '1', async: false}\n\t\t\t\t};\t\t\t\n\t\t\t</script>\t\t<link
        rel='stylesheet' href='/themes/x-rates/t_css/output_resp.2e.css' type='text/css'
        /><script src='/themes/x-rates/t_js/output.1e.js' type='text/javascript'></script>
        \           <script>\n                if (!gdprIsCookieTagAllowed(\"tag_GoogleAnalytics\"))
        {\n                            window['ga-disable-UA-851277-2'] = true;\n
        \               }\n\n                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){\n
        \               (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),\n
        \               m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)\n
        \               })(window,document,'script','//www.google-analytics.com/analytics.js','ga');\n
        \               ga('create', 'UA-851277-2', 'auto');\n                ga('require',
        'displayfeatures');\n                ga('send', 'pageview');;\n                \n
        \           </script><script type=\"text/javascript\">\n    var converterToolExcludeArgs
        = {ratestable: ['to'],historicallookup: ['to']};\n</script>        <script
        async src=\"https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2110917264626924&ivt=false\"
        crossorigin=\"anonymous\"></script>\n        <script async src=\"https://securepubads.g.doubleclick.net/tag/js/gpt.js\"></script>\n
        \       <title>Currency Exchange Table (US Dollar - USD) - X-Rates</title>\n
        \       <!--[if IE]><script src=\"http://html5shiv.googlecode.com/svn/trunk/html5.js\"></script><![endif]-->\n
        \   </head>\n\n    <body>\n                <div id=\"skip\"><a href=\"#content\">Skip
        to Main Content</a></div>\n        <header>\n            \t<div class=\"navbar
        clearfix\">\t\n\t<div class=\"navbar-inner\">\t\t                \n\t\t<div
        class=\"wrapper clearfix\">\n\t\t\t<a href='https://www.x-rates.com/' class='brand'><img
        alt='xrates logo' src='/themes/x-rates/images/xrates_sm_tm.png' border='0'/></a>\n\t\t\t<div
        id=\"headerTri\"></div>  \n\t\t\t<!--[if !IE 8]><!-->\n\t\t\t\t<a class=\"navtoggle\"
        id=\"navtoggle\">\n\t\t\t\t\t<div class=\"nav-icon\"></div>\n\t\t\t\t</a>\t\t\t\n\t\t\t
        <!--<![endif]-->\n\t\t\t<nav class=\"nav-collapse\">\n\t\t\t\t<ul class='nav'><li><a
        href='https://www.x-rates.com/' rel='homepage'>Home</a></li>\n<li><a href='https://www.x-rates.com/calculator/'
        onclick=\"submitConverterArgs(this)\" rel='currencycalculator'>Currency Calculator</a></li>\n<li><a
        href='https://www.x-rates.com/graph/' onclick=\"submitConverterArgs(this)\"
        rel='currencygraph'>Graphs</a></li>\n<li class='selected'><a href='https://www.x-rates.com/table/'
        onclick=\"submitConverterArgs(this)\" rel='ratestable'>Rates Table</a>[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.coingecko.com/api/v3/simple/price/?ids=griffain-new-hedge-fund%2Cpudgy-penguins&vs_currencies=eur
  response:
    body:
      string: '{"griffain-new-hedge-fund":{"eur":7.682e-05},"pudgy-penguins":{"eur":0.00832576}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      alternate-protocol:
      - 443:npn-spdy/2
      etag:
      - W/"c13e9dc601c1657ba2b10618310a6a32"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://coins.llama.fi/prices/current/solana:FeNYHjGXijAKN8kYiKKJtSRG9U9jDokAxL8B7kP1RD9J,solana:5aYpWBtJpdiNFMcitxsysdFuxfMK8nRMePvVfkZYbonk
  response:
    body:
      string: '{"coins":{"solana:5aYpWBtJpdiNFMcitxsysdFuxfMK8nRMePvVfkZYbonk":{"decimals":6,"symbol":"MEMEROT","price":0.00006566480641112941,"timestamp":1769086328,"confidence":0.99}}}'
    headers:
      Content-Type:
      - application/json
      apigw-requestid:
      - Xl9HAjo7FiAEJng=
      last-modified:
      - Thu, 22 Jan 2026 15:28:44 GMT
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://coins.llama.fi/prices/current/solana:Es9vMFrzaCERmJfrF4H2FYD4KCoNkY11McCe8BenwNYB,solana:EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v
  response:
    body:
      string: '{"coins":{"solana:EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v":{"decimals":6,"symbol":"usdc","price":0.9997050026574109,"timestamp":1769095743,"confidence":0.99},"solana:Es9vMFrzaCERmJfrF4H2FYD4KCoNkY11McCe8BenwNYB":{"decimals":6,"symbol":"usdt","price":0.9990752725650243,"timestamp":1769095742,"confidence":0.99}}}'
    headers:
      Content-Type:
      - application/json
      apigw-requestid:
      - Xl9KmgFGFiAEJhQ=
      last-modified:
      - Thu, 22 Jan 2026 15:29:07 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.x-rates.com/historical/?from=EUR&amount=1&date=2026-01-01
  response:
    body:
      string: "<!DOCTYPE html>\n<html>\n    <head>\n        <meta http-equiv=\"Content-Type\"
        content=\"text/html; charset=utf-8\"/>\n<meta name=\"format-detection\" content=\"telephone=no\"/>\n<meta
        name=\"description\" content=\"Get historic exchange rates for past Euro foreign
        expenses. Select your currencies and th[...]
