interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.coingecko.com/api/v3/simple/price/?ids=solana&vs_currencies=usd
  response:
    body:
      string: '{"solana":{"usd":197.46}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      alternate-protocol:
      - 443:npn-spdy/2
      etag:
      - W/"ae367f294fa493aefeac7b3c4cb05fea"
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"getHealth","jsonrpc":"2.0","id":0}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.mainnet-beta.solana.com
  response:
    body:
      string: '{"jsonrpc":"2.0","result":"ok","id":0}

        '
    headers:
      allow:
      - OPTIONS, POST, GET
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-conn-limit:
      - '40'
      x-ratelimit-conn-remaining:
      - '39'
      x-ratelimit-connrate-limit:
      - '40'
      x-ratelimit-connrate-remaining:
      - '39'
      x-ratelimit-endpoint-limit:
      - unlimited
      x-ratelimit-endpoint-remaining:
      - '-1743'
      x-ratelimit-method-limit:
      - '40'
      x-ratelimit-method-remaining:
      - '39'
      x-ratelimit-pubsub-limit:
      - '5'
      x-ratelimit-pubsub-remaining:
      - '5'
      x-ratelimit-rps-limit:
      - '100'
      x-ratelimit-rps-remaining:
      - '99'
      x-ratelimit-tier:
      - free
      x-rpc-node:
      - dal17
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"getMultipleAccounts","jsonrpc":"2.0","id":0,"params":[["8comvKwUxq6x2KV6bqZeU695a1d4R2UFuVJZxH2raTYf","9oAgKbKmrQ6t1MSn5mNgYwhogeXkAqtzAuFdtBtwf7xr","Bt26YqVLJJ233frMxvvo9uL1mPu7YdBFgFPe6Rwh3AqB"],{"encoding":"base64","dataSlice":null,"commitment":"finalized","minContextSlot":null}]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.mainnet-beta.solana.com
  response:
    body:
      string: '{"jsonrpc":"2.0","result":{"context":{"apiVersion":"3.0.6","slot":373752733},"value":[{"data":["","base64"],"executable":false,"lamports":44471050,"owner":"11111111111111111111111111111111","rentEpoch":18446744073709551615,"space":0},{"data":["","base64"],"executable":false,"lamports":9719824,"owner":"11111111111111111111111111111111","rentEpoch":18446744073709551615,"space":0},{"data":["","base64"],"executable":false,"lamports":447723228,"owner":"11111111111111111111111111111111","rentEpoch":18446744073709551615,"space":0}]},"id":0}

        '
    headers:
      allow:
      - OPTIONS, POST, GET
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-conn-limit:
      - '40'
      x-ratelimit-conn-remaining:
      - '39'
      x-ratelimit-connrate-limit:
      - '40'
      x-ratelimit-connrate-remaining:
      - '39'
      x-ratelimit-endpoint-limit:
      - unlimited
      x-ratelimit-endpoint-remaining:
      - '-1730'
      x-ratelimit-method-limit:
      - '30'
      x-ratelimit-method-remaining:
      - '29'
      x-ratelimit-pubsub-limit:
      - '5'
      x-ratelimit-pubsub-remaining:
      - '5'
      x-ratelimit-rps-limit:
      - '100'
      x-ratelimit-rps-remaining:
      - '98'
      x-ratelimit-tier:
      - free
      x-rpc-node:
      - dal17
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"getTokenAccountsByOwner","jsonrpc":"2.0","id":0,"params":["8comvKwUxq6x2KV6bqZeU695a1d4R2UFuVJZxH2raTYf",{"programId":"TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA"},{"encoding":"base64","dataSlice":null,"commitment":"finalized","minContextSlot":null}]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.mainnet-beta.solana.com
  response:
    body:
      string: '{"jsonrpc":"2.0","result":{"context":{"apiVersion":"3.0.6","slot":373752734},"value":[{"account":{"data":["2zlMwZFWUdhkd0YQYzmpTlXa2NZ2Q4WTGrnyfSa0mqRxLgZdsOfylBnkG/sRrih5nTyDiHzwigTkCis05oVBLAD2cB4WAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA","base64"],"executable":false,"lamports":2039280,"owner":"TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA","rentEpoch":18446744073709551615,"space":165},"pubkey":"A4RNjSm3m3ozXYZ12bA2Lp8XwmaGVZV5GcZGitnMYK3c"},{"account":{"data":["Can636hqRguynseUnWH7HVw3PiKDhfL8f9v54tj2x3ZxLgZdsOfylBnkG/sRrih5nTyDiHzwigTkCis05oVBLACaMSkKWgEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA","base64"],"executable":false,"lamports":2039280,"owner":"TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA","rentEpoch":18446744073709551615,"space":165},"pubkey":"ERFcspnv9Faa2mKRArvaoxGwZFaMBdTJi3prG9dVToGa"},{"ac[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://coins.llama.fi/prices/current/solana:FkkxoQ8aLFcBa55PwRpmc3UdymeuzaeX9kF4wwJp2411,solana:ej12TDowxyD1WarS1ZPby1PMtgUNJC4hJY6F1s29YVs,solana:WLFinEv6ypjkczcS83FZqFpgFZYwQXutRbxGe7oC16g,solana:3CrVKHkxPsjzYRtpDY6LThW6G8U6C6JBVvUvMR5BR6pD,solana:4zBLXbL4u9RyF6p2yUV1emf7VY7Wv3uzJtdY2R1fLbgd
  response:
    body:
      string: '{"coins":{"solana:WLFinEv6ypjkczcS83FZqFpgFZYwQXutRbxGe7oC16g":{"decimals":6,"symbol":"WLFI","price":0.14213811638754323,"timestamp":1760619243,"confidence":0.99}}}'
    headers:
      Content-Type:
      - application/json
      apigw-requestid:
      - SimtXiQxFiAEMvw=
      last-modified:
      - Thu, 16 Oct 2025 12:54:58 GMT
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.coingecko.com/api/v3/simple/price/?ids=griffain-new-hedge-fund%2Cpudgy-penguins&vs_currencies=usd
  response:
    body:
      string: '{"griffain-new-hedge-fund":{"usd":0.00026831},"pudgy-penguins":{"usd":0.02370891}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      alternate-protocol:
      - 443:npn-spdy/2
      etag:
      - W/"0b695a539158eac3606be004ee98d4cc"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://coins.llama.fi/prices/current/solana:5aYpWBtJpdiNFMcitxsysdFuxfMK8nRMePvVfkZYbonk,solana:FeNYHjGXijAKN8kYiKKJtSRG9U9jDokAxL8B7kP1RD9J
  response:
    body:
      string: '{"coins":{"solana:5aYpWBtJpdiNFMcitxsysdFuxfMK8nRMePvVfkZYbonk":{"decimals":6,"symbol":"MEMEROT","price":0.00017833840995233263,"timestamp":1760604905,"confidence":0.99}}}'
    headers:
      Content-Type:
      - application/json
      apigw-requestid:
      - SimvsjY5liAEPpw=
      last-modified:
      - Thu, 16 Oct 2025 12:55:12 GMT
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://coins.llama.fi/prices/current/solana:EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v,solana:Es9vMFrzaCERmJfrF4H2FYD4KCoNkY11McCe8BenwNYB
  response:
    body:
      string: '{"coins":{"solana:Es9vMFrzaCERmJfrF4H2FYD4KCoNkY11McCe8BenwNYB":{"decimals":6,"symbol":"usdt","price":1.0006247800732742,"timestamp":1760619304,"confidence":0.99},"solana:EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v":{"decimals":6,"symbol":"usdc","price":0.9998023474927406,"timestamp":1760619294,"confidence":0.99}}}'
    headers:
      Content-Type:
      - application/json
      apigw-requestid:
      - Simx4ibIFiAEMnw=
      last-modified:
      - Thu, 16 Oct 2025 12:55:26 GMT
    status:
      code: 200
      message: OK
version: 1
