interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.coingecko.com/api/v3/simple/price/?ids=solana&vs_currencies=usd
  response:
    body:
      string: '{"solana":{"usd":190.57}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      alternate-protocol:
      - 443:npn-spdy/2
      etag:
      - W/"5830949b2ae188e10f86ddb388294c2b"
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"getHealth","jsonrpc":"2.0","id":0}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.mainnet-beta.solana.com
  response:
    body:
      string: '{"jsonrpc":"2.0","result":"ok","id":0}

        '
    headers:
      allow:
      - OPTIONS, POST, GET
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-conn-limit:
      - '40'
      x-ratelimit-conn-remaining:
      - '39'
      x-ratelimit-connrate-limit:
      - '40'
      x-ratelimit-connrate-remaining:
      - '39'
      x-ratelimit-endpoint-limit:
      - unlimited
      x-ratelimit-endpoint-remaining:
      - '-1050'
      x-ratelimit-method-limit:
      - '40'
      x-ratelimit-method-remaining:
      - '39'
      x-ratelimit-pubsub-limit:
      - '5'
      x-ratelimit-pubsub-remaining:
      - '5'
      x-ratelimit-rps-limit:
      - '100'
      x-ratelimit-rps-remaining:
      - '99'
      x-ratelimit-tier:
      - free
      x-rpc-node:
      - fra130
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"getMultipleAccounts","jsonrpc":"2.0","id":0,"params":[["8comvKwUxq6x2KV6bqZeU695a1d4R2UFuVJZxH2raTYf","9oAgKbKmrQ6t1MSn5mNgYwhogeXkAqtzAuFdtBtwf7xr","Bt26YqVLJJ233frMxvvo9uL1mPu7YdBFgFPe6Rwh3AqB"],{"encoding":"base64","dataSlice":null,"commitment":"finalized","minContextSlot":null}]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.mainnet-beta.solana.com
  response:
    body:
      string: '{"jsonrpc":"2.0","result":{"context":{"apiVersion":"3.0.6","slot":375293051},"value":[{"data":["","base64"],"executable":false,"lamports":44471050,"owner":"11111111111111111111111111111111","rentEpoch":18446744073709551615,"space":0},{"data":["","base64"],"executable":false,"lamports":9719824,"owner":"11111111111111111111111111111111","rentEpoch":18446744073709551615,"space":0},{"data":["","base64"],"executable":false,"lamports":447723228,"owner":"11111111111111111111111111111111","rentEpoch":18446744073709551615,"space":0}]},"id":0}

        '
    headers:
      allow:
      - OPTIONS, POST, GET
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-conn-limit:
      - '40'
      x-ratelimit-conn-remaining:
      - '39'
      x-ratelimit-connrate-limit:
      - '40'
      x-ratelimit-connrate-remaining:
      - '39'
      x-ratelimit-endpoint-limit:
      - unlimited
      x-ratelimit-endpoint-remaining:
      - '-1059'
      x-ratelimit-method-limit:
      - '30'
      x-ratelimit-method-remaining:
      - '29'
      x-ratelimit-pubsub-limit:
      - '5'
      x-ratelimit-pubsub-remaining:
      - '5'
      x-ratelimit-rps-limit:
      - '100'
      x-ratelimit-rps-remaining:
      - '98'
      x-ratelimit-tier:
      - free
      x-rpc-node:
      - fra130
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"getTokenAccountsByOwner","jsonrpc":"2.0","id":0,"params":["8comvKwUxq6x2KV6bqZeU695a1d4R2UFuVJZxH2raTYf",{"programId":"TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA"},{"encoding":"base64","dataSlice":null,"commitment":"finalized","minContextSlot":null}]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.mainnet-beta.solana.com
  response:
    body:
      string: '{"jsonrpc":"2.0","result":{"context":{"apiVersion":"3.0.6","slot":375293052},"value":[{"account":{"data":["xvp6877brTo9ZfNqq8l0MbG75MLS9uDkfKYCA0UvXWFxLgZdsOfylBnkG/sRrih5nTyDiHzwigTkCis05oVBLAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA","base64"],"executable":false,"lamports":2039280,"owner":"TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA","rentEpoch":18446744073709551615,"space":165},"pubkey":"5AnsjSESEs5uvr9o6t8zsnT4cyUU25TfvsqvTfWTU8EV"},{"account":{"data":["B4OdIjRIfm6Sybwc5EezcxtYZiKhVWQn8S9lkrF7g2FxLgZdsOfylBnkG/sRrih5nTyDiHzwigTkCis05oVBLDAovk8XAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA","base64"],"executable":false,"lamports":2039280,"owner":"TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA","rentEpoch":18446744073709551615,"space":165},"pubkey":"8tFVoMLAC3d8FtAZYvNF21imywWUCEJuSJgA5fW9H8UF"},{"ac[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.coingecko.com/api/v3/simple/price/?ids=world-liberty-financial&vs_currencies=usd
  response:
    body:
      string: '{"world-liberty-financial":{"usd":0.126611}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      alternate-protocol:
      - 443:npn-spdy/2
      etag:
      - W/"99e597b37249e3ad9a609bb8de1f6b6d"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://coins.llama.fi/prices/current/solana:ej12TDowxyD1WarS1ZPby1PMtgUNJC4hJY6F1s29YVs,solana:4zBLXbL4u9RyF6p2yUV1emf7VY7Wv3uzJtdY2R1fLbgd,solana:FkkxoQ8aLFcBa55PwRpmc3UdymeuzaeX9kF4wwJp2411,solana:3CrVKHkxPsjzYRtpDY6LThW6G8U6C6JBVvUvMR5BR6pD
  response:
    body:
      string: '{"coins":{}}'
    headers:
      Content-Type:
      - application/json
      apigw-requestid:
      - S5_aNjBoFiAEJIQ=
      last-modified:
      - Thu, 23 Oct 2025 15:12:26 GMT
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.coingecko.com/api/v3/simple/price/?ids=pudgy-penguins%2Cgriffain-new-hedge-fund&vs_currencies=usd
  response:
    body:
      string: '{"griffain-new-hedge-fund":{"usd":0.00021786},"pudgy-penguins":{"usd":0.02040267}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      alternate-protocol:
      - 443:npn-spdy/2
      etag:
      - W/"034b8ba61c98d4b3a171555d5987f26a"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://coins.llama.fi/prices/current/solana:FeNYHjGXijAKN8kYiKKJtSRG9U9jDokAxL8B7kP1RD9J,solana:5aYpWBtJpdiNFMcitxsysdFuxfMK8nRMePvVfkZYbonk
  response:
    body:
      string: '{"coins":{"solana:5aYpWBtJpdiNFMcitxsysdFuxfMK8nRMePvVfkZYbonk":{"decimals":6,"symbol":"MEMEROT","price":0.00013282255518264936,"timestamp":1761224333,"confidence":0.99}}}'
    headers:
      Content-Type:
      - application/json
      apigw-requestid:
      - S5_EKhcQliAEP9Q=
      last-modified:
      - Thu, 23 Oct 2025 15:10:05 GMT
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://coins.llama.fi/prices/current/solana:EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v,solana:Es9vMFrzaCERmJfrF4H2FYD4KCoNkY11McCe8BenwNYB
  response:
    body:
      string: '{"coins":{"solana:EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v":{"decimals":6,"symbol":"usdc","price":0.9999110921883934,"timestamp":1761232138,"confidence":0.99},"solana:Es9vMFrzaCERmJfrF4H2FYD4KCoNkY11McCe8BenwNYB":{"decimals":6,"symbol":"usdt","price":1.0004790469168083,"timestamp":1761232148,"confidence":0.99}}}'
    headers:
      Content-Type:
      - application/json
      apigw-requestid:
      - S5_EeikaFiAEJJQ=
      last-modified:
      - Thu, 23 Oct 2025 15:10:07 GMT
    status:
      code: 200
      message: OK
version: 1
