interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.coingecko.com/api/v3/simple/price/?ids=solana&vs_currencies=eur
  response:
    body:
      string: '{"solana":{"eur":71.62}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      alternate-protocol:
      - 443:npn-spdy/2
      etag:
      - W/"4c5762562bc28a22cfa9085626f76745"
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"getHealth","jsonrpc":"2.0","id":0}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.mainnet-beta.solana.com/
  response:
    body:
      string: '{"jsonrpc":"2.0","result":"ok","id":0}

        '
    headers:
      allow:
      - OPTIONS, POST, GET
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-conn-limit:
      - '40'
      x-ratelimit-conn-remaining:
      - '39'
      x-ratelimit-connrate-limit:
      - '40'
      x-ratelimit-connrate-remaining:
      - '39'
      x-ratelimit-endpoint-limit:
      - unlimited
      x-ratelimit-endpoint-remaining:
      - '-2021'
      x-ratelimit-method-limit:
      - '40'
      x-ratelimit-method-remaining:
      - '39'
      x-ratelimit-pubsub-limit:
      - '5'
      x-ratelimit-pubsub-remaining:
      - '5'
      x-ratelimit-rps-limit:
      - '100'
      x-ratelimit-rps-remaining:
      - '99'
      x-ratelimit-tier:
      - free
      x-rpc-node:
      - fra102
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"getMultipleAccounts","jsonrpc":"2.0","id":0,"params":[["Ho2Tst4ReVypbqBscy2zUeFyrrwvjtQeEbhoE7P1MHna"],{"encoding":"base64","dataSlice":null,"commitment":"finalized","minContextSlot":null}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.mainnet-beta.solana.com/
  response:
    body:
      string: '{"jsonrpc":"2.0","result":{"context":{"apiVersion":"3.1.11","slot":410170757},"value":[{"data":["","base64"],"executable":false,"lamports":299731520,"owner":"11111111111111111111111111111111","rentEpoch":18446744073709551615,"space":0}]},"id":0}

        '
    headers:
      allow:
      - OPTIONS, POST, GET
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-conn-limit:
      - '40'
      x-ratelimit-conn-remaining:
      - '39'
      x-ratelimit-connrate-limit:
      - '40'
      x-ratelimit-connrate-remaining:
      - '39'
      x-ratelimit-endpoint-limit:
      - unlimited
      x-ratelimit-endpoint-remaining:
      - '-2018'
      x-ratelimit-method-limit:
      - '30'
      x-ratelimit-method-remaining:
      - '29'
      x-ratelimit-pubsub-limit:
      - '5'
      x-ratelimit-pubsub-remaining:
      - '5'
      x-ratelimit-rps-limit:
      - '100'
      x-ratelimit-rps-remaining:
      - '98'
      x-ratelimit-tier:
      - free
      x-rpc-node:
      - fra102
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"getTokenAccountsByOwner","jsonrpc":"2.0","id":0,"params":["Ho2Tst4ReVypbqBscy2zUeFyrrwvjtQeEbhoE7P1MHna",{"programId":"TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA"},{"encoding":"base64","dataSlice":null,"commitment":"finalized","minContextSlot":null}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.mainnet-beta.solana.com/
  response:
    body:
      string: '{"jsonrpc":"2.0","result":{"context":{"apiVersion":"3.1.11","slot":410170757},"value":[]},"id":0}

        '
    headers:
      allow:
      - OPTIONS, POST, GET
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-conn-limit:
      - '40'
      x-ratelimit-conn-remaining:
      - '39'
      x-ratelimit-connrate-limit:
      - '40'
      x-ratelimit-connrate-remaining:
      - '39'
      x-ratelimit-endpoint-limit:
      - unlimited
      x-ratelimit-endpoint-remaining:
      - '-2019'
      x-ratelimit-method-limit:
      - '2'
      x-ratelimit-method-remaining:
      - '1'
      x-ratelimit-pubsub-limit:
      - '5'
      x-ratelimit-pubsub-remaining:
      - '5'
      x-ratelimit-rps-limit:
      - '100'
      x-ratelimit-rps-remaining:
      - '97'
      x-ratelimit-tier:
      - free
      x-rpc-node:
      - fra102
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"method":"getProgramAccounts","jsonrpc":"2.0","id":0,"params":["Stake11111111111111111111111111111111111111",{"filters":[{"memcmp":{"offset":44,"encoding":"base58","bytes":"Ho2Tst4ReVypbqBscy2zUeFyrrwvjtQeEbhoE7P1MHna"}}],"encoding":"base64","dataSlice":null,"commitment":"finalized","minContextSlot":null,"withContext":null,"sortResults":null}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.mainnet-beta.solana.com/
  response:
    body:
      string: '{"jsonrpc":"2.0","result":[{"account":{"data":["AgAAAIDVIgAAAAAA+YVc2qvm4SDHnBTcZ2Dmnlv8/SbncpBPRs6FXglEz3P5hVzaq+bhIMecFNxnYOaeW/z9JudykE9GzoVeCUTPcwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAppFR2mjN2ZGBp/27LD21Jzy6r85A0mkCgxCOO2YRVRFt/ppdoEAAB5AwAAAAAAAP//////////AAAAAAAA0D83BFhnAAAAAAAAAAA=","base64"],"executable":false,"lamports":5339085328049,"owner":"Stake11111111111111111111111111111111111111","rentEpoch":18446744073709551615,"space":200},"pubkey":"6sNdYZfT9nGQzchVgzwsXpsSRc8TXMC1bWatQBj9zPVv"}],"id":0}

        '
    headers:
      allow:
      - OPTIONS, POST, GET
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-conn-limit:
      - '40'
      x-ratelimit-conn-remaining:
      - '39'
      x-ratelimit-connrate-limit:
      - '40'
      x-ratelimit-connrate-remaining:
      - '39'
      x-ratelimit-endpoint-limit:
      - unlimited
      x-ratelimit-endpoint-remaining:
      - '-2038'
      x-ratelimit-method-limit:
      - '2'
      x-ratelimit-method-remaining:
      - '1'
      x-ratelimit-pubsub-limit:
      - '5'
      x-ratelimit-pubsub-remaining:
      - '5'
      x-ratelimit-rps-limit:
      - '100'
      x-ratelimit-rps-remaining:
      - '95'
      x-ratelimit-tier:
      - free
      x-rpc-node:
      - fra102
    status:
      code: 200
      message: OK
version: 1
