interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.etherscan.io/api?action=eth_call&data=0x99530b06&module=proxy&to=0xccd37EB6374Ae5b1f0b85ac97eFf14770e0D0063
  response:
    body:
      string: '{"jsonrpc":"2.0","id":1,"result":"0x0000000000000000000000000000000000000000000000000003a94221020cf4"}

        '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      svid:
      - '15'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.coingecko.com/api/v3/simple/price/?ids=crvusd&vs_currencies=usd
  response:
    body:
      string: '{"crvusd":{"usd":0.997006}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      alternate-protocol:
      - 443:npn-spdy/2
      etag:
      - W/"a15c8efda57b34d42f1f8d6785e0c482"
    status:
      code: 200
      message: OK
version: 1
