interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.coingecko.com/api/v3/simple/price/?ids=bitcoin%2Cbinancecoin%2Cavalanche-2&vs_currencies=eth
  response:
    body:
      string: '{"avalanche-2":{"eth":0.01060398},"binancecoin":{"eth":0.20951247},"bitcoin":{"eth":32.429599}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      alternate-protocol:
      - 443:npn-spdy/2
      etag:
      - W/"1a2a38256886dc6846db7bc8c462e112"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://coins.llama.fi/prices/current/coingecko:ethereum-classic
  response:
    body:
      string: '{"coins":{"coingecko:ethereum-classic":{"price":26.34,"symbol":"ETC","timestamp":1738271701,"confidence":0.99}}}'
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Thu, 30 Jan 2025 21:23:11 GMT
      apigw-requestid:
      - FOIV6h1sliAEMkA=
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://min-api.cryptocompare.com/data/price?fsym=USD&tsyms=USDT
  response:
    body:
      string: '{"USDT":0.9999}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-CryptoCompare-Cache-HIT:
      - 'false'
      X-CryptoCompare-Server-Id:
      - cc-api-min-v2-34
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://coins.llama.fi/prices/current/ethereum:0x7Fc66500c84A76Ad7e9c93437bFc5Ac33E2DDaE9
  response:
    body:
      string: '{"coins":{"ethereum:0x7Fc66500c84A76Ad7e9c93437bFc5Ac33E2DDaE9":{"decimals":18,"symbol":"AAVE","price":315.57,"timestamp":1738272119,"confidence":0.99}}}'
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Thu, 30 Jan 2025 21:23:11 GMT
      apigw-requestid:
      - FOIUogPlFiAEPwg=
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.coingecko.com/api/v3/simple/price/?ids=bitcoin%2Cbinancecoin%2Cavalanche-2&vs_currencies=usd
  response:
    body:
      string: '{"avalanche-2":{"usd":34.4},"binancecoin":{"usd":679.6},"bitcoin":{"usd":105193}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      alternate-protocol:
      - 443:npn-spdy/2
      etag:
      - W/"564aee78b34090f8b659301dd0c65007"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.coingecko.com/api/v3/simple/price/?ids=ethereum-classic%2Caave&vs_currencies=usd
  response:
    body:
      string: '{"aave":{"usd":315.63},"ethereum-classic":{"usd":26.38}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      alternate-protocol:
      - 443:npn-spdy/2
      etag:
      - W/"f2e990ce8b94a40dafd3350f3dc39fd9"
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://min-api.cryptocompare.com/data/price?fsym=AIR&tsyms=USD
  response:
    body:
      string: '{"USD":0.01301}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-CryptoCompare-Cache-HIT:
      - 'false'
      X-CryptoCompare-Server-Id:
      - cc-api-min-v2-35
    status:
      code: 200
      message: OK
version: 1
