interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.coingecko.com/api/v3/simple/price/?ids=usd-coin&vs_currencies=usd
  response:
    body:
      string: '{"usd-coin":{"usd":0.999331}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      alternate-protocol:
      - 443:npn-spdy/2
      etag:
      - W/"19d069c5f1a332411f1f5ed3ac421253"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.etherscan.io/v2/api?action=eth_call&chainid=1&data=0x77c7b8fc&module=proxy&to=0x597aD1e0c13Bfe8025993D9e79C69E1c0233522e
  response:
    body:
      string: '{"jsonrpc":"2.0","id":1,"result":"0x0000000000000000000000000000000000000000000000000f68b99c39e64dcd"}

        '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      svid:
      - '12'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.coingecko.com/api/v3/simple/price/?ids=weth&vs_currencies=usd
  response:
    body:
      string: '{"weth":{"usd":2520.81}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      alternate-protocol:
      - 443:npn-spdy/2
      etag:
      - W/"f44ccd4da00d39705d9596650b4185d1"
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.coingecko.com/api/v3/simple/price/?ids=dai&vs_currencies=usd
  response:
    body:
      string: '{"dai":{"usd":0.999386}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      alternate-protocol:
      - 443:npn-spdy/2
      etag:
      - W/"d1e8a0671f9e35640e184fc4a44d9d0f"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.etherscan.io/v2/api?action=eth_call&chainid=1&data=0x77c7b8fc&module=proxy&to=0xACd43E627e64355f1861cEC6d3a6688B31a6F952
  response:
    body:
      string: '{"jsonrpc":"2.0","id":1,"result":"0x000000000000000000000000000000000000000000000000100776856ef1765a"}

        '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      svid:
      - '12'
    status:
      code: 200
      message: OK
version: 1
