interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.etherscan.io/v2/api?action=eth_call&chainid=42161&data=0x72f702f3&module=proxy&to=0x6773fF780Dd38175247795545Ee37adD6ab6139a
  response:
    body:
      string: '{"jsonrpc":"2.0","id":1,"result":"0x00000000000000000000000004419d3509f13054f60d253e0c79491d9e683399"}

        '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      svid:
      - arb1
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.coingecko.com/api/v3/simple/price/?ids=ethereum&vs_currencies=usd
  response:
    body:
      string: '{"ethereum":{"usd":2360.27}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      alternate-protocol:
      - 443:npn-spdy/2
      etag:
      - W/"8839e517daa14b46900304ebdfcc4a4f"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.etherscan.io/v2/api?action=eth_call&chainid=42161&data=0x07a2d13a0000000000000000000000000000000000000000000000000de0b6b3a7640000&module=proxy&to=0x04419d3509f13054f60d253E0c79491d9E683399
  response:
    body:
      string: '{"jsonrpc":"2.0","id":1,"result":"0x0000000000000000000000000000000000000000000000000e6d647389b4a96a"}

        '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      svid:
      - arb1
    status:
      code: 200
      message: OK
version: 1
