interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.etherscan.io/api?action=eth_call&data=0x99530b06&module=proxy&to=0x0655977FEb2f289A4aB78af67BAB0d17aAb84367
  response:
    body:
      string: '{"jsonrpc":"2.0","id":1,"result":"0x0000000000000000000000000000000000000000000000000e75d06742962e42"}

        '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      svid:
      - '7'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.coingecko.com/api/v3/simple/price/?ids=crvusd&vs_currencies=usd
  response:
    body:
      string: '{"crvusd":{"usd":1.0}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      alternate-protocol:
      - 443:npn-spdy/2
      etag:
      - W/"b979d64cdd4a8503c339e674be032681"
    status:
      code: 200
      message: OK
version: 1
