interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.etherscan.io/api?action=eth_call&data=0x07a2d13a0000000000000000000000000000000000000000000000000de0b6b3a7640000&module=proxy&to=0xd63070114470f685b75B74D60EEc7c1113d33a3D
  response:
    body:
      string: '{"jsonrpc":"2.0","id":1,"result":"0x00000000000000000000000000000000000000000000000000000000000fae98"}

        '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      svid:
      - '6'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.coingecko.com/api/v3/simple/price/?ids=usd-coin&vs_currencies=usd
  response:
    body:
      string: '{"usd-coin":{"usd":0.998427}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      alternate-protocol:
      - 443:npn-spdy/2
      etag:
      - W/"9458fbd4d796eaa89472bca6f66e8697"
    status:
      code: 200
      message: OK
version: 1
