interactions:
- request:
    body: '{"query": "\nquery GetPoolPrice($chain: GqlChain!, $poolId: String!) {\n    poolGetPool(chain:
      $chain, id: $poolId ) {\n        dynamicData {\n          totalLiquidity\n          totalSupply\n        }\n    }\n}\n",
      "variables": {"chain": "MAINNET", "poolId": "0x57c23c58B1D8C3292c15BEcF07c62C5c52457A42"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api-v3.balancer.fi/
  response:
    body:
      string: '{"data":{"poolGetPool":{"dynamicData":{"totalLiquidity":"53596121.54","totalSupply":"12160.529882636096565932"}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"da-NFKStVLTdiytTHId5MeA2J1l4Rk"
      gcdn-cache:
      - HIT
      origin-agent-cluster:
      - ?1
    status:
      code: 200
      message: OK
- request:
    body: '{"query": "\nquery GetPoolPrice($chain: GqlChain!, $poolId: String!) {\n    poolGetPool(chain:
      $chain, id: $poolId ) {\n        dynamicData {\n          totalLiquidity\n          totalSupply\n        }\n    }\n}\n",
      "variables": {"chain": "MAINNET", "poolId": "0x6b31a94029fd7840d780191b6d63fa0d269bd883"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api-v3.balancer.fi/
  response:
    body:
      string: '{"data":{"poolGetPool":{"dynamicData":{"totalLiquidity":"20571360.87","totalSupply":"4688.667933506279486671"}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"d9-GLac/IqBpLy3S/yzXQBOwDn3d6E"
      gcdn-cache:
      - HIT
      origin-agent-cluster:
      - ?1
    status:
      code: 200
      message: OK
version: 1
