interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.coingecko.com/api/v3/simple/price/?ids=bitcoin%2Cbinancecoin%2Cavalanche-2&vs_currencies=eth
  response:
    body:
      string: '{"avalanche-2":{"eth":0.00958953},"binancecoin":{"eth":0.2697573},"bitcoin":{"eth":40.344918}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      alternate-protocol:
      - 443:npn-spdy/2
      etag:
      - W/"594f52e062d5827ba00cdbb1a6c86b75"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://coins.llama.fi/prices/current/coingecko:ethereum-classic,ethereum:0x7Fc66500c84A76Ad7e9c93437bFc5Ac33E2DDaE9
  response:
    body:
      string: '{"coins":{"coingecko:ethereum-classic":{"price":20,"symbol":"ETC","timestamp":1741291795,"confidence":0.99},"ethereum:0x7Fc66500c84A76Ad7e9c93437bFc5Ac33E2DDaE9":{"decimals":18,"symbol":"AAVE","price":212.4,"timestamp":1741291804,"confidence":0.99}}}'
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Thu, 06 Mar 2025 20:11:00 GMT
      apigw-requestid:
      - HBUlPjm0FiAEJyA=
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://min-api.cryptocompare.com/data/price?fsym=USD&tsyms=USDT
  response:
    body:
      string: '{"USDT":0.9998}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-CryptoCompare-Cache-HIT:
      - 'false'
      X-CryptoCompare-Server-Id:
      - cc-api-min-v2-40
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.coingecko.com/api/v3/simple/price/?ids=bitcoin%2Cbinancecoin%2Cavalanche-2&vs_currencies=usd
  response:
    body:
      string: '{"avalanche-2":{"usd":21.14},"binancecoin":{"usd":594.59},"bitcoin":{"usd":88927}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      alternate-protocol:
      - 443:npn-spdy/2
      etag:
      - W/"b573c5b518d6cdc40c3a214ddbaf731f"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.coingecko.com/api/v3/simple/price/?ids=ethereum-classic%2Caave&vs_currencies=usd
  response:
    body:
      string: '{"aave":{"usd":212.45},"ethereum-classic":{"usd":20.0}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      alternate-protocol:
      - 443:npn-spdy/2
      etag:
      - W/"3afd6c46fe536b9e689300c79efc2ad8"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://coins.llama.fi/prices/current/ethereum:0x27Dce1eC4d3f72C3E457Cc50354f1F975dDEf488
  response:
    body:
      string: '{"coins":{}}'
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Thu, 06 Mar 2025 20:11:01 GMT
      apigw-requestid:
      - HBUleju-liAEPew=
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://min-api.cryptocompare.com/data/price?fsym=AIR&tsyms=USD
  response:
    body:
      string: '{"USD":0.01054}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-CryptoCompare-Cache-HIT:
      - 'false'
      X-CryptoCompare-Server-Id:
      - cc-api-min-v2-28
    status:
      code: 200
      message: OK
version: 1
