interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.etherscan.io/v2/api?action=eth_call&chainid=1&data=0x99530b06&module=proxy&to=0xccd37EB6374Ae5b1f0b85ac97eFf14770e0D0063
  response:
    body:
      string: '{"jsonrpc":"2.0","id":1,"result":"0x0000000000000000000000000000000000000000000000000003cdc9200e0a73"}

        '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Nginx-Id:
      - '2'
      svid:
      - '16'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.coingecko.com/api/v3/simple/price/?ids=crvusd&vs_currencies=usd
  response:
    body:
      string: '{"crvusd":{"usd":0.999859}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      alternate-protocol:
      - 443:npn-spdy/2
      etag:
      - W/"17b89c0ed90bf2a7aee7012ad11f78f8"
    status:
      code: 200
      message: OK
version: 1
