interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.etherscan.io/v2/api?action=eth_call&chainid=10&data=0x77c7b8fc&module=proxy&to=0x436001D53b77cB0AA636F8124C65dC2c92A46D91
  response:
    body:
      string: '{"jsonrpc":"2.0","id":1,"result":"0x00000000000000000000000000000000000000000000000013c1a1a5b4644ae1"}

        '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Nginx-Id:
      - '3'
      svid:
      - op1
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.coingecko.com/api/v3/simple/price/?ids=usd-coin&vs_currencies=usd
  response:
    body:
      string: '{"usd-coin":{"usd":0.999816}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      alternate-protocol:
      - 443:npn-spdy/2
      etag:
      - W/"8cf113a3ce5734b9992c2548306c7e3d"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://coins.llama.fi/prices/current/optimism:0xc55e93c62874d8100dbd2dfe307edc1036ad5434
  response:
    body:
      string: '{"coins":{"optimism:0xc55e93c62874d8100dbd2dfe307edc1036ad5434":{"decimals":18,"symbol":"mooBIFI","price":229.16,"timestamp":1756408526,"confidence":0.99}}}'
    headers:
      Content-Type:
      - application/json
      apigw-requestid:
      - QB-84hsmFiAEPjQ=
      last-modified:
      - Thu, 28 Aug 2025 19:18:29 GMT
    status:
      code: 200
      message: OK
version: 1
