interactions:
- request:
    body: '{"id": 0, "jsonrpc": "2.0", "method": "eth_call", "params": [{"to": "0x436001D53b77cB0AA636F8124C65dC2c92A46D91",
      "data": "0x77c7b8fc"}, "latest"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://explorer.optimism.io/api/eth-rpc
  response:
    body:
      string: '{"jsonrpc":"2.0","result": "0x00000000000000000000000000000000000000000000000014c8dbd3876fd6bd","id":
        0}

        '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      bypass-429-option:
      - no_bypass
      x-ratelimit-limit:
      - '600'
      x-ratelimit-remaining:
      - '597'
      x-ratelimit-reset:
      - '32245'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.coingecko.com/api/v3/simple/price/?ids=usd-coin&vs_currencies=usd
  response:
    body:
      string: '{"usd-coin":{"usd":0.999832}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      alternate-protocol:
      - 443:npn-spdy/2
      etag:
      - W/"399572206ce5635c3b4377ed281dbd9d"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://coins.llama.fi/prices/current/optimism:0xc55e93c62874d8100dbd2dfe307edc1036ad5434
  response:
    body:
      string: '{"coins":{"optimism:0xc55e93c62874d8100dbd2dfe307edc1036ad5434":{"decimals":18,"symbol":"mooBIFI","price":162.02918002325538,"timestamp":1766521443,"confidence":0.99}}}'
    headers:
      Content-Type:
      - application/json
      apigw-requestid:
      - WDxVOgMFFiAEJDA=
      last-modified:
      - Tue, 23 Dec 2025 20:31:29 GMT
    status:
      code: 200
      message: OK
version: 1
