interactions:
- request:
    body: '{"id": 0, "jsonrpc": "2.0", "method": "eth_call", "params": [{"to": "0x436001D53b77cB0AA636F8124C65dC2c92A46D91",
      "data": "0x77c7b8fc"}, "latest"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.blockscout.com/10/json-rpc
  response:
    body:
      string: '{"jsonrpc":"2.0","result": "0x00000000000000000000000000000000000000000000000019d9d5aa8e5fd41f","id":
        0}

        '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-credits-remaining:
      - '84220'
      x-ratelimit-limit:
      - '5'
      x-ratelimit-remaining:
      - '4'
      x-ratelimit-reset:
      - '140'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.coingecko.com/api/v3/simple/price/?ids=usd-coin&vs_currencies=usd
  response:
    body:
      string: '{"usd-coin":{"usd":0.999534}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"a5aabc454bf315468c95604cb9b98f47"
      x-data-source:
      - '2.0'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://coins.llama.fi/prices/current/optimism:0xc55E93C62874D8100dBd2DfE307EDc1036ad5434
  response:
    body:
      string: '{"coins":{"optimism:0xc55E93C62874D8100dBd2DfE307EDc1036ad5434":{"decimals":18,"symbol":"mooBIFI","price":56.45871866002604,"timestamp":1785517369,"confidence":0.99}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      last-modified:
      - Fri, 31 Jul 2026 17:04:50 GMT
    status:
      code: 200
      message: OK
version: 1
