interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.etherscan.io/v2/api?action=eth_call&chainid=1&data=0x38fff2d0&module=proxy&to=0x63E0d47A6964aD1565345Da9bfA66659F4983F02
  response:
    body:
      string: '{"jsonrpc":"2.0","id":1,"result":"0x63e0d47a6964ad1565345da9bfa66659f4983f02000000000000000000000681"}

        '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      svid:
      - '56'
    status:
      code: 200
      message: OK
- request:
    body: '{"query": "\nquery GetPoolPrice($chain: GqlChain!, $poolId: String!) {\n    poolGetPool(chain:
      $chain, id: $poolId ) {\n        dynamicData {\n          totalLiquidity\n          totalSupply\n        }\n    }\n}\n",
      "variables": {"chain": "MAINNET", "poolId": "0x63e0d47a6964ad1565345da9bfa66659f4983f02000000000000000000000681"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api-v3.balancer.fi/
  response:
    body:
      string: '{"data":{"poolGetPool":{"dynamicData":{"totalLiquidity":"3087340.09","totalSupply":"907.816250224098754678"}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"e1-UXw30GwGIysbg4CLvhS5vaFVdAY"
      gcdn-cache:
      - HIT
      origin-agent-cluster:
      - ?1
    status:
      code: 200
      message: OK
version: 1
