interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.etherscan.io/v2/api?action=eth_call&chainid=42161&data=0x72f702f3&module=proxy&to=0x6773fF780Dd38175247795545Ee37adD6ab6139a
  response:
    body:
      string: '{"jsonrpc":"2.0","id":1,"result":"0x00000000000000000000000004419d3509f13054f60d253e0c79491d9e683399"}

        '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Nginx-Id:
      - '4'
      svid:
      - arb2
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.coingecko.com/api/v3/simple/price/?ids=weth&vs_currencies=usd
  response:
    body:
      string: '{"weth":{"usd":2626.1}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      alternate-protocol:
      - 443:npn-spdy/2
      etag:
      - W/"76c096122ce56d052c19e75923416d5b"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.etherscan.io/v2/api?action=eth_call&chainid=42161&data=0x07a2d13a0000000000000000000000000000000000000000000000000de0b6b3a7640000&module=proxy&to=0x04419d3509f13054f60d253E0c79491d9E683399
  response:
    body:
      string: '{"jsonrpc":"2.0","id":1,"result":"0x0000000000000000000000000000000000000000000000000e7f5fb55f86490e"}

        '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Nginx-Id:
      - '2'
      svid:
      - arb2
    status:
      code: 200
      message: OK
version: 1
