interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.coingecko.com/api/v3/simple/price/?ids=crvusd&vs_currencies=usd
  response:
    body:
      string: '{"crvusd":{"usd":0.998503}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      alternate-protocol:
      - 443:npn-spdy/2
      etag:
      - W/"29dbfee6e41ce8b75137443a22e015c5"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.etherscan.io/api?action=eth_call&data=0x99530b06&module=proxy&to=0xBF319dDC2Edc1Eb6FDf9910E39b37Be221C8805F
  response:
    body:
      string: '{"jsonrpc":"2.0","id":1,"result":"0x0000000000000000000000000000000000000000000000000e3b9766c9d4f6c4"}

        '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      svid:
      - '6'
    status:
      code: 200
      message: OK
version: 1
