interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.etherscan.io/v2/api?action=eth_call&chainid=1&data=0x77c7b8fc&module=proxy&to=0x0014E0be19De3118b5b29842dd1696a2A98EB9Db
  response:
    body:
      string: '{"jsonrpc":"2.0","id":1,"result":"0x0000000000000000000000000000000000000000000000000df4666ee04c39c8"}

        '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Nginx-Id:
      - '2'
      svid:
      - '9'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://coins.llama.fi/prices/current/ethereum:0x72310DAAed61321b02B08A547150c07522c6a976
  response:
    body:
      string: '{"coins":{"ethereum:0x72310DAAed61321b02B08A547150c07522c6a976":{"decimals":18,"price":1.0018753028387812,"symbol":"USDC/USDf","timestamp":1749554093,"confidence":0.99}}}'
    headers:
      Apigw-Requestid:
      - L8m1_g84liAEPNQ=
      Content-Type:
      - application/json
      Last-Modified:
      - Tue, 10 Jun 2025 12:01:16 GMT
    status:
      code: 200
      message: OK
version: 1
