interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.routescan.io/v2/network/mainnet/evm/10/etherscan/api?action=txlistinternal&module=account&offset=100&page=1&sort=asc&txhash=0xa3b955a1264dc26d966f4f33242ae88eec7f2081fcfce8cd82377b16d51a9f2f
  response:
    body:
      string: '{"status":"1","message":"OK","result":[{"blockNumber":"72055991","timeStamp":"1675421813","from":"0x0fdbe2ae14f5e628a77a2d5c890bb59b4a83484f","to":"0x1600fa9452246f67893b5d3f608e5a7d4b42dbce","value":"370000000000000","contractAddress":"","input":"","type":"call","gas":"6988445","gasUsed":"0","isError":"0","errCode":""},{"blockNumber":"72055991","timeStamp":"1675421813","from":"0x0fdbe2ae14f5e628a77a2d5c890bb59b4a83484f","to":"0xb1aba38f0800132e4f2e0d4f0b79eadfbf63feb5","value":"370000000000000","contractAddress":"","input":"","type":"call","gas":"6954352","gasUsed":"0","isError":"0","errCode":""},{"blockNumber":"72055991","timeStamp":"1675421813","from":"0x0fdbe2ae14f5e628a77a2d5c890bb59b4a83484f","to":"0xa53a5d69bd44f60862b4bcaae0d96898b4a4b53b","value":"370000000000000","contractAddress":"","input":"","t[...]
[...]
