interactions:
- request:
    body: '{"jsonrpc": "2.0", "method": "web3_clientVersion", "params": [], "id":
      0}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://rpc.hyperliquid.xyz/evm
  response:
    body:
      string: '{"jsonrpc":"2.0","id":0,"result":"hyperliquid evm Mainnet"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"jsonrpc": "2.0", "method": "eth_getTransactionByHash", "params": ["0x215a5123b5a5e0b22ab258c82bf92c999e5fdf48ebb9f8ab01f0723edba49216"],
      "id": 4}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://rpc.hyperliquid.xyz/evm
  response:
    body:
      string: '{"jsonrpc":"2.0","id":4,"result":{"type":"0x0","chainId":"0x3e7","nonce":"0x0","gasPrice":"0x7270e00","gas":"0x7b0c","to":"0x04b0f18b9b1ff987c5d5e134516f449aa9a2e004","value":"0x2386f26fc10000","input":"0x","r":"0xc6c87e5f8adaa896726477fa47b944eb710570ed6434cd758b0fcb701742e6a7","s":"0x60bca3b7e4af58696c009ae4634ea255d18f3e199a67c922dd823c3e2b486555","v":"0x7f2","hash":"0x215a5123b5a5e0b22ab258c82bf92c999e5fdf48ebb9f8ab01f0723edba49216","blockHash":"0xbd3af11ce3d41fc759d9ee09541ab41d79b493500ad4e126298cca3966e9b372","blockNumber":"0x2710","transactionIndex":"0x0","from":"0x04b0f18b9b1ff987c5d5e134516f449aa9a2e004","blockTimestamp":"0x67b44bcc"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"jsonrpc": "2.0", "method": "eth_call", "params": [{"to": "0x54eCF3f6f61F63fdFE7c27Ee8A86e54899600C92",
      "data": "0xee1806d200000000000000000000000000000000000000000000000000000000000000200000000000000000000000000000000000000000000000000000000000000001000000000000000000000000000000000056f99d36b6f2e0c51fd41496bbacb8"},
      "latest"], "id": 5}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://rpc.hyperliquid.xyz/evm
  response:
    body:
      string: '{"jsonrpc":"2.0","id":5,"result":"0x000000000000000000000000000000000000000000000000000000000000002000000000000000000000000000000000000000000000000000000000000000010000000000000000000000000000000000000000000000000000000000000000"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"type": "delegatorSummary", "user": "0x000000000056f99d36B6F2e0c51FD41496BbacB8"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hyperliquid.xyz/info
  response:
    body:
      string: '{"delegated":"10022.67358863","undelegated":"1.0","totalPendingWithdrawal":"95.0","nPendingWithdrawals":3}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"type": "spotClearinghouseState", "user": "0x000000000056f99d36B6F2e0c51FD41496BbacB8"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hyperliquid.xyz/info
  response:
    body:
      string: '{"balances":[{"coin":"USDC","token":0,"total":"38.0","hold":"0.0","entryNtl":"0.0"},{"coin":"HYPE","token":150,"total":"0.0","hold":"0.0","entryNtl":"0.0"},{"coin":"LICKO","token":307,"total":"241.44704768","hold":"0.0","entryNtl":"0.00144868"}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"type": "clearinghouseState", "user": "0x000000000056f99d36B6F2e0c51FD41496BbacB8"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hyperliquid.xyz/info
  response:
    body:
      string: '{"marginSummary":{"accountValue":"0.0","totalNtlPos":"0.0","totalRawUsd":"0.0","totalMarginUsed":"0.0"},"crossMarginSummary":{"accountValue":"0.0","totalNtlPos":"0.0","totalRawUsd":"0.0","totalMarginUsed":"0.0"},"crossMaintenanceMarginUsed":"0.0","withdrawable":"0.0","assetPositions":[],"time":1791460022770}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"type": "perpDexs"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hyperliquid.xyz/info
  response:
    body:
      string: '[null,{"name":"xyz","fullName":"XYZ","deployer":"0x88806a71d74ad0a510b350545c9ae490912f0888","oracleUpdater":null,"feeRecipient":"0x83ffcfb1f2ad843c474b2e28df86c721cb869d3a","assetToStreamingOiCap":[["xyz:AAOI","25000000.0"],["xyz:AAPL","200000000.0"],["xyz:ALUMINIUM","25000000.0"],["xyz:AMAT","25000000.0"],["xyz:AMD","100000000.0"],["xyz:AMZN","100000000.0"],["xyz:ARM","50000000.0"],["xyz:ASML","25000000.0"],["xyz:AVGO","75000000.0"],["xyz:BABA","50000000.0"],["xyz:BB","75000000.0"],["xyz:BE","25000000.0"],["xyz:BIRD","25000000.0"],["xyz:BMNR","25000000.0"],["xyz:BOT","25000000.0"],["xyz:BRENTOIL","750000000.0"],["xyz:BX","25000000.0"],["xyz:CAMBRICON","25000000.0"],["xyz:CBRS","150000000[...]
- request:
    body: '{"type": "clearinghouseState", "user": "0x000000000056f99d36B6F2e0c51FD41496BbacB8",
      "dex": "abcd"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hyperliquid.xyz/info
  response:
    body:
      string: '{"marginSummary":{"accountValue":"0.0","totalNtlPos":"0.0","totalRawUsd":"0.0","totalMarginUsed":"0.0"},"crossMarginSummary":{"accountValue":"0.0","totalNtlPos":"0.0","totalRawUsd":"0.0","totalMarginUsed":"0.0"},"crossMaintenanceMarginUsed":"0.0","withdrawable":"0.0","assetPositions":[],"time":1791460023508}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"type": "clearinghouseState", "user": "0x000000000056f99d36B6F2e0c51FD41496BbacB8",
      "dex": "xyz"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hyperliquid.xyz/info
  response:
    body:
      string: '{"marginSummary":{"accountValue":"0.0","totalNtlPos":"0.0","totalRawUsd":"0.0","totalMarginUsed":"0.0"},"crossMarginSummary":{"accountValue":"0.0","totalNtlPos":"0.0","totalRawUsd":"0.0","totalMarginUsed":"0.0"},"crossMaintenanceMarginUsed":"0.0","withdrawable":"0.0","assetPositions":[],"time":1791460026916}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
