interactions:
- request:
    body: '{"type": "spotClearinghouseState", "user": "0x7fC1b7863251Ac7F83c7a4E83ccd00d129Ee844c"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hyperliquid.xyz/info
  response:
    body:
      string: '{"balances":[{"coin":"USDC","token":0,"total":"13988.39433919","hold":"906.08","entryNtl":"0.0"},{"coin":"BRIDGE","token":73,"total":"725.04","hold":"0.0","entryNtl":"99.7945056"},{"coin":"HYPE","token":150,"total":"0.11327672","hold":"0.0","entryNtl":"4.84711084"}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"type": "clearinghouseState", "user": "0x7fC1b7863251Ac7F83c7a4E83ccd00d129Ee844c"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hyperliquid.xyz/info
  response:
    body:
      string: '{"marginSummary":{"accountValue":"0.004889","totalNtlPos":"0.0","totalRawUsd":"0.004889","totalMarginUsed":"0.0"},"crossMarginSummary":{"accountValue":"0.004889","totalNtlPos":"0.0","totalRawUsd":"0.004889","totalMarginUsed":"0.0"},"crossMaintenanceMarginUsed":"0.0","withdrawable":"0.004889","assetPositions":[],"time":1780297478106}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
