interactions:
- request:
    body: '{"jsonrpc": "2.0", "method": "web3_clientVersion", "params": [], "id":
      0}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://rpc.hyperliquid.xyz/evm
  response:
    body:
      string: '{"jsonrpc":"2.0","id":0,"result":"hyperliquid evm Mainnet"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"jsonrpc": "2.0", "method": "eth_getTransactionByHash", "params": ["0x215a5123b5a5e0b22ab258c82bf92c999e5fdf48ebb9f8ab01f0723edba49216"],
      "id": 4}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://rpc.hyperliquid.xyz/evm
  response:
    body:
      string: '{"jsonrpc":"2.0","id":4,"result":{"type":"0x0","chainId":"0x3e7","nonce":"0x0","gasPrice":"0x7270e00","gas":"0x7b0c","to":"0x04b0f18b9b1ff987c5d5e134516f449aa9a2e004","value":"0x2386f26fc10000","input":"0x","r":"0xc6c87e5f8adaa896726477fa47b944eb710570ed6434cd758b0fcb701742e6a7","s":"0x60bca3b7e4af58696c009ae4634ea255d18f3e199a67c922dd823c3e2b486555","v":"0x7f2","hash":"0x215a5123b5a5e0b22ab258c82bf92c999e5fdf48ebb9f8ab01f0723edba49216","blockHash":"0xbd3af11ce3d41fc759d9ee09541ab41d79b493500ad4e126298cca3966e9b372","blockNumber":"0x2710","transactionIndex":"0x0","from":"0x04b0f18b9b1ff987c5d5e134516f449aa9a2e004"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"jsonrpc": "2.0", "method": "eth_call", "params": [{"to": "0x54eCF3f6f61F63fdFE7c27Ee8A86e54899600C92",
      "data": "0xee1806d200000000000000000000000000000000000000000000000000000000000000200000000000000000000000000000000000000000000000000000000000000001000000000000000000000000d2d4867b8886c0cfc3de5ccd5203ec66c6183764"},
      "latest"], "id": 5}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://rpc.hyperliquid.xyz/evm
  response:
    body:
      string: '{"jsonrpc":"2.0","id":5,"result":"0x0000000000000000000000000000000000000000000000000000000000000020000000000000000000000000000000000000000000000000000000000000000100000000000000000000000000000000000000000000005efecec43557566336"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"type": "spotClearinghouseState", "user": "0xD2D4867b8886C0cfC3DE5CcD5203EC66C6183764"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hyperliquid.xyz/info
  response:
    body:
      string: '{"balances":[{"coin":"USDC","token":0,"total":"0.57938439","hold":"0.0","entryNtl":"0.0"},{"coin":"MEOW","token":61,"total":"448.935281","hold":"0.0","entryNtl":"0.02585867"},{"coin":"NEIRO","token":78,"total":"63.820977","hold":"0.0","entryNtl":"0.00645868"},{"coin":"TIME","token":79,"total":"603.4482759","hold":"0.0","entryNtl":"2.26293103"},{"coin":"BERA","token":80,"total":"7.252195","hold":"0.0","entryNtl":"0.00716154"},{"coin":"VAULT","token":106,"total":"16.38415953","hold":"0.0","entryNtl":"0.01638415"},{"coin":"HPL","token":120,"total":"0.11533384","hold":"0.0","entryNtl":"0.00162839"},{"coin":"MUNCH","token":146,"total":"1968.58351","hold":"0.0","entryNtl":"0.00728375"},{"coin":"HYPE","token":150,"total":"0.10319483","hold":"0.0","entryNtl":"7.03468455"},{"coin":"SENT","token":186,"total":"12583.27847268","hold":"0.0","entryNtl":"12583.27847268"},{"coin":"USDE","token":235,"total":"0.0","hold":"0.0","entryNtl":"0.0"},{"coin":"FEUSD","token":241,"total":"0.0","hold":"0.0","entryNtl":"0.0"},{"coin":"USDT0","token":268,"total":"0.0","hold":"0.0","entryNtl":"0.0"},{"coin":"RUB","token":277,"total":"0.0","hold":"0.0","entryNtl":"0.0"},{"coin":"LICKO","token":307,"total":"0.08823828","hold":"0.0","entryNtl":"0.00000052"},{"coin":"USDH","token":360,"total":"0.0","hold":"0.0","entryNtl":"0.0"}],"tokenToAvailableAfterMaintenance":[[0,"0.57938439"]]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"type": "clearinghouseState", "user": "0xD2D4867b8886C0cfC3DE5CcD5203EC66C6183764"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hyperliquid.xyz/info
  response:
    body:
      string: '{"marginSummary":{"accountValue":"0.0","totalNtlPos":"0.0","totalRawUsd":"0.0","totalMarginUsed":"0.0"},"crossMarginSummary":{"accountValue":"0.0","totalNtlPos":"0.0","totalRawUsd":"0.0","totalMarginUsed":"0.0"},"crossMaintenanceMarginUsed":"0.0","withdrawable":"0.0","assetPositions":[],"time":1780300831153}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"type": "perpDexs"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hyperliquid.xyz/info
  response:
    body:
      string: '[null,{"name":"xyz","fullName":"XYZ","deployer":"0x88806a71d74ad0a510b350545c9ae490912f0888","oracleUpdater":null,"feeRecipient":"0x9cd0a696c7cbb9d44de99268194cb08e5684e5fe","assetToStreamingOiCap":[["xyz:AAPL","100000000.0"],["xyz:ALUMINIUM","25000000.0"],["xyz:AMD","100000000.0"],["xyz:AMZN","100000000.0"],["xyz:ARM","25000000.0"],["xyz:ASML","25000000.0"],["xyz:BABA","25000000.0"],["xyz:BB","50000000.0"],["xyz:BIRD","25000000.0"],["xyz:BRENTOIL","750000000.0"],["xyz:BX","25000000.0"],["xyz:CBRS","100000000.0"],["xyz:CL","1000000000.0"],["xyz:COIN","25000000.0"],["xyz:COPPER","300000000.0"],["xyz:CORN","25000000.0"],["xyz:COST","25000000.0"],["xyz:CRCL","100000000.0"],["xyz:CRWV","250000[...]
- request:
    body: '{"type": "clearinghouseState", "user": "0xD2D4867b8886C0cfC3DE5CcD5203EC66C6183764",
      "dex": "abcd"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hyperliquid.xyz/info
  response:
    body:
      string: '{"marginSummary":{"accountValue":"0.0","totalNtlPos":"0.0","totalRawUsd":"0.0","totalMarginUsed":"0.0"},"crossMarginSummary":{"accountValue":"0.0","totalNtlPos":"0.0","totalRawUsd":"0.0","totalMarginUsed":"0.0"},"crossMaintenanceMarginUsed":"0.0","withdrawable":"0.0","assetPositions":[],"time":1780300832159}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"type": "clearinghouseState", "user": "0xD2D4867b8886C0cfC3DE5CcD5203EC66C6183764",
      "dex": "xyz"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hyperliquid.xyz/info
  response:
    body:
      string: '{"marginSummary":{"accountValue":"0.0","totalNtlPos":"0.0","totalRawUsd":"0.0","totalMarginUsed":"0.0"},"crossMarginSummary":{"accountValue":"0.0","totalNtlPos":"0.0","totalRawUsd":"0.0","totalMarginUsed":"0.0"},"crossMaintenanceMarginUsed":"0.0","withdrawable":"0.0","assetPositions":[],"time":1780300834736}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
