interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.coingecko.com/api/v3/simple/price/?ids=bitcoin%2Cdai%2Cbinancecoin&vs_currencies=eth
  response:
    body:
      string: '{"binancecoin":{"eth":0.21387074},"bitcoin":{"eth":31.906046},"dai":{"eth":0.0003068}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      alternate-protocol:
      - 443:npn-spdy/2
      etag:
      - W/"4eb704f49c35763ab5066b10c8742ec6"
    status:
      code: 200
      message: OK
version: 1
