interactions:
- request:
    body: null
    headers:
      x-cg-pro-api-key:
      - 123totallyrealapikey123
    method: GET
    uri: https://pro-api.coingecko.com/api/v3/coins/zksync?localization=false&tickers=false&market_data=false&community_data=false&developer_data=false&sparkline=false
  response:
    body:
      string: '{"id":"zksync","symbol":"zk","name":"ZKsync","web_slug":"zksync","asset_platform_id":"zksync","platforms":{"zksync":"0x5a7d6b2f92c77fad6ccabd7ee0624e64907eaf3e"},"detail_platforms":{"zksync":{"decimal_place":18,"contract_address":"0x5a7d6b2f92c77fad6ccabd7ee0624e64907eaf3e"}},"block_time_in_minutes":0,"hashing_algorithm":null,"categories":["Layer
        2 (L2)","Zero Knowledge (ZK)","ZkSync Ecosystem","Consensys Portfolio","Blockchain
        Capital Portfolio","OKX Ventures Portfolio"],"preview_listing":false,"public_notice":null,"additional_notices":[],"description":{"en":""},"links":{"homepage":["https://zksync.io/","",""],"whitepaper":"https://docs.zksync.io/","blockchain_site":["https://zksync.io/explore#explorers","https://explorer.zksync.io/address/0x5a7d6b2f92c77fad6ccabd7ee0624e64907eaf3e","https://zksync-era.l2scan.co/token/0x5a7d6b2f92c77fad6ccabd7ee0624e64907eaf3e",null,null,"","","","",""],"official_forum_url":["https://zksync.mirror.xyz/","https://join.zksync.dev/",""],"chat_url":["","",""],"announcement_url":["",""],"twitter_screen_name":"zksync","facebook_username":"","bitcointalk_thread_identifier":null,"telegram_channel_identifier":"","subreddit_url":"https://www.reddit.com","repos_url":{"github":["https://github.com/matter-labs/zksync-era","https://github.com/matter-labs/zksync-web-era-docs"],"bitbucket":[]}},"image":{"thumb":"https://coin-images.coingecko.com/coins/images/38043/thumb/ZKTokenBlack.png?1718614502","small":"https://coin-images.coingecko.com/coins/images/38043/small/ZKTokenBlack.png?1718614502","large":"https://coin-images.coingecko.com/coins/images/38043/large/ZKTokenBlack.png?1718614502"},"country_origin":"","genesis_date":null,"contract_address":"0x5a7d6b2f92c77fad6ccabd7ee0624e64907eaf3e","sentiment_votes_up_percentage":88.89,"sentiment_votes_down_percentage":11.11,"watchlist_portfolio_users":30706,"market_cap_rank":152,"status_updates":[],"last_updated":"2024-10-11T11:57:36.121Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      alternate-protocol:
      - 443:npn-spdy/2
      etag:
      - W/"0181208ae41fd9e25d83d803c735433d"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-cg-pro-api-key:
      - 123totallyrealapikey123
    method: GET
    uri: https://pro-api.coingecko.com/api/v3/simple/price/?ids=ethereum&vs_currencies=btc
  response:
    body:
      string: '{"ethereum":{"btc":0.03950436}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      alternate-protocol:
      - 443:npn-spdy/2
      etag:
      - W/"7f8956945048d977de6332231e5643bb"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-cg-pro-api-key:
      - 123totallyrealapikey123
    method: GET
    uri: https://pro-api.coingecko.com/api/v3/coins/ethereum/history?date=11-04-2024&localization=false
  response:
    body:
      string: '{"id":"ethereum","symbol":"eth","name":"Ethereum","image":{"thumb":"https://coin-images.coingecko.com/coins/images/279/thumb/ethereum.png?1696501628","small":"https://coin-images.coingecko.com/coins/images/279/small/ethereum.png?1696501628"},"market_data":{"current_price":{"aed":12999.178093057606,"ars":3062836.9813675215,"aud":5436.630056257705,"bch":5.632471906234437,"bdt":388938.6984000756,"bhd":1334.1260795568862,"bmd":3539.7630640649413,"bnb":5.810956584592418,"brl":17937.749327149093,"btc":0.050197589201330654,"cad":4844.785211709086,"chf":3231.286872083942,"clp":3355659.9871029276,"cny":25601.6903371561,"czk":83807.78428110786,"dkk":24580.09701805167,"dot":420.9390153469203,"eos":3350.7553678249915,"eth":1.0,"eur":3295.1477375227337,"gbp":2822.7769759124612,"gel":9486.565011694052,"hkd":27734.92854771484,"huf":1289034.9033388966,"idr":56644286.93779979,"ils":13227.404316613181,"inr":295262.09363374824,"jpy":541158.9772342491,"krw":4828573.096875671,"kwd":1088.5196193567401,"lkr":1058363.9070254832,"ltc":36.621230051372926,"mmk":7441437.76210098,"mxn":58263.88057597281,"myr":16806.795028180375,"ngn":4388810.632611562,"nok":38373.20856874841,"nzd":5921.981129023882,"php":200263.87231053226,"pkr":984490.4677836732,"pln":14056.63983129026,"rub":329387.1228166575,"sar":13277.693730464352,"sek":37949.87060510153,"sgd":4792.449814806885,"thb":129980.09971246475,"try":114304.70853316208,"twd":114063.56217442265,"uah":137898.73729422063,"usd":3539.7630640649413,"vef":354.43647560482253,"vnd":88306437.81462613,"xag":126.68072195808053,"xau":1.5151247843117166,"xdr":2672.3016480590595,"xlm":27324.198259292247,"xrp":5733.877074700023,"yfi":0.4271742664401294,"zar":66488.44926006616,"bits":50197.58920133065,"link":203.43074818617808,"sats":5019758.920133065},"market_cap":{"aed":1561110221231.3645,"ars":367825264285888.94,"aud":652901182607.0925,"bch":676834737.2494316,"bdt":46708812907875.34,"bhd":160219195728.9886,"bmd":425100745638.6984,"bnb":697551999.0802202,"brl":2154198028524.1023,"btc":6025783.419314562,"cad":581824763037.0459,"chf":388054916059.2687,"clp":402991255858030.0,"cny":3074583652906.45,"czk":10064727763816.383,"dkk":2951897452211.3955,"dot":50514977490.53468,"eos":402641610897.6934,"eth":120070188.267994,"eur":395724158611.3364,"gbp":3389957394[...]
