interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.coingecko.com/api/v3/coins/bitcoin?localization=false&tickers=false&market_data=false&community_data=false&developer_data=false&sparkline=false
  response:
    body:
      string: '{"id":"bitcoin","symbol":"btc","name":"Bitcoin","web_slug":"bitcoin","asset_platform_id":null,"platforms":{"":""},"detail_platforms":{"":{"decimal_place":null,"contract_address":""}},"block_time_in_minutes":10,"hashing_algorithm":"SHA-256","categories":["GMCI
        30 Index","Proof of Work (PoW)","FTX Holdings","Layer 1 (L1)","Cryptocurrency"],"preview_listing":false,"public_notice":null,"additional_notices":[],"description":{"en":"Bitcoin
        is the first successful internet money based on peer-to-peer technology; whereby
        no central bank or authority is involved in the transaction and production
        of the Bitcoin currency. It was created by an anonymous individual/group under
        the name, Satoshi Nakamoto. The source code is available publicly as an open
        source project, anybody can look at it and be part of the developmental process.\r\n\r\nBitcoin
        is changing the way we see money as[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.coingecko.com/api/v3/coins/yearn-finance?localization=false&tickers=false&market_data=false&community_data=false&developer_data=false&sparkline=false
  response:
    body:
      string: "{\"id\":\"yearn-finance\",\"symbol\":\"yfi\",\"name\":\"yearn.finance\",\"web_slug\":\"yearn-finance\",\"asset_platform_id\":\"ethereum\",\"platforms\":{\"ethereum\":\"0x0bc529c00c6401aef6d220be8c6ea1667f6ad93e\",\"xdai\":\"0xbf65bfcb5da067446cee6a706ba3fe2fb1a9fdfd\",\"huobi-token\":\"0xb4f019beac758abbee2f906033aaa2f0f6dacb35\",\"avalanche\":\"0x9eaac1b23d935365bd7b542fe22ceee2922f52dc\",\"optimistic-ethereum\":\"0x9046d36440290ffde54fe0dd84db8b1cfee9107b\",\"near-protocol\":\"0bc529c00c6401aef6d220be8c6ea1667f6ad93e.factory.bridge.near\",\"energi\":\"0x2726dd5efb3a209a54c512e9562a2045b8f45dbc\",\"base\":\"0x9eaf8c1e34f05a589eda6bafdf391cf6ad3cb239\",\"polygon-pos\":\"0xda537104d6a5edd53c6fbba9a898708e465260b6\",\"harmony-shard-0\":\"0xa0dc05f84a27fccbd341305839019ab86576bc07\",\"fantom\":\"0x29b0da86e484e1c0029b56e817912d778ac0ec69\",\"arbitrum-one\":\"0x82e3a8f066a6989666b031d916c43672085b1582\",\"sora\":\"0x002676c3edea5b08bc0f9b6809a91aa313b7da35e28b190222e9dc032bf1e662\"},\"detail_platforms\":{\"ethereum\":{\"decimal_place\":18,\"contract_address\":\"0x0bc529c00c6401aef6d220be8c6ea1667f6ad93e\"},\"xdai\":{\"decimal_place\":18,\"contract_address\":\"0xbf65bfcb5da067446cee6a706ba3fe2fb1a9fdfd\"},\"huobi-token\":{\"decimal_place\":18,\"contract_address\":\"0xb4f019beac758abbee2f906033aaa2f0f6dacb35\"},\"avalanche\":{\"decimal_place\":18,\"contract_address\":\"0x9eaac1b23d935365bd7b542fe22ceee292[...]
