interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.coingecko.com/api/v3/coins/ethereum/history?date=30-12-2016&localization=false
  response:
    body:
      string: '{"id":"ethereum","symbol":"eth","name":"Ethereum","image":{"thumb":"https://assets.coingecko.com/coins/images/279/thumb/ethereum.png?1696501628","small":"https://assets.coingecko.com/coins/images/279/small/ethereum.png?1696501628"},"market_data":{"current_price":{"aed":29.948001766684605,"ars":129.3842846130236,"aud":11.308852476501269,"bdt":646.7008549857718,"bhd":3.070471392533798,"bmd":8.15378652716307,"brl":26.54505901144453,"btc":0.008485373568396572,"cad":10.958245715187497,"chf":8.30399192007324,"clp":5462.2215945465405,"cny":58.0116256377186,"czk":209.3704843085352,"dkk":57.599939861887286,"eth":1.0,"eur":7.7478028375650725,"gbp":6.6092568209658245,"gel":21.65286935007316,"hkd":63.23870341094624,"huf":2398.0286176386594,"idr":109833.00147500604,"ils":31.406510331730903,"inr":554.1444425300571,"jpy":953.1946852972817,"krw":9847.218162726202,"kwd":2.4898810228671513,"lkr":1225.6744510908795,"ltc":1.8629846920343665,"mmk":11171.502920866122,"mxn":169.09044896765857,"myr":36.57801490709997,"ngn":2493.4341087304415,"nok":70.49886138183099,"nzd":11.770676364223496,"php":404.42779975447115,"pkr":853.9646128541377,"pln":34.13297440336944,"rub":499.60089534702644,"sar":30.581184059451456,"sek":74.2593435924298,"sgd":11.802157651548743,"thb":291.8525580600114,"try":28.764177962165384,"twd":263.73830978163255,"uah":221.7167277157293,"usd":8.15378652716307,"vef":81.49713710792753,"vnd":185450.53615244958,"xag":0.5121741312719451,"xau":0.007075934745443572,"xdr":6.065308139382339,"zar":112.01052115376683,"bits":8485.373568396571,"sats":848537.3568396572},"market_cap":{"aed":2618365803.609944,"ars":11312119886.814785,"aud":988737506.870349,"bdt":56541315078.448875,"bhd":268452545.10825837,"bmd":712888825.7382647,"brl":2320845153.939259,"btc":741879.6137197132,"cad":958083817.1353745,"chf":726021343.4727633,"clp":477564224362.0635,"cny":5071979692.167618,"czk":18305345400.65944,"dkk":5035985839.70069,"eth":87430401.0,"eur":677393508.9572521,"gbp":577849974.1690272,"gel":1893119050.0775063,"hkd":5528985197.939098,"huf":209660603649.62366,"idr":9602743361993.37,"ils":2745883792.3138757,"inr":48449070822.32435,"jpy":83338193566.61014,"krw":860946232701.6351,"kwd":217691296.2715652,"lkr":107161208754.33049,"ltc":162881498.68142617,"mmk":976728980143.9963,"mxn":14783645758.512426,"myr":3198030511.1117277,"ngn":218001943993.3801,"nok":6163743720.656898,"nzd":1029114954.5652822,"php":35359284708.081116,"pkr":74662468541.64702,"pln":2984259639.4093256,"rub":43680306620.14956,"sar":2673725185.3726487,"sek":6492524188.282918,"sgd":1031867376.1401249,"thb":25516786184.062576,"try":2514863613.6674824,"twd":23058746183.27036,"uah":19384782412.594025,"usd":712888825.7382647,"vef":7125327377.698085,"vnd":16214014741473.664,"xag":44779589.6789328,"xau":618651.8122439644,"xdr":530292322.8147618,"zar":9793124780.692818,"bits":741879613719.7131,"sats":74187961371971.31},"total_volume":{"aed":28470586.747663975,"ars":123001411.83233716,"aud":10750956.539842885,"bdt":614797372.295573,"bhd":2918996.8271806906,"bmd":7751538.43158162,"brl":25235520.259248886,"btc":8066.767397286491,"cad":10417646.147714965,"chf":7894333.7907555755,"clp":5192755595.316527,"cny":55149757.00078296,"czk":199041678.38462338,"dkk":54758380.78527119,"eth":950667.3256355899,"eur":7365583.003139825,"gbp":6283204.5064263595,"gel":20584675.397370886,"hkd":60118969.048346534,"huf":2279727452.7281547,"idr":104414645778.77377,"ils":29857143.18461314,"inr":526807015.1958743,"jpy":906171042.2816244,"krw":9361428555.709127,"kwd":2367048.5331599214,"lkr":1165208652.518436,"ltc":1771078.6748763542,"mmk":10620382805.109978,"mxn":160748764.91060513,"myr":34773523.60879148,"ngn":2370426335.795329,"nok":67020964.010219425,"nzd":11189997.420098398,"php":384476294.805269,"pkr":811836254.6894749,"pln":32449103.492039274,"rub":474954247.064704,"sar":29072532.464568447,"sek":70595931.57646962,"sgd":11219925.651327457,"thb":277454690.8508167,"try":27345164.137397934,"twd":250727393.62775543,"uah":210778848.58618662,"usd":7751538.43158162,"vef":77476665.38135046,"vnd":176301765241.7355,"xag":486907.21163603157,"xau":6726.859960822789,"xdr":5766090.268022385,"zar":106484742.58830014,"bits":8066767397.286491,"sats":806676739728.6492}},"community_data":{"facebook_likes":null,"twitter_followers":51010,"reddit_average_posts_48h":1.653,"reddit_average_comments_48h":30.388,"reddit_subscribers":24491,"reddit_accounts_active_48h":"99.0"},"developer_data":{"forks":929,"stars":2699,"subscribers":422,"total_issues":1857,"closed_issues":1561,"pull_requests_merged":591,"pull_request_contributors":70,"code_additions_deletions_4_weeks":{"additions":null,"deletions":null},"commit_count_4_weeks":83},"public_interest_stats":{"alexa_rank":null,"bing_matches":null}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      alternate-protocol:
      - 443:npn-spdy/2
      etag:
      - W/"ec1f792b92592af4b0d611575024dd4c"
    status:
      code: 200
      message: OK
version: 1
