interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.coingecko.com/api/v3/coins/ethereum/history?date=01-01-2024&localization=false
  response:
    body:
      string: '{"id":"ethereum","symbol":"eth","name":"Ethereum","image":{"thumb":"https://assets.coingecko.com/coins/images/279/thumb/ethereum.png?1696501628","small":"https://assets.coingecko.com/coins/images/279/small/ethereum.png?1696501628"},"market_data":{"current_price":{"aed":8373.698938041833,"ars":1848620.0152932522,"aud":3346.9534005792375,"bch":8.801694703654054,"bdt":250689.37007713754,"bhd":860.7917277852125,"bmd":2279.9410085689606,"bnb":7.30555015481587,"brl":11063.336226086603,"btc":0.054005608985249455,"cad":3020.9104366488305,"chf":1917.418988501453,"clp":2009204.787506134,"cny":16139.337609098342,"czk":51024.851777672535,"dkk":15398.43657924869,"dot":278.7415449749302,"eos":2706.1226127817645,"eth":1.0,"eur":2065.603754353392,"gbp":1790.9985395173132,"gel":6121.641608007648,"hkd":17804.196132375553,"huf":791740.2944291865,"idr":35104547.35116682,"ils":8216.216572756943,"inr":189762.97161311487,"jpy":321536.660526968,"krw":2952616.6618890744,"kwd":701.3668527610292,"lkr":739859.4684390798,"ltc":31.280777794578842,"mmk":4797032.885471666,"mxn":38700.27726499669,"myr":10482.028786895784,"ngn":2046490.2792974378,"nok":23197.00899817396,"nzd":3608.4443947340296,"php":126317.84935881355,"pkr":636976.1226934802,"pln":8960.268481080375,"rub":203482.84950356578,"sar":8553.921434946173,"sek":23000.84287379672,"sgd":3008.4391593319588,"thb":78492.93810554693,"try":67142.63482447604,"twd":69976.36894414441,"uah":86853.26518957355,"usd":2279.9410085689606,"vef":228.29049318801046,"vnd":55331666.32086453,"xag":95.82202189102908,"xau":1.103856238708751,"xdr":1701.989642542781,"xlm":17706.707487714175,"xrp":3715.9268550735105,"yfi":0.2826851693696718,"zar":41711.97673997089,"bits":54005.608985249455,"link":152.79366411133924,"sats":5400560.898524946},"market_cap":{"aed":1007412567428.884,"ars":222401479870076.84,"aud":402661111092.06415,"bch":1058591824.3543584,"bdt":30159625251059.77,"bhd":103559061643.6029,"bmd":274292310008.21802,"bnb":877844132.6094533,"brl":1330994108376.337,"btc":6492241.577528628,"cad":363435939299.3391,"chf":230678461255.36133,"clp":241720913117195.72,"cny":1941671375778.5764,"czk":6138634468752.924,"dkk":1852535975256.7559,"dot":33497869848.411728,"eos":324777615309.3167,"eth":120183097.255185,"eur":248506089944.34586,"gbp":2154[...]
